<li>
<h3>Focus and Review</h3>
<p>
  Open the
  <a href="{{ '/activities/ShapeSorter' | relative_url }}">Venn Diagram Shape Sorter applet</a>, and project it for the whole class to view. Set the applet to
  <strong>Guess Mode</strong>, and work through a problem as a class:
  <ul>
    <li>
      Guide the students through the activity by instructing them on applet functionality.
    </li>
    <li>
      Have students volunteer answers and tell you where to place different shapes in order to solve
      the problem.
    </li>
    <li>
      Ask guided questions to help students start thinking about why they're selecting shapes to
      try.
    </li>
    <li>
      After solving the problem, ask students to explain what approach they took in solving it.
    </li>
    <li>
      Ask guided questions to help students start thinking about efficiency in solving problems
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Lead the class in a
  <a href="{{ '/discussions/Algorithm' | relative_url }}">discussion on algorithms</a>. Explain to the class that they will be finding algorithms to solve Venn Diagram problems, and
  collecting data and using box plots in order to determine an algorithm's efficiency.
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  <ul>
    <li>
      Lead the class in a
      <a href="{{ '/discussions/BoxPlot' | relative_url }}">discussion on box plots</a>.
    </li>
    <li>
      Introduce the
      <a href="{{ '/activities/BoxPlot' | relative_url }}">Box Plot activity</a>, showing students how to create box plots for different categories of data.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  Explain how you'll use the box plot to compare different algorithms:
  <ul>
    <li>
      Students will develop an algorithm for solving a Venn Diagram
    </li>
    <li>
      Students will solve several different problems using that method, recording how many shapes
      they had to try before being able to accurately guess the rules.
    </li>
    <li>
      The class will come together and enter their data into a box plot, with each different
      algorithm as a category.
    </li>
  </ul>
</p>
<p>
  If necessary, practice this process as a class until you're confident that students can do it on
  their own.
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  Have students solve several problems with the
  <a href="{{ '/activities/ShapeSorter' | relative_url }}">Venn Diagram Shape Sorter</a>.
  <ul>
    <li>
      Remind students to develop an algorithm for solving the problems.
    </li>
    <li>
      Have students record how many shapes they try before being able to solve the problem each
      time.
    </li>
    <li>
      If students are having trouble with the concept of algorithms, have them use the
      <a href="{{ '/media/worksheets/Venn_Diagram_Algorithm_Worksheet' | relative_url }}">worksheet</a> to guide their thinking.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  As a class, enter data into the
  <a href="{{ '/activities/BoxPlot' | relative_url }}">box plot</a>, where each different algorithm is a different category in the box plot. Discuss the results:
  <ul>
    <li>
      Which algorithm is most efficient?
    </li>
    <li>
      How can you tell?
    </li>
    <li>
      How does the box plot help you see this?
    </li>
  </ul>
</p>
</li>
