<li>
<h3>Focus and Review</h3>
<p>
  Review any previously learned information regarding angles.
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what they will be doing and learning today. Say something like this:
  <ul>
    <li>
      Today, class, we are going to learn about angles.
    </li>
    <li>
      We are going to learn about ways to classify angles:
      <ul>
        <li>
          Acute Angle
        </li>
        <li>
          Obtuse Angle
        </li>
        <li>
          Right Angle
        </li>
      </ul>
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  Lead the class in a short
  <a href="{{ '/discussions/AnglesElem' | relative_url }}">discussion</a> about angles.
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  <ul>
    <li>
      Open the
      <a href="{{ '/activities/Angles' | relative_url }}">Angles applet</a>, show the students how it works, and emphasize that they can ignore the "Two angles are"
      drop-down menu.
    </li>
    <li>
      Ask students to point out which angles are acute, obtuse, and right.
    </li>
    <li>
      Show the
      <a href="{{ '/media/worksheets/Angles_Elem_Worksheet' | relative_url }}">Angles Worksheet</a> to students and explain that they are supposed to write the names of all the angles that are
      acute in the acute column, etc.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Have students open the
      <a href="{{ '/activities/Angles' | relative_url }}">Angles Applet</a>.
    </li>
    <li>
      Have students work in pairs to complete the
      <a href="{{ '/media/worksheets/Angles_Elem_Worksheet' | relative_url }}">Angles Worksheet</a>.
    </li>
    <li>
      Remind students that they must complete at least 10 computer generated problems from the
      applet.
    </li>
  </ul>
</p>
</li>
