<li>
<h3>Focus and Review</h3>
<p>
  Remind students what has been learned in previous lessons that will be pertinent to this lesson
  and/or have them begin to think about the words and ideas of this lesson. Discuss key words that
  they're already familiar with:
  <ul>
    <li>
      acute angle
    </li>
    <li>
      obtuse angle
    </li>
    <li>
      right angle
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
</p>
<p>
  <ul>
    <li>
      Today, class, we are going to learn about different types of angles and the ways groups of
      angles can be related to each other.
    </li>
    <li>
      We are going to use the computers to learn about angles, but please do not turn your computers
      on until I ask you to. I want to show you a little about this activity first.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  Open your browser to the
  <a href="{{ '/activities/Angles' | relative_url }}">Angles</a> activity in order to demonstrate it to the students. Ask students guided questions:
  <ul>
    <li>
      Which angles look similar?
    </li>
    <li>
      Which angles look different?
    </li>
    <li>
      How are the angles related?
    </li>
  </ul>
</p>
<p>
  Lead the students through the
  <a href="{{ '/discussions/Angles' | relative_url }}">discussion about angles</a>.
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  Explain to the students how to do the assignment. You should model or demonstrate it for the
  students, especially if they are not familiar with how to use our computer applets.
  <ul>
    <li>
      Open your browser to the
      <a href="{{ '/activities/Angles' | relative_url }}">Angles</a> activity in order to demonstrate it to the students.
    </li>
    <li>
      Show students where they select their answers for the specified angle by clicking on the
      pop-down menu and scrolling to the correct answer.
    </li>
    <li>
      Click on the "check answer" button to see if your choices are correct.
    </li>
    <li>
      When the correct answers are found, click the "new angles" button to change to a new set of
      angles.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Allow the students to work on their own to complete the
      <a href="{{ '/media/worksheets/206.pdf' | relative_url }}">Angles Worksheet</a>, using the applet projected on the wall. Monitor the room for questions and to be sure that
      the students are on the correct web site.
    </li>
    <li>
      Have students work on a computer, if it's available, to complete a self-quiz using the
      <a href="{{ '/activities/Angles' | relative_url }}">applet</a>.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  You may wish to bring the class back together for a discussion of the findings. Discuss with
  students how they went about answering questions and how they knew when they were correct. Once
  the students have been allowed to share what they found, summarize the results of the lesson.
</p>
</li>
