<li>
<h3>Focus and Review</h3>
<p>
  Using the
  <a href="{{ '/activities/ShapeExplorer' | relative_url }}">Shape Explorer</a> applet, draw a rectangular shape for the students to see. Activate prior knowledge using these
  guiding questions:
  <ul>
    <li>
      How would you find the area of this shape?
    </li>
    <li>
      Are there other ways to find the area?
    </li>
    <li>
      How do you know that these methods work?
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what they will be doing and learning today. Say something like this:
  <ul>
    <li>
      Today, we will be learning about finding the area of irregular shapes.
    </li>
    <li>
      We will be looking for several methods to solve each problem.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  <ul>
    <li>
      Project an irregular shape on the board.
    </li>
    <li>
      Discuss with students different ways to find the area of the shape.
    </li>
    <li>
      Include counting the squares individually as well as breaking the shape into smaller
      rectangular shapes as methods for finding the area.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  <ul>
    <li>
      Project an irregular shape on the board using the Shape Explorer applet.
    </li>
    <li>
      Have students volunteer to draw outlines of the smaller shapes that compose the bigger shape.
    </li>
    <li>
      Look for at least 3 methods for finding the area for each shape.
    </li>
    <li>
      For each method, compose a number sentence.
    </li>
  </ul>
</p>
<p>
  Use the following chart as a guideline:
  <table class="h-center">
    <tr>
      <td>
        Picture
      </td>
      <td>
        Number sentence
      </td>
      <td>
        Area
      </td>
    </tr>
    <tr>
      <td>
        <img src="{{ 'img/lessons/AreaExplorations-lesson-1.png' | relative_url }}" />
      </td>
      <td>
        (1x4)+(2x7)+(1x3)
      </td>
      <td>
        21 square units
      </td>
    </tr>
    <tr>
      <td>
        <img src="{{ 'img/lessons/AreaExplorations-lesson-2.png' | relative_url }}" />
      </td>
      <td>
        (3x4)+(2x3)+(1x3)
      </td>
      <td>
        21 square units
      </td>
    </tr>
    <tr>
      <td>
        <img src="{{ 'img/lessons/AreaExplorations-lesson-3.png' | relative_url }}" />
      </td>
      <td>
        (3x1)+(4x3)+(2x3)
      </td>
      <td>
        21 square units
      </td>
    </tr>
  </table>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  Break the students into groups of three and give them the following instructions:
  <ul>
    <li>
      For each shape that is projected on the board, your group is to come up with three different
      ways of finding its area.
    </li>
    <li>
      Using the
      <a href="{{ '/media/worksheets/Area_Explorations_Record_Sheet' | relative_url }}">record sheet</a>, write down number sentences for those three methods.
    </li>
  </ul>
</p>
<p>
  For each shape, give the students a set amount of time to develop methods. Then have the each
  group share their methods to see how many methods the whole class used.
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  Lead the class in a discussion about how they found the area for a given shape. Ask the students
  how the developed new methods of finding the area each time.
</p>
</li>
