<li>
<h3>Focus and Review</h3>
<p>
  Ask the students the following questions:
</p>
<ul>
  <li>
    Why do we use bar graphs?
  </li>
  <li>
    What are some things that we can show on bar graphs?
  </li>
</ul>
<p>
  Show the students a bar graph of precipitation over a year in inches using the following
  <a href="http://lwf.ncdc.noaa.gov/oa/climate/online/ccd/nrmlprcp.html" target="_blank">data</a> and ask the following questions:
</p>
<ul>
  <li>
    Why would this bar graph help us?
  </li>
  <li>
    What do we know from this bar graph? How?
  </li>
</ul>
<p>
  Show the students a bar graph of the same data, but with precipitation measured in feet and ask
  the following questions:
</p>
<ul>
  <li>
    Does this bar graph show us the same information?
  </li>
  <li>
    Does it show you the information in a more helpful way or less helpful way?
  </li>
</ul>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what they will be doing and learning today. Say something like this:
</p>
<ul>
  <li>
    Today, class, we are going to be exploring how heights of different things in the world compare
    to one another by using bar graphs.
  </li>
  <li>
    We are going to use the computers to learn about how to put the data we find into a bar graph.
  </li>
</ul>
</li>
<li>
<h3>Teacher Input</h3>
<ul>
  <li>
    Use the
    <a href="{{ '/activities/BarGraph' | relative_url }}">Bar Graph</a> activity to familiarize the students with how to input data. Create a small example bar graph
    and have the students create it with you.
  </li>
  <li>
    Emphasize the importance of vertical scale on bar graphs and labeling the two axes. Also discuss
    the importance of having identical units for all heights found.
  </li>
  <li>
    Explain the assignment: students will, in pairs, create a list of 4 things that have different
    heights. They then will research the height of these things using Google.
  </li>
  <li>
    Emphasize that if the students can't find the height of one item after 5 minutes of research
    they need to pick something else. Also, you may want to suggest that the students include items
    with a wide range of heights to see how they compare.
  </li>
</ul>
</li>
<li>
<h3>Guided Practice</h3>
<ul>
  <li>
    Ask the students to provide some suggestions of fun things to compare heights with. If no one
    makes any suggestions provide some examples including: Mount Everest, Empire State Building,
    Eiffel Tower, tallest roller coaster or Niagara Falls. Write their suggestions and yours on the
    board for the students to reference.
  </li>
  <li>
    Model how to research the height of one of the examples. Again emphasize that everything will
    need to be in the same units. Show how they can convert it to the right unit by using Google
    (type "number" "unit" to "new unit"). For example, "45 feet to mile".
  </li>
</ul>
</li>
<li>
<h3>Independent Practice</h3>
<ul>
  <li>
    Have the students discuss 4 heights to find with their partners and complete the research. Have
    the students record this data on a piece of paper to turn in with their final graph. Provide a
    model for students to use to organize their data on the paper.
  </li>
  <li>
    Then, have them put this data onto the
    <a href="{{ '/activities/BarGraph' | relative_url }}">Bar Graph</a> activity.
  </li>
  <li>
    Have the students answer the following questions on the notebook paper once they have graphed
    their data:
    <ul>
      <li>
        What do you learn when looking at this graph?
      </li>
      <li>
        What units did you use to graph your data?
      </li>
      <li>
        Do these units give you a good representation of the data?
      </li>
      <li>
        What is something you learned about bar graphs during this activity?
      </li>
    </ul>
  </li>
</ul>
</li>
<li>
<h3>Closure</h3>
<ul>
  <li>
    Have the pairs share their bar graph with another group and share their answers to the
    questions. Then, bring the class together and go through the questions. Make sure to emphasize
    appropriate units and the usefulness of bar graphs. At the end, have the students hand in their
    notebook paper and email or print out their bar graphs.
  </li>
  <li>
    To save the graphs the students will need to copy the graphs onto Word documents.
    <ul>
      <li>
        If you use Macs, hold down shift+command+4 and your pointer will become a cross like shape
        with a circle in the middle. You can click and drag over the bar graph and this will take a
        picture of the image and it will be saved on the desktop and you can insert this image into
        a Word document.
      </li>
      <li>
        If you use PCs, select the key on the keyboard marked "Print Screen." You can now edit he
        image in Pain and then insert the image file into your Word document.
      </li>
    </ul>
  </li>
</ul>
</li>
