<li>
<h3>Focus and Review</h3>
<p>
  Remind students what has been learned in previous lessons that will be pertinent to this lesson
  and/or have them begin to think about the words and ideas of this lesson:
</p>
<p>
  <ul>
    <li>
      What are some examples of different ways that we have found to portray data?
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
</p>
<p>
  <ul>
    <li>
      Today, class, we are going to learn about box plots.
    </li>
    <li>
      We are going to use the computers to learn about box plots, but please do not turn your
      computers on until I ask you to. I want to show you a little about this activity first.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  <ul>
    <li>
      Remind students of the ideas behind means and medians, as covered in the
      <a href="{{ '/discussions/MeanMedianAndMode' | relative_url }}">Mean, Median and Mode</a> discussion
    </li>
    <li>
      Walk students through the construction of quartiles, the five-number summary and box plot
      construction as in the
      <a href="{{ '/discussions/BoxPlot' | relative_url }}">Box Plot</a> discussion
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  <ul>
    <li>
      Have students experiment with the built-in data sets available in the
      <a href="{{ '/activities/BoxPlot' | relative_url }}">Box Plot</a> activity to be sure that they understand how to read the the box plots. Questions for the
      data sets can be found in the
      <a href="{{ '/media/worksheets/169.pdf' | relative_url }}">worksheet</a>.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Have the students collect the following data from each other:
      <ul>
        <li>
          Gender
        </li>
        <li>
          Height
        </li>
        <li>
          Length of ride/walk to school in minutes
        </li>
        <li>
          Estimate number of hours of TV watched in a week.
        </li>
      </ul>
    </li>
    <li>
      Have the students explore the
      <a href="{{ '/media/worksheets/Box_Plot_Activity_Questions' | relative_url }}">questions on box plots</a> by building the appropriate box plots either by hand or using the
      <a href="{{ '/activities/BoxPlot' | relative_url }}">Box Plot</a> activity. With less mature students, it would be best to help them decide which box plot to
      graph for each question
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  <ul>
    <li>
      You may wish to bring the class back together for a discussion of the findings. Once the
      students have been allowed to share what they found, summarize the results of the lesson.
    </li>
  </ul>
</p>
</li>
