<li>
<h3>Focus and Review</h3>
<p>
  Remind students what has been learned in previous lessons that will be pertinent to this lesson
  and/or have them begin to think about the words and ideas of this lesson:
</p>
<p>
  <ul>
    <li>
      Choose a student in the class, ask another student to describe that person's location in the
      classroom. For example 3rd row 4th seat back. Use this as an application of the coordinate
      system
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
</p>
<p>
  <ul>
    <li>
      Today, class, we are going to learn about cartesian coordinate system.
    </li>
    <li>
      We are going to use the computers to learn cartesian coordinate system, but please do not turn
      your computers on until I ask you to. I want to show you a little about this activity first.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  <ul>
    <li>
      Begin this lesson with a
      <a href="{{ '/discussions/IntroductionToTheCoo' | relative_url }}">discussion of the coordinate plane</a>.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  <ul>
    <li>
      Have students practice their skills with the
      <a href="{{ '/activities/GeneralCoordinates' | relative_url }}">General Coordinates Game</a>.
    </li>
    <li>
      For further practice or an alternative game, have the students play the
      <a href="{{ '/activities/MazeGame' | relative_url }}">Maze Game</a>.
    </li>
    <li>
      To show students that the coordinate plane is useful in more than just describing the location
      of objects lead a discussion on
      <a href="{{ '/discussions/FromGraphsToFunction' | relative_url }}">reading points off a graph</a>. This will show the students that they can read graphs and find the equations of lines using
      their knowledge of the coordinate plane.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Have the student graph functions and points using the
      <a href="{{ '/activities/Graphit' | relative_url }}">Graphit Applet</a>. Or split up the graphing by using the
      <a href="{{ '/activities/SimplePlot' | relative_url }}">simple plot applet</a> to graph points and the
      <a href="{{ '/activities/GraphSketcher' | relative_url }}">Graph Sketcher Applet</a> to graph functions.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  <ul>
    <li>
      You may wish to bring the class back together for a discussion of the findings. Once the
      students have been allowed to share what they found, summarize the results of the lesson.
    </li>
  </ul>
</p>
</li>
