<li>
<h3>Focus and Review</h3>
<p>
  Remind students what has been learned in previous lessons that will be pertinent to this lesson
  and/or have them begin to think about the words and ideas of this lesson:
</p>
<p>
  <ul>
    <li>
      Does anyone know what predictabilty means?
    </li>
    <li>
      Can anyone explain what chaos means?
    </li>
    <li>
      If I lit a fire in the middle of the room can anyone predict what else would catch on fire?
    </li>
    <li>
      What would influence the way the fire might spread?
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this
</p>
<p>
  <ul>
    <li>
      Today, class, we are going to learn about probability and chaos.
    </li>
    <li>
      We are going to use the computers to learn about probability and chaos, but please do not turn
      your computers on until I ask you to. I want to show you a little about this activity first.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  <ul>
    <li>
      Lead a class
      <a href="{{ '/discussions/ProbabilityAndOutcom' | relative_url }}">discussion</a> on basic probability to prepare students for working with the activities.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  <ul>
    <li>
      Have the students try the computer version of the
      <a href="{{ '/activities/Fire' | relative_url }}">Fire!</a> activity to investigate how large the burn probability can be and still consistently have
      trees left standing. Allow the students about 20 minutes to explore computer activity.
    </li>
    <li>
      Lead a class discussion on
      <a href="{{ '/discussions/Chaos' | relative_url }}">chaos</a>.
    </li>
    <li>
      Ask the class to think about why the fire activity is not very realistic. Be sure the point
      that controlling the probability of the spread of the fire is out of a person's hands.
      Motivate the next activity by pointing out that if we assume that fire will spread 100% of the
      time, then leaving some empty space in the forest (which a person can control) may keep the
      entire forest from burning.
    </li>
    <li>
      Have the students try the computer version of the
      <a href="{{ '/activities/ABetterFire' | relative_url }}">Better Fire!</a> activity to investigate how large the forest density can be and still consistently have trees
      left standing after a fire.
    </li>
    <li>
      Lead a class
      <a href="{{ '/discussions/ChaosIsEverywhere' | relative_url }}">discussion</a> on how prevalent chaos is in science.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Have the students try the computer version of the
      <a href="{{ '/activities/Life' | relative_url }}">Game of Life</a> activity to investigate this classic demonstration of chaos. Allow the students about 20
      minutes to explore computer activity.
    </li>
    <li>
      Have the students try the computer version of the
      <a href="{{ '/activities/RabbitsAndWolves' | relative_url }}">Rabbits and Wolves</a> activity to investigate how the effects of small changes in the initial values of things
      changes the outcomes. Allow the students about 20 minutes to explore computer activity.
    </li>
    <li>
      If you choose to hand out the accompanying worksheets you can have the students complete them
      now.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  <ul>
    <li>
      You may wish to bring the class back together for a discussion of the findings. Once the
      students have been allowed to share what they found, summarize the results of the lesson.
    </li>
  </ul>
</p>
</li>
