<li>
<h3>Focus and Review</h3>
<p>
  Remind students what has been learned in previous lessons that will be pertinent to this lesson
  and/or have them begin to think about the words and ideas of this lesson:
</p>
<p>
  <ul>
    <li>
      Ask students what multiples are. If needed, use the
      <a href="{{ '/discussions/WhatAreMultiples' | relative_url }}">discussion</a> on multiples.
    </li>
    <li>
      Next, ask students what remainders are. The
      <a href="{{ '/discussions/WhatAreRemainders' | relative_url }}">discussion</a> on remainders is available to help.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
</p>
<p>
  <ul>
    <li>
      Today's class is about clock arithmetic -- also called modular arithmetic -- and cryptography
      -- which is a method of creating secret messages. Your knowledge of multiples and remainders
      will be useful when coding and decoding messages.
    </li>
    <li>
      We are going to use the computers to learn about modular arithmetic and cryptography, but
      please do not turn your computers on or go to this page until I ask you to. I want to show you
      a little about these ideas first.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  You may choose to lead the students in a short
  <a href="{{ '/discussions/ClocksAndModular' | relative_url }}">discussion</a> on the relationship between clocks and modular arithmetic.
</p>
<p>
  Explain to the students how to do the assignment. You should model or demonstrate it for the
  students, especially if they are not familiar with how to use our computer applets.
</p>
<p>
  <ul>
    <li>
      Open your browser to the
      <a href="{{ '/activities/ClockArithmetic' | relative_url }}">Clock</a> activity in order to demonstrate it to the students.
    </li>
    <li>
      Show students how to change the numbers on the clock.
    </li>
    <li>
      Pass out the
      <a href="{{ '/media/worksheets/451.pdf' | relative_url }}">Clock Arithmetic Exploration Questions</a> worksheet.
    </li>
    <li>
      Have the students complete the worksheet with you, as you demonstrate how modular arithmetic
      works.
    </li>
  </ul> Next, introduce students to the notion of cryptography through a
  <a href="{{ '/discussions/CryptographyCipher' | relative_url }}">discussion</a> of simple shift and affine ciphers.
  <ul>
    <li>
      Open your browser to the
      <a href="{{ '/activities/CaesarCipher' | relative_url }}">Caesar Cipher</a> activity in order to demonstrate it to the students.
    </li>
    <li>
      Try coding a phrase with the students, such as "Once more back into the fray," and then
      checking it by running it through the Caesar Cipher activity.
    </li>
    <li>
      Pass out the
      <a href="{{ '/media/worksheets/8.pdf' | relative_url }}">Caesar Cipher Exploration Questions</a> worksheet.
    </li>
    <li>
      Give students another phrase to code. Some examples: "Nothing ventured, nothing gained," or
      "Go for the gold," or "Take me out to the ball game."
    </li>
    <li>
      Have students trade their codes and their values for A and B with another student in the class
      to practice solving.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  Give students additional practice, this time with the
  <a href="{{ '/activities/CaesarCipherTwo' | relative_url }}">Caesar Cipher II</a> activity. This is an excellent way to practice students' reasoning skills, since there are naive
  ways to play this (run phrases through) and systematic ways of playing this (run a few single
  letters through).
</p>
<p>
  <ul>
    <li>
      Pass out the
      <a href="{{ '/media/worksheets/9.pdf' | relative_url }}">Caesar Cipher II Exploration Questions</a> worksheet, and work with students to find the code.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  As a final activity, have students compete in teams using the
  <a href="{{ '/activities/CaesarCipherThree' | relative_url }}">Caesar Cipher III</a> activity. Students should be told that the phrases all come from children's nursery rhymes. The
  first team that decodes its phrase, finding the multiplier and constant correctly, wins.
</p>
<p>
  <ul>
    <li>
      Pass out the
      <a href="{{ '/media/worksheets/10.pdf' | relative_url }}">Caesar Cipher III Exploration Questions</a> worksheet, and divide the class into teams to work on the codes.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  <ul>
    <li>
      You may wish to bring the class back together for a wrap-up discussion.
    </li>
  </ul>
</p>
</li>
