<li>
<h3>Focus and Review</h3>
<p>
 		Remind students what has been learned in previous lessons that will be pertinent to this lesson and/or have them begin to think about the words and ideas of this lesson:</p><p>
 		<ul><li>Ask students if they remember how to reduce a fraction, such as 8/12 or 6/60.</li>
 		<li>Lead a discussion about <a href="{{ '/discussions/Fractions' | relative_url }}">fractions</a> to review basic terminology and understanding.</li></ul>
 	</p>
</li>
<li>
<h3>Objectives</h3>
<p>
 		Let the students know what it is they will be doing and learning today. Say something like this:</p><p>
 		<ul><li>Today, class, we will be talking more about fractions, and how to compare them.</li>
 		<li>We are going to use the computers to learn about fractions, but please do not turn your computers on or go to this page until I ask you to. I want to show you a little about this activity first.</li></ul>
 	</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
 		<ul><li>You may choose to lead the students in a short discussion about <a href="{{ '/discussions/ComparingFractions' | relative_url }}">comparing fractions</a>.</li>
 		<li>Explain to the students how to do the assignment. You should model or demonstrate it for the students, especially if they are not familiar with how to use our computer applets.</li>
 		<li>Open your browser to <a href="{{ '/activities/FractionFinder' | relative_url }}">Fraction Finder</a>  in order to demonstrate this activity to the students.</li></ul>
 	</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
 		<ul><li>You may want to have students take turns giving answers to the problems and work through one or two games as a class until students are ready to try it on their own.</li>
 		<li>If you choose to, you may also show students the <a href="{{ '/activities/Converter' | relative_url }}">Conversions</a> tool, which converts fractions to decimals, and decimals to fractions.</li></ul>
 	</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
 		<ul><li>Allow the students to work in groups of two. Monitor the room for questions and be sure that the students are on the correct web site.</li></ul>
 	</p>
</li>
<li>
<h3>Closure</h3>
<p>
 		<ul><li>You may wish to bring the class back together to discuss any problems that were especially hard for students to solve. Once the students have been allowed to share what they found, summarize once more the main points of the lesson.</li></ul>
 	</p>
</li>
