<li>
<h3>Focus and Review</h3>
<p>
  Remind students what has been learned in previous lessons that will be pertinent to this lesson
  and/or have them begin to think about the words and ideas of this lesson
</p>
<p>
  <ul>
    <li>
      If I bet you that we could play a game and that I could win every time, would you believe me?
    </li>
    <li>
      This game is a racing game in which we take turns rolling a six sided die and advancing on the
      numbers that we each are assigned. I bet you I can assign us an equal quantity of numbers that
      we move on and no matter how many times we play I will always win.
    </li>
    <li>
      Then tell them that the numbers that you assign yourself are 1, 2, 3, 4, 5, and 6, while the
      numbers you assign the person who takes you up on your bet are 7, 8, 9, 10, 11, and 12. (If
      you are only playing with one die then it is impossible to roll anything higher than a 6 so
      the person assigned 6 -12 will never move.)
    </li>
    <li>
      Who thinks this game is fair?
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
</p>
<p>
  <ul>
    <li>
      Today, class, we are going to begin learning about probability
    </li>
    <li>
      We are going to use the computers to learn about probability, but please do not turn your
      computers on until I ask you to. I want to show you a little about this activity first.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  <ul>
    <li>
      Begin by describing the
      <a href="{{ '/activities/RacingGameWithOneDie' | relative_url }}">Racing Game with one die</a>.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  <ul>
    <li>
      Have groups of students play the
      <a href="{{ '/activities/RacingGameWithOneDie' | relative_url }}">Racing Game with One Die</a> either using the software (preferably) or rolling a six-sided die and using the
      <a href="{{ '/media/worksheets/220.pdf' | relative_url }}">Table</a> to tally the results.
    </li>
    <li>
      Players in the game should have unequal chances to take a step. Knowing the probability of
      each player taking a step, students can try to predict the probability of each player winning
      the game, and try multiple experiments in order to test the prediction.
    </li>
    <li>
      Lead a discussion about the
      <a href="{{ '/discussions/ProbabilityOfSimulta' | relative_url }}">Probability of Simultaneous Events</a> to introduce the formula for probability of simultaneous independent events.
    </li>
    <li>
      This discussion is based on the results of the
      <a href="{{ '/activities/RacingGameWithOneDie' | relative_url }}">Racing Game with One Die</a>. Each group of students can think about and discuss the following questions, later discussing
      them with other groups and with their mentor:
      <ol>
        <li>
          The experimental probability of winning the game is not the same as the probability of
          taking one step. Why?
        </li>
        <li>
          What would happen to the probabilities if there were more than two steps to the finish?
        </li>
      </ol>
    </li>
    <li>
      Next, initiate a discussion based on
      <a href="{{ '/discussions/ConditionalProb' | relative_url }}">Conditional Probability</a>. This discussion requires the active participation of the mentor. If there are students who
      want to take on the role of mentors, they can read the discussion ahead of time in order to
      prepare. This way discussions can happen in smaller groups.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Have the students use the
      <a href="{{ '/activities/TwoColors' | relative_url }}">Two Colors</a> game to perform experiments that will demonstrate conditional probability.
    </li>
    <li>
      There are three closed boxes. One box contains two green balls, another one contains two red
      balls and the last one has one red and one green ball. If students use the software, the
      computer will shuffle the boxes. If students use manipulatives, one of them should shuffle the
      boxes. A student chooses one box and picks one ball from it (without looking). If the first
      ball is red, the game starts over. If the first ball is green, the student wins if the second
      ball in the same box is also green.
    </li>
    <li>
      Groups of students can play the game many times, first trying to predict or guess their
      chances of winning, and keeping track of the results using the
      <a href="{{ '/media/worksheets/191.pdf' | relative_url }}">Table</a>.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  <ul>
    <li>
      You may wish to bring the class back together for a discussion of the findings. Once the
      students have been allowed to share what they found, summarize the results of the lesson.
    </li>
  </ul>
</p>
</li>
