<li>
<h3>Focus and Review</h3>
<p>
  Ask the following opening questions:
  <ul>
    <li>
      If you place a cone on the table and cut a slice that is parallel to the table, what will that
      face look like?
      <ul>
        <li>
          Use a styrofoam cone, if helpful for the students
        </li>
        <li>
          Ask the students to sketch what it might look like
        </li>
        <li>
          After students sketch the resulting cross section, slice the cone to see if they are
          correct.
        </li>
      </ul>
    </li>
    <li>
      As a class, discuss how you can predict what a particular cross section will look like.
      <ul>
        <li>
          Have students explain their method and why it should work.
        </li>
        <li>
          Ask students if their methods would work for non-cone objects like prisms or pyramids.
        </li>
      </ul>
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
  <ul>
    <li>
      Today, we are going to learn how to find the two-dimensional cross section of a
      three-dimensional object.
    </li>
    <li>
      We are going to use computers to visualize these cross sections, but please do not turn your
      computers on or go to this website until I ask you to. I want to show you a little about this
      first.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  <ul>
    <li>
      Introduce cross sections by leading the class in a
      <a href="{{ '/discussions/CrossSections' | relative_url }}">discussion</a>.
    </li>
    <li>
      If the students have trouble with the concept, demonstrate with styrofoam objects.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  <ul>
    <li>
      Bring up the
      <a href="{{ '/activities/CrossSectionFlyer' | relative_url }}">Cross Section Flyer activity</a> on an overhead projector to demonstrate how the activity works.
    </li>
    <li>
      Explain that the diagram on the left side shows a three-dimensional object that is being
      "sliced" by a two-dimensional plane to form a cross-section.
    </li>
    <li>
      Explain how the cross section is then shown in two dimensions in the graph on the right side.
    </li>
    <li>
      Walk the students through the applet, showing how to move the slicing plane and how changes in
      the slicing plane affect the cross section shown on both the three-dimensional object and the
      two-dimensional graph.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Have students work in pairs to use the
      <a href="{{ '/activities/CrossSectionFlyer' | relative_url }}">Cross Section Flyer</a> to answer the questions on the
      <a href="{{ '/media/worksheets/Cross_Section_Flyer_Exploration_Questions' | relative_url }}">worksheet</a>.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  As a class, discuss the findings of the lesson:
  <ul>
    <li>
      Review the questions on the worksheet and compare results.
    </li>
    <li>
      Ask students if they now know a better way to predict what a particular cross section will
      look like.
    </li>
  </ul>
</p>
</li>
