<li>
<h3>Focus and Review</h3>
<p>
  Conduct a review of limits, infinity, and slope to prepare students for the upcoming lesson. Focus
  on the idea that limits allow you to work with ideas such as
  <img src="{{ 'img/derivate.png' | relative_url }}" which="medium" class="noPadding" /> and sometimes find a meaningful value for them. This will help mentally prepare students to find
  the slope of a curve at a single point.
</p>
<p>
  Ask the following opening questions:
</p>
<p>
  <ul>
    <li>
      What does it mean to say that a line is
      <em>tangent</em> to a curve?
    </li>
    <li>
      Do all lines tangent to a single curve have the same slope?
    </li>
    <li>
      How can we find the slope of a line?
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
</p>
<p>
  <ul>
    <li>
      Today, class, we are going to learn how to find the slope of lines that are tangent to curves.
      We are going to be working with computers, but please do not turn on your computers just yet.
      I want to show you something first.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  To graphically demonstrate the concept of the "slope" of a curve, open
  <a href="{{ '/activities/MultiFunctionDataFly' | relative_url }}">Multi-Function Data Flyer</a> on a projector and show students the following equation:
</p>
<p>
  <img src="{{ 'img/MultiFnFn.png' | relative_url }}" class="h-center" />
</p>
<p>
  The graph should look something like this:
</p>
<p>
  <img src="{{ 'img/MultiFnGraph.png' | relative_url }}" class="h-center" />
</p>
<p>
  Demonstrate the use of the sliders to change the equation of the straight line.
</p>
<p>
  <img src="{{ 'img/MultiFnSlider.png' | relative_url }}" class="h-center" />
</p>
<p>
  Ask the following questions:
</p>
<p>
  <ul>
    <li>
      Is the straight line currently tangent to the graph of sin(x)?
    </li>
    <li>
      What could we do to the graph to make the line tangent to sin(x)? Should we change the slope,
      the y-intercept, or some combination of the two?
    </li>
  </ul> Have students guide you until the line is tangent to the curve. The equation should be one of
    the following:
  <ul>
    <li>
      y = 1x + 0
    </li>
    <li>
      y = 0x + 1
    </li>
    <li>
      y = 0x - 1
    </li>
  </ul>
</p>
<p>
  Click the zoom button, then click and drag to zoom in on a small area of the graph. Continue to do
  so until the visible part of the graph of sin(x) looks like a straight line. Ask the following
  questions:
  <ul>
    <li>
      Would it be relatively easy to find the slope of the tangent line to the curve?
    </li>
    <li>
      How close is the tangent line to the actual curve graph of sin(x)?
    </li>
    <li>
      If the slope of the tangent line to sin(x) at 0 is 1, what is the slope of the curve itself?
      How do you know?
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  Introduce
  <a href="{{ '/activities/Derivate' | relative_url }}">Derivate</a> as an applet that can automatically find the slope of any function, even a curved function. Graph
  the function
  <em>y=sin(x)</em>.
</p>
<p>
  <ul>
    <li>
      Demonstrate how to move the sliders to change the location of the tangent line.
    </li>
    <li>
      Show how the derivative changes as the slope of the line changes.
    </li>
    <li>
      Demonstrate how to change the window and step size as necessary to make functions easier to
      see.
    </li>
  </ul>
</p>
<p>
  Discuss the relationship between the slope of the tangent line and the curve itself. Ask the
  following questions:
  <ul>
    <li>
      When the function is increasing, is the derivative positive or negative?
    </li>
    <li>
      When the function is decreasing, is the derivative positive or negative?
    </li>
    <li>
      What happens to the derivative when the function is at a peak or a valley?
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  Have students work in groups of 2-4 to complete the
  <a href="{{ '/media/worksheets/Derivate_Worksheet' | relative_url }}">worksheet</a>. As they do so, ask them to think about the relationship between the derivative of a function and
  the function itself.
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  Bring the class back together and discuss what has been learned about derivatives, tangents, and
  slope. Ask the following questions:
</p>
<p>
  <ul>
    <li>
      How does the derivative of a function relate to the function at a particular point?
      <ul>
        <li>
          Do you think that all functions have a derivative at all points?
        </li>
        <li>
          What if you had a function like
          <em>y</em> =
          <em>x</em>^1/3? What happens to the derivative of this function at zero?
        </li>
        <li>
          What does this tell you about when it is possible to take the derivative of a function?
        </li>
      </ul>
    </li>
    <li>
      When you plotted the derivative of
      <img src="{{ 'img/derivate1.png' | relative_url }}" which="medium" class="noPadding" /> on the worksheet, did the points form a graph? What graph did they form?
    </li>
    <li>
      Given that, what would you say the general derivative of
      <img src="{{ 'img/derivate1.png' | relative_url }}" which="medium" class="noPadding" /> is?
    </li>
    <li>
      Do you think other functions could also have derivatives that are themselves functions?
    </li>
  </ul>
</p>
</li>
