<li>
<h3>Focus and Review</h3>
<p>
  Review what the students learned in the
  <a href="{{ '/lessons/ElapsedTime' | relative_url }}">previous lesson</a>:
  <ul>
    <li>
      Elapsed time is the time between a starting and ending time.
    </li>
    <li>
      When adding or subtracting time, you must always be careful to count only 60 minutes in each
      hour. You must also be careful with a.m. and p.m. times and switching between the two.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what they will be doing and learning today. Say something like this:
  <ul>
    <li>
      Today, class, we are going to learn how to calculate an ending time.
    </li>
    <li>
      We are going to use the computers to do this, but please do not turn your computers on until I
      ask you to. I want to show you a little about this activity first.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  Lead the students in a
  <a href="{{ '/discussions/ElapsedTimeTwo' | relative_url }}">discussion</a> about how to calculate ending time.
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  <ul>
    <li>
      Have the students draw starting times and elapsed times on their
      <a href="{{ '/media/worksheets/Elapsed_Time_Two_Record_Sheet' | relative_url }}">Elapsed Time Two Record Sheet</a>. Then instruct them to calculate the elapsed time.
    </li>
    <li>
      Open your browser to the
      <a href="{{ '/activities/ElapsedTimeTwo' | relative_url }}">Elapsed Time Two</a> applet. Explain to the students how to work the applet.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Have students answer 10 problems on their own.
    </li>
    <li>
      Have the students answer the
      <a href="{{ '/media/worksheets/Elapsed_Time_Two_Exploration_Questions' | relative_url }}">Exploration Questions</a> while working with the applet.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  <ul>
    <li>
      Discuss as a class what the students discovered while answering the exploration questions.
    </li>
  </ul>
</p>
</li>
