<li>
<h3>Focus and Review</h3>
<p>
  Introduce patterns by asking students to give examples of patterns they've seen recently.
  <ul>
    <li>
      If students are having trouble naming things, you might point out clothing with patterns, for
      example: "Will's shirt has a plaid pattern on it".
    </li>
    <li>
      Ask students how they know these things are patterns.
    </li>
    <li>
      Lead the students in a discussion about patterns.
    </li>
  </ul>
</p>
<p>
  Introduce the concept of recursion by leading the students in a discussion.
  <ul>
    <li>
      Ask students if they can think of recursive patterns.
      <ul>
        <li>
          For example: 1, 2, 4, 8, 16; where each step doubles to create the next step
        </li>
      </ul>
    </li>
    <li>
      Ask students how these patterns are different from the patterns discussed earlier.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
  <ul>
    <li>
      Today, class, we are going to learn about recursion, modeling, and patterns.
    </li>
    <li>
      We are going to use the computers to learn about this, but please do not turn your computers
      on until I ask you to. I want to show you a little about these activities first.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  Draw an equilateral triangle on the board. Tell the students that you're going to make a recursive
  pattern with this triangle by replacing each line segment with the design shown below.
  <img class="h-center" src="{{ 'img/image503.gif' | relative_url }}" /> Ask students what they expect the pattern to look like. Now draw the new shape on the board and
  ask the students to imagine what the shape would look like if you repeated the rule again.
</p>
<p>
  Have student volunteers come up to draw each step. When the process starts to take too long for
  each step (after the third or fourth iterate), pull up the
  <a href="{{ '/activities/KochSnowflake' | relative_url }}">Koch's Snowflake applet</a>. Click through the steps to watch the snowflake start to form. Discuss the results as a class:
  <ul>
    <li>
      Was this the pattern you were expecting?
    </li>
    <li>
      How is this pattern different from the patterns we talked about at the beginning of our
      discussion?
    </li>
    <li>
      Do you see the recursion in this pattern?
    </li>
  </ul>
</p>
<p>
  Take a moment to ask the students how they think the computer helped them in creating this
  pattern. Help them see that when doing lots of repetition, the computer can do the repetitive
  calculations over and over so that the thinking human beings can analyze the results.
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  Lead a discussion on
  <a href="{{ '/discussions/AgentModeling' | relative_url }}">agent modeling</a>. Then introduce the
  <a href="{{ '/activities/RabbitsAndWolves' | relative_url }}">Rabbits and Wolves applet</a>. Discuss how to use the applet, specifically showing students the population graph.
  <em>Do not discuss the individual agents or their behaviors yet.</em>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  Have the students work in pairs to run the simulation and answer the questions on the
  <a href="{{ '/media/worksheets/Emerging_Patterns_Worksheet' | relative_url }}">worksheet</a>.
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  As a class, discuss the findings of the activity. Ask the students the following guided questions:
  <ul>
    <li>
      What patterns did you notice?
    </li>
    <li>
      Would you have noticed those if you had only looked at an individual agent?
    </li>
    <li>
      Would you have noticed those if you had only looked at the populations at one given moment?
    </li>
  </ul>
</p>
</li>
