<li>
<h3>Focus and Review</h3>
<p>
  Remind students what has been learned in previous lessons that will be pertinent to this lesson
  and/or have them begin to think about the words and ideas of this lesson:
</p>
<p>
  <ul>
    <li>
      Ask the students what an
      <a href="{{ '/dictionary/e' | relative_url }}">estimate</a> is and to think of an example. Have a student share an example with the class. A starter
      example might be, "How many inches long is this chalkboard?"
    </li>
    <li>
      Review the comparison terms,
      <em>greater than</em>,
      <em>less than</em>, and
      <em>almost the same as</em>, when giving examples of estimates. For example, "Is the size of the window greater than the
      size of the chalkboard?"
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
</p>
<p>
  <ul>
    <li>
      Today we are going to study
      <em>estimates. </em>
    </li>
    <li>
      We are going to use the computers to learn about making estimations, but please do not turn
      your computers on or go to this page until I ask you to.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  In this part of the lesson you will explain to the students how to do the assignment. You should
  model or demonstrate it for the students, especially if they are not familiar with how to use our
  computer applets.
</p>
<p>
  <ul>
    <li>
      You may want to lead a discussion on
      <a href="{{ '/discussions/MakingEstimates' | relative_url }}">Making Estimates.</a>
    </li>
    <li>
      When you are satisfied your students are familiar with estimates, open your browser (but don't
      let the students open theirs yet) to the
      <a href="{{ '/activities/Estimator' | relative_url }}">Estimator</a> activity in order to demonstrate it to the students.
    </li>
    <li>
      Show students the first estimation question and ask them to give you the answer. Enter their
      number, and show them that if they are not close enough, they will be prompted to refine their
      answer, either higher or lower. Demonstrate the "hint" button if students are struggling.
    </li>
    <li>
      Pass out the
      <a href="{{ '/media/worksheets/22.pdf' | relative_url }}">Estimator Worksheet</a>. Complete the worksheet with the students. As you demonstrate and discuss the problems, ask
      some students to explain orally how they arrive at their estimates.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  <ul>
    <li>
      The next activity is the
      <a href="{{ '/activities/ComparisonEstimator' | relative_url }}">Comparison Estimator.</a>
    </li>
    <li>
      Pass out the
      <a href="{{ '/media/worksheets/23.pdf' | relative_url }}">Comparison Estimator Worksheet.</a>
    </li>
    <li>
      Do the first problem together, but let the students direct your actions:
      <ul>
        <li>
          Show students the first estimation and the menu of choices:
          <em>greater than, less than, almost the same as.</em>
        </li>
        <li>
          Let the students give you the answers to one or two problems, then direct them to do more
          and work on answering the questions on the worksheet.
        </li>
      </ul>
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Give students a chance to work independently on the
      <a href="{{ '/activities/MoreOrLessEstimator' | relative_url }}">More or Less Estimator.</a>
    </li>
    <li>
      Pass out the
      <a href="{{ '/media/worksheets/24.pdf' | relative_url }}">Comparison Estimator Worksheet</a>. Circulate through the room, giving help as needed, while students complete the worksheet.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  Just before the end of class, bring the students together and ask if any of them still have
  questions about estimation.
</p>
<p>
  <ul>
    <li>
      Asking students which problems gave them the most trouble might be a way to spark
      conversation.
    </li>
    <li>
      You might want to ask students to share their strategies for making estimates.
    </li>
    <li>
      To evaluate students' comprehension of the class, collect their worksheets.
    </li>
  </ul>
</p>
</li>
