<li>
<h3>Focus and Review</h3>
<p>
  Have the students guess how many jelly beans are in a jar.
</p>
<p />
</li>
<li>
<h3>Objectives</h3>
<p>
  Students learn what estimation means and refine their estimation skills through several estimation
  activities.
</p>
<p />
</li>
<li>
<h3>Teacher Input</h3>
<p>
  <ul>
    <li>
      After the students have had a chance to write down their guess, have them raise their hands,
      so that you can call on a few students to explain the method they used to formulate their
      guess.
    </li>
    <li>
      The teacher should know the correct answers and hone in on those students giving the correct
      answers.
    </li>
    <li>
      Expand on students' methods and explain that these are forms of estimation.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  <ul>
    <li>
      Have some pre-drawn or pre-taped shapes located around the room.
    </li>
    <li>
      Have the students estimate the area of each shape in square ft and in square cm.
    </li>
    <li>
      Have the students open the
      <a href="{{ '/activities/MoreOrLessEstimator' | relative_url }}">More or Less Estimator</a> applet
    </li>
    <li>
      Work through a few problems as a class, so that students can become familiar with the applet.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Have the students take turns using the
      <a href="{{ '/activities/MoreOrLessEstimator' | relative_url }}">More or Less Estimator</a> applet with a partner for about five minutes.
    </li>
    <li>
      Once the students have had time to become proficient with the More or Less Estimator applet
      have them work with the
      <a href="{{ '/activities/ComparisonEstimator' | relative_url }}">Comparison Estimator</a> applet for about five minutes.
    </li>
    <li>
      Next have the students work with the
      <a href="{{ '/activities/Estimator' | relative_url }}">Estimator</a> applet for five minutes.
    </li>
    <li>
      Finally have the class spend five minutes playing
      <a href="{{ '/activities/EstimatorFour' | relative_url }}">Estimator Four</a> applet.
    </li>
    <li>
      To ensure the students are on task you can circulate through the room monitoring their
      progress.
    </li>
    <li>
      You may also want to have the students copy a problem from each applet that they found
      challenging.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  <ul>
    <li>
      Address any remaining questions the students have about the different estimating methods.
    </li>
    <li>
      Have students discuss the various methods they used when estimating.
    </li>
  </ul>
</p>
</li>
