<li>
<h3>Focus and Review</h3>
<p>
		<ul>
		<li>Pass out 2 pieces of graph paper to each student.</li>
		<li>Instruct the students to draw all possible rectangles with an area of 10 squares.</li>
		<li>The students should draw squares with dimensions of 1x10, 2x5, 5x2, and 10x1.</li>
		<li>Call on several students to draw their rectangles on the board.</li>
		<li>Next, instruct the students to draw all possible rectangles with an area of 24 squares.</li>
		<li>Continue having the students draw rectangles for different size areas until they recognize that there is a connection between the dimensions of the rectangles and the area of the rectangles.</li>
		<li>Call on a student to explain this connection to the class.</li>
		</ul>
	</p>
</li>
<li>
<h3>Objectives</h3>
<p>
		Students will demonstrate their ability to list the factors for different numbers.</p><p>
	</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
		Explain to the class the term "factor."</p><p>
	</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
		Work a few problems with the class demonstrating how to using the <a href="{{ '/activities/Factorize' | relative_url }}">Factorize</a> and the <a href="{{ '/activities/FactorizeTwo' | relative_url }}">Factorize 2</a> applets. </p><p>
	</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
		Instruct the students to work 10 computer generated problems from each applet.</p><p>
	</p>
</li>
<li>
<h3>Closure</h3>
<p>
		Review the term factor and some different methods that can be used to find the factors of a given number.</p><p>
	</p>
</li>
