<li>
<h3>Focus and Review</h3>
<p>
  Remind students what has been learned in previous lessons about remainders and modular arithmetic.
  <ul>
    <li>
      Ask students how to find the remainder of a given division problem, reminding them that they
      can use modular arithmetic.
    </li>
    <li>
      Ask the students to list the numbers that have a remainder of 1 when divided by 5.
    </li>
    <li>
      Discuss patterns that they find as they do this.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
  <ul>
    <li>
      Today, we're going to look for remainders in a famous set of numbers.
    </li>
    <li>
      As we do this, we're going to look for any patterns that we might find.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  Introduce Pascal's Triangle by playing a game. Explain the rules:
  <ul>
    <li>
      Divide the students into two or three groups.
    </li>
    <li>
      Explain that there is a pattern in Pascal's Triangle, and you want them to complete it.
    </li>
    <li>
      Explain that one (or two) students from each team come up at a time.
    </li>
    <li>
      Each student will try to complete one line of the pattern in their team's triangle. Then the
      teacher will check it.
      <ul>
        <li>
          If it is correct, the student will have a seat and the next teammate will try to complete
          the next line.
        </li>
        <li>
          If the line is incorrect, the teacher will erase it. Then the next student will try to
          complete that same line.
        </li>
      </ul>
    </li>
  </ul>
</p>
<p>
  Once the game is over, make sure everyone understands that each number is the sum of the two
  numbers above it.
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  Now that we're familiar with Pascal's Triangle, we're going to look for other patterns. One of
  these patterns can be found by coloring remainders.
</p>
<p>
  Explain how the
  <a href="{{ '/activities/ColoringRemainder' | relative_url }}">Coloring Remainders in Pascal's Triangle</a> applet works. Begin with a divisor of 5. Fill out the triangle as a class.
</p>
<p>
  Now explain that you're going to use the
  <a href="{{ '/activities/ClockArithmetic' | relative_url }}">Clock Arithmetic</a> applet to help you color the remainders.
  <ul>
    <li>
      Ask if anybody has any ideas of how you could use the applet to color the remainders.
    </li>
    <li>
      Fill out the same triangle, using a divisor of 5. This time, use the clock arithmetic applet
      to help.
      <ul>
        <li>
          On the Clock Arithmetic applet, set the clock size to 5 (or whatever your divisior is).
        </li>
        <li>
          Set the start time at 0.
        </li>
        <li>
          Put the number you're testing into the number of elapsed hours.
        </li>
        <li>
          The number that the clock ends on will be the remainder.
        </li>
        <li>
          Reset the clock and test the next number.
        </li>
        <li>
          When dealing with larger numbers, be sure to set the clock to "Do Not Animate", so you
          don't have to watch upwards of 50 rotations of the clock.
        </li>
      </ul>
    </li>
    <li>
      Now increase the depth of Pascal's Triangle.
    </li>
    <li>
      Explain to the students that the Clock Arithmetic applet might be especially helpful when
      working with really big numbers.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  Allow the students to work in pairs to fill out the Coloring Remainders in Pascal's Triangle
  applet. If students finish early, have them fill the triangle out using a different divisor.
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  Lead the class in a discussion of patterns that they found. Ask the students why they think those
  patterns occurred.
</p>
</li>
