<li>
<h3>Focus and Review</h3>
<p>
  		Remind students what has been learned in previous lessons that will be pertinent to this lesson and/or have them begin to think about the words and ideas of this lesson:
  		</p><p>
  		<ul>
  		<li>If I roll this die, what is the probability that I will roll:
  		<ul>
  		<li>an even number?</li>
  		<li> a two?</li>
  		<li> a seven?</li>
  		<li> a number less than 7?</li>
  		</ul></li></ul>
  	</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  		Let the students know what it is they will be doing and learning today. Say something like this:
  		</p><p>
  		<ul>
  		<li>Today, class, we are going to use a computer to simulate burning down a forest. Please do not turn on your computers until I ask you though as we are going to play the simulation by hand first.</li>
  		</ul>
  	</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  		<ul>
  		<li>Bring up the <a href="{{ '/activities/Fire' | relative_url }}">Fire!!</a>  activity on an overhead screen in order to demonstrate how the activity works.</li>
  		<li>Explain how setting the probability determines which trees burn. If one tree is on fire the probability determines that one of its four neighbors will catch.</li>
  		<li>Set the probability to 0% and ask students to predict what percent of the forest will burn. Demonstrate several times to show them that their hypothesis was correct or incorrect. Repeat with a probability of 100%.</li>
  		<li>Always burn from the center tree for control in the experiment. You may wish to discuss the importance of using controls in experiments.</li>
  		<li>You may wish to review converting fractions, decimals, and percents at this point.</li>
  		<li>Ask students if they think that the set probability will always equal the overall percent of burn since it did with 0% and 100%.</li>
  		</ul>
  	</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  		<ul>
  		<li>Pair students and give each pair a die and a piece of grid paper. Have them outline two 5 x 5 grids and draw an <strong>X</strong>  in the center square.</li>
  		<li>Tell the students they will be doing a paper simulation similar to the simulation that you showed on the computer. This time though they will only use a 5 x 5 grid to work (as opposed to a 17 x 17 grid) and they should use a probability of 50%.</li>
  		<li>Demonstrate on the board or overhead how the paper simulation should work by drawing a 5 x 5 grid with an <strong>X</strong> in the center. You may wish to discuss how you could use the die to simulate a 50% probability of burn.</li>
  		<li>Place a small dot in the square above the <strong>X</strong> denoting this is the square you are testing to see if it catches or not. Roll the die to determine if it catches. If it does, mark it through with an <strong>X</strong> and if it does not, erase the dot. Repeat the other squares beside the <strong>X</strong>. Work through the entire example on the board making sure all students understand how the simulation works.</li>
  		<li>Calculate the percent of the forest burned.</li>
  		<li>Be sure to point out that it is only the trees above, below, left and right of a burning tree they should test.</li>
  		<li>When students are finished, list the results of each trial on the board.</li>
  		<li>Ask the students to recall their answer to whether the set probability of burn equals the overall percent of forest burned. (It may in some cases but probably won't in most.)</li>
  		<li>Move on to the computer simulation.</li>
  		<li>Bring up a second window with the <a href="{{ '/activities/SimplePlot' | relative_url }}">Simple Plot</a>   activity. Tell the students you want to plot the data collected to see if a pattern can be determined. The x-axis should represent the probability of burn and the y-axis should represent the overall percent of forest burned. Plot the first two data points: (0,0) and (1,100) from the computer "Fire" model. Make sure the <strong>Connected</strong> plot type is selected.</li>
  		<li>Discuss with students this graph as a model of the forest fire data.</li>
  		<li>Discuss whether they believe this model accurately predicts the forest burned for different set probabilities. Based upon the data collected with the 5 x 5 grid students should come to the conclusion it is probably not.</li>
  		<li>Test the 50% burn probability ten times using the "Fire!" computer activity and record the results. There should be variance in this data. Record each result on the board.</li>
  		<li>Discuss with students how you could use all of those varying data points to determine a single data point to graph on the line graph. Students should conclude the arithmetic mean would be a good solution.</li>
  		<li>Begin a new line plot on the coordinate plane by typing <strong>newgraph</strong> under the last ordered pair. Calculate the mean for the 10 data points and plot (0.5, mean).</li>
  		<li>Discuss with students how to make the graph more accurate. Students should come to the conclusion it would be more accurate by testing various data points for different burn probabilities in approximately equal intervals.   </li>
  		</ul>
  	</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  		<ul>
  		<li>Have each pair of students complete their own two grids.</li>
  		<li>Assign each pair of students a probability to test. Each pair should conduct the test 10 times and determine the mean of the overall percent of forest burned at their designated probability. </li>
  		</ul>
  	</p>
</li>
<li>
<h3>Closure</h3>
<p>
  		<ul>
  		<li>Collect the means from all the students and write them on the board. Be sure to make note if which mean corresponds to which probability.</li>
  		<li>Using the same graph as before, once again type all the collected data and graph as ordered pairs in the form (probability, mean of overall burn). The resulting curve will probably be S-shaped.</li>
  		<li>There are several points you can make about the experiment:
  		<ol>
  		<li>Scientists use computer models to help find patterns that may be difficult to identify otherwise. This model shows that between probabilities of 0 to about 35% the fire burns itself out. Between 35-60% the fire is chaotic and unpredictable with significant variance at each of those probabilities. Above about 60% the fire almost always burns down the entire forest.</li>
  		<li>Discuss how this model relates to a real forest fire. What are the similarities and the differences? What does a high/low probability of burn relate to in a real fire? </li>
  		</ol></li></ul>
  	</p>
</li>
