<li>
<h3>Focus and Review</h3>
<p>
  Show the students the
  <a href="{{ '/activities/Fire' | relative_url }}">Fire!! applet</a>. Set one of the trees on fire and watch how the fire spreads. Then pose the following question to
  the students: Why didn't all of the trees burn?
</p>
</li>
<li>
<h3>Objective</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
  <ul>
    <li>
      Today, class, we are going to use a computer to simulate burning down a forest. Please do not
      turn on your computers until I ask you to.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  Explain that the likelihood that a tree will catch on fire is determined by the probability you
  select. Change the probability from 1/6 to 5/6 to show students that a greater number of trees
  will burn with a higher probability. Begin asking the students why this is so.
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  Explain the controls of the applet to the students. Fill out the first column of the record sheet
  as a class.
</p>
<p>
  Review how to convert from percentages and fractions to decimals if necessary.
</p>
<p>
  Review how to find an average if necessary.
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  Have students use the applet to fill out the record sheet. Remind them to look for patterns as
  they collect their data.
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  Discuss as a class the following questions:
  <ul>
    <li>
      What patterns did you notice in your data?
    </li>
    <li>
      What does changing the probability actually do?
    </li>
    <li>
      Is this a realistic model?
    </li>
  </ul>
</p>
</li>
