<li>
<h3>Focus and Review</h3>
<p>
  Remind students what has been learned in previous lessons that will be pertinent to this lesson,
  and/or have them begin to think about the words and ideas of this lesson:
</p>
<p>
  <ul>
    <li>
      Does anyone remember what a fractal is?
    </li>
    <li>
      Can any one explain what the word pattern means?
    </li>
    <li>
      Can someone explain what the word random means?
    </li>
    <li>
      Who thinks that seemingly random process can result in a pattern?
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
</p>
<p>
  <ul>
    <li>
      Today, class, we are going to learn how a seemingly random process can result in a familiar
      pattern.
    </li>
    <li>
      We are going to use the computers to learn about patterns, but please do not turn your
      computers on until I ask you to. I want to show you a little about this activity first.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  <ul>
    <li>
      Before you say anything, place three large dots on the board so that they represent the
      corners of an equilateral triangle. Lable the dots A , B, and C. Explain to the class that you
      are going to start at a random place on the board, place a dot, and call on them one by one to
      have them choose A, B, or C. Then, place a small dot half way between the last dot drawn and
      the corner called out by the student.
    </li>
    <li>
      Once everyone has had a chance to call out a corner, ask the class if anyone sees a pattern.
    </li>
    <li>
      Ask what the class thinks will happen if this process is continued for a really long time.
    </li>
    <li>
      Explain to the class that the process they were just doing is how
      <a href="{{ '/activities/TheChaosGame' | relative_url }}">The Chaos Game</a> works.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  <ul>
    <li>
      Have the students try the computer version of the basic (triangle)
      <a href="{{ '/activities/TheChaosGame' | relative_url }}">Chaos Game</a>. Place 20 dots at a time for as many iterations as necessary for them to recognize
      Sierpinski's Triangle forming.
    </li>
    <li>
      Lead a
      <a href="{{ '/discussions/ProbabilityAndOutcom' | relative_url }}">discussion</a> on basic probability to prepare the students for their independent practice.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Have the students try changing the probabilities (which can be explained as movement ratios)
      for various starting shapes with the computer version of the
      <a href="{{ '/activities/TheChaosGame' | relative_url }}">Chaos Game</a>, making and testing conjectures about the final shapes.
    </li>
    <li>
      Have the students record what they plan to change the probability to, what they expect to
      happen, and what actually happens.
    </li>
    <li>
      If you choose, you may also pass out the worksheet that accompanies this applet and have the
      students complete it at this time.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  <ul>
    <li>
      You may wish to bring the class back together for a discussion of the findings. Once the
      students have been allowed to share what they found, summarize the results of the lesson.
    </li>
  </ul>
</p>
</li>
