<li>
<h3>Focus and Review</h3>
<p>
  Remind students what has been learned in previous lessons that will be pertinent to this lesson
  and/or have them begin to think about the words and ideas of this lesson. Review key terms:
  <ul>
    <li>
      <a href="{{ '/dictionary/f' | relative_url }}">fraction</a>
    </li>
    <li>
      <a href="{{ '/dictionary/n' | relative_url }}">numerator</a>
    </li>
    <li>
      <a href="{{ '/dictionary/d' | relative_url }}">denominator</a>
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
  <ul>
    <li>
      Today, class, we will be talking more about fractions, and how to do basic math operations
      with them such as addition, subtraction, multiplication and division.
    </li>
    <li>
      We are going to use the computers to learn about fractions, but please do not turn your
      computers on or go to this page until I ask you to. I want to show you a little about this
      activity first.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  <ul>
    <li>
      Lead students in a discussion about
      <a href="{{ '/discussions/FractionAddingAndSub' | relative_url }}">adding and subtracting fractions</a>. Allow students to practice this skill by working through some
      <a href="{{ '/media/worksheets/Fraction_Facts_Practice_Problems' | relative_url }}">practice problems</a> as a class.
    </li>
    <li>
      Lead students in a discussion about
      <a href="{{ '/discussions/FractionMultiplying' | relative_url }}">multiplying and dividing fractions</a>. Allow students to practice this skill by working through some
      <a href="{{ '/media/worksheets/Fraction_Facts_Practice_Problems' | relative_url }}">practice problems</a> as a class.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  Open your browser to
  <a href="{{ '/activities/FractionFour' | relative_url }}">Fraction Four</a> in order to demonstrate this activity to the students.
  <ul>
    <li>
      Make sure the students are comfortable with how the game works before letting students work on
      their own.
    </li>
    <li>
      You may want to have students take turns giving answers to the problems and work through one
      or two games as a class until students are ready to try it on their own.
    </li>
    <li>
      Make sure that students select addition/subtraction and multiplication/division problems only
      when they set up the game.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  Allow the students to work in groups of two to play the Fraction Four game. Monitor the room for
  questions and to be sure that the students are on the correct web site.
</p>
<p>
  You may want to pair the students according to ability level so that students don't consistently
  win or lose their games.
  <ul>
    <li>
      You also may want to monitor the time limit student set for the game. You can either assign
      students a time limit according to their ability level or instruct students to use no time
      limit.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  You may wish to bring the class back together to discuss any problems that were especially hard
  for students to solve. You can also use this as a time to have students share different methods
  they used to solve the problems. Potentially, the class could create pro/con lists for the
  different methods of solving these problems. Once the students have been allowed to share what
  they found, summarize once more the main points of the lesson.
</p>
</li>
