<li>
<h3>Focus and Review</h3>
<p>
  Review prior fraction material. Lead into this lesson by:
  <ul>
    <li>
      explaining to students that there are other ways of representing fractional amounts besides
      with fractions
    </li>
    <li>
      asking students if they are familiar with any other way of representing fractional amounts
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
  <ul>
    <li>
      Today we will be learning how to convert between fractions and decimals.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  <ul>
    <li>
      Lead a
      <a href="{{ '/discussions/Decimals' | relative_url }}">discussion</a> on decimals.
    </li>
    <li>
      Show the students how to convert from fractions to decimals by dividing the numerator by the
      denominator.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  <ul>
    <li>
      Open the
      <a href="{{ '/activities/Converter' | relative_url }}">Converter</a> applet in a browser.
    </li>
    <li>
      Work through a few simple conversions as a class, first guessing the answer before clicking on
      the button so that students can understand what the applet is doing.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Have students work as partners, answering the
      <a href="{{ '/media/worksheets/251.pdf' | relative_url }}">exploration questions</a> while using the
      <a href="{{ '/activities/Converter' | relative_url }}">Converter</a> applet.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  <ul>
    <li>
      Discuss anything the students found interesting while answering the exploration questions.
    </li>
    <li>
      Discuss why conversions between fractions and decimals are important in real life situations.
    </li>
    <li>
      Review the steps used to convert between fractions and decimals.
    </li>
    <li>
      Review any new vocabulary.
    </li>
  </ul>
</p>
</li>
