<li>
<h3>Focus and Review:</h3>
<p>
  <ul>
    <li>
      Remind students what they learned about converting between fractions and decimals.
    </li>
    <li>
      Lead into lesson by asking students if they know of another way of representing fractional
      amounts besides fractions and decimals.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
  <ul>
    <li>
      Today we will be learning about percents and how to convert fractions, decimals, and
      percentages.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  <ul>
    <li>
      Lead a
      <a href="{{ '/discussions/Percents' | relative_url }}">discussion</a> on percents.
    </li>
    <li>
      Ask students how they think you should convert from fractions or decimals into percentages.
    </li>
    <li>
      After discussing different possible methods, explain to students that you can convert to
      percentages by converting to a fraction over 100, and just using the numerator with the
      percent sign: %.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  <ul>
    <li>
      Open the
      <a href="{{ '/activities/FractionFour' | relative_url }}">Fraction Four</a> applet in a browser.
    </li>
    <li>
      Select the fraction to decimal and fraction to percentage problems.
    </li>
    <li>
      Guide students through playing the game.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Have students work in pairs to play the
      <a href="{{ '/activities/FractionFour' | relative_url }}">Fraction Four</a> game.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  <ul>
    <li>
      Discuss why conversions from fractions to percentages and decimals are important in real life
      situations.
    </li>
    <li>
      Review the steps used to convert from fractions to percentages and decimals.
    </li>
  </ul>
</p>
</li>
