<li>
<h3>Focus and Review</h3>
<p>
  <ul>
    <li>
      Does anyone remember what infinity means?
    </li>
    <li>
      Can someone explain to the class what an iteration is?
    </li>
    <li>
      Who knows what self-similarity is?
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  <ul>
    <li>
      Today, class, we are going to learn more about fractals, the idea of self-similarity, and
      recognizing patterns within fractals.
    </li>
    <li>
      We are going to use the computers to learn more about fractals, the idea of self-similarity,
      and recognizing patterns with in fractals, but please do not turn your computers on until I
      ask you to. I want to show you a little about this activity first.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  <ul>
    <li>
      Walk students through several steps of the
      <a href="{{ '/activities/SierpinskiTriangle' | relative_url }}">Sierpinski Triangle</a>. The students should look at the patterns made by the areas of the individual triangles and
      the total area. It may take drawing two or three iterations before the number pattern becomes
      obvious.
    </li>
    <li>
      Discuss the number of triangles present in each iteration see if any of your students can
      recognize the pattern.
    </li>
    <li>
      Have the students discuss what they believe will happen to the area of Sierpinki's Triangle as
      the number of iterations go beyond the computers computational capability. Will the area of
      the triangle ever reach zero?
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  <ul>
    <li>
      Have the students repeat the previous exercise with
      <a href="{{ '/activities/SierpinskiCarpet' | relative_url }}">Sierpinski Carpet</a> .
    </li>
    <li>
      Lead a class
      <a href="{{ '/discussions/PlaneFigureFractals' | relative_url }}">discussion</a> to make note of how these are similar to the line bender fractals from the
      <a href="{{ '/lessons/InfinityRecursion' | relative_url }}">Infinity, Self-Similarity, and Recursion</a> lesson.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      If you choose to hand out the worksheets that accompany these applets you can have the
      students work on them.
    </li>
    <li>
      An alternative is to have the students calculate the area Sierpinski's carpet and triangle at
      several different iterations.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  <ul>
    <li>
      You may wish to bring the class back together for a discussion of the findings. Once the
      students have been allowed to share what they found, summarize the results of the lesson.
    </li>
  </ul>
</p>
</li>
