<li>
<h3>Focus and Review</h3>
<p>
  Remind students what has been learned in previous lessons that will be pertinent to this lesson
  and/or have them begin to think about the words and ideas of this lesson:
</p>
<p>
  <ul>
    <li>
      Ask students if they remember what polygons are, and what makes regular polygons unique.
    </li>
  </ul>
  <ul>
    <li>
      If needed, use the information in the discussion
      <a href="{{ '/discussions/WhatAreTessellations' | relative_url }}">What are Tessellations?</a>.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what they will be doing and learning today. Say something like this:
</p>
<p>
  <ul>
    <li>
      Today, class, we will be talking more about the geometry involved in tessellations, and we
      will discover which types of polygons tessellate a plane.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  Explain to the students how to do the assignment. You should model or demonstrate it for the
  students, especially if they are not familiar with how to use our computer applets.
</p>
<p>
  <ul>
    <li>
      Open your browser to the
      <a href="{{ '/activities/Tessellate' | relative_url }}">Tessellate!</a> page in order to demonstrate this activity to the students.
    </li>
    <li>
      Show students how to select one of the regular polygon shapes and click the "tessellate"
      button to see it displayed.
    </li>
    <li>
      Ask students to count the number of sides of the polygon.
    </li>
    <li>
      Record the number of sides in the
      <a href="{{ '/media/worksheets/174.pdf' | relative_url }}">data table</a> , and help students complete the rest of the information for the shape you have chosen.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  Try another shape, letting the students take the lead in completing the data table for this new
  shape.
</p>
<p>
  <ul>
    <li>
      Encourage students to determine a pattern among the regular polygons that they work with. Ask
      the students to predict which regular polygons will and will not tessellate and why.
    </li>
    <li>
      Select the third regular polygon, observe what it looks like in the Tessellate activity, and
      then complete the data table for this shape.
      <ul>
        <li>
          Ask students what the data table would look like for 5, 7 and 8-sided polygons.
        </li>
        <li>
          Help students analyze the data and draw a conclusion about which shapes will tessellate
          the plane and why.
        </li>
      </ul>
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Print out copies of the
      <a href="{{ '/media/worksheets/177.pdf' | relative_url }}">Tessellations on Paper Worksheet</a> and distribute them to students.
    </li>
    <li>
      Alternatively, have the students complete a similar
      <a href="{{ '/media/worksheets/172.pdf' | relative_url }}">exercise</a> on the computer using the Tessellate activity, a screen capture utility and a drawing
      program.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  You may wish to bring the class back together for a discussion of the findings. Once the students
  have been allowed to share what they found, summarize the results of the lesson.
</p>
</li>
