<li>
<h3>Focus and Review</h3>
<p>
  Remind students what has been learned in previous lessons that will be pertinent to this lesson
  and/or have them begin to think about the words and ideas of this lesson. You may ask the
  following questions:
</p>
<p>
  <ul>
    <li>
      Can someone tell me what a function is?
    </li>
    <li>
      Will someone give me an example of a function?
    </li>
    <li>
      Will someone give me an example of something that is not a function?
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
</p>
<p>
  <ul>
    <li>
      Today, class, we are going to learn more about functions.
    </li>
    <li>
      We are going to use the computers to learn more about functions, but please do not turn your
      computers on until I ask you to. I want to show you a little about this activity first.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  <ul>
    <li>
      Lead a
      <a href="{{ '/discussions/FromGraphsToFunction' | relative_url }}">discussion</a> on how functions and graphs are related.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  <ul>
    <li>
      Have the students try plotting points for several simple functions to ensure that they have
      some skill at plotting by hand. Even if graphing calculators are available, have the students
      plot points on graph paper - this is a skill that is important to practice by hand. Here are a
      few functions that might be assigned:
      <ol>
        <li>
          <pre> y = 3x - 2 </pre>
        </li>
        <li>
          <pre> y = x^2 </pre>
        </li>
        <li>
          <pre> y = 3 - 4x </pre>
        </li>
        <li>
          <pre> y = 4 - x^2 </pre>
        </li>
      </ol>
    </li>
    <li>
      Practice the students' function plotting skills by having them check their work from the
      previous activity by plotting the same functions using the
      <a href="{{ '/activities/GraphSketcher' | relative_url }}">Graph Sketcher Tool</a>.
    </li>
    <li>
      Have the students investigate functions of the form y = _____ x + ____ using the
      <a href="{{ '/activities/GraphSketcher' | relative_url }}">Graph Sketcher Tool</a> to determine what kinds of functions come from this form, and what changing each constant
      does to the function. Be sure to have them keep track of what they try and record their
      hypotheses and observations.
    </li>
    <li>
      Relate these graphs to the lesson on
      <a href="{{ '/lessons/IntroLinearFunction' | relative_url }}">Linear Functions</a> to demonstrate the rationale for the terms m = slope and b = intercept in the formula
      <pre>Y = m * X + b </pre>
      .
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Have the students repeat the previous activity with functions of the form:
      <pre>y = ____ x^2 + ____ </pre>
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  <ul>
    <li>
      You may wish to bring the class back together for a discussion of the findings. Once the
      students have been allowed to share what they found, summarize the results of the lesson.
    </li>
  </ul>
</p>
</li>
