<li>
<h3>Focus and Review</h3>
<p>
  Remind students what has been learned in previous lessons that will be pertinent to this lesson
  and/or have them begin to think about the words and ideas of this lesson.
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
</p>
<p>
  <ul>
    <li>
      Today, class, we are going to learn about graphing lines on the coordinate plane.
    </li>
    <li>
      We are going to use the computers to do this but please do not turn your computers on until I
      ask you to. I want to show you a little about this activity first.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  <ul>
    <li>
      Lead a
      <a href="{{ '/discussions/IntroductionToTheCoo' | relative_url }}">discussion</a> on the number line and the coordinate plane.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  <ul>
    <li>
      Practice the students' point plotting skills by having them play the
      <a href="{{ '/activities/GeneralCoordinates' | relative_url }}">Coordinates! Game</a> The game allows users to figure out and to practice using the coordinate plane for giving the
      "address" or exact location of particular points.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Have the students practice their graphing skills on
      <a href="{{ '/media/worksheets/175.pdf' | relative_url }}">graph paper</a> using the tables of values they generated in the lessons on
      <a href="{{ '/lessons/IntroductionFunction' | relative_url }}">Functions</a> and
      <a href="{{ '/lessons/IntroLinearFunction' | relative_url }}">Linear Functions</a>
    </li>
    <li>
      Have the students test their skills by playing the
      <a href="{{ '/activities/MazeGame' | relative_url }}">Maze Game</a>
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  <ul>
    <li>
      You may wish to bring the class back together for a discussion of the findings. Once the
      students have been allowed to share what they found, summarize the results of the lesson.
    </li>
  </ul>
</p>
</li>
