<li>
<h3>Focus and Review</h3>
<p>
  Remind students what has been learned in previous lessons that will be pertinent to this lesson
  and/or have them begin to think about the words and ideas of this lesson:
</p>
<p>
  <ul>
    <li>
      If I bet you that we could play a game and that I could win every time, would you believe me?
    </li>
    <li>
      This game is a racing game in which we take turns rolling a six sided die and advancing on the
      numbers that we each are assigned. I bet you I can assign us an equal quantity of numbers that
      we move on and no matter how many times we play I will always win.
    </li>
    <li>
      Then tell them that the numbers that you assign yourself are 1, 2, 3, 4, 5, and 6, while the
      numbers you assign the person who takes you up on your bet are 7, 8, 9, 10, 11, and 12. (If
      you are only playing with one die then it is impossible to roll anything higher than a 6 so
      the person assigned 6 -12 will never move).
    </li>
    <li>
      Who thinks this game is fair?
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
  <ul>
    <li>
      Today, class, we are going to begin learning about random number generators and probability.
    </li>
    <li>
      We are going to use the computers to learn about random number generators and probability, but
      please do not turn your computers on until I ask you to. I want to show you a little about
      this activity first.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  <ul>
    <li>
      Lead a discussion about
      <a href="{{ '/discussions/EquallyLikelyChoice' | relative_url }}">Fair Choice</a>
    </li>
    <li>
      Lead a discussion about
      <a href="{{ '/discussions/RandomNumberGenerato' | relative_url }}">Random Number Generators</a> . Everybody has some expertise with random choices. This fact allows the following questions
      to lead to spark a discussion:
      <ol>
        <li>
          " How can you randomly choose between any given numbers? Can you use some devices to help
          you with that? What devices?"
        </li>
        <li>
          "How do you know if the choice is truly random? How do you know if it is fair?"
        </li>
      </ol>
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  <ul>
    <li>
      Have students can use as
      <a href="{{ '/activities/RacingGameWithOneDie' | relative_url }}">The Racing Game with One Die</a> an example of a game that is either fair or not. Make sure to adjust the settings on the game
      so that the race is only one step long. Since the game is used for illustration only, it can
      be played by each student individually, by groups of students, or by one person who broadcasts
      it for everybody else to see.
    </li>
    <li>
      Have them discuss different ways that they can make the game fair and not fair.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Now have the students play
      <a href="{{ '/activities/RacingGameWithOneDie' | relative_url }}">The Racing Game with One Die</a> Each group of students can come up with their own way of randomly choosing which players move
      on which rolls
    </li>
    <li>
      Also have them adjust the number of steps in the race and observe the affect it has on the
      probability that one player will win over the other.
    </li>
    <li>
      You might also challenge the students to find the combination of race length and numbers
      needed to cause one player to have a specific probability of winning.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  <ul>
    <li>
      You may wish to bring the class back together for a discussion of the findings. Once the
      students have been allowed to share what they found, summarize the results of the lesson.
    </li>
  </ul>
</p>
</li>
