<li>
<h3>Focus and Review</h3>
<p>
  Remind students what has been learned in previous lessons that will be pertinent to this lesson
  and/or have them begin to think about the words and ideas of this lesson:
</p>
<p>
  <ul>
    <li>
      Ask the students if they remember how to read graphs.
    </li>
    <li>
      Provide them with several graphs and ask them to interpret them.
    </li>
    <li>
      Draw a graph on the board for example distance covered in (x)amount of time. Place a break in
      the graph making it an impossible graph and ask the students if they can explain what is
      "wrong" with it.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
</p>
<p>
  <ul>
    <li>
      Today, class, we are going to learn about impossible graphs and how to determine if a graph is
      impossible.
    </li>
    <li>
      We are going to use the computers to learn about impossible graphs , but please do not turn
      your computers on until I ask you to. I want to show you a little about this activity first.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  <ul>
    <li>
      Lead a
      <a href="{{ '/discussions/ImpossibleGraphs' | relative_url }}">discussion</a> on impossible graphs.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  <ul>
    <li>
      Next have a "live" discussion while going through the
      <a href="{{ '/activities/PossibleOrNot' | relative_url }}">Possible or not? Activity</a> . Give each group of students a different graph from the database, and have them present
      their ideas and findings to the entire class.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      If you choose to pass out the impossible graphs
      <a href="{{ '/media/worksheets/60.pdf' | relative_url }}">worksheet</a> have the students work independently or in small groups to complete it.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  <ul>
    <li>
      You may wish to bring the class back together for a discussion of the findings. Once the
      students have been allowed to share what they found, summarize the results of the lesson.
    </li>
  </ul>
</p>
</li>
