<li>
<h3>Focus and Review</h3>
<p>
  Remind students what has been learned in previous lessons that will be pertinent to this lesson
  and/or have them begin to think about the words and ideas of this lesson:
</p>
<p>
  <ul>
    <li>
      Can anyone explain what
      <a href="{{ '/dictionary/i' | relative_url }}">infinity</a> means?
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
</p>
<p>
  <ul>
    <li>
      Today, class, we will be talking about fractals while looking at
      <a href="{{ '/activities/Tortoise' | relative_url }}">Tortoise and Hare Race</a>,
      <a href="{{ '/activities/CantorComb' | relative_url }}">Cantor's Comb</a> ,
      <a href="{{ '/activities/HilbertCurve' | relative_url }}">Hilbert Curve</a> ,
      <a href="{{ '/activities/AnotherHilbertCurve' | relative_url }}">Another Hilbert Curve</a> , and
      <a href="{{ '/activities/KochSnowflake' | relative_url }}">Koch's Curve</a>.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  Introduce the terminology:
  <ul>
    <li>
      <em>Initiator</em>: The starting curve or shape
    </li>
    <li>
      <em>Generator:</em> The rule used to build a new curve or shape from the old one
    </li>
    <li>
      <em>Iteration:</em> The process of repeating the same step over and over
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  <ul>
    <li>
      Describe the
      <a href="{{ '/activities/Tortoise' | relative_url }}">Tortoise and Hare Race</a> to the students and ask them to speculate on who will win. Then have them run though several
      steps of the race, stopping when they think they see what is happening.
    </li>
    <li>
      Have students run several steps of the
      <a href="{{ '/activities/CantorComb' | relative_url }}">Cantor's Comb</a>. The students should look at the patterns made by the lengths of the segments and the total
      length. It may take drawing two or three iterations before the number pattern becomes obvious.
    </li>
    <li>
      Repeat the previous exercise for the
      <a href="{{ '/activities/HilbertCurve' | relative_url }}">Hilbert Curve</a> .
    </li>
    <li>
      Lead a class
      <a href="{{ '/discussions/InfinityAndIteration' | relative_url }}">discussion</a> to clarify what "infinitely many times" means.
    </li>
    <li>
      Repeat the previous exercise for
      <a href="{{ '/activities/AnotherHilbertCurve' | relative_url }}">Another Hilbert Curve</a>, this time also asking students to discuss how a small change in the generator can lead to a
      large change in the final object.
    </li>
    <li>
      Repeat the previous exercise for the
      <a href="{{ '/activities/KochSnowflake' | relative_url }}">Koch's Curve</a> , this time also asking about patterns in the area enclosed as well as the length of the
      curve.
    </li>
    <li>
      Lead a class
      <a href="{{ '/discussions/SelfSimilarity' | relative_url }}">discussion</a> to introduce the formal idea of self-simlarity.
    </li>
    <li>
      Lead a class
      <a href="{{ '/discussions/Recursion' | relative_url }}">discussion</a> to introduce the formal idea of recursion.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Allow the student's time to complete any or all of the worksheets that are provided with the
      applets used during this lesson.
    </li>
    <li>
      Have the students try to draw a couple iterations of any of the fractals used during this
      lesson and discuss why computers are useful when studying fractals.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  You may wish to bring the class back together for a discussion of the findings. Once the students
  have been allowed to share what they found, summarize the results of the lesson.
</p>
</li>
