<li>
<h3>Focus and Review</h3>
<p>
  Remind students what has been learned in previous lessons that will be pertinent to this lesson
  and/or have them begin to think about the words and ideas of this lesson:
</p>
<p>
  <ul>
    <li>
      Walk through the
      <a href="{{ '/discussions/Recursion' | relative_url }}">discussion on recursion.</a>
    </li>
    <li>
      Present a few elements of a sequence to students and have them determine what should come
      next. Ask the class, "If I listed the following numbers, what would come next: 5, 10, 15,
      20... ?"
    </li>
    <li>
      If a student answers "25," then have the student suggest why s/he knew that was the next
      number.
    </li>
    <li>
      Ask the students what is being added or multiplied to get each new number. Assist the students
      in understanding that each number is obtained by adding 5 to the previous number.
    </li>
    <li>
      Ask the students similar questions for a sequence such as 2, 4, 8, 16, 32.... Help the
      students understand that each number is obtained by multiplying the previous number by 2.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
</p>
<p>
  <ul>
    <li>
      Today, class, we will be talking about sequences. These lists of numbers that we have been
      discussing are sequences. A sequence is a list of numbers in which each number depends on the
      one before it. If we add a number to get from one element to the next, we call it an
      arithmetic sequence. If we multiply, it is a geometric sequence.
    </li>
    <li>
      We are going to use the computers to learn about sequences and to create our own sequences.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  In this part of the lesson you will explain to the students how to do the assignment. You should
  model or demonstrate it for the students, especially if they are not familiar with how to use our
  computer applets.
</p>
<p>
  <ul>
    <li>
      Open your browser to
      <a href="{{ '/activities/Sequencer' | relative_url }}">The Sequencer Activity</a> . You may need to instruct students not to open their browsers until told to do so.
    </li>
    <li>
      Show the students how to input the initial values for the starting number, multiplier, and
      add-on and how to obtain the new sequence. Explain to students that if they wish to see a
      sequence that is strictly arithmetic, they may enter "1" in the multiplier box. Similarly, if
      they wish to see only a geometric sequence, they may enter a "0" in the add-on box.
    </li>
    <li>
      Pass out the
      <a href="{{ '/media/worksheets/105.pdf' | relative_url }}">Sequences Exploration Questions</a>
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  Your students may be ready to move along on their own, or they may need a little more instruction:
</p>
<p>
  <ul>
    <li>
      If your class seems to understand the process for doing this assignment, simply ask, "Can
      anyone tell me what I need to do to complete this worksheet?" or ask, "How do I run this
      applet?"
    </li>
    <li>
      If your class seems to be having a little trouble with this process, do another example
      together, but let the students direct your actions.
    </li>
    <li>
      You may choose to do the first problem on the worksheet together. Let the students suggest
      possible values for the starting number, multiplier, and add-on. If the answer is not correct,
      have the students talk about how to change the numbers to correct the mistake.
    </li>
    <li>
      After practicing together, ask if there are any more questions before proceeding to let the
      class work on the worksheet individually or in groups.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Allow the students to work on their own to complete the rest of the worksheet. Monitor the
      room for questions and to be sure that the students are on the correct web site.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  It is important to verify that all of the students made progress toward understanding the concepts
  presented in this lesson. You may do this in one of several ways:
</p>
<p>
  <ul>
    <li>
      Bring the class together and share some of the answers that the students obtained for each
      item on the worksheet. Students may be surprised to find that there are several ways to obtain
      a sequence in which all the elements end in 3, for example.
    </li>
    <li>
      Let the students write a breif definition of a sequence on paper and provide an example to
      ensure that they have understood the lesson.
    </li>
  </ul>
</p>
</li>
