<li>
<h3>Focus and Review</h3>
<p>
  Remind students what has been learned in previous lessons that will be pertinent to this lesson
  and/or have them begin to think about the words and ideas of this lesson:
  <ul>
    <li>
      In science have any of you ever done an experiment that you thought would turn out one way,
      but it ended up doing something different?
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
  <ul>
    <li>
      Today, class, we are going to begin learning about probability
    </li>
    <li>
      We are going to use the computers to learn about probability, but please do not turn your
      computers on until I ask you to. I want to show you a little about this activity first
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  <ul>
    <li>
      In science you do things over and over to make sure you have the correct results. Well, in
      math you repeat things over and over to make sure your experimental results are as close to
      the theoretical result as possible. The actual results from your experiments are called
      statistics. While the possibility you may or may not get a certain result has to do with
      probability.
    </li>
    <li>
      Lead a discussion, based on the Crazy Choices Game, of
      <a href="{{ '/discussions/ProbabilityAndOutcom' | relative_url }}">Outcomes and Probability</a> to introduce the ideas of "outcome" and "probability."
    </li>
    <li>
      Lead a discussion on
      <a href="{{ '/discussions/ProbabilityVsStatis' | relative_url }}">Statistics vs. Probability</a>
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  <ul>
    <li>
      Have the Students play the
      <a href="{{ '/activities/CrazyChoicesGame' | relative_url }}">Crazy Choices Game</a> to show how probabilities can be compared experimentally, and to help students understand the
      definition of probability.
    </li>
    <li>
      Students can play the game in groups (2-10 people per group) using computer(s) or various
      random number generating devices (dice, spinners, etc.). The software keeps the necessary
      statistics:
      <ol>
        <li>
          # number of games played
        </li>
        <li>
          # number of games each player won
        </li>
        <li>
          experimental probability of winning
        </li>
      </ol>
    </li>
    <li>
      If students play the game using hands-on materials, they may want to keep track of this data
      using the
      <a href="{{ '/media/worksheets/181.pdf' | relative_url }}">Crazy Choices Game Tally Table</a> that can be reproduced for each group of students. Students should play a lot of games
      (50-100) if they want to obtain reliable statistics. The goal of the game is to determine
      which player has better chances of winning if players use different devices to determine
      whether they win. For example, to compare the chances of the player who flips a coin (winning
      in 1 out of 2 possible outcomes) and the chances of the player who rolls a six-sided die
      (winning if it rolls a 1 or 2, or in 2 out of 6 possible outcomes)
    </li>
    <li>
      The advantage of the software is that it can simulate many games in a single run. This saves
      time, and helps students see how experimental probabilities get closer and closer to
      theoretical probabilities (the Law of Large Numbers)
    </li>
    <li>
      Students can try to answer the following questions individually, in group discussions or in
      discussion with the mentor. Each group of students can answer the whole set of questions,
      later sharing their answers and discussing them with other groups in order to refine the
      definitions and understanding.
      <ol>
        <li>
          In the Crazy Choices Game, each player won in so many outcomes out of so many total
          outcomes. How can we define an outcome?
        </li>
        <li>
          If the total number of outcomes is the same for all players, it is easy to compare their
          chances. For example, the player who has four winning numbers on a six-sided die will win
          twice as often as the player who has two winning numbers. How do we compare the chances of
          the players if the total number of outcomes is different? Can we do it with experiments?
          Can we predict the results of the experiments approximately?
        </li>
        <li>
          What happens to experimental probabilities when we collect more and more data on the same
          game?
        </li>
      </ol>
    </li>
    <li>
      Next, initiate a discussion about
      <a href="{{ '/discussions/EventsAndSetOperatio' | relative_url }}">Events and Set Operations</a>
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Discussions of sets work best when they are based on problems, and when students can draw or
      use manipulatives to work on the problems. Students can work in small (2-4 people) groups,
      each group discussing a few problems and trying to answer the following questions in the
      process. Each group can draw a problem from
      <a href="{{ '/media/worksheets/183.pdf' | relative_url }}">Sample Problems on Set Operations</a> and then come up with several more of their own problems of the same sort.
      <ol>
        <li>
          What is the union of sets? Can you find out how many elements are in the union if you know
          how many are in each set? What other things do you need to know to answer that question?
        </li>
        <li>
          What is the intersection of sets?
        </li>
        <li>
          If each set describes an event, what events are described by the union and the
          intersection?
        </li>
      </ol>
    </li>
    <li>
      Students will minimize confusion if they solve a problem or two before attempting to answer
      the questions. They can start by answering the questions about the problems they solved, and
      then trying to generalize the answer. After each group works on the questions for a while
      (with the mentor helping each group as needed), all students can share and discuss their
      answers to the questions.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  You may wish to bring the class back together for a discussion of the findings. Once the students
  have been allowed to share what they found, summarize the results of the lesson.
</p>
</li>
