<li>
<h3>Focus and Review</h3>
<p>
  Remind students of what they learned in previous lessons that will be pertinent to this lesson
  and/or have them begin to think about the words and ideas of this lesson:
</p>
<p>
  <ul>
    <li>
      Class, you might remember that we learned about triangles before. We learned that triangles
      are a family of polygons and that there are different types of triangles.
    </li>
    <li>
      Can anyone in here tell me what some of the types of triangles are? [i.e. right triangles,
      isosceles triangles, scalene triangles, etc.]
    </li>
    <li>
      Just as the three-sided polygon, a triangle, has a family of shapes with names, four-sided
      polygons have names.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what they will be doing and learning today. Say something like this:
</p>
<p>
  <ul>
    <li>
      Today, class, we will be talking more about the four-sided figures, called quadrilaterals.
    </li>
    <li>
      We are going to use the computers to learn about quadrilaterals, but please do not turn your
      computers on or go to this page until I ask you to. I want to show you a little about this
      program first.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  You may choose lead the students in a short
  <a href="{{ '/discussions/Quadrilaterals' | relative_url }}">discussion</a> about quadrilaterals.
</p>
<p>
  A series of discussions will introduce students to the different types of quadrilaterals:
</p>
<p>
  <ul>
    <li>
      <a href="{{ '/discussions/Parallelograms' | relative_url }}">Parallelograms</a>
    </li>
    <li>
      <a href="{{ '/discussions/Rectangles' | relative_url }}">Rectangles</a>
    </li>
    <li>
      <a href="{{ '/discussions/Trapezoids' | relative_url }}">Trapezoids</a>
    </li>
  </ul> Explain to the students how to do the assignment. You should model or demonstrate it for the
    students, especially if they are not familiar with how to use our computer applets.
  <ul>
    <li>
      Open your browser to
      <a href="{{ '/activities/FloorTiles' | relative_url }}">Floor Tiles</a> in order to demonstrate this activity to the students.
    </li>
    <li>
      Explain that the quadrilateral on the screen will always remain as a quadrilateral, even
      though you move the sides and corners.
    </li>
    <li>
      Show the students that they may access information about the sides and angles by using the
      <strong>Information</strong> button.
    </li>
    <li>
      Pass out the
      <a href="{{ '/media/worksheets/100.pdf' | relative_url }}">Worksheet to Accompany "An Introduction to Quadrilaterals"</a>
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  Try an example with your students, letting the students direct your moves.
</p>
<p>
  <ul>
    <li>
      Ask the students to help you create a trapezoid from the square on the screen. As they direct
      your moves, have them specify which characteristic of the trapezoid they are attempting to
      create.
    </li>
    <li>
      When the class is satisfied with the trapezoid that has been created, show them how to gain
      information about the quadrilateral from the
      <strong>Information</strong> button.
    </li>
    <li>
      Allow the students to comment on how they think the information shows that the quadrilateral
      is a trapezoid. Students should recognize that it is necessary to show that two of the lines
      in the quadrilateral are parallel. This can be done several ways:
      <ul>
        <li>
          Remind students to consider what they know about parallel lines. If the lines are
          parallel, and one of the other sides acts as a transversal, students can identify angles
          that should be congruent.
          <img class="h-center" src="{{ 'img/lessons/IntroQuadrilaterals-lesson-1.gif' | relative_url }}" /> Remind them that angles 1 and 3 are congruent (since alternate interior angles are
          congruent), and angles 1 and 2 are supplementary (since the two angles form a linear
          pair), therefore angles 2 and 3 should be supplementary, if the lines are parallel.
        </li>
        <li>
          If your students are not familar with the properties of parallel lines, they may prove
          that the lines are parallel by calculating the slope of the lines they suspect are
          parallel. The
          <strong>Information</strong> button contains the coordinates of each vertex. Students may use these coordinates to
          find the slope of the appropriate lines.
        </li>
      </ul>
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Allow students to work on their own and to complete the worksheet, should you choose to
      provide it. Monitor the room for questions and to be sure that the students are on the correct
      web site.
    </li>
    <li>
      Another option: Let students form several groups. Each group should design a different
      quadrilateral and prove that its creation fits the desired characteristics of the specified
      quadrilateral. The groups could then show the class what they created and how they showed that
      the desired characteristics were present.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  You may wish to bring the class back together for a discussion of the findings. Once the students
  have been allowed to share what they found, summarize the results of the lesson. Especially
  emphasize the importance of knowing the characteristics of the different types of quadrilaterals.
</p>
</li>
