<li>
<h3>Focus and Review</h3>
<p>
  Remind students what has been learned in previous lessons that will be pertinent to this lesson
  and/or have them begin to think about the words and ideas of this lesson.
</p>
<p>
  <ul>
    <li>
      Who remembers what a function is?
    </li>
    <li>
      Can someone give me an example of a function?
    </li>
    <li>
      Can someone give me an example of something that is not a function?
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
</p>
<p>
  <ul>
    <li>
      Today, class, we are going to learn more about functions.We are going to use the computers to
      learn more about functions, but please do not turn your computers on until I ask you to.
    </li>
    <li>
      I want to show you a little about this activity first.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  <ul>
    <li>
      Lead a
      <a href="{{ '/discussions/MultiStepFunctions' | relative_url }}">discussion</a> on building more complicated functions using composition.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  <ul>
    <li>
      Have the students practice "pumping" a few of these more complicated functions by hand by
      filling in a few tables. Give them some functions in English, some as tables and some as
      algebra. Have them write the functions in all the forms. For Example:
      <ol>
        <li>
          Find the function that adds one and then multiplies the result by 2
        </li>
        <li>
          y = 4 - x/2
        </li>
        <li>
          <table>
            <tr>
              <td>
                <strong>x</strong>
              </td>
              <td>
                -2
              </td>
              <td>
                -1
              </td>
              <td>
                0
              </td>
              <td>
                1
              </td>
              <td>
                2
              </td>
            </tr>
            <tr>
              <td>
                <strong>y</strong>
              </td>
              <td>
                -7
              </td>
              <td>
                -4
              </td>
              <td>
                -1
              </td>
              <td>
                2
              </td>
              <td>
                5
              </td>
            </tr>
          </table>
          <strong>Note:</strong> The function rule for these more complicated functions can be much harder to guess from
          just the data table.
        </li>
      </ol>
    </li>
    <li>
      Lead a
      <a href="{{ '/discussions/LinearFunctions' | relative_url }}">discussion</a> on functions of the special form y = ___ * x + ___ .
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Have students practice their linear function skills by using the
      <a href="{{ '/activities/LinearFunctMachine' | relative_url }}">Linear Function Machine</a> . Be sure to have students record how many numbers they needed to look at before correctly
      guessing the function structure. Have them write the functions they worked with in three ways:
      <ul>
        <li>
          <em>English Sentence</em>
        </li>
        <li>
          <em>Table of Values </em>
        </li>
        <li>
          <em> Algebraic Rule</em>
        </li>
      </ul>
    </li>
    <li>
      Have them try to think of situations in their lives that might be governed by some of the
      functions they worked with
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  <ul>
    <li>
      You may wish to bring the class back together for a discussion of the findings. Once the
      students have been allowed to share what they found, summarize the results of the lesson.
    </li>
  </ul>
</p>
</li>
