<li>
<h3>Focus and Review</h3>
<p>
  Remind students of what they have learned in previous lessons that will be pertinent to this
  lesson and/or have them begin to think about the words and ideas of this lesson:
  <ul>
    <li>
      Does anyone know what "average" means?
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what they will be doing and learning today. Say something like this:
  <ul>
    <li>
      Today, class, we are going to learn about mean, median, and mode.
    </li>
    <li>
      We are going to use the computers to learn about mean,median, and mode, but please do not turn
      your computers on until I ask you to. I want to show you a little about this activity first.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  <ul>
    <li>
      Lead a
      <a href="{{ '/discussions/MeanMedianAndMode' | relative_url }}">discussion</a>, or the instructor can prepare a "live" discussion, to deepen and formalize the students'
      intuitive understanding of mean, median, and mode. (10-20 min)
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  <ul>
    <li>
      Introduce and develop the concepts of mean and median with the
      <a href="{{ '/activities/Measures' | relative_url }}">Measures</a> activity. Students will change parameters and discover patterns related to mean and median.
      Students can choose their own focus of measure, their own quantity, and their own units. (20
      min)
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Have the students either individually or in groups read and try to solve
      <a href="{{ '/media/worksheets/182.pdf' | relative_url }}">sample problems on mean, median and mode</a>. (30 min)
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  <ul>
    <li>
      You may wish to bring the class back together for a discussion of the findings. Once the
      students have been allowed to share what they found, summarize the results of the lesson.
    </li>
  </ul>
</p>
</li>
