<li>
<h3>Focus and Review</h3>
<p>
  Remind students what has been learned in previous lessons that will be pertinent to this lesson
  and/or have them begin to think about the words and ideas of this lesson.
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
</p>
<p>
  <ul>
    <li>
      Today, class, we are going to learn about functions and their representations
    </li>
    <li>
      We are going to use the computers to learn about functions and their representations, but
      please do not turn your computers on until I ask you to. I want to show you a little about
      this activity first
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  Introduce the idea of functions as machines, by leading a class
  <a href="{{ '/discussions/FunctionsAsProcesses' | relative_url }}">discussion</a> on functions.
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  <ul>
    <li>
      Have the students construct machines to test each other with. Start them with single operation
      machines, and suggest that they build tables for the input/output pairs. Reinforce the
      convention that mathematicians avoid confusion by always putting the input first in an
      <em>ordered pair</em> enclosed in parentheses and separated by commas:
      <div class="h-center">
        (x,y)
      </div>
      Give them one or two tables with a few outputs for them to fill in. Ask them to describe in
      words what the function does. For Example:
      <div>
        <table class="h-center">
          <tr>
            <th>
              INPUT
            </th>
            <th>
              OUTPUT
            </th>
            <th />
            <th>
              INPUT
            </th>
            <th>
              OUTPUT
            </th>
          </tr>
          <tr>
            <td>
              5
            </td>
            <td>
              -1
            </td>
            <td />
            <td>
              -5
            </td>
            <td>
              -15
            </td>
          </tr>
          <tr>
            <td>
              3
            </td>
            <td>
              -3
            </td>
            <td />
            <td>
              2
            </td>
            <td>
              6
            </td>
          </tr>
          <tr>
            <td>
              -1
            </td>
            <td>
              -7
            </td>
            <td />
            <td>
              4
            </td>
            <td>
              12
            </td>
          </tr>
          <tr>
            <td>
              4
            </td>
            <td>
              -2
            </td>
            <td />
            <td>
              0
            </td>
            <td>
              0
            </td>
          </tr>
          <tr>
            <td>
              -5
            </td>
            <td>
              -11
            </td>
            <td />
            <td>
              3
            </td>
            <td>
              9
            </td>
          </tr>
          <tr>
            <td>
              2
            </td>
            <td>
              -4
            </td>
            <td />
            <td>
              -2
            </td>
            <td>
              -6
            </td>
          </tr>
          <tr>
            <td>
              10
            </td>
            <td />
            <td />
            <td>
              10
            </td>
            <td />
          </tr>
          <tr>
            <td>
              -9
            </td>
            <td />
            <td />
            <td>
              -7
            </td>
            <td />
          </tr>
        </table>
      </div>
    </li>
    <li>
      After they practice describing functions in English sentences, discuss the convention of
      letting a letter (often
      <em>but not always x</em>) stand in for the input and another (often
      <em>but not always y</em>) stand in for the output. Have them write all their earlier functions as algebra rules with x
      as input and y as output.
    </li>
    <li>
      Formalize the terminology:
      <ul>
        <li>
          <em>Variable</em> A letter standing in for an unknown or changeable number
        </li>
        <li>
          <em>Independent Variable</em> The input into a function, often represented by x.
        </li>
        <li>
          <em>Dependent Variable</em> The output from a function, often represented by y.
        </li>
        <li>
          <em>Functions</em> A process that takes one or more numbers as input and produces a single number as output
        </li>
      </ul>
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Have the students practice their new function building and pattern recognition skills with the
      <a href="{{ '/activities/FunctionMachine' | relative_url }}">Function Machine Game</a> . Be sure to have students record how many numbers they needed to look at before correctly
      guessing the function structure. Have them write the functions they worked with in three ways:
      <ul>
        <li>
          English sentence
        </li>
        <li>
          Table of Values
        </li>
        <li>
          Algebra Rule
        </li>
      </ul>
    </li>
    <li>
      Have them try to think of situations in their lives that might be governed by some of the
      functions they worked with. For example,
      <pre>y = x + 1</pre>
      might be the function describing growing one year older on your birthday.
      <pre>y = 2 * x</pre>
      might be the function "everything tastes twice as good during the holiday."
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  <ul>
    <li>
      You may wish to bring the class back together for a discussion of the findings. Once the
      students have been allowed to share what they found, summarize the results of the lesson.
    </li>
  </ul>
</p>
</li>
