<li>
<h3>Focus and Review</h3>
<p>
  Remind students what has been learned in previous lessons that will be pertinent to this lesson
  and/or have them begin to think about the words and ideas of this lesson:
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
  <ul>
    <li>
      Today, class, we are going to learn about fractals.
    </li>
    <li>
      We are going to use the computers to learn about fractals, but please do not turn your
      computers on until I ask you to. I want to show you a little about this activity first.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  <ul>
    <li>
      Lead a class
      <a href="{{ '/discussions/DimensionForIrregula' | relative_url }}">discussion</a> on calculating the fractal dimensions for the fractals in the
      <a href="{{ '/activities/FracturedPictures' | relative_url }}">Fractured Pictures</a> activity
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  <ul>
    <li>
      Practice calculating the frctal dimensions using the
      <a href="{{ '/activities/FracturedPictures' | relative_url }}">Fractured Pictures</a> activity
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Have the students try the computer version of the
      <a href="{{ '/activities/FlakeMaker' | relative_url }}">Flake Maker</a> activity to investigate what sorts of interesting patterns and fractals can be generated.
    </li>
    <li>
      Also have stundents practice calculating the fractal dimension of the fractals they generate.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  <ul>
    <li>
      You may wish to bring the class back together for a discussion of the findings. Once the
      students have been allowed to share what they found, summarize the results of the lesson.
    </li>
  </ul>
</p>
</li>
