<li>
<h3>Focus and Review</h3>
<p>
  Remind students what has been learned in previous lessons that will be pertinent to this lesson
  and/or have them begin to think about the words and ideas of this lesson:
</p>
<p>
  <ul>
    <li>
      Ask students to recall information about polygons.
    </li>
    <li>
      You might ask students to consider how they might trace the perimeter of a polygon that is
      drawn on the board, or you may begin the day by running the perimeter of the school!
    </li>
    <li>
      Discuss what it might mean to talk about the area of a polygon.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
</p>
<p>
  <ul>
    <li>
      Today, class, we will be talking more about the perimeter and area of polygons. We will learn
      exactly what these terms mean, and we will learn how to calculate area and perimeter for
      certain polygons.
    </li>
    <li>
      We are going to use the computers to learn about area and perimeter, but please do not turn
      your computers on or go to this page until I ask you to. I want to show you a little about the
      <a href="{{ '/activities/ShapeExplorer' | relative_url }}">Shape Explorer</a> applet first.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  You may choose to lead the students in a short
  <a href="{{ '/discussions/ShapeExplorer' | relative_url }}">discussion</a> about how to find length, perimeter, and area for irregular figures.
</p>
<p>
  Explain to the students how to do the assignment. You should model or demonstrate it for the
  students, especially if they are not familiar with how to use our computer applets.
</p>
<p>
  <strong> Part One: General Shapes </strong>
</p>
<p>
  <ul>
    <li>
      Open your browser to
      <a href="{{ '/activities/ShapeExplorer' | relative_url }}">Shape Explorer</a> in order to demonstrate this activity to the students.
    </li>
    <li>
      Perimeter is the total length around the object. So imagine the grid lines are equal to one
      step. And imagine the outside edges of the figure are tight ropes. You want to see how many
      steps it will take you to get all the way around the edge. The number of steps would be the
      perimeter.
    </li>
    <li>
      Area is the amount of space inside the figure. So imagine the grid lines mark off floor tiles
      like the ones we have here at school. Now floor tiles are one-foot squares. So to find the
      amount of space in the object we just need to count the floor tiles.
    </li>
    <li>
      Once we have calculated the area and perimeter we will put our answers in the textfields and
      click the check answer button. If we got it right we will move on to harder shapes by using
      the adjust max size scroll bar.
    </li>
    <li>
      If you choose to, you may pass out the
      <a href="{{ '/media/worksheets/84.pdf' | relative_url }}">Worksheet to Accompany the "Shape Explorer" Applet.</a>
    </li>
  </ul>
  <strong> Part Two: Triangle Area </strong>
</p>
<p>
  <ul>
    <li>
      Open your browser to the
      <a href="{{ '/activities/TriangleExplorer' | relative_url }}">Triangle Explorer applet</a> in order to demonstrate this activity to the students.
    </li>
    <li>
      Plot an easy triangle. Explain how the area of a triangle is 1/2 * base * height. Convince
      them that this is the case by clicking the hint button. They should know that the area of a
      rectangle is base * height and the triangle is filling half of the rectangle.
    </li>
    <li>
      Next, plot a medium triangle click the hint button. Show them how the area of the medium
      triangles is the area of the box minus the area of the two simple triangles. Now move on up to
      hard triangles. Show them how the area of the triangles is the area of the box minus the area
      of the three simple triangles.
    </li>
    <li>
      Now provoke their intrigue by asking the question "Why do we calculate the area of non-right
      triangles differently?" Discuss this for a few minutes. See if anyone notices that the medium
      type triangles follow the formula. If not introduce this by plotting a triangle and making a
      challenge "I will give a free one hundred to anyone who can find the area of a medium triangle
      faster than I can." They will not be able to beat you if you use the 1/2 * base * height
      formula. They will begin to ask how you do it. Show them. Plot a triangle have them figure the
      area. Then have them find the base and the height. Then use the formula. They will be shocked.
    </li>
    <li>
      If you choose to, you may pass out the
      <a href="{{ '/media/worksheets/119.pdf' | relative_url }}">worksheet to Accompany the "Triangle Explorer" Applet .</a>
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  Try another example, letting the students direct your moves. Or, you may simply ask, "Can anyone
  describe the steps you will take for this assignment?"
</p>
<p>
  <ul>
    <li>
      If your class seems to understand the process for doing this assignment, simply ask.
    </li>
    <li>
      If your class seems to be having a little trouble with this process, do another example
      together, but let the students direct your actions:
      <ul>
        <li>
          Can someone describe how I would find the perimeter of this shape?
        </li>
        <li>
          Can someone describe how I would find the area of this shape?
        </li>
      </ul>
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Allow the students to work on their own and to complete the worksheet, should you choose to
      provide one. Monitor the room for questions and to be sure that the students are on the
      correct web site.
    </li>
    <li>
      Another option for independent practice is to have the students work in pairs (carefully
      chosen so that both students are of the same ability group). Have them race to find the
      correct area and perimeter using the Shape Explorer applet. Who ever wins gets a point. At the
      end of the allotted time for the game give the winning member of each pair a reward of some
      type. Switch to the Triangle Explorer applet and do the same.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  You may wish to bring the class back together for a discussion of the findings. Once the students
  have been allowed to share what they found, summarize the results of the lesson.
</p>
</li>
