<li>
<h3>Focus and Review</h3>
<p>
  Review with the class the concept of correlation. Have the students begin to think about the words
  and ideas of this lesson:
</p>
<p>
  <ul>
    <li>
      What are two variables that have no correlation with one another? Can anyone give me an
      example of two variables that have some sort of correlation with one another? Is this a
      positive or a negative correlation?
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is that they will be doing and learning today. Say something like
  this:
</p>
<p>
  <ul>
    <li>
      Today, class, we are going to learn more about correlation between two variables and be
      introduced to the line of best fit.
    </li>
    <li>
      We are going to use the computers to learn more about correlation, but please do not turn your
      computers on until I ask you to. I want to show you a little about this activity first.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  <ul>
    <li>
      Lead a
      <a href="{{ '/discussions/LineOfBestFit' | relative_url }}">discussion</a> on correlation of variables and the purpose of the line of best fit.
    </li>
    <li>
      Lead a
      <a href="{{ '/discussions/CorrelationCoefficients' | relative_url }}">discussion</a> on the correlation coefficient, r, and how it varies depending on the relationship of the
      data on the scatter plot.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  As a class complete the
  <a href="{{ '/media/worksheets/348.doc' | relative_url }}">Scatter Plot Exploration Questions</a>. Have the students draw a scatter plot of the class data on a sheet of graph paper. Ask the class
  where they predict the line of best fit will lie and what they think the correlation coefficient
  is. Together, graph this data using the
  <a href="{{ '/activities/Regression' | relative_url }}">Regression</a> activity, look at the actual results, and compare these findings with your predictions.
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  Have the students use the
  <a href="{{ '/activities/Regression' | relative_url }}">Regression</a> activity to estimate the line of best fit for their own data sets and then see where the line of
  best fit actually lies. Encourage them to experiment with data sets that include outliers. Also,
  have the students experiment with creating scatter plots that will have a specific correlation
  coefficient.
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  You may wish to bring the class back together for a discussion on the findings. Once the students
  have been allowed to share what they have found, summarize the results of the lesson.
</p>
</li>
