<li>
<h3>Focus and Review</h3>
<p>
  Remind students what has been learned in previous lessons that will be pertinent to this lesson
  and/or have them begin to think about the words and ideas of this lesson:
</p>
<p>
  <ul>
    <li>
      Begin drawing a number line on the board, and ask the students if they know what you are
      making.
    </li>
    <li>
      Draw a vertical line through the zero point of your number line, as if you were going to turn
      it into a coordinate plane.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
</p>
<p>
  <ul>
    <li>
      Today, class, we will be learning about lines, rays and the coordinate plane.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  The
  <a href="{{ '/discussions/LinesRaysLineSegment' | relative_url }}">discussion</a> presents an outline to use for explaining to students the key words of the lesson.
</p>
<p>
  <ul>
    <li>
      Draw several lines, rays, line segments and planes that have characteristics in common. Write
      a function on the board, and show students how to graph it. Then make a ray and line segment
      that correspond to the given line.
    </li>
    <li>
      Proceed by graphing a second line on the same sheet of graph paper. Again, draw a
      corresponding ray and line segment. Now that you have two lines on the page you can construct
      the corresponding plane.
    </li>
    <li>
      After modeling how to draw similar lines, rays, line segments and planes, discuss with
      students how the figures are similar to each other.
    </li>
    <li>
      Next, repeat the exercise, this time drawing non-corresponding lines, rays, line segments and
      planes.
    </li>
    <li>
      After modeling how to draw non-similar lines, rays, line segments and planes, discuss how the
      figures are different from each other.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  Pass out 4 sheets of
  <a href="{{ '/media/worksheets/175.pdf' | relative_url }}">graph paper</a> to each student (or use 2 double-sided sheets).
</p>
<p>
  Try another function, this time letting the students direct your moves as you graph it and draw
  some similar, and then non-similar, lines. Ask the students to follow you by doing the exercise
  with you on their graph paper.
</p>
<p>
  <ul>
    <li>
      After students graph the function you give them, instruct them to make a ray and line segment
      that correspond to the given line.
    </li>
    <li>
      Proceed by giving them a second line to graph on the same sheet of graph paper. Then have them
      construct the corresponding ray and line segment. Now that you have two lines on the page you
      can construct the corresponding plane.
    </li>
    <li>
      After they practice drawing similar lines, rays, line segments and planes, have them discuss
      how the figures they drew on their papers are similar to each other.
    </li>
    <li>
      Next, have them repeat the exercise, this time drawing non-corresponding lines, rays, line
      segments and planes.
    </li>
    <li>
      After they practice drawing non-similar lines, rays, line segments and planes, have them
      discuss how the figures they drew on their papers are different from each other.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Allow the students to work on their own or in groups of 2 - 4. Give them several other
      functions to work with to complete the exercise above, this time working independently or in
      groups. Monitor the room for questions and to be sure that the students are focused on the
      assignment.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  You may wish to bring the class back together and have each group show their results. Once the
  students have been allowed to share what they found, summarize the results of the lesson.
</p>
</li>
