<li>
<h3>Focus and Review</h3>
<p>
  Remind students what has been learned in previous lessons that will be pertinent to this lesson
  and/or have them begin to think about the words and ideas of this lesson:
  <ul>
    <li>
      Can someone tell me the difference between a fraction and a mixed number?
      <ul>
        <li>
          Emphasize that the word "fraction", here, is used to refer to proper fractions only.
        </li>
      </ul>
    </li>
    <li>
      If I multiply the number 1 by a fraction, will the result be larger or smaller than 1? OR If I
      multiply 1 by a mixed number, will the result be larger or smaller than 1?
    </li>
    <li>
      Entertain a
      <a href="{{ '/discussions/MultiplyingFractions' | relative_url }}">discussion</a> on fractions and mixed numbers including how to multiply these types of numbers.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
  <ul>
    <li>
      Today, class, we will be talking about multiplying fractions and mixed numbers.
    </li>
    <li>
      We are going to use the computers to look at the effect of multiplying a number by a fraction
      or mixed number, but please do not turn your computers on or go to this page until I ask you
      to. I want to show you a little about this program first.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  Explain to the students how to do the assignment. You should model or demonstrate it for the
  students, especially if they are not familiar with how to use the computer applets on the Project
  Interactivate site.
</p>
<p>
  <ul>
    <li>
      Open your browser to
      <a href="{{ '/activities/Sequencer' | relative_url }}">The Sequencer</a> in order to demonstrate this activity to the students.
    </li>
    <li>
      Show the class that there is a box where they may enter a starting number, in other words, the
      number that will be multiplied by a fraction or mixed number.
    </li>
    <li>
      Show the class the box where they will enter the multiplier, or the number that our starting
      number will be multiplied by.
    </li>
    <li>
      Explain to the class that they should enter a "0" into the add-on box as this lesson is about
      multiplying fractions, not adding them. Show students where to enter the zero.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  <ul>
    <li>
      After answering all questions that the students might have regarding the use of The Sequencer,
      pass out the
      <a href="{{ '/media/worksheets/Multiplying_Fractions_Worksheet' | relative_url }}">Multiplying Fractions Worksheet</a>.
    </li>
    <li>
      Walk the students through the worksheet, having all of the students in class use the same
      numbers, for example: 3 for the whole number and 3/10 for the fraction. For each question, ask
      two different students what they think the answer is. Ask the students to settle any disputes
      on what the answers are.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Allow students to work independently or in groups to complete the worksheet and circulate the
      room to offer help where necessary.
    </li>
    <li>
      When the students are finished with the Fraction worksheet, pass out the
      <a href="{{ '/media/worksheets/188.pdf' | relative_url }}">Multiplying Mixed Numbers Worksheet</a> and have them work through it independently.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  Allow students to describe what steps are needed and how they differ when numbers are multiplied
  by a fraction or a mixed number.
</p>
</li>
