<li>
<h3>Focus and Review</h3>
<p>
  Remind students what has been learned in previous lessons that will be pertinent to this lesson
  and/or have them begin to think about the words and ideas of this lesson:
</p>
<p>
  <ul>
    <li>
      Ask students to recall what they know about place value and base ten blocks.
    </li>
    <li>
      Lead a discussion about
      <a href="{{ '/discussions/PlaceValue' | relative_url }}">place value</a> to review basic terminology and understanding.
    </li>
    <li>
      Ask students if they're familiar with the term "base ten".
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
</p>
<p>
  <ul>
    <li>
      Today, class, we will be talking more about place value and base ten and even learning about
      other base values.
    </li>
    <li>
      We are going to use the computers to change numbers from base 10 to other base values, but
      please do not turn your computers on or go to this page until I ask you to. I want to show you
      a little about this activity first.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  <ul>
    <li>
      You may choose to lead the students in a short discussion about
      <a href="{{ '/discussions/BaseTen' | relative_url }}">base ten</a>.
    </li>
    <li>
      Explain to the students how to do the assignment. You should model or demonstrate it for the
      students, especially if they are not familiar with how to use our computer applets.
    </li>
    <li>
      Open your browser to
      <a href="{{ '/activities/NumberBaseClocks' | relative_url }}">Number Base Clocks</a> in order to demonstrate this activity to the students.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  Try converting other numbers from base ten to other base values:
  <ul>
    <li>
      Have students convert from base ten to the other base using pencil and paper before checking
      their answers on the computer.
    </li>
    <li>
      Lead a discussion on
      <a href="{{ '/discussions/ConvertingFromBaseTen' | relative_url }}">converting from base ten</a> to address any misconceptions the students might have.
    </li>
    <li>
      You may want to give the whole class certain numbers to convert into a specific base and check
      answers until they are ready to work on their own or in pairs.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Allow the students to work in groups of two to complete the
      <a href="{{ '/media/worksheets/495.pdf' | relative_url }}">Exploration Questions</a>. Monitor the room for questions and be sure that the students are on the correct web site.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  <ul>
    <li>
      You may wish to bring the class back together to discuss which base numbers were easiest to
      work with and why they think that is. Once the students have been allowed to share what they
      discovered, summarize once more the main points of the lesson.
    </li>
  </ul>
</p>
</li>
