<li>
<h3>Focus and Review</h3>
<p>
  Remind students what has been learned in previous lessons that will be pertinent to this lesson
  and/or have them begin to think about the words and ideas of this lesson:
  <br />
  <ul>
    <li>
      <a href="{{ '/lessons/GeometricFractals' | relative_url }}">Geometric Fractals</a>
    </li>
    <li>
      <a href="{{ '/lessons/FractalsAndTheChaos' | relative_url }}">Chaos Game</a>
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
</p>
<p>
  <ul>
    <li>
      Today, class, we will be talking about number patterns and fractals while looking at Pascal's
      triangle.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  You may choose to lead the students in short discussions on
  <a href="{{ '/discussions/WhatAreMultiples' | relative_url }}">Multiples and Integer Multiplication</a>,
  <a href="{{ '/discussions/WhatAreRemainders' | relative_url }}">Remainders and Euclidean Division</a>, and / or
  <a href="{{ '/discussions/PascalTriangle' | relative_url }}">Pascal's Triangle</a>.
</p>
<p>
  Explain to the students how to do the assignment. You should model or demonstrate it for the
  students, especially if they are not familiar with how to use our computer applets.
</p>
<p>
  <ul>
    <li>
      Open your browser to
      <a href="{{ '/activities/ColoringMultiples' | relative_url }}">Coloring Multiples</a> in order to demonstrate this activity to the students.
    </li>
    <li>
      If you choose to, you may pass out the
      <a href="{{ '/media/worksheets/78.pdf' | relative_url }}">exploration questions</a> for the Coloring Multiples activity.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  Try an example coloring using a given number (say 2), letting the students direct your moves. Or,
  you may simply ask, "Can anyone describe the steps you will take for this assignment?"
</p>
<p>
  <ul>
    <li>
      If your class seems to understand the process for doing this assignment, start with another
      number (say 5) and simply ask, "Can anyone tell me what you will do now?"
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Allow the students to work on their own and to complete the worksheet, should you choose to
      provide one. Monitor the room for questions and to be sure that the students are on the
      correct web site.
    </li>
    <li>
      Have the students try the computer version of the
      <a href="{{ '/activities/ColoringRemainder' | relative_url }}">Coloring Remainders</a> activity to investigate the patterns of the remainders in Pascal's triangle. The
      <a href="{{ '/media/worksheets/79.pdf' | relative_url }}">exploration questions</a> could be handed out for students to work on independently.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  You may wish to bring the class back together for a discussion of the findings. Once the students
  have been allowed to share what they found, summarize the results of the lesson.
</p>
</li>
