<li>
<h3>Focus and Review</h3>
<p>
  Remind students what has been learned in previous lessons that will be pertinent to this lesson
  and/or have them begin to think about the words and ideas of this lesson.
</p>
<p>
  <ul>
    <li>
      Ask the students to recall what a
      <a href="{{ '/discussions/WhatAreMultiples' | relative_url }}">multiple</a> is and to think of an example. Have a student share his example with the class
    </li>
    <li>
      Have the students also consider
      <a href="{{ '/discussions/PascalTriangle' | relative_url }}">Pascal's Triangle</a>. If your class has not studied it previously, ask students, "Did you know that multiples make
      a pattern in Pascal's Triangle?"
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
</p>
<p>
  <ul>
    <li>
      Today, class, we will be talking about the patterns that multiples create in Pascal's Triangle
    </li>
    <li>
      We are going to use the computers to learn about these patterns, but please do not turn your
      computers on or go to this page until I ask you to. I want to show you a little about Pascal's
      Triangle and its patterns first.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  In this part of the lesson you will explain to the students how to do the assignment. You should
  model or demonstrate it for the students, especially if they are not familiar with how to use our
  computer applets.
</p>
<p>
  <ul>
    <li>
      You may need to lead a discussion on
      <a href="{{ '/discussions/PascalTriangle' | relative_url }}">Pascal's Triangle</a>
    </li>
    <li>
      Check to be sure that the students understand how to make Pascal's Triangle by having them
      create a portion on paper, or by drawing one on the board or overhead projector as they tell
      you what to write.
    </li>
    <li>
      Open your browser (but don't let the students open theirs yet) to
      <a href="{{ '/activities/ColoringMultiples' | relative_url }}">Coloring Multiples in Pascal's Triangle</a> in order to demonstrate this activity to the students. Ask students if the triangle that they
      created looks like the one displayed on the screen.
    </li>
    <li>
      You must now explain the applet to the students. This can best be done by setting your own
      number: 4 is a good number to choose when explaining this to students
    </li>
    <li>
      Ask students to name multiples of 4 that they see in the triangle. They will probably name
      numbers such as 4, 8, 12, 20, 28, and 36. Click on these numbers to highlight them as the
      students call them out
    </li>
    <li>
      You may have to give hints to help students determine the larger multiples of: 56, 84, 120,
      220, 252, 364, 792, 924, 1716, and 3432. Encourage the students to look for the pattern and
      make an educated guess about the larger multiples of 4.
      <div class="h-center">
        <img src="{{ 'img/lessons/PatternsInPascal-lesson-1.GIF' | relative_url }}" />
      </div>
    </li>
    <li>
      Ask a student to describe the pattern that she sees after all the multiples have been found.
      Ask the students what types of shapes are made by the multiples within the Pascal's Triangle.
    </li>
    <li>
      Pass out the
      <a href="{{ '/media/worksheets/Finding_Patterns_in_Pascal_s_Triangle' | relative_url }}">Worksheet to Accompany "Finding Patterns in Pascal's Triangle."</a> Have the students draw the pattern that the class determined as a group for multiples of 4 in
      Pascal's Triangle.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  Try another example, letting the students direct your moves. Or, you may simply ask, "Can anyone
  describe the steps you will take for this assignment?
</p>
<p>
  <ul>
    <li>
      If your class seems to understand the process for doing this assignment, simply ask, "Can
      anyone tell me what I need to do to complete this worksheet?" or ask, "How do I run this
      applet?"
    </li>
    <li>
      If your class seems to be having a little trouble with this process, do another example
      together, but let the students direct your actions:
      <ul>
        <li>
          This time, choose a number such as 8 to try the example with. Let the students call out
          multiples of 8 that they see in the triangle."
        </li>
        <li>
          The multiples of 8 include: 8, 56, 120, 792, and 3432. You might want to ask students to
          compare this pattern to the one that was formed by the multiples of 4. Be sure to point
          out that all of the multiples of 8 are also multiples of 4 and yet the patterns are very
          different (since the multiples of 4 are not necessarily multiples of 8)
        </li>
      </ul>
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Allow the students to work on their own to complete the rest of the worksheet. Monitor the
      room for questions and to be sure that the students are on the correct web site.
    </li>
    <li>
      Students may need help with finding the multiple of the harder numbers, such as 7. Encourage
      the students to devise their own methods for determining the multiples. Suggest that the
      students attempt to use their knowledge of the patterns they already discovered to aid in
      finding the harder patterns!
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  It is important to verify that all of the students made progress toward understanding the concepts
  presented in this lesson. You may do this in one of several ways:
  <ul>
    <li>
      Take up the individual or group worksheets to evaluate for completion
    </li>
    <li>
      Bring the class together and have different groups or individuals share their result for a
      particular number with the rest of the class. Allow students who did not get to finish that
      number to sketch the result so that they will not lack some of the information needed for full
      understanding
    </li>
    <li>
      Have the students write a short paragraph explaining the type of patterns that they saw
      including the similarities between the different pictures, and the type of shapes that
      recurred in the pictures
    </li>
  </ul>
</p>
</li>
