<li>
<h3>Focus and Review</h3>
<p>
  Remind students what has been learned in previous lessons that will be pertinent to this lesson
  and/or have them begin to think about the words and ideas of this lesson
</p>
<p>
  <ul>
    <li>
      Ask students to recall information about polygons
    </li>
    <li>
      You might ask students to consider how they might trace the perimeter of a polygon that is
      drawn on the board, or you may begin the day by running the perimeter of the school!
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
</p>
<p>
  <ul>
    <li>
      Today, class, we will be talking more about the perimeter of polygons. We will learn exactly
      what this term means, and we will learn how to calculate the perimeter of random shapes on a
      grid.
    </li>
    <li>
      We are going to use the computers to learn about perimeter, but please do not turn your
      computers on or go to this page until I ask you to. I want to show you a little about the
      <a href="{{ '/activities/PerimeterExplorer' | relative_url }}">Perimeter Explorer</a> applet first.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  You may choose to lead the students in a short
  <a href="{{ '/discussions/PerimeterExplorer' | relative_url }}">discussion</a> (see also:
  <a href="{{ '/discussions/PerimeterAlgorithm' | relative_url }}">Perimeter Algorithm Discussion</a>) about how to find the perimeter for random shapes. Explain to the students how to do the
  assignment. You should model or demonstrate it for the students, especially if they are not
  familiar with how to use our computer applets
</p>
<p>
  <ul>
    <li>
      Open your browser to
      <a href="{{ '/activities/PerimeterExplorer' | relative_url }}">Perimeter Explorer</a> in order to demonstrate this activity to the students
    </li>
    <li>
      Perimeter is the total length around the object. So imagine the grid lines are equal to one
      step. And imagine the outside edges of the figure are tight ropes. You want to see how many
      steps it will take you to get all the way around the edge. The number of steps would be the
      perimeter.
    </li>
    <li>
      Once we have calculated the perimeter we will put our answer in the perimeter input box and
      click the check answer button. For now, ignore the area input box.
    </li>
    <li>
      If you choose to, you may pass out the
      <a href="{{ '/media/worksheets/90.pdf' | relative_url }}">Worksheet to Accompany The "Perimeter" Applet</a>
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  Try another example, letting the students direct your moves. Or, you may simply ask, "Can anyone
  describe the steps to use this activity?"
</p>
<p>
  <ul>
    <li>
      If your class seems to understand the process for doing this assignment, simply ask, "Can
      anyone tell me what you will do now?"
    </li>
    <li>
      If your class seems to be having a little trouble with this process, do another example
      together, but let the students direct your actions: Can someone describe how I would find the
      perimeter of this shape?
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Allow the students to work on their own and to complete the
      <a href="{{ '/media/worksheets/90.pdf' | relative_url }}">worksheet</a>, should you choose to provide one. Monitor the room for questions and to be sure that the
      students are on the correct web site.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  <ul>
    <li>
      Bring the class back together for a discussion of the findings. Once the students have been
      allowed to share what they found, summarize the results of the lesson.
    </li>
    <li>
      You may wish to collect data from the students to demonstrate that there are even more than
      five possibilities for each of the areas.
    </li>
  </ul>
</p>
</li>
