<li>
<h3>Focus and Review</h3>
<p>
  Introduce the idea of probability through a discussion that they can relate to. Students may be
  familiar with winning prizes through cereal boxes or soda cans for instance. Students will be able
  to calculate both experimental and theoretical probabilities as well as display probabilities in
  both graphical and fraction form.
</p>
<p />
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what they will be learning and doing today. Say something like this:
</p>
<ul>
  <li>
    Today we are going to explore probability with a number of different activities.
  </li>
  <li>
    We will be moving around the classroom and using the computer today, but for now I would like
    you to remain in your seat with the computer off or closed until I give you further
    instructions.
  </li>
</ul>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  <ul>
    <li>
      Work through an example work station with the students.
    </li>
    <li>
      Fill out the appropriate section on the with the class.
    </li>
    <li>
      Explain the procedures to be followed at each station:
      <p>
        <em>Penny Flip</em>
      </p>
      <ol>
        <li>
          Write whether you think the coin is more likely to land on heads or tails and why.
        </li>
        <li>
          Calculate the theoretical probability.
        </li>
        <li>
          There should be 2 pennies at the station. Each person should flip the penny and record the
          number of times it lands on heads and the number of times it lands on tails.
        </li>
        <li>
          Make a graph representing the results you obtained from the penny flip.
        </li>
        <li>
          Record your data on the
          <a href="{{ '/media/worksheets/214.pdf' | relative_url }}">data collection sheet</a>.
        </li>
      </ol>
      <em>Spinner</em>
      <ol>
        <li>
          1/4 of the spinner should be red, 1/4 should be green, and 1/2 should be blue.
        </li>
        <li>
          Which color do you think you are more likely to stop on and why?
        </li>
        <li>
          Calculate the theoretical probability of landing on each section.
        </li>
        <li>
          Each person should spin the spinner 50 times and record their results
        </li>
        <li>
          Make a graph representing the results you obtained from the spinner.
        </li>
        <li>
          Record your data on the
          <a href="{{ '/media/worksheets/214.pdf' | relative_url }}">data collection sheet</a>.
        </li>
      </ol>
      <em>Marble Bag</em>
      <ol>
        <li>
          Place 10 of the white marbles into the opaque bag along with the 5 red marbles.
        </li>
        <li>
          Calculate the theoretical probability of drawing a red marble
        </li>
        <li>
          Draw 1 marble from the bag, record its color, and replace the marble back in the bag.
        </li>
        <li>
          Repeat step 3 until you have drawn 25 marbles.
        </li>
        <li>
          Create a graph which show the results of your experiment.
        </li>
        <li>
          Add 5 more white marbles to the bag for a total of 15 white marbles and 5 red marbles.
        </li>
        <li>
          Calculate the probability of drawing a red marble
        </li>
        <li>
          Draw 1 marble from the bag, record its color, and replace the marble back in the bag.
        </li>
        <li>
          Repeat step 8 until you have drawn 25 marbles.
        </li>
        <li>
          Create a graph which shows the results of your experiment.
        </li>
        <li>
          Record your data on the
          <a href="{{ '/media/worksheets/214.pdf' | relative_url }}">data collection sheet</a>.
        </li>
      </ol>
      <em>Deck of Cards</em>
      <ol>
        <li>
          Calculate the probability of drawing a spade.
        </li>
        <li>
          Mix the deck of cards.
        </li>
        <li>
          Draw 1 card, record whether or not it is a spade, and replace it into the deck.
        </li>
        <li>
          Mix the deck of cards.
        </li>
        <li>
          Draw another card, record whether or not it is a spade, and replace the card back in the
          deck.
        </li>
        <li>
          Continue this process until you have drawn 20 cards
        </li>
        <li>
          Record your data on
          <a href="{{ '/media/worksheets/214.pdf' | relative_url }}">data collection sheet</a>.
        </li>
      </ol>
      <em>Monty Hall Game</em>
      <ol>
        <li>
          Player 1 mixes the three cards and sets them face down so that Player 2 does not know
          which card is hiding the lucky mole.
        </li>
        <li>
          Player 2 chooses one of the cards.
        </li>
        <li>
          Player 1 then removes one of the losing cards.
        </li>
        <li>
          Player 2 now choses either to stay with the card he/she chose originally or switch to the
          card that is left.
        </li>
        <li>
          Once Player 2 has made his/her decision the group needs to record either a win or a loss
          result under the appropriate column on the data sheet.
        </li>
        <li>
          Player 2 then mixes the cards and sets them face down so that Player 1 does not know which
          card is hiding the lucky mole.
        </li>
        <li>
          Player 1 chooses one of the cards.
        </li>
        <li>
          Player 2 then removes one of the losing cards.
        </li>
        <li>
          Player 1 now choses either to stay with the card he/she chose originally or switch to the
          card that is left.
        </li>
        <li>
          Once Player 1 one has made his/her decision the group needs to record either a win or a
          loss result under the appropriate column on the data sheet.
        </li>
        <li>
          Continue this process until 24 cards have been drawn.
        </li>
        <li>
          Record your data on the
          <a href="{{ '/media/worksheets/214.pdf' | relative_url }}">data collection sheet</a>.
        </li>
      </ol>
      <em>1 Step Race Car Game</em>
      <ol>
        <li>
          Player 1 is assigned the numbers 1, 2, and 3. Player 2 is assigned the numbers 4, 5, and
          6.
        </li>
        <li>
          Player 1 rolls first if he/she rolls a 1, 2, or 3 he/she wins; otherwise, Player 2 rolls.
        </li>
        <li>
          If Player 2 rolls a 4, 5, or 6 he/she wins; otherwise, Player 1 rolls again.
        </li>
        <li>
          Continue this process until either Player 1 or 2 wins.
        </li>
        <li>
          Play this game at least 5 times.
        </li>
        <li>
          Record who wins each game.
        </li>
        <li>
          Calculate both the theoretical and experimental probability of each player winning.
        </li>
        <li>
          Record your data on the data collection sheet.
        </li>
        <li>
          Now try playing this game with player 1 winning on rolls of 1, 2, 3, and 4, and Player 2
          winning on rolls of 5 and 6.
        </li>
        <li>
          Play this game at least 5 times.
        </li>
        <li>
          Record who wins each game.
        </li>
        <li>
          Calculate both the theoretical and experimental probability of each player winning
        </li>
        <li>
          Record your data on the
          <a href="{{ '/media/worksheets/214.pdf' | relative_url }}">data collection sheet</a>.
        </li>
      </ol>
      <em>2 Step Race Car Game</em>
      <ol>
        <li>
          Player 1 is assigned the numbers 1, 2, and 3. Player 2 is assigned the numbers 4, 5, and
          6.
        </li>
        <li>
          Player 1 rolls first if he/she rolls a 1, 2, or 3 he/she wins; if not Player 2 rolls.
        </li>
        <li>
          If Player 2 rolls a 4, 5, or 6 he/she wins if not Player 1 rolls again.
        </li>
        <li>
          Continue this process until either Player 1 or 2 wins.
        </li>
        <li>
          Play this game at least 10 times.
        </li>
        <li>
          Record who wins each game.
        </li>
        <li>
          Calculate both the theoretical and experimental probability of each player winning,
        </li>
        <li>
          Record your data on the data collection sheet.
        </li>
        <li>
          Now try playing this game with Player 1 winning on rolls of 1, 2, 3, and 4, and Player 2
          winning on rolls of 5 and 6.
        </li>
        <li>
          Play this game at least 10 times.
        </li>
        <li>
          Record who wins each game.
        </li>
        <li>
          Calculate both the theoretical and experimental probability of each player winning.
        </li>
        <li>
          Record your data on the
          <a href="{{ '/media/worksheets/214.pdf' | relative_url }}">data collection sheet</a>.
        </li>
      </ol>
      <em>2 Dice Game</em>
      <ol>
        <li>
          Each student should number a piece of paper 2-12 and place 10 chips or paper squares on 10
          numbers. The pieces of paper do not need to be placed on different numbers.
        </li>
        <li>
          Players roll the dice and the highest roll goes first.
        </li>
        <li>
          Player 1: roll the dice, calculate your sum, and record this number on your data sheet. If
          you have a marker on that number, remove it.
        </li>
        <li>
          Player 2: roll the dice, calculate your sum, and record the number on your data sheet. If
          you have a marker on that number remove it.
        </li>
        <li>
          The first player to remove all of his/her markers wins.
        </li>
        <li>
          Answer the questions located at the bottom of the
          <a href="{{ '/media/worksheets/214.pdf' | relative_url }}">data collection sheet</a>
        </li>
        <li>
          If time permits play the game again allowing Player 2 to go first.
        </li>
        <li>
          Record your data on the
          <a href="{{ '/media/worksheets/214.pdf' | relative_url }}">data collection sheet</a>.
        </li>
      </ol>
    </li>
    <li>
      Explain that experimental probability is the actual results gathered by doing the experiment
      several times.
    </li>
    <li>
      Describe to the students how to calculate theoretical probability.
    </li>
    <li>
      Put the students into pairs.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  Have the students work through the stations allowing 5-10 minutes for each station.
</p>
<p />
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Have students rotate between the stations and complete their
      <a href="{{ '/media/worksheets/214.pdf' | relative_url }}">data collection sheet</a>.
    </li>
    <li>
      You may also want to have a computer station set up for the students to work with several
      probability applets that model some of the activities at the various stations.
      <p />
      <em>Some appropriate applets are:</em>
      <ul>
        <li>
          <a href="{{ '/activities/RacingGameWithOneDie' | relative_url }}">Racing game with one die</a>
        </li>
        <li>
          <a href="{{ '/activities/RacingGameWithTwoDie' | relative_url }}">Racing game with two dice</a>
        </li>
        <li>
          <a href="{{ '/activities/AdjustableSpinner' | relative_url }}">Adjustable Spinner Game</a>
        </li>
        <li>
          <a href="{{ '/activities/SimpleMontyHall' | relative_url }}">Monty Hall Game</a>
        </li>
      </ul>
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  <ul>
    <li>
      Have each group share the experimental data they collected from one experiment. Ask them if
      the experimental probability they calculated is the same as the theoretical probability.
    </li>
    <li>
      Reinforce the concepts of theoretical verses experimental probability.
    </li>
    <li>
      Compile the class' data for all the experiments and compare the individual group experimental
      results to the collective class results. The compiled class results should be closer to the
      theoretical probability than most individual group's results.
    </li>
    <li>
      Discuss why this is so.
    </li>
    <li>
      Discuss why computers might be helpful when working with probability experiments.
    </li>
  </ul>
</p>
</li>
