<li>
<h3>Focus and Review</h3>
<p>
  <ul>
    <li>
      Review process of sketching other graphs
      <ul>
        <li>
          Choose x values
        </li>
        <li>
          Evaluate f(x) for those values
        </li>
        <li>
          Plot ordered pairs (x, f(x))
        </li>
      </ul>
    </li>
    <li>
      Lead the class in a brief
      <a href="{{ '/discussions/PolarCoordinates' | relative_url }}">discussion</a> on polar coordinates
    </li>
    <li>
      Review unit circle
      <ul>
        <li>
          Show students a blank unit circle. Point to different places and say something like:
          <ul>
            <li>
              About how many degrees is it to here? Radians to here? Sine of that angle? Cosine of
              that angle?
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what they will be doing and learning today. Say something like this:
  <ul>
    <li>
      Today, we are going to learn about combining trigonometry and polar coordinates and the parent
      graphs created by trigonometric functions in polar coordinates.
    </li>
    <li>
      We are going to use the computers to do this, but please do not turn your computers on until I
      ask you to. I want to show you a little about this activity first.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  Lead a
  <a href="{{ '/discussions/PolarCoordinates2' | relative_url }}">discussion</a> on Plotting Functions in the Polar Coordinate System
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  <ul>
    <li>
      Guide students through the first question on the
      <a href="{{ '/media/worksheets/Polar_Coordinates_Exploration_Questions' | relative_url }}">Polar Coordinates Exploration Questions</a>
    </li>
    <li>
      Tell students to go to the
      <a href="{{ '/activities/PolarCoordinates' | relative_url }}">Polar Coordinates Activity</a>, plot the points they calculated, then enter in the function to see if they were correct.
    </li>
    <li>
      Encourage students to slightly change the previous function and observe their results
    </li>
    <li>
      Have a prepared picture of a Limacon, Cardioid, and petal curve.
      <ul>
        <li>
          Hold up one of your graphs and say something like:
          <ul>
            <li>
              Does anyone's new graph look something like this? What is the function that gave you
              this graph?
            </li>
          </ul>
        </li>
        <li>
          Then introduce the name of that curve and write it on the board with the sample equation
          the student used.
        </li>
        <li>
          If you present one of the graphs and none of the students has a graph like it then give
          students a little more time to try and make a graph that represents the one you are
          showing.
        </li>
      </ul>
    </li>
    <li>
      For one example, have students plot points with theta values greater than 2*pi.
      <ul>
        <li>
          Have them graph these points and note whether or not they are on the same graph.
        </li>
        <li>
          When they notice that these points are already on the graph, make a note about the cyclic
          nature of sine and cosine. Say something like:
          <ul>
            <li>
              Notice that after a certain point, the r values start to repeat. This is due to the
              cyclic nature of sine and cosine.
            </li>
            <li>
              The first point where the r values start to repeat is what we call the period of the
              function.
            </li>
            <li>
              No matter what, after 2*pi, the r values will start to repeat.
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Have students complete the rest of the questions on the Polar Coordinates Exploration
      Questions.
    </li>
    <li>
      Prompt students with various graphs and have them write down a possible function for that
      graph.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  <ul>
    <li>
      Bring students back together for a discussion of their findings. Have a few graphs on hand
      that you can refer to and ask questions about. Say something like this:
      <ul>
        <li>
          Which of the three terms we learned today best describes this graph? (i.e. cardioid,
          limacon, petal curve)
        </li>
        <li>
          What might be a possible equation for this graph?
          <ul>
            <li>
              Why did you choose sine/cosine?
            </li>
            <li>
              Why did you choose those values of a and b?
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</p>
</li>
