<li>
<h3>Focus and Review</h3>
<p>
  Remind students what has been learned in previous lessons that will be pertinent to this lesson
  and/or have them begin to think about the words and ideas of this lesson
</p>
<p>
  <ul>
    <li>
      Review any algorithms they have learned to complete the specific type of arithmetic problems
      you would like them to practice
    </li>
    <li>
      Students should complete the
      <a href="{{ '/media/worksheets/192.pdf' | relative_url }}">practice problems</a> prior to this lesson.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what they will be doing and learning today. Say something like this:
</p>
<p>
  <ul>
    <li>
      Today, class, we are going to use the computers to help practice our arithmetic skills.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  <ul>
    <li>
      Using the
      <a href="{{ '/activities/Graphit' | relative_url }}">Graphit!</a> activity, demonstrate how to use the activity to check their answers to their practice
      problems. Use the following set of problems or your own set:
      <ul>
        <li>
          3+2=5
        </li>
        <li>
          3+5=8
        </li>
        <li>
          3+7=10
        </li>
        <li>
          3+9=12.
        </li>
      </ul>
    </li>
    <li>
      The input from this problem set should be:
      <ul>
        <li>
          2,5
        </li>
        <li>
          5,8
        </li>
        <li>
          7,10
        </li>
        <li>
          9,12
        </li>
      </ul>
    </li>
    <li>
      After these ordered pairs are graphed show the students what an incorrect answer will look
      like. Use your own problem or 3 + 1 = 3 and the data point 1,3. Note that this data point will
      not fall on the line
    </li>
    <li>
      You can then enter in "the rule" 3 + x in the
      <em>y(x)</em>= text box. This line will be the line all graphed points should fall on. If a point does not
      fall on this line then the student has an incorrect answer and should go back and double check
      his/her work
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  <ul>
    <li>
      Using the first set of
      <a href="{{ '/media/worksheets/192.pdf' | relative_url }}">practice problems</a> , call on the students in the class to tell you what should be the input. Call on a different
      student for each data point then graph the result
    </li>
    <li>
      Call on a student to tell you what you should enter as "the rule."
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Students should complete other problem sets (this can be done either in class or prior to this
      lesson)
    </li>
    <li>
      Students should input their data sets and rules. If a point does not lie on the line, they
      should go back and determine which answer in their problem set was incorrect.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  <ul>
    <li>
      You may wish to bring the class back together for a discussion of the findings.
    </li>
  </ul>
</p>
</li>
