<li>
<h3>Focus and Review</h3>
<p>
  Remind students what has been learned in previous lessons that will be pertinent to this lesson
  and/or have them begin to think about the words and ideas of this lesson:
  <ul>
    <li>
      Who has ever watched the game wheel of fortune?
    </li>
    <li>
      Have you ever noticed when they put the $10,000 space on the wheel it is significantly smaller
      than the rest of the spaces?
    </li>
    <li>
      Do you think size of the space affects whether or not you will land on the space?
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
  <ul>
    <li>
      Today, class, we are going to begin learning about probability and its relationship to
      geometry.
    </li>
    <li>
      We are going to use the computers to learn about probability, but please do not turn your
      computers on until I ask you to. I want to show you a little about this activity first.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  <ul>
    <li>
      Lead a
      <a href="{{ '/discussions/ProbabilityandGeometryElem' | relative_url }}">discussion</a> about how probability and geometry are related.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  <ul>
    <li>
      Open the
      <a href="{{ '/activities/BasicSpinner' | relative_url }}">Spinner Game</a> in your browser and explain how to work the applet.
    </li>
    <li>
      Ask students which color you're more likely to spin.
    </li>
    <li>
      Ask students how you could make one color more likely.
    </li>
    <li>
      Open the
      <a href="{{ '/activities/AdjustableSpinner' | relative_url }}">Adjustable Spinner</a> in your browser and explain how to work the applet.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Have students work in pairs to answer the
      <a href="{{ '/media/worksheets/Adjustable_Spinner_Exploration_Questions' | relative_url }}">exploration questions</a>.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  <ul>
    <li>
      Discuss what the students discovered through the exploration questions.
    </li>
    <li>
      Ask students how this applies to dice.
    </li>
  </ul>
</p>
</li>
