<li>
<h3>Focus and Review</h3>
<p>
  Remind students what has been learned in previous lessons that will be pertinent to this lesson
  and/or have them begin to think about the words and ideas of this lesson:
</p>
<p>
  <ul>
    <li>
      Does anyone remember what a fractal is?
    </li>
    <li>
      What are some fractals that we have looked at thus far?
    </li>
    <li>
      Does anyone know what dimensions are?
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
</p>
<p>
  <ul>
    <li>
      Today, class, we are going to learn about dimensions and how to calculate fractal dimensions.
    </li>
    <li>
      We are going to use the computers to learn about fractal dimensions, but please do not turn
      your computers on until I ask you to. I want to show you a little about this activity first.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  <ul>
    <li>
      Lead a class
      <a href="{{ '/discussions/PropertiesOfFractals' | relative_url }}">discussion</a> on what students see as the common features of the fractals they have encountered in the
      <a href="{{ '/lessons/InfinityRecursion' | relative_url }}">Infinity, Self-Similarity and Recursion</a>,
      <a href="{{ '/lessons/GeometricFractals' | relative_url }}">Geometric Fractals</a>, and/or
      <a href="{{ '/lessons/FractalsAndTheChaos' | relative_url }}">Fractals and the Chaos Game</a> lessons.
    </li>
    <li>
      Lead a class
      <a href="{{ '/discussions/DimensionAndScale' | relative_url }}">discussion</a> on dimension and scale.
    </li>
    <li>
      Lead a class
      <a href="{{ '/discussions/ExponentsAndLogarith' | relative_url }}">discussion</a> on exponents and logarithms to prepare students for calculating "fractal dimensions."
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  <ul>
    <li>
      Have the class choose a fractal they have worked with previously. Have the students figure out
      the fractal dimension of it by hand using the log function on a scientific calculator.
    </li>
    <li>
      Guide the students through the first fractal on the computer version of the
      <a href="{{ '/activities/FractalDimensions' | relative_url }}">Fractal Dimension</a> activity explaining how the activity works.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Once the students have begun to grasp how to calculate fractal dimensions have them work
      independently with the remaining fractals.
    </li>
    <li>
      If you choose to pass out the accompanying worksheet you may choose to have the students
      complete it now.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  <ul>
    <li>
      You may wish to bring the class back together for a discussion of the findings. Once the
      students have been allowed to share what they found, summarize the results of the lesson.
    </li>
  </ul>
</p>
</li>
