<li>
<h3>Focus and Review</h3>
<p>
  Remind students what has been learned in previous lessons that will be pertinent to this lesson
  and/or have them begin to think about the words and ideas of this lesson:
</p>
<p>
  <ul>
    <li>
      Ask students to recall information about triangles.
    </li>
    <li>
      You might show students several different right triangles and then write the Pythagorean
      Theorem on the board and label the sides of the triangles according to the theorem.
    </li>
    <li>
      Discuss what it might mean to talk about the area of a triangle.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
</p>
<p>
  <ul>
    <li>
      Today, class, we will be learning about the Pythagorean Theorem. We will learn how the theorem
      works, and we will learn how to calculate the length of a missing side of a right triangle.
    </li>
    <li>
      We are going to use the computers to learn about the Pythagorean Theorem, but please do not
      turn your computers on or go to this page until I ask you to. I want to show you a little
      about the
      <a href="{{ '/activities/SquaringTheTriangle' | relative_url }}">Squaring the Triangle</a> applet first.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  Explain to the students how the
  <a href="{{ '/activities/SquaringTheTriangle' | relative_url }}">Squaring the Triangle</a> applet works. You should model or demonstrate it for the students, especially if they are not
  familiar with how to use our computer applets.
</p>
<p>
  <ul>
    <li>
      Show the students two or three different sized triangles, and show them how the accompanying
      squares help to see how the Pythagorean Theorem works.
    </li>
    <li>
      If you choose to, you may pass out the
      <a href="{{ '/media/worksheets/119.pdf' | relative_url }}">Squaring the Triangle Exploration Questions</a> and answer the questions with students.
    </li>
    <li>
      Next, open your browser to the
      <a href="{{ '/activities/PythagoreanExplorer' | relative_url }}">Pythagorean Explorer</a> in order to demonstrate this activity to the students.
    </li>
    <li>
      Go through one or two examples of finding the area of a missing side of a right triangle by
      using the Pythagorean Theorem.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  Give students either a time limit or specific number of triangles to solve using the
  <a href="{{ '/activities/PythagoreanExplorer' | relative_url }}">Pythagorean Explorer</a>.
</p>
<p>
  <ul>
    <li>
      If your class seems to understand the process for doing this assignment, simply ask, "Can
      anyone tell me what you will do now?"
    </li>
    <li>
      If your class seems to be having a little trouble with this process, do another example
      together, but let the students direct your actions:
      <ul>
        <li>
          Can someone describe how I would find the length of the missing side of this triangle?
        </li>
        <li>
          If you choose to, you may pass out the
          <a href="{{ '/media/worksheets/99.pdf' | relative_url }}">Pythagorean Theorem Exploration Questions</a> and have students work through the questions.
        </li>
      </ul>
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Allow the students to work on their own and to complete the worksheets, should you choose to
      provide them. Monitor the room for questions and to be sure that the students are on the
      correct web site.
    </li>
    <li>
      Another option for independent practice is to have the students work in pairs (carefully
      chosen so that both students are of the same ability group). Have them race to find the
      correct areas and side lengths using the
      <a href="{{ '/activities/PythagoreanExplorer' | relative_url }}">Pythagorean Explorer</a> applet. Who ever wins gets a point. At the end of the allotted time for the game give the
      winning member of each pair a reward of some type.
    </li>
    <li>
      For a final exercise, show students how to apply the Pythagorean Theorem in other situations
      using the
      <a href="{{ '/activities/TriangleExplorer' | relative_url }}">Triangle Explorer</a>.
    </li>
    <li>
      Show several triangles using the medium and hard levels of the Triangle Explorer, and ask
      students if they can find the area. If needed, give them the hint that they can divide the
      triangle into smaller triangles with right areas.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  <ul>
    <li>
      You may wish to bring the class back together for a discussion of the findings. Once the
      students have been allowed to share what they found, summarize the results of the lesson.
    </li>
  </ul>
</p>
</li>
