<li>
<h3>Focus and Review</h3>
<p>
  Remind students what has been learned in previous lessons that will be pertinent to this lesson
  and/or have them begin to think about the words and ideas of this lesson:
</p>
<p>
  <ul>
    <li>
      Can anyone give me an example of a function? Can anyone give me an example of an everyday
      situation that a function can be applied to?
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
</p>
<p>
  <ul>
    <li>
      Today, class, we are going to learn more about functions.
    </li>
    <li>
      We are going to use the computers to learn more about functions, but please do not turn your
      computers on until I ask you to. I want to show you a little about this activity first.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  <ul>
    <li>
      Lead a
      <a href="{{ '/discussions/GatheringInformation' | relative_url }}">discussion</a> on gathering information from graphs.
    </li>
    <li>
      Lead a
      <a href="{{ '/discussions/GraphingTime' | relative_url }}">discussion</a> on making new graphs from old ones: graphs involving distance, velocity, and acceleration.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  <ul>
    <li>
      Have the students try to build graphs from several
      <a href="{{ '/media/worksheets/134.pdf' | relative_url }}">situations</a> using
      <a href="{{ '/media/worksheets/175.pdf' | relative_url }}">graph paper</a>. Teams work best for the story-telling activities.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Have the students try to build formulas from several
      <a href="{{ '/media/worksheets/134.pdf' | relative_url }}">situations</a>, and then graph them using
      <a href="{{ '/activities/GraphSketcher' | relative_url }}">Graph Sketcher</a>. Teams work best for the story-telling activities.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  <ul>
    <li>
      You may wish to bring the class back together for a discussion of the findings. Once the
      students have been allowed to share what they found, summarize the results of the lesson.
    </li>
  </ul>
</p>
</li>
