<li>
<h3>Focus and Review</h3>
<p>
  Introduce students to the concept of sets. Consider leading students in discussions on the topic:
  <ul>
    <li>
      <a href="{{ '/discussions/Sets' | relative_url }}">The sets discussion</a> introduces the idea of sets and containment in sets.
    </li>
  </ul>
</p>
<p>
  If students are already familiar with the concept, consider asking guiding questions to activate
  prior knowledge:
  <ul>
    <li>
      What is an example of a set?
      <em>[Answers will vary]</em>
    </li>
    <li>
      Let's use whole numbers as an example. What do we call the number 5?
      <em>[an element of the set of whole numbers]</em>
    </li>
    <li>
      Let's think of another set that will have some (but not all) elements in common with whole
      numbers. What do we call the elements they have in common?
      <em>[intersection]</em>
    </li>
  </ul>
</p>
<p>
  If students are unable to answer any of the questions, tell them that they will learn more about
  that in this lesson. Be sure to ask those questions again in the closure.
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
</p>
<p>
  <ul>
    <li>
      Today, class, we will be talking more about sets and what it means to be an element in a set.
    </li>
    <li>
      We are going to use the computers to learn about sets and Venn diagrams, but please do not
      turn your computers on or go to this page until I ask you to. I want to show you a little
      about sets and Venn diagrams first.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  You should first lead the students in a short
  <a href="{{ '/discussions/VennDiagrams' | relative_url }}">discussion</a> about Venn Diagrams.
</p>
<p>
  Ask students how sets and Venn Diagrams are interrelated.
  <ul>
    <li>
      Show the students the
      <a href="{{ '/activities/ShapeSorter' | relative_url }}">Venn Diagram Shape Sorter applet</a>.
    </li>
    <li>
      Ask students if these Venn Diagrams are dealing with sets as well.
    </li>
    <li>
      Explain to the class (or have students explain to each other) that all Venn Diagrams display
      different sets, even if the sets do not contain numbers.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  <ul>
    <li>
      Open your browser to
      <a href="{{ '/activities/VennDiagrams' | relative_url }}">Venn Diagrams</a> in order to demonstrate this activity to the students.
    </li>
    <li>
      Begin to explain the applet to the students by showing them the first example on the page. Ask
      the class if they know what the answer is.
    </li>
    <li>
      When a student has responded correctly, show the class that by clicking in the appropriate
      section of the diagram, the circles representing the sets will change color.
    </li>
    <li>
      Show the students the location of the "Check Answer" button and check the students' answer
      together.
    </li>
  </ul>
</p>
<p>
  Try another example, letting the students direct your moves. Or, you may simply ask, "Can anyone
  describe the steps you will take for this assignment?"
</p>
<p>
  <ul>
    <li>
      If your class seems to understand the process for doing this assignment, simply ask, "Can
      anyone tell me what you will do now?"
    </li>
    <li>
      If your class seems to be having a little trouble with this process, do another example
      together, but let the students direct your actions:
      <ul>
        <li>
          On the second example (which appears when the first answer is checked), ask the students
          which section of the Venn diagram the element belongs in.
        </li>
        <li>
          Check the answer with the class and, in the event it is incorrect, have the students
          suggest reasons for why the answer might be different from the one guessed.
        </li>
      </ul>
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Allow the students to work on their own. Monitor the room for questions to be sure that the
      students are on the correct web site.
    </li>
    <li>
      Since many of the questions are not strictly math-related, explain to the students that they
      may not know the answers to some of the questions. If this should happen, they should do their
      best and move on.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  Lead the class in a discussion using the following guiding questions. If students do not give the
  correct answer the first time, guide the discussion so that they can discover what the correct
  answer is.
  <ul>
    <li>
      Which questions were more difficult?
      <em>[The ones with words they didn't understand.]</em>
    </li>
    <li>
      Why do you suppose that is?
      <em>[Answers will vary]</em>
    </li>
    <li>
      What information do you need to be able to answer these questions?
      <em>[You need to understand how each set is defined in order to know which elements go where in a
      venn diagram.]</em>
    </li>
  </ul>
</p>
</li>
