<li>
<h3>Focus and Review</h3>
<p>
  Remind students what has been learned in previous lessons that will be pertinent to this lesson
  and/or have them begin to think about the words and ideas of this lesson:
</p>
<p>
  <ul>
    <li>
      Does anyone know what an
      <em>additive inverse</em> is?
      <ul>
        <li>
          What is the root word in "additive"?
        </li>
        <li>
          So if we are adding something, what might it mean to take the "inverse"?
        </li>
        <li>
          Based on that, what do you think an
          <em>additive inverse</em> is?
        </li>
      </ul>
    </li>
    <li>
      Does anyone know what a
      <em>multiplicative inverse</em> is?
      <ul>
        <li>
          What is the root word in "multiplicative"?
        </li>
        <li>
          Since we already know what an inverse is, can anyone guess at what a
          <em>multiplicative inverse</em> might be?
        </li>
      </ul>
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
  <ul>
    <li>
      Today, we are going to find different ways to solve equations with a single variable. We will
      be working on computers for part of this lesson, but please do not turn on your computers
      until I tell you to do so.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  Start with a complicated logic problem for students to solve step by step:
  <ul>
    <li>
      How much money does Bernard have if he has $5 more than Andrew, and Andrew has $10?
    </li>
    <li>
      How much money does Cole have if he has twice as much as Bernard?
    </li>
    <li>
      How much money do Dave, Ellen, and Fitzgerald have if you know the following things:
      <ul>
        <li>
          Dave has $2 more than twice as much as Ellen
        </li>
        <li>
          Ellen has $8 less than half as much as Fitzgerald
        </li>
        <li>
          Fitzgerald has $20 less than Cole
        </li>
      </ul>
    </li>
  </ul>
</p>
<p>
  Show that this problem can be represented by the set of equations below which can then be solved
  for each of the variables through substitution.
  <ul>
    <li>
      A = 10
    </li>
    <li>
      B = A + 5
    </li>
    <li>
      C = 2B
    </li>
    <li>
      D = 2E + 2
    </li>
    <li>
      E = 1/2F - 8
    </li>
    <li>
      F = C - 20
    </li>
  </ul> Ask students how they would solve this system of equations based on the logic problem they just
    solved.
</p>
<p>
  Based on their experiences solving the preceding logic problem, ask students the following
  questions:
  <ul>
    <li>
      What does it mean to solve an equation?
    </li>
    <li>
      How should a simplified equation look? Where are the variables and where are the constants?
    </li>
    <li>
      How can we move variables or constants from one side of the equation to the other?
    </li>
    <li>
      What can we do if we have something like "2x" or "10x" and we just want "x"?
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  Navigate to
  <a href="{{ '/activities/EquationSolver' | relative_url }}">Equation Solver</a> and choose an equation to solve. For best results, choose a relatively difficult equation to
  ensure that there are numerous ways to solve it.
</p>
<p>
  <ul>
    <li>
      Ask students to guide you, step by step, to solve the equation.
      <ul>
        <li>
          Make sure students understand how to designate their steps as additive inverse or
          multiplicative inverse.
        </li>
        <li>
          Point out the fact that Equation Solver always does the same thing to both sides of the
          equation - this is important for students to remember when solving equations without
          computerized help.
        </li>
      </ul>
    </li>
    <li>
      After solving the equation, ask students for other methods by which the equation can be
      solved.
    </li>
    <li>
      Divide the students into groups and ask them to each develop as many different algorithms as
      possible to solve equations.
    </li>
    <li>
      Have students briefly describe their algorithms to come up with a class-wide list of at least
      five different equation-solving methods.
      <ul>
        <li>
          Note: Even if students suggest algorithms that fail to work sometimes, they can still try
          them out to see why and how their algorithms don't work.
        </li>
      </ul>
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  Have each group of students solve 5-10 Level 1, 2, and 3 equations on Equation Solver using the
  various algorithms developed as a class.
  <ul>
    <li>
      As they do so, have students complete the
      <a href="{{ '/media/worksheets/Solving_Equations_Worksheet' | relative_url }}">Worksheet</a>, writing down the number of steps it takes them to solve each equation as compared with the
      recommended minimum number of steps.
    </li>
    <li>
      Depending on the size and number of groups, either have each group solve some equations with
      every algorithm, or have each group solve equations using just one algorithm, and then compare
      between the groups.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  Have students compare the number of steps it took them to solve their equations and discuss which
  algorithms were easiest, fastest, or most effective. Ask the following questions:
  <ul>
    <li>
      Which algorithm solved the equations in the fewest steps for Level 1 problems? Level 2? Level
      3? Overall?
    </li>
    <li>
      Did all algorithms help you to arrive at the correct solution, or did some fail to solve the
      equation?
    </li>
    <li>
      Were any of the algorithms particularly easy to use and remember?
    </li>
  </ul>
</p>
<p>
  Discuss important considerations when solving equations:
  <ul>
    <li>
      Common misconceptions about whether it matters if you put variables on the left v. right side
      of equation
    </li>
    <li>
      Multiplying or adding first
    </li>
    <li>
      How to multiply a fraction through the use of reciprocals
    </li>
  </ul>
</p>
</li>
