<li>
<h3>Focus and Review</h3>
<p>
  <ul>
    <li>
      Have a clock drawn on the board with hands aligned as if it were 12:00.
    </li>
    <li>
      Ask the students according to the clock on the board what time it would be in:
      <ul>
        <li>
          3 hours
        </li>
        <li>
          8 hours
        </li>
        <li>
          13 hours
        </li>
        <li>
          28 hours
        </li>
        <li>
          334 hours
        </li>
      </ul>
    </li>
    <li>
      Ask students to think about the answers for a moment. See if they can recognize a pattern that
      might make it easier to calculate an answer for the "What time will it be in 334 hours
      question?"
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  <ul>
    <li>
      Students will demonstrate their ability to use modular math by deciphering several encrypted
      codes.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  <ul>
    <li>
      Explain to the students that an easy way to calculate what time it will be in x number of
      hours is to divide x by the number of hours on the face of the clock (the mod), take the
      remainder, and count that far on the clock.
    </li>
    <li>
      Introduce this method in writing. For example: 334 mod 12.
    </li>
    <li>
      As a class, calculate:
      <ul>
        <li>
          36 mod 6
        </li>
        <li>
          53 mod 8
        </li>
        <li>
          420 mod 22
        </li>
      </ul> Show how they can check their answers using the
      <a href="{{ '/activities/ClockArithmetic' | relative_url }}">Clock Arithmetic Applet</a>
    </li>
    <li>
      Explain the term multiplier.
    </li>
    <li>
      Explain how to decode a message if they are given the multiplier.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  <ul>
    <li>
      Have the students convert the alphabet into numbers setting A=0, B=1, C=2, etc.
    </li>
    <li>
      Tell the students to write a short sentence about themselves that they won't mind someone else
      reading.
    </li>
    <li>
      Have the students convert the letters in their sentence to numbers using the alphabet numbers
      they just calculated.
    </li>
    <li>
      Explain the term shift.
    </li>
    <li>
      Have the students shift their numbers by 5 and convert their list back into letters.
    </li>
    <li>
      Explain that their sentences should now look like a bunch of letters.
    </li>
    <li>
      Have the students swap messages and try to decode them using their current knowledge.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Have the students pair up and open the
      <a href="{{ '/activities/CaesarCipher' | relative_url }}">Caesar's Cipher</a> applet.
    </li>
    <li>
      Have each student use the computer to encrypt a message by changing the constant value.
    </li>
    <li>
      Tell the students to swap messages with someone else in the class.
    </li>
    <li>
      Instruct the students to decode the message they received from their classmate.
    </li>
    <li>
      Now, have the students encrypt a message using a multiplier.
    </li>
    <li>
      Have the students swap messages and decode the message they receive.
    </li>
    <li>
      Explain that the messages you are about to pass out have been intercepted from a company that
      has discovered the fountain of youth and that the encrypted messages will lead them to the
      fountain.
    </li>
    <li>
      Hand out several messages for the students to decipher.
    </li>
    <li>
      Have the pairs of students work to decipher the codes.
    </li>
    <li>
      In order to ensure that each partner is doing an equivalent amount of work require that each
      student must be responsible for deciphering at least 3 messages.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  <ul>
    <li>
      Once the first group has finished give the class 10 more minutes to work on completing
      deciphering their messages
    </li>
    <li>
      Review vocabulary
    </li>
    <li>
      Ask several groups to share their ciphers and solutions with the class
    </li>
  </ul>
</p>
</li>
