<li>
<h3>Focus and Review</h3>
<p>
  Remind students what has been learned in previous lessons that will be pertinent to this lesson
  and/or have them begin to think about the words and ideas of this lesson:
</p>
<p>
  <ul>
    <li>
      Internet search activity --teach students to find information on the Internet efficiently
      and/or have them begin to think about the words and ideas of this lesson.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what they will be doing and learning today. Say something like this:
</p>
<p>
  <ul>
    <li>
      Today, class, we will be looking at various consumer related statistics we can find on the
      web. We will use the statistical information we find and analyze it to see if the information
      would be useful in the consumer decision making process.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  <ul>
    <li>
      Narrow the search using
      <a href="{{ '/media/worksheets/185.pdf' | relative_url }}">Consumer information links</a> to find pertinent examples of how statistics are used in shopping and advertising.
    </li>
    <li>
      Teachers may find it helpful to select some products or web sites ahead of time, and have the
      students stay focused on those sites. Time spent searching for information will go by very
      quickly, so it may help to have students perform a short search, but have some information
      ready to use for illustration when it it time to bring the class back together to discuss the
      findings.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  <ul>
    <li>
      Search on the Internet for anything that connects shopping, consumer issues and statistics.
      Each student or group of students can find and then share a piece of information about typical
      buying habits of certain groups of people, annual sales of particular companies, year to year
      changes in advertisement spendings, and so on.
    </li>
    <li>
      Students may find it interesting to look for various ways of presenting the data (just stating
      the facts, or using graphics, histograms, pictures, etc.).
    </li>
    <li>
      By working through the
      <a href="{{ '/media/worksheets/180.pdf' | relative_url }}">Sample Problems on Data Abuse</a> , a discussion can follow about possibly misleading ways of presenting information.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      As a concluding activity, ask students to search for answers to specific questions. Each
      student or group of students can come up with specific questions concerning consumer data, and
      try to find answers using Internet resources.
    </li>
    <li>
      Then use the questions in an Information Challenge: "Do you believe it?" Students or groups of
      students can find a piece of statistical information on consumer issues, and then challenge
      another group to confirm or refute their data. Students do not necessarily give the correct
      information, making the activity more interesting. For example, having found that video games
      comprise about 25% of the toy market, a student can ask: "Is it true that video games make up
      more than half of the toy market?" Students can give hints, for example, the address of the
      website where they found the information.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  <ul>
    <li>
      You may wish to bring the class back together to discuss different information the groups may
      have found, especially any information that statistically may be misleading.
    </li>
    <li>
      Once the students have been allowed to share what they found, summarize once more the main
      points of the lesson in relation to the information the students found.
    </li>
  </ul>
</p>
</li>
