<li>
<h3>Focus and Review</h3>
<p>
  Remind students of what they learned in previous lessons that will be pertinent to this lesson
  and/or have them begin to think about the words and ideas of this lesson:
</p>
<p>
  <ul>
    <li>
      Ask students if they recall how to find the area of a two-dimensional shape, such as a square.
    </li>
    <li>
      Entertain a
      <a href="{{ '/discussions/SurfaceAreaAndVolume' | relative_url }}">discussion</a> on surface area and volume of three-dimensional figures.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what they will be doing and learning today. Say something like this:
</p>
<p>
  <ul>
    <li>
      Today, class, we will be talking about the surface area and volume of three dimensional
      figures.
    </li>
    <li>
      We are going to use the computers to learn about surface area and volume, but please do not
      turn your computers on or go to this page until I ask you to. I want to show you a little
      about the program first.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  <ul>
    <li>
      Open your browser to
      <a href="{{ '/activities/SurfaceAreaAndVolume' | relative_url }}">Surface Area and Volume</a> in order to demonstrate this activity to the students.
    </li>
    <li>
      Show the students how to choose between a triangluar prism and a rectangular prism. You may
      need to briefly discuss what these figures are.
    </li>
    <li>
      Show students how to use the scroll bars to adjust the length, width, and height of the
      prisms.
    </li>
    <li>
      Show students how to adjust the view of the figure using the three buttons at the top of the
      applet. Talk about what each view is showing. Be sure to show the students that clicking on
      the figure and rotating it will allow them to view it from any angle they choose.
    </li>
    <li>
      Point out to students the place where the surface area and volume of the figures is displayed.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  <ul>
    <li>
      Once you have verified that there are no questions regarding the use of the applet, pass out
      the
      <a href="{{ '/media/worksheets/270.pdf' | relative_url }}">Worksheet To Accompany "Surface Area and Volume"</a>
    </li>
    <li>
      Walk the students together through question 1 on the worksheet -- make sure they understand
      the slider bars for controlling size.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Allow the students to work independently or in small groups on the rest of the worksheet as
      you monitor the room for progress.
    </li>
    <li>
      Have the students repeat the worksheet for the triangular prism, commenting on how finding
      each answer on the sheet changes from the rectangle to the triangles.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  <ul>
    <li>
      You may wish to bring the class back together for a discussion of the findings. Once the
      students have been allowed to share what they found, summarize the results of the lesson. It
      is important that every student know the correct answers to the worksheet in order to fully
      understand surface area and volume.
    </li>
  </ul>
</p>
</li>
