<li>
<h3>Focus and Review</h3>
<p>
  Remind students what has been covered in previous lessons and have students review the following:
</p>
<ul>
  <li>
    Area of shapes (squares and rectangles)
  </li>
  <li>
    Basic concept of surface area
  </li>
  <li>
    Basic properties of three-dimensional figures
  </li>
</ul>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let students know what they will be doing and learning today. Say something like this:
</p>
<ul>
  <li>
    Today we are going to be discussing surface area and finding the surface area of rectangular
    prisms.
  </li>
  <li>
    We are going to continue to use the
    <a href="{{ '/activities/SurfaceAreaAndVolume' | relative_url }}">Surface Area and Volume</a> applet that we have used previously to find the volume of prisms. Please don't open your
    computers until I instruct you to do so.
  </li>
</ul>
</li>
<li>
<h3>Teacher Input</h3>
<ul>
  <li>
    Lead students in a
    <a href="{{ '/discussions/SurfaceAreaRectangular' | relative_url }}">discussion</a> about surface area.
  </li>
  <li>
    Be prepared to show students physical models of prisms and explain the pairs of sides.
  </li>
</ul>
</li>
<li>
<h3>Guided Practice</h3>
<ul>
  <li>
    Introduce
    <a href="{{ '/activities/SurfaceAreaAndVolume' | relative_url }}">Surface Area and Volume </a> applet to students who are unfamiliar.
  </li>
  <li>
    Make sure that students are using
    <em>Rectangular Prism</em> under the drop-down menu.
  </li>
  <li>
    Note: If students will be using the
    <strong>Compute</strong> mode for finding only the surface area of the rectangular prism, be sure to show students the
    error message that will appear.
  </li>
</ul>
</li>
<li>
<h3>Independent Practice</h3>
<ul>
  <li>
    Have students open
    <a href="{{ '/activities/SurfaceAreaAndVolume' | relative_url }}">Surface Area and Volume</a> applet to
    <strong>Compute</strong> mode and choose
    <strong>Rectangular Prism</strong> from the drop-down menu.
  </li>
  <li>
    Have students work in pairs to complete the
    <a href="{{ '/media/worksheets/SARecPrismRecordSheet' | relative_url }}">Surface Area of a Rectangular Prism Record Sheet</a>.
  </li>
  <li>
    Teacher should monitor the room for questions and make sure that students are on the correct
    website.
  </li>
</ul>
</li>
<li>
<h3>Closure</h3>
<ul>
  <li>
    You may wish to bring the class back together to discuss any problems that were especially hard
    for students to solve. Once the students have been allowed to share what they found, summarize
    once more the main points of the lesson.
  </li>
  <li>
    You may wish to have students discuss the second question on the Record Sheet that asks students
    to look for a relationship between the volume and surface area of a rectangular prism.
  </li>
</ul>
</li>
