<li>
<h3>Focus and Review</h3>
<p>
  Remind students of what has been covered in previous lessons and have students review the
  following:
</p>
<ul>
  <li>
    Basic concept of surface area as covered in previous lesson
  </li>
  <li>
    Process for finding surface area of a rectangular prism
  </li>
  <li>
    Area of shapes (squares, rectangles, triangles, and circles)
  </li>
</ul>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let students know what they will be doing and learning during class. Say something like this:
</p>
<ul>
  <li>
    Today we are going to be extending yesterday's lesson on surface area to all types of prisms.
  </li>
  <li>
    We will be using the
    <a href="{{ '/activities/SurfaceAreaAndVolume' | relative_url }}">Surface Area and Volume</a> applet again today, but please do not open your computers until I instruct you to do so.
  </li>
</ul>
</li>
<li>
<h3>Teacher Input</h3>
<ul>
  <li>
    Lead students in a
    <a href="{{ '/discussions/SurfaceAreaTriangular' | relative_url }}">discussion</a> about generalizing the formula for surface area of all types of prisms.
  </li>
</ul>
</li>
<li>
<h3>Guided Practice</h3>
<ul>
  <li>
    Introduce
    <a href="{{ '/activities/SurfaceAreaAndVolume' | relative_url }}">Surface Area and Volume</a> applet to any students who are unfamiliar with the applet.
  </li>
  <li>
    Make sure that students are using
    <em>Triangular Prism</em> from the drop-down menu.
  </li>
  <li>
    Engage students in a discussion about
    <a href="{{ '/discussions/SlantHeight' | relative_url }}">slant height</a> and have students practice finding the slant height of the triangle.
  </li>
  <li>
    Note: If students will be using the Compute mode for finding only the surface area of the
    triangular prisms and not the volume, show the students the pop-up box that will appear
    indicating that the Volume input is incorrect.
  </li>
</ul>
</li>
<li>
<h3>Independent Practice</h3>
<ul>
  <li>
    Have students open the
    <a href="{{ '/activities/SurfaceAreaAndVolume' | relative_url }}">Surface Area and Volume</a> applet to
    <strong>Compute</strong> mode and choose
    <strong>Triangular Prism</strong> from the drop-down menu.
  </li>
  <li>
    Students should work in pairs to find the volume and surface area of triangular prisms using the
    applets.
  </li>
  <li>
    At the end of the lesson, students should open the applet scoreboard and copy the percantage of
    problems answered correctly of each type (volume, surface area, slant height). Students can
    indicate to the instructor the type of problem on which they received the lowest percentage and
    this information can be used for remediation and review.
  </li>
  <li>
    Teacher should monitor the classroom for questions and make sure that students are on the
    correct website.
  </li>
</ul>
</li>
<li>
<h3>Closure</h3>
<ul>
  <li>
    You may wish to bring the students back together to discuss any problems that were especially
    hard for students to solve. Once the students have been allowed to share what they found,
    summarize the previous lessons about surface area and volume for prisms.
  </li>
</ul>
</li>
