<li>
<h3>Focus and Review</h3>
<p>
  Have students review key terms and concepts related to this lesson including:
  <ul>
    <li>
      Area of a rectangle
    </li>
    <li>
      Various representations of data
    </li>
    <li>
      Mean, median, mode, and range
    </li>
    <li>
      Percentages
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let students know what they will be learning and doing today. Say something like this:
  <ul>
    <li>
      Today we are going to be looking at one specific way that mathematicians and statisticians
      look at data: the bell curve. We will be examining what this representation is and the
      controversy behind it.
    </li>
    <li>
      We will be using the computer and Internet later, but for now I want you to keep the computer
      closed.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  Lead a
  <a href="{{ '/discussions/TheNormalDistributio' | relative_url }}">discussion</a> on the "Bell Curve" controversy.
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  Introduce the concept of standard deviation or spread with the
  <a href="{{ '/activities/NormalDistribution' | relative_url }}">normal distribution activity</a>. Also explore the differences between individual data points, samples of various sizes, and
  expected theoretical distributions.
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  Revisit "Bell Curve" with a
  <a href="{{ '/discussions/TheBellCurve' | relative_url }}">discussion</a>.
</p>
<p>
  Revisit the ideas of mean, median, mode, and standard deviation graphically with the
  <a href="{{ '/activities/SkewDistribution' | relative_url }}">Skewness</a> activity.
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  <a href="{{ '/discussions/ContinuousDist' | relative_url }}">Interconnect</a> ideas of theoretical and experimental probability with discrete-valued histograms and continuous
  distributions.
</p>
</li>
