<li>
<h3>Focus and Review</h3>
<p>
  Remind students what has been learned in previous lessons that will be pertinent to this lesson
  and/or have them begin to think about the words and ideas of this lesson:
</p>
<p>
  <ul>
    <li>
      Does anyone remember what a fractal is?
    </li>
    <li>
      What are some fractals that we have looked at thus far?
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
</p>
<p>
  <ul>
    <li>
      Today, class, we are going to learn to calculate complex number functions and see how these
      fumctions lead to the creation of fractals such as the Julia set and the Mandelbrot set.
    </li>
    <li>
      We are going to use the computers to learn about complex number functions, but please do not
      turn your computers on until I ask you to. I want to show you a little about this activity
      first.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  <ul>
    <li>
      Lead a class
      <a href="{{ '/discussions/TwoVariableFunctions' | relative_url }}">discussion</a> on two variable functions (which can also be introduced as complex number functions).
    </li>
    <li>
      Lead a class
      <a href="{{ '/discussions/PrisonersAndEscapees' | relative_url }}">discussion</a> on function iteration and julia sets.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  <ul>
    <li>
      Have the students try the computer version of the
      <a href="{{ '/activities/TwoVariableFunction' | relative_url }}">Function Iterator</a> activity to investigate two-variable function iterations and prisoners and escapees.
    </li>
    <li>
      Have the students try the computer version of the
      <a href="{{ '/activities/JuliaSets' | relative_url }}">Julia Set</a> activity to investigate what sorts of interesting fractal patterns are possible from the
      boundaries of prisoner sets.
    </li>
    <li>
      Lead a class
      <a href="{{ '/discussions/TheMandelbrotSet' | relative_url }}">discussion</a> on how the Mandelbrot set is built from Julia set behavior.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Create a set of patterns for the students to find within the Mandelbrot set.
    </li>
    <li>
      Have the students try the computer version of the
      <a href="{{ '/activities/TheMandelbrotSet' | relative_url }}">Mandelbrot Set</a> activity to investigate what sorts of interesting fractal patterns are possible by zooming in
      on parts of the set.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  <ul>
    <li>
      You may wish to bring the class back together for a discussion of the findings. Once the
      students have been allowed to share what they found, summarize the results of the lesson.
    </li>
  </ul>
</p>
</li>
