<li>
<h3>Focus and Review</h3>
<p>
  Review basic shapes and remind students of the definition of congruency:
  <ul>
    <li>
      What does "rotate" mean? What would it look like if you "rotated" this square/triangle?
      <br />
      <br />
      <em>Students should think of words like "turn", "swivel", "spin", etc.</em>
    </li>
    <li>
      What does "reflect" mean? Can you imagine what it would look like if you "reflected" this
      shape in a mirror?
    </li>
    <li>
      What does "translate" mean? Help students understand that translating a word is basically just
      moving it from one language to another. Then ask students to consider how they might move or
      "translate" an object?
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
  <ul>
    <li>
      Today we are going to learn how to transform shapes by translating, reflecting, or rotating
      them.
    </li>
    <li>
      We are going to use computers to learn more about transformations, but please do not turn your
      computers on until I ask you to do so. I want to show you a little about this activity first.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  Show students
  <a href="{{ '/activities/3DTransmographer' | relative_url }}">3D Transmographer</a>. Create an irregular shape, such as a trapezoid, to make your transformations easy to see.
  <ul>
    <li>
      Tell students that you are going rotate your shape by a quarter-circle. Ask students what they
      expect to happen. If you have access to a smart board/white board and projector, project the
      shape onto the board and then have students draw what they think will happen when the shape is
      rotated. Ask the following questions:
      <ul>
        <li>
          What do you think will happen to the shape when it is rotated by a quarter-circle?
        </li>
        <li>
          Does anyone think something else will happen to the shape when it is rotated?
        </li>
        <li>
          How did you predict where the shape would rotate? Did you use a specific method or thought
          process?
        </li>
      </ul>
    </li>
    <li>
      Repeat the above activity, but with a translation of the shape instead.
    </li>
    <li>
      Students are likely to find reflections to be the hardest to visualize, so demonstrate
      reflections by starting a 3D revolution at the slowest setting, and then pausing just as the
      shape is on the opposite side of the diagram (ten "steps"). By manipulating the graph view,
      show students that the shape remained the same even as it was reflected.
    </li>
    <li>
      Using cut-outs of triangles, squares, and other basic shapes, physically demonstrate that
      shapes remain the same even as they are translated, rotated, or reflected. If possible, make
      your cut-outs the same size as the projection, so that you can show how the "before" and
      "after" images of the shape are actually the same.
    </li>
    <li>
      Discuss with students why shapes remain the same even as they are transformed. Introduce the
      idea that a shape is
      <strong>congruent</strong> to its reflection, rotation, or translation. Ask the following questions:
      <ul>
        <li>
          If I walk across the room, am I the same person even though I'm in a different place?
        </li>
        <li>
          What if I turn around? Am I still the same person then?
        </li>
        <li>
          When you look in the mirror, how do you know that the person you are seeing is yourself?
        </li>
        <li>
          Are there any things, like hair color, that you can look at to make sure that you're the
          same even as you move or turn around?
        </li>
        <li>
          Considering that, can you look at certain properties of shapes to determine if they are
          congruent?
        </li>
      </ul>
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  As a class, come up with algorithms for one or two of the following situations. With each
  situation is listed a sample algorithm, if students have trouble getting started.
</p>
<p>
  <ul>
    <li>
      Reflection across the
      <em>x</em>-axis.
      <ul>
        <li>
          To reflect across the
          <em>x</em>-axis, fold the paper along the
          <em>x</em>-axis and then trace the figure.
        </li>
      </ul>
    </li>
    <li>
      Reflection across the
      <em>y</em>-axis.
      <ul>
        <li>
          To reflect across the
          <em>y</em>-axis, fold the paper along the
          <em>y</em>-axis and then trace the figure.
        </li>
      </ul>
    </li>
    <li>
      Rotation by a quarter circle.
      <ul>
        <li>
          To rotate by a quarter circle, place another piece of graph paper on top of the first
          piece, but rotated by 90 degrees, and then trace the figure.
        </li>
      </ul>
    </li>
    <li>
      Rotation by a half circle.
      <ul>
        <li>
          To rotate by a half circle, place another piece of graph paper on top of the first piece,
          but upside down, and then trace the figure.
        </li>
      </ul>
    </li>
    <li>
      Translation up, down, left, or right.
      <ul>
        <li>
          To translate up, down, left, or right, move each vertex of the figure as required, and
          then redraw the lines between the vertices.
        </li>
      </ul>
    </li>
  </ul>
</p>
<p>
  Work through the problems on the
  <a href="{{ '/media/worksheets/Transformations_Worksheet' | relative_url }}">Worksheet</a> that correspond to the algorithms you've worked on as a class.
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  Have students work individually or in groups to come up with algorithms for each of the other
  situations.
  <ul>
    <li>
      As they work, remind them to try to make sure the algorithms are efficient, so that they don't
      waste time, as well as such that they can check their work easily to avoid errors.
    </li>
  </ul>
</p>
<p>
  Have students complete the remainder of the worksheet using these algorithms.
</p>
</li>
<li>
<h3>Conclusion</h3>
<p>
  Bring the class back together and discuss the results of the worksheet. Have students share and
  discuss their algorithms. Ask students the following questions:
</p>
<p>
  <ul>
    <li>
      How well did your algorithms work to complete the worksheet?
    </li>
    <li>
      How can you check your work with these algorithms?
    </li>
    <li>
      As you worked and heard your classmates present their algorithms, did you come up with any
      improvements to your algorithms that might make your work easier in the future?
    </li>
  </ul>
</p>
</li>
