<li>
<h3>Focus and Review</h3>
<p>
  Remind students what has been learned in previous lessons such as concepts of probability.
  Possibly use the example of rolling a die and the chances of that die rolling a specific number is
  1/6. Ask students what the probability is of rolling a 1
  <strong>or</strong> a 2. Mention the difference between the experimental probability and the theoretical probability.
  You can even have the students roll dice themselves, collect data for the class and figure the
  experimental probability for the class.
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
</p>
<p>
  <ul>
    <li>
      Today, class, we will be talking more about probability and how to determine the probability
      of multiple events, known as compound events. We will learn how to create tree diagrams to
      determine the probabilities related to compound events.
    </li>
    <li>
      We are going to use the computers but please do not turn your computers on until I ask you to.
      I want to show you a little about the program first.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  Lead the students in a short discussion on
  <a href="{{ '/discussions/TreesAsDataStructure' | relative_url }}">trees as data structures.</a>
</p>
<p>
  Explain to the students how to do the assignment. You should model or demonstrate it for the
  students, especially if they are not familiar with how to use our computer applets.
</p>
<p>
  <ul>
    <li>
      Open your browser to
      <a href="{{ '/activities/RacingGameWithOneDie' | relative_url }}">Racing Game with One Die</a> in order to demonstrate this activity to the students.
    </li>
    <li>
      Demonstrate some of the functionality yourself such as changing the length of the race,
      changing the game to an unfair race, and demonstrating how the multiple run panel works.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  Discuss and draw a tree diagram for a one-step and a two-step fair race. If you have a white board
  it is helpful to use a red and a blue marker to represent the two different colored cars.
</p>
<p>
  Make the race an unfair race by making the blue car move on rolls of 1 and 2 and the red car move
  on rolls of 3, 4, 5, and 6.
</p>
<p>
  Draw a tree diagram for a one-step unfair race. Mention that the sum of the end probabilities
  always equal one, which makes them complementary probabilities. Discuss why this must be so.
</p>
<p>
  Ask the students to go to their computers and create an unfair race as described above. In the
  multiple-run panel change the number of runs to 50,000. Have students run this configuration 5 or
  6 times. Ask them to develop a hypothesis as to what the theoretical probability of an unfair
  two-step is based on the experimental data using the applet.
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  Have the students create a tree diagram for an unfair two-step race to determine the theoretical
  probability.
</p>
<p>
  Have them show, based on their diagrams, the sum of the final probabilities equal one
  demonstrating they are complementary probabilities.
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  You may wish to bring the class back together for a discussion and verification of their findings.
  Once the students have been allowed to share what they found, summarize the results of the lesson.
</p>
</li>
