<li>
<h3>Focus and Review</h3>
<p>
  Remind students what they have learned about probability in previous lessons:
  <ul>
    <li>
      Ask students to recall what probability is.
    </li>
    <li>
      Ask students to recall the difference between experimental and theoretical probability.
      Briefly discuss the Law of Large Numbers.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
  <ul>
    <li>
      Today, class, we will be talking more about probability in relation to several different
      games. Often the likelihood of winning a game seems to be the same each time the game is
      played when in actuality the likelihood of winning it is not the same.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  <ul>
    <li>
      Show the students how to play the
      <a href="{{ '/activities/CrazyChoicesGame' | relative_url }}">Crazy Choices Game</a>
    </li>
    <li>
      After demonstrating the game, point out to students the game will keep track of the necessary
      statistics:
      <ol>
        <li>
          number of games played
        </li>
        <li>
          number of times each player won
        </li>
        <li>
          experimental probability of winning
        </li>
      </ol>
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  <ul>
    <li>
      Students can play the game in groups (2-10 people per group) using computer(s) or various
      random number generating devices (dice, spinners, etc.).
    </li>
    <li>
      If students play the game using hands-on materials, they may want to keep track of this data
      using the
      <a href="{{ '/media/worksheets/181.pdf' | relative_url }}">Crazy Choices Game Tally Table</a> that can be reproduced for each group of students. Students should play a lot of games
      (50-100) if they want to obtain reliable statistics. The goal of the game is to determine
      which player has better chances of winning if players use different devices to determine
      whether they win. For example, to compare the chances of the player who flips a coin (winning
      in 1 out of 2 possible outcomes) and the chances of the player who rolls a six-sided die
      (winning if it rolls a 1 or 2, or in 2 out of 6 possible outcomes).
    </li>
    <li>
      Next, introduce the
      <a href="{{ '/activities/TwoColors' | relative_url }}">Two Colors Game</a>, where students will learn about conditional probability. Groups of students can play the
      game many times, first trying to predict or guess their chances of winning, and keeping track
      of the results using the
      <a href="{{ '/media/worksheets/191.pdf' | relative_url }}">Two Colors Tally Table</a>.
    </li>
    <li>
      Describe the
      <a href="{{ '/activities/SimpleMontyHall' | relative_url }}">Monty Hall Problem</a>, based on the familiar game show.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  Have the students play Monty Hall. Most students do not expect the answer to the Monty Hall
  problem to be as it is. Each student or group of students can try to solve the problem and to
  explain the solution. Then they can run the experiment on computers or by hand, comparing
  experimental data with their solutions. Groups of students can discuss why their theoretical
  answers agree or do not agree with the data.
  <ul>
    <li>
      The
      <a href="{{ '/activities/GeneralizedMontyHall' | relative_url }}">Monty Hall Multiple Trials</a> activity will allow students to see the results of running the Monty Hall applet many times,
      thereby obtaining accurate data quickly, and allowing the teacher to explain this problem
      without spending a large amount of time collecting data.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  Conclude the lesson with the
  <a href="{{ '/discussions/ThinkAndCheck' | relative_url }}">Think and Check!</a> discussion to leads students through the solutions to the activities used in this lesson.
</p>
</li>
