<li>
<h3>Focus and Review</h3>
<p>
  Remind students what has been learned in previous lessons and have students review:
</p>
<ul>
  <li>
    Mean
  </li>
  <li>
    Median
  </li>
  <li>
    Mode
  </li>
  <li>
    Range
  </li>
  <li>
    Box Plots
  </li>
  <li>
    Bar Graphs
  </li>
  <li>
    Pie Graphs
  </li>
  <li>
    Stem and Leaf Plots
  </li>
</ul>
<p>
  Ask students to brainstorm ideas about what univariate, bivariate, and multivariate data might be.
  Explain to students that they have already dealt with univariate data without using that
  vocabulary term.
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
</p>
<ul>
  <li>
    Today we are going to discover the differences between two types of data: univariate and
    bivariate.
  </li>
  <li>
    Once we learn about the differences between these types of data, we will determine the
    appropriate graphs and measures for each type of data.
  </li>
  <li>
    We will use the computers later, but please do not open them until I instruct you to do so.
  </li>
</ul>
</li>
<li>
<h3>Teacher Input</h3>
<ul>
  <li>
    Lead students in a
    <a href="{{ '/discussions/UnivariateBivariate' | relative_url }}">discussion</a> about the differences between univariate and bivariate data.
  </li>
  <li>
    Lead students in a
    <a href="{{ '/discussions/NumericalCategoricalData' | relative_url }}">discussion</a> about the differences between categorical and numerical data. Be sure to talk about how
    bivariate data can include both categorical and numerical data and that it can be represented
    using a multi-bar graph or scatter plot depending on the type of data.
  </li>
  <li>
    Provide students with examples of how to display and analyze different types of data.
  </li>
  <li>
    Introduce students to the
    <a href="{{ '/activities/MultiBarGraph' | relative_url }}">Multi Bar Graph</a> and
    <a href="{{ '/activities/Regression' | relative_url }}">Regression</a> applets.
  </li>
</ul>
</li>
<li>
<h3>Guided Practice</h3>
<ul>
  <li>
    Work through
    <a href="{{ '/media/worksheets/DataLessonPlanSampleProblems' | relative_url }}">Sample Problems</a> with students to introduce the types of problems they will be asked to do.
  </li>
  <li>
    Have students create the graphs that best fit the data using the following applets:
    <ul>
      <li>
        <a href="{{ '/activities/StemAndLeafPlotter' | relative_url }}">Stem and Leaf Plotter</a>
      </li>
      <li>
        <a href="{{ '/activities/ScatterPlot' | relative_url }}">Scatter Plot</a>
      </li>
      <li>
        <a href="{{ '/activities/Regression' | relative_url }}">Regression</a>
      </li>
      <li>
        <a href="{{ '/activities/PieChart' | relative_url }}">Pie Chart</a>
      </li>
      <li>
        <a href="{{ '/activities/CircleGraph' | relative_url }}">Circle Graph</a>
      </li>
      <li>
        <a href="{{ '/activities/Histogram' | relative_url }}">Histogram</a>
      </li>
      <li>
        <a href="{{ '/activities/BoxPlot' | relative_url }}">Box Plot</a>
      </li>
      <li>
        <a href="{{ '/activities/BarGraph' | relative_url }}">Bar Graph</a>
      </li>
      <li>
        <a href="{{ '/activities/MultiBarGraph' | relative_url }}">Multi Bar Graph</a>
      </li>
    </ul>
  </li>
</ul>
</li>
<li>
<h3>Independent Practice</h3>
<ul>
  <li>
    Have students work in pairs to collect data and complete a
    <a href="{{ '/media/worksheets/WorksheetToAccompanyDataLessonPlan' | relative_url }}">worksheet</a> which asks them to create graphs of different types of data. Students can use the different
    applets listed above to create these graphs.
  </li>
</ul>
</li>
<li>
<h3>Closure</h3>
<p>
  You may wish to bring the students back together to discuss what applets they choose to use to
  represent their data and any problems that we especially hard for the students.
</p>
</li>
