<li>
<h3>Focus and Review</h3>
<p>
  <ul>
    <li>
      Have a student reach into opaque bag, touch an item, and describe the item.
    </li>
    <li>
      Have another student write down describing words on the board under a heading of "object 1".
      Encourage students to use single attributes such as large, small, soft, hard, green, yellow,
      red, etc. to describe the objects.
    </li>
    <li>
      Repeat process until all the objects in the bag are gone.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
  <ul>
    <li>
      Today, class, we will be learning about Venn diagrams. Venn diagrams are a way of organizing
      objects, numbers, or even ideas.
    </li>
    <li>
      We are going to use the computers to learn about Venn diagrams and to practice organizing
      things using Venn diagrams.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  <ul>
    <li>
      If space allows, using two large hula hoops or making circles on the floor using masking tape
      would be ideal for this activity. If not, see the Alternate Outline for other options.
    </li>
    <li>
      Place the hula hoops on the ground so that they overlap somewhat. Choose two recurring
      characteristics among the items in the bag. Assign each characteristic to a particular hula
      hoop. For example: soft and blue.
      <ul>
        <li>
          Note: Be sure to choose two categories that will allow some objects to fall into the
          overlapping areas of the Venn diagram. This will, therefore, exclude characteristics that
          are opposites of each other.
        </li>
      </ul>
    </li>
    <li>
      Have students place items into the correct hula hoop, showing them what they're supposed to do
      when an item has both characteristics.
    </li>
    <li>
      After the students have finished placing all the items in the correct areas of the Venn
      Diagram, re-label the circles, and rearrange the items into the appropriate sections of the
      new Venn Diagram.
    </li>
    <li>
      Explain that this method of categorization is done using interconnected circles called Venn
      Diagrams.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  <ul>
    <li>
      Have the students open their browsers to the
      <a href="{{ '/activities/ShapeSorter' | relative_url }}">Venn Diagram Shape sorter</a> applet.
    </li>
    <li>
      Walk the students through the use of the applet, asking students where each shape should go.
    </li>
    <li>
      Be sure to show students the process they should use for
      <strong>Guess the Rule</strong> mode.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Have the students work with the Venn Diagram Shape Sorter applet. Wander around the room to
      ensure that everyone is on task and understands how to use the applet.
    </li>
    <li>
      You might want to have students begin in
      <strong>Make the Rule</strong> mode and switch to
      <strong>Guess the Rule</strong> mode as they are ready.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  Lead the students in a discussion about the lesson. Ask guiding questions such as the following:
  <ul>
    <li>
      When did you find it most difficult to use the Venn diagrams? Why?
    </li>
    <li>
      Can you think of other things you could sort using Venn diagrams?
    </li>
    <li>
      How can Venn diagrams help you in other areas besides math?
    </li>
  </ul>
</p>
</li>
