<li>
<h3>Focus and Review</h3>
<p>
  Remind students what has been learned in previous lessons that will be pertinent to this lesson
  and/or have them begin to think about the words and ideas of this lesson:
</p>
<p>
  <ul>
    <li>
      We have been practicing plotting points on the cartesian coordinate plane. (Draw a line on a
      graph on the board.) Does anyone have any ideas on how we could tell people how to draw this
      exact same line on another graph without showing it to them?
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let the students know what it is they will be doing and learning today. Say something like this:
</p>
<p>
  <ul>
    <li>
      Today, class, we are going to learn about graphing functions.
    </li>
    <li>
      We are going to use the computers to learn about graphing functions, but please do not turn
      your computers on until I ask you to. I want to show you a little about this activity first.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  <ul>
    <li>
      Lead a class
      <a href="{{ '/discussions/FunctionsAndTheVert' | relative_url }}">discussion</a> on the vertical line test.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  <ul>
    <li>
      Practice with the students the
      <a href="{{ '/activities/SimplePlot' | relative_url }}">Simple Plot</a> exercise so that they can practice plotting ordered pairs.
    </li>
    <li>
      Have the students then practice graphing skills on graph paper using the tables of values they
      generated in the
      <a href="{{ '/lessons/IntroductionFunction' | relative_url }}">Functions</a> and
      <a href="{{ '/lessons/IntroLinearFunction' | relative_url }}">Linear Functions</a> lessons, using the vertical line test to verify that the graphs represent functions.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Have the students try the computer version of the
      <a href="{{ '/activities/VerticalLineTest' | relative_url }}">Vertical Line Test</a> activity to practice applying the vertical line test.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<p>
  <ul>
    <li>
      You may wish to bring the class back together for a discussion of the findings. Once the
      students have been allowed to share what they found, summarize the results of the lesson.
    </li>
  </ul>
</p>
</li>
