<li>
<h3>Focus and Review</h3>
<p>
		Remind students what has been learned in previous lessons that will be pertinent to this lesson and/or have them begin to think about the words and ideas of this lesson: </p><p>
		<ul>
		<li>
		Ask students what they know about tessellations. If needed, present the information in the <a href="{{ '/discussions/WhatAreTessellations' | relative_url }}">introduction to tessellations</a>  discussion.
		</li>
		<li>
		See if the students are familiar with <a href="{{ '/discussions/SymmetryInTessellati' | relative_url }}">symmetry</a>, and describe to them the different types present in tessellations.
		</li> <li>
		Finally, see what they already know about <a href="{{ '/discussions/ColorTessellations' | relative_url }}">color</a> and <a href="{{ '/discussions/OpticalIllusions' | relative_url }}">optical illusions</a> and how they affect perception.            </li> </ul>
	</p>
</li>
<li>
<h3>Objectives</h3>
<p>
		Let the students know what it is they will be doing and learning today. Say something like this:
		 </p><p>
		<ul>
		<li>
		Today, class, we will be talking more about tessellations.</li> <li>We are going to use the computers to learn about them, but please do not turn your computers on or go to this page until I ask you to. I want to show you a little bit about the activity first.  </li> </ul>
	</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
		You may choose to lead the students in a short discussion about <a href="{{ '/discussions/TessellationsWorld' | relative_url }}">tessellations in the world</a>.</p><p>
		Explain to the students how to do the assignment. You should model or demonstrate it for the students, especially if they are not familiar with how to use our computer applets.</p><p>
		<ul> <li>
		Open your browser to the <a href="{{ '/activities/Tessellate' | relative_url }}">Tessellate</a> activity in order to demonstrate it to the students.</li>
		<li>Show students how to bend the edges or corners of the polygons to form a new shape.</li>
		<li>Select colors for the new shape, and click the "tessellate" button to show students the pattern. </li>
		<li>Choose another kind of polygon from the pull down menu and show students how to change shapes.</li>
		<li>If you choose to, you may pass out the <a href="{{ '/media/worksheets/197.pdf' | relative_url }}">Visual Patterns in Tessellations Worksheet</a>.    </li>
		</ul>
	</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
		Try designing one more tessellation, letting the students direct your moves. Ask students to suggest a pattern from nature or art that tessellates, such as a honeycomb for bees.</p><p>
		<ul>
		<li>
		If your class seems to be having a little trouble with understanding tessellations, do another example together.
		<ul>
		<li>
		Explain that if they start a design and it doesn't work out, clicking the "reset" button will clear the screen so they can begin again.</li> <li>Each time you tessellate the pattern, review with the students which polygon you started with, what types of symmetry are present in the finished tessellation, and experiment with a variety of colors to see the different effects.   </li>
		</ul></li></ul>
	</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
		<ul> <li> Allow the students to work on their own and to complete the worksheet, should you choose to provide one. Monitor the room for questions and to be sure that the students are on the correct web site.</li> <li> Another option for independent practice is to challenge students with creating alphabet letter shapes for their initials that will tessellate.</li> <li>Again, for each pattern, remind the students to be aware of which polygon they started with, what types of symmetry are present in the original shape and the finished tessellation, and how the use of color changes how the design is perceived. </li> </ul>
	</p>
</li>
<li>
<h3>Closure</h3>
<p>
		You may wish to bring the class back together for a discussion of the findings. Once the students have been allowed to share what they found, summarize the results of the lesson.
	</p>
</li>
