<li>
<h3>Focus and Review</h3>
<p>
  Remind students of what they learned in previous lessons:
  <ul>
    <li>
      Area of squares, rectangles, and triangles
    </li>
    <li>
      Basic properties of three-dimensional figures
    </li>
    <li>
      Examples of three dimensional figures
    </li>
  </ul>
</p>
</li>
<li>
<h3>Objectives</h3>
<p>
  Let students know what they will being doing today and also what you hope they will learn through
  the lesson.
  <ul>
    <li>
      Today we will be focusing on finding the volume of rectangular prisms so we know "how much it
      can hold."
    </li>
    <li>
      We will be using the computers later, but for now I want you to leave them closed and
      participate in our discussion.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Teacher Input</h3>
<p>
  <ul>
    <li>
      Ask students if they know what volume is and engage students in a
      <a href="{{ '/discussions/SurfaceAreaAndVolume' | relative_url }}">discussion</a> about the definition of this term.
    </li>
    <li>
      Show several example three-dimensional figures to the students (either physical models or from
      the
      <a href="{{ '/activities/SurfaceAreaAndVolume' | relative_url }}">Surface Area and Volume </a> activity) and ask them to rank them from biggest volume to smallest volume.
    </li>
    <li>
      Have students share their rankings and discuss how they determined "how much it could hold."
    </li>
    <li>
      Begin a
      <a href="{{ '/discussions/FindingVolumeRectangular' | relative_url }}">discussion</a> on how to find the volume of a rectangular prism. By the end of this discussion students
      should understand that you need three measurements (length, width, and depth) to find the
      volume of the prism.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Guided Practice</h3>
<p>
  <ul>
    <li>
      Open your browser to the
      <a href="{{ '/activities/SurfaceAreaAndVolume' | relative_url }}">Surface Area and Volume</a> applet and introduce students to the applet and how to manipulate the measurements of
      rectangular prisms.
    </li>
    <li>
      Have students work in pairs and use the
      <a href="{{ '/activities/SurfaceAreaAndVolume' | relative_url }}">Surface Area and Volume</a> applet and the first sheet of the accompanying
      <a href="{{ 'http://shodor.org/interactivate/media/worksheets/463.pdf' | relative_url }}">worksheet</a> to see the relationship between the width, height, and depth of rectangular prisms.
    </li>
    <li>
      After students have completed the first page of the worksheet, bring the class together to
      review the formula for the volume of a rectangular prism.
    </li>
    <li>
      Introduce students to the
      <strong>Compute</strong> mode in the applet.
    </li>
    <li>
      <em>Note:</em> If students will be finding only the volume of the prism and not the surface area, be sure to
      show the error message that will appear when you attempt to check answers.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Independent Practice</h3>
<p>
  <ul>
    <li>
      Have students work in pairs using the
      <strong>Compute</strong> mode in the applet to correctly solve for the volume. Monitor the room for questions and be
      sure that the students are on the correct web site.
    </li>
  </ul>
</p>
</li>
<li>
<h3>Closure</h3>
<ul>
  <li>
    You may wish to bring the class back together to discuss any problems that were especially hard
    for students to solve. Once the students have been allowed to share what they found, summarize
    once more the main points of the lesson.
  </li>
  <li>
    Students should have a strong grasp of the volume of a rectangular prism and be prepared for
    assessment.
  </li>
</ul>
</li>
