<li>
<h3>Focus and Review</h3>
<p>
  Get the students to think about fractions by asking them to think of things they needed to share
  by splitting a single object into parts. Possibly give the example of a pizza or a piece of paper.
</p>
<p />
</li>
<li>
<h3>Objectives</h3>
<p>
  Today, class, we are going to use the computers to help practice our skills working with
  fractions, decimals, and percents.
</p>
<p />
</li>
<li>
<h3>Teacher Input</h3>
<p>
  Give students several examples of fractions, decimals and percents used in the real world.
  Examples such as sharing a pizza, a ruler, measures on bottles or cans for decimals, or food
  labels for percents. Discuss with the students that these are all representations of the same
  thing. A fraction can be expressed as a decimal or as a percent and vice versa.
</p>
<p />
</li>
<li>
<h3>Guided Practice</h3>
<p>
  Give the students time so they may try to solve the problems on the
  <a href="{{ '/media/worksheets/211.pdf' | relative_url }}">worksheet</a> by themselves. Once the students have had enough time to solve the problems, have them check
  their fraction to decimal conversion answers using the
  <a href="{{ '/activities/Converter' | relative_url }}">Fraction Converter</a> applet.
</p>
<p />
</li>
<li>
<h3>Independent Practice</h3>
<p>
  Once the students have opened the
  <a href="{{ '/activities/PieChart' | relative_url }}">Pie Chart</a> applet, tell them to adjust the applet settings so that the pie chart only has two sections.
  After all of the settings are correctly adjusted, have the students try to replicate their answers
  from the worksheet using the two sections. It may be helpful to remind your students the sum of
  the two sections must equal 100. For example:
  <img class="h-center" src="{{ 'img/image959.gif' | relative_url }}" />
</p>
<p>
  You would have the students enter 75% as the percentage for one portion of the circle and 25% for
  the other. Then the students would compare the circle they colored with the one colored by the Pie
  chart applet to make sure they look similar. Once the students have completed the worksheet, they
  can choose partners and play the Fraction Four applet. Be sure you tell them to set the "problem
  type" in the
  <a href="{{ '/activities/FractionFour' | relative_url }}">Fraction Four</a> applet to "fractions, decimals, and percents".
</p>
<p />
</li>
<li>
<h3>Closure</h3>
<p>
  Have students come to the board and share one of their responses to the
  <a href="{{ '/media/worksheets/211.pdf' | relative_url }}">worksheet</a>.
</p>
<p />
</li>
