---
---
footer {
  background-color: #1F7248;
  color: white;
  font-family: sans-serif;
  padding: 10px;
  position: relative;
}
footer a:visited,
footer a:link {
  color: white;
  text-decoration: underline;
}
#footer-logos {
  right: 5px;
}