---
---
body {
  background: url('{{ "images/body-bg.gif" | relative_url }}');
  background-color: #D5D5D5;
  background-repeat: repeat-x;
  margin: 0;
  min-width: 770px;
  padding: 0 10px;
}
#breadcrumb {
  background-color: white;
  color: gray;
  font-family: helvetica, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-top: 2px;
}
#breadcrumb a:visited,
#breadcrumb a:link {
  color: gray;
  text-decoration: underline;
}
h1 {
  background-color: white;
  font-family: georgia, serif;
  font-size: 20pt;
  font-weight: normal;
  margin: 0;
  padding: 2px;
  padding-left: 10px;
}
header {
  background: url('{{ "images/header-bg.gif" | relative_url }}');
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}
#header-logo {
  display: inline-block;
  height: 54px;
  width: 80%;
}
#logo-bar {
  height: 54px;
  position: relative;
}
nav p {
  margin: 0;
}
.v-center {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}