<p>
      This activity allows the user to practice solving linear and quadratic algebraic equations.
    </p>
    <p>
      In this applet, questions are categorized by a combination of level (which determines the
      difficulty) and by types of problems listed. For more information on how questions are
      generated and what each level and problem type means, see
      <a href="{{ '/resources/AlgebraQuizFour' | relative_url }}">Question Types for Algebra Quiz and Algebra Four</a>.
    </p>
