<p>
      This activity allows the user to practice estimating the results of addition, multiplication,
      and percentage problems.
    </p>
    <p>
      In this applet, questions are categorized by a combination of level (which determines the
      difficulty) and by types of problems listed. For more information on how questions are
      generated and what each level and problem type means, see
      <a href="{{ '/resources/EstimatorQuizFour' | relative_url }}>Question Types for Estimator Quiz and Estimator Four</a>.
    </p>
