<p>
      This activity allows the user to explore simple linear functions; the function is determined
      by looking for patterns in the outputs. The functions available for exploration in the
      function machine activity have one of the following forms:
    </p>
    <p>
      <div class="h-center">
        y = x * __
        <br/>
        y = x + __
        <br/>
        y = x - __
        <br/>
        <br/>
      </div> where the underline can be any integer between -10 and 10.
    </p>
