<p>
      This applet allows users to explore right triangles and the Pythagorean Theorem. The applet
      can also be used to explore the angle measurements of triangles.
    </p>
    <p>
      <strong>Object of the activity</strong> The object of this activity is to develop an understanding of the Pythagorean Theorem. The
      applet displays a right triangle with a square against each side. Each square has sides that
      are equal in length to the side of the triangle it is against. By adjusting the lengths of the
      sides of the triangle, the user can visually experience the Pythagorean Theorem.
    </p>
