<p>
      This activity allows the user to simulate drawing red and green balls out of boxes. To run in
      single trial mode, click on each of the boxes twice to reveal the color of the two balls each
      box contains. A count will be kept of how many times the first ball in the first box selected
      was green and how many times both balls in the first box selected were green. To run in
      multiple trial mode, enter the number of trials desired in the
      <strong>Number of Trials</strong> box and click on the
      <strong>Run Multiple Trials</strong> button.
    </p>
