<p>
  These discussions and experiments will have given students a greater understanding of independent
  and dependent variables and their use in quasi-real-world situations. To follow up on this lesson,
  consider having students conduct more complex experiments with
  <a href="{{ '/activities/DirectableFire' | relative_url }}">Directable Fire!!</a> or
  <a href="{{ '/activities/ABetterFire' | relative_url }}">A Better Fire!!</a>, where students have to consider variability in direction as well as proportion.
</p>
