<p>
  <ul>
    <li>
      If students need more work with displaying and analyzing data, you may want to use the lessons
      <a href="{{ '/lessons/IntroStatistics' | relative_url }}">Mean, Median and Mode</a> or
      <a href="{{ '/lessons/BoxPlots' | relative_url }}">Box Plots</a>.
    </li>
    <li>
      There are a number of lessons on patterns, including
      <a href="{{ '/lessons/PatternsInFractals' | relative_url }}">Patterns in Fractals</a>,
      <a href="{{ '/lessons/PatternsInPascal' | relative_url }}">Patterns in Pascal's Triangle</a> and
      <a href="{{ '/lessons/VisualPatterns' | relative_url }}"> Visual Patterns in Tessellations</a>.
    </li>
  </ul>
</p>
