<p>
  After these discussions and activities, the students will have seen more ways in which chaos,
  first introduced in the
  <a href="{{ '/lessons/FractalsAndTheChaos' | relative_url }}">Fractals and the Chaos Game</a> lesson, is used to model behavior. The next lesson,
  <a href="{{ '/lessons/PascalTriangle' | relative_url }}">Pascal's Triangle</a> , reintroduces Sierpinski-like Triangles, as seen in the
  <a href="{{ '/lessons/GeometricFractals' | relative_url }}">Geometric Fractals</a> and
  <a href="{{ '/lessons/FractalsAndTheChaos' | relative_url }}">Fractals and the Chaos Game</a> lessons, in yet another way, demonstrating the rich connections between seemingly different kinds
  of math.
</p>
