<p>
  After these discussions and activities, the students will have seen that the Sierpinski's Carpet
  and Sierpinski's Gasket explored in the
  <a href="{{ '/lessons/GeometricFractals' | relative_url }}">Geometric Fractals</a> lesson also appear from playing
  <a href="{{ '/activities/TheChaosGame' | relative_url }}">The Chaos Game</a>. The next lesson,
  <a href="{{ '/lessons/PropertiesOfFractals' | relative_url }}">Properties of Fractals</a>, is a capstone lesson designed to summarize and formalize the notion of a fractal now that the
  students have seen several different kinds. An alternate follow-up lesson would be the
  <a href="{{ '/lessons/PascalTriangle' | relative_url }}">Pascal's Triangle</a> lesson, in which the Sierpinski Triangle appears again from a different source (namely, Pascal's
  Triangle).
</p>
