<p>
  After these discussions and activities, the students will have seen a few of the classic plane
  figure fractals to compare with those from the
  <a href="{{ '/lessons/InfinityRecursion' | relative_url }}">Infinity, Self-Similarity, and Recursion</a> lesson. The next lesson,
  <a href="{{ '/lessons/FractalsAndTheChaos' | relative_url }}"> Fractals and the Chaos Game</a>, continues the student's exploration of fractals by showing how other, seemingly different, ideas
  can generate the same kinds of fractals.
</p>
