<p>
  After these discussions and activities, the students will have a clearer understanding of
  probability, outcomes, and set operations. If students have not yet seen
  <a href="{{ '/lessons/UnexpectedAnswers' | relative_url }}">Unexpected Answers</a> have them continue their exploration of probability and observe some unusual examples of
  probability games. After that, continue with
  <a href="{{ '/lessons/ProbabilityGeometry' | relative_url }}">Probability and Geometry</a> , which brings to light the subtle difference between defining probability by counting outcomes
  and defining probability by measuring proportions of geometrical characteristics.
</p>
