<p>
  This lesson can be followed by either of the following lessons:
  <ul>
    <li>
      <a href="{{ '/lessons/FindingRemaindersinPascal' | relative_url }}">Finding Remainders in Pascal's Triangle</a> instructs students on using modular arithmetic to look for patterns in Pascal's Triangle.
    </li>
    <li>
      <a href="{{ '/lessons/ClockArithmetic' | relative_url }}">Clock Arithmetic and Cryptography</a> instructs students on how modular arithmetic and ciphers are linked, allowing students to
      create their own ciphers using modular arithmetic.
    </li>
  </ul>
</p>
