<p>
  After these discussions and activities, the students will have seen more places in which fractal
  patterns similar to Sierpinski Triangles, introduced in the
  <a href="{{ '/lessons/GeometricFractals' | relative_url }}">Geometric Fractals</a> and
  <a href="{{ '/lessons/FractalsAndTheChaos' | relative_url }}">Fractals and the Chaos Game</a> lessons, appear. The next lesson,
  <a href="{{ '/lessons/IrregularFractals' | relative_url }}">Irregular Fractals</a>, generalizes fractals, as seen in the
  <a href="{{ '/lessons/InfinityRecursion' | relative_url }}">Infinity, Self-Similarity, and Recursion</a>,
  <a href="{{ '/lessons/GeometricFractals' | relative_url }}">Geometric Fractals</a>,
  <a href="{{ '/lessons/FractalsAndTheChaos' | relative_url }}">Fractals and the Chaos Game</a> lessons, showing how they can be used to create pictures that look like natural phenomena.
</p>
