<p>
  After these discussions and activities, the students will have an understanding of how geometry
  can be used to solve probability problems. The next lesson,
  <a href="{{ '/lessons/ConditionalProb' | relative_url }}">Conditional Probability and Probability of Simultaneous Events</a> leads to a deeper consideration of the related mathematics and to acquiring new tools for solving
  problems, namely the ideas and formulas connected with conditional probability and probability of
  simultaneous events.
</p>
