<p>
  After this lesson, the students will have seen practical applications of how probability is used
  in everyday situations such as sports. The next lesson,
  <a href="{{ '/lessons/IdeasLeadProbability' | relative_url }}">Ideas That Lead to Probability</a>, introduces ideas that are the basis of probability theory. By using everyday experiences and
  intuitive understanding, this lesson gives students a gradual introduction to probability.
  Students will work with random number generators and learn what it means for a game to be fair.
</p>
