<p>
  After these discussions and activities, the student will have a basic definition of regular
  fractals and will have seen the method for calculating fractal dimensions for fractals such as
  those explored in the
  <a href="{{ '/lessons/InfinityRecursion' | relative_url }}">Infinity, Self-Similarity, and Recursion</a>,
  <a href="{{ '/lessons/GeometricFractals' | relative_url }}">Geometric Fractals</a>, and
  <a href="{{ '/lessons/FractalsAndTheChaos' | relative_url }}">Fractals and the Chaos Game</a> lessons. The next lesson,
  <a href="{{ '/lessons/Chaos' | relative_url }}">Chaos</a>, delves deeper into the notion of Chaos introduced in the
  <a href="{{ '/lessons/FractalsAndTheChaos' | relative_url }}">Fractals and the Chaos Game</a> lesson. An alternate follow-up lesson would be the
  <a href="{{ '/lessons/IrregularFractals' | relative_url }}">Irregular Fractals</a> lesson, in which the students learn how the notion of calculating fractal dimension is much more
  difficult with irregular fractals.
</p>
