<p>
  After these discussions and activities, the students will have worked with conditional
  probability, sampling with and without replacement, and have seen the formula for the probability
  of simultaneous events. The next lesson,
  <a href="{{ '/lessons/ProbabilityToCombinatorics' | relative_url }}">From Probability to Combinatorics and Number Theory</a>, devotes itself to data structures and their applications to probability theory. Tables and trees
  are introduced, and some of their properties are discussed.
</p>
