<p>
  After these discussions and activity, the students should have practiced their ability to
  recognize symmetry in plane figures. Students can gain a deeper understanding of other pr inciples
  of geometry by exploring tessellations in the
  <a href="{{ '/lessons/GeometryTessellation' | relative_url }}">Geometry Lesson</a>. The tessellation activity could also be used to explore spatial visualization and pattern
  recogni tion with the
  <a href="{{ '/lessons/VisualPatterns' | relative_url }}">Visual Pattern Lesson</a>.
</p>
