<p>
  After these discussions and activities, the students will have seen how the Mandelbrot set is
  built for the simple case of quadratic functions. This set has many number-theoretic properties
  which can be explored. For future reading on this complex and beautiful topic see:
</p>
<p>
  Michael Barnsley, Fractals Everywhere, Academic Press 1988.
</p>
<p>
  Benoit Mandelbrot, The Fractal Geometry of Nature, W. H. Freeman 1982.
</p>
<p>
  H.-O. Peitgen and P. H. Richter, The Beauty of Fractals, Springer-Verlag 1986.
</p>
