<p>
  This lesson could be followed by a series of discussion that explore bivariate data in more depth:
</p>
<ul>
  <li>
    <a href="{{ '/discussions/BivariateDataRelations' | relative_url }}">Bivariate Data Relations</a>
  </li>
  <li>
    <a href="{{ '/discussions/GraphingData' | relative_url }}">Graphing and Interpreting Bivariate Data</a>
  </li>
  <li>
    <a href="{{ '/discussions/FindingResiduals' | relative_url }}">Finding Residuals</a>
  </li>
  <li>
    <a href="{{ '/discussions/UsingResiduals' | relative_url }}">Using Residuals to Identify a Line of Good Fit</a>
  </li>
</ul>
