<p>
  <ul>
    <li>
      This lesson can be followed by a series of lessons on the Surface Area of prisms:
      <a href="{{ '/lessons/SurfaceAreaRectangular' | relative_url }}"> Surface Area of Rectangular Prisms</a> and
      <a href="{{ '/lessons/SurfaceAreaPrisms' | relative_url }}">Surface Area of Prisms</a>
    </li>
    <li>
      Alternately, this lesson could be followed-up by lessons on volume of other three-dimensional
      figures such as pyramids, cones, cylinders, and spheres.
    </li>
  </ul>
</p>
