{% assign heading-slug = include.heading | slugify %}
{% assign onchange = "selectBrowseOption();" %}
<fieldset class="filter">
  <legend>{{ include.heading }}</legend>
  <fieldset>
    <legend>Filter type</legend>
    {% unless include.type == "OR" %}
      <input
        type="radio"
        id="{{ heading-slug }}-and"
        name="{{ heading-slug }}-filter-type"
        value="AND"
        onchange="{{ onchange }}"
        checked
      />
      <label for="{{ heading-slug }}-and">AND</label>
    {% endunless %}
    <input
      type="radio"
      id="{{ heading-slug }}-or"
      name="{{ heading-slug }}-filter-type"
      value="OR"
      onchange="{{ onchange }}"
      {% if include.type == "OR" %}
        checked
      {% endif %}
    />
    <label for="{{ heading-slug }}-or">OR</label>
  </fieldset>
  <div class="options">
    {% for option in include.options %}
    <input
      {% if include.type == "OR" %}
        type="radio"
      {% else %}
        type="checkbox"
      {% endif %}
      id="{{ option }}-option"
      name="{{ heading-slug }}-options"
      value="{{ option }}"
      onchange="{{ onchange }}"
    />
    <label for="{{ option }}-option">{{ option }}</label>
    <br/>
    {% endfor %}
  </div>
</fieldset>
