<header>
  <div id="logo-bar">
    <a id="header-logo" href="{{ site.url }}"><img src=" {{ 'images/header-logo.gif' | relative_url }}" alt="Interactivate logo"/></a>
    <select class="v-center">
      <option>Jump To:</option>
      {% for subdirectory in site.data.subdirectories %}
      <option>{{ subdirectory.name | capitalize }}</option>
      {% endfor %}
    </select>
  </div>
  {% unless include.hide-h1 %}
  <h1>{{ include.title }}</h1>
  {% endunless %}
  <nav id="breadcrumb" aria-label="Breadcrumbs">
    <p>
      <a href="{{ site.url }}">Shodor</a> ▸
      <a href="{{ site.baseurl }}">Interactivate</a> ▸
      {{ include.title }}
    </p>
  </nav>
</header>