<header>
  <div id="logo-bar">
    <a id="header-logo" href="{{ site.baseurl }}"><img src=" {{ 'img/header-logo.gif' | relative_url }}" alt="Interactivate logo"/></a>
    <select class="v-center" onchange="jumpTo(event);">
      <option disabled selected>Jump To:</option>
      {% for list-page in site.list-pages %}
      <option data-list-page="{{ list-page.name | relative_url }}">{{ list-page.name | capitalize }}</option>
      {% endfor %}
    </select>
  </div>
  {% unless include.hide-h1 %}
  <h1>{{ page.title }}</h1>
  {% endunless %}
  <nav id="breadcrumb" aria-label="Breadcrumbs">
    <p>
      <a href="{{ site.url }}">Shodor</a> ▸
      <a href="{{ site.baseurl }}">Interactivate</a> ▸
      {% if include.additional-breadcrumb-link and include.additional-breadcrumb-title %}
      <a href="{{ include.additional-breadcrumb-link | relative_url }}">{{ include.additional-breadcrumb-title }}</a> ▸
      {% endif %}
      {{ page.title }}
    </p>
  </nav>
</header>