{% assign collection = site.collections | where: "label", page.collection | first %}
{% if page.item-type %}
  {% assign page-item-type = page.item-type %}
{% elsif collection.item-type %}
  {% assign page-item-type = collection.item-type %}
{% else %}
  {% include get-filename.html %}
  {% assign page-item-type = filename %}
{% endif %}
{% include variables/{{ page-item-type }}.html %}
<meta charset="utf-8">
<title>Interactivate: {{ page.title }}</title>
<link rel="icon" type="image/ico" href="{{ 'favicon.ico' | relative_url }}">
<link rel="stylesheet" href="{{ 'css/main.css' | relative_url }}">
<script src="{{ 'js/jumpTo.js' | relative_url }}"></script>