<section class="list-page-category-section">
  <nav aria-label="{{ include.category-label | capitalize }} filter">
    {% for category-item in include.category-items %}
    <a href="javascript:selectCategoryItem('{{ include.category-label }}', '{{ category-item | replace: ' ', '_' }}');"/>{{ category-item }}</a>
    &nbsp;&bull;&nbsp;
    {% endfor %}
    <a class="bold" href="javascript:selectCategoryItem('{{ include.category-label }}', 'all');"/>Show All</a>
  </nav>
  {% for category-item in include.category-items %}
  <section id="{{ include.category-label }}-section-{{ category-item | replace: ' ', '_' }}" class="{{ include.category-label }}-section">
    {% assign list-items = include.list-items | where: include.category-label, category-item %}
    <h2>{{ category-item }} ({{ list-items | size }})</h2>
    {% for list-item in list-items %}
    <section class="list-item-section">
      {% include list-page-sections/{{ include.item-name }}-section.html list-item=list-item %}
    </section>
    {% endfor %}
  </section>
  {% endfor %}
</section>