.alignment-section {
  margin-bottom: 15px;

  &#key-terms-section {
    .level-1-section {
      display: block;
      padding: 0;
      margin-top: 5px;

      .dictionary-item-section {
        @extend %side-by-side-catalog-item;
      }
    }
  }

  select {
    margin-bottom: 15px;
    margin-top: 5px;
  }

  .level-1-section {
    background: #F8F8F8;
    border: 1px solid gray;
    display: none;
    padding: 5px;

    h4 {
      font: inherit;
      margin: 0;
    }
  }
}

body {
  font-family: sans-serif;
}

.bold {
  font-weight: bold;
}

.h-center {
  margin: 0 auto;
  text-align: center;

  &:not(table) {
    display: block;
  }
}

table {
  border-left: 1px dotted gray;
  border-top: 1px dotted gray;
  margin: 0 auto;

  td {
    background: #F9F9F9;
    border-bottom: 1px dotted gray;
    border-right: 1px dotted gray;
    padding: 8px;
  }

  #appletContent &,
  .gwt-PopupPanel & {
    border: initial;

    td {
      background: initial;
      border: initial;
      padding: initial;
    }
  }
}

.v-center {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
