{% assign grandparent-catalog-in-list = site.catalogs
  | where: "url", include.grandparent-url %}
{% assign parent-catalog-in-list = site[include.parent-catalog]
  | where: "url", include.parent-url %}
{% assign additional-breadcrumbs = grandparent-catalog-in-list
  | concat: parent-catalog-in-list %}
{% assign catalog-item-type = "aligned-resource" %}
{% include get-filename.html %}
{% capture where-exp %}item.{{ include.resource-align-property }} contains
  '{{ filename }}'{% endcapture %}
{% assign catalog-items-list = "" | split: "" %}
{% assign categories-str = "" %}
{% assign aligned-collections = "lessons,activities,discussions,worksheets"
  | split: "," %}
{% for aligned-collection in aligned-collections %}
  {% assign aligned-collection-items = site[aligned-collection]
    | where_exp: "item", where-exp %}
  {% if aligned-collection-items %}
    {% assign catalog-items-list = catalog-items-list
      | concat: aligned-collection-items %}
    {% assign categories-str = categories-str | append: aligned-collection
      | capitalize | append: "," %}
  {% endif %}
{% endfor %}
{% assign categories-label = "resource type" %}
{% assign categories-list = categories-str | split: "," %}
{% assign filter-expression = "item.collection == category-downcase" %}
