<p>
      This activity allows the user to explore simple linear functions; the function is determined
      by looking for patterns in the outputs. The functions available for exploration in the
      function machine activity have the following form:
    </p>
    <p>
      <div class="h-center">
        <pre>
          y = __ * x + __
        </pre>
      </div>
    </p>
    <p>
      <strong>Object of the Game</strong>
    </p>
    <p>
      A randomly selected "function machine" takes a number and produces another number according to
      a rule (a function). The goal of the game is to guess the rule. Possible rules in the game
      are: Y = N * X + K, where N and K are randomly selected whole numbers from 0 to 10.
    </p>
