<h3>Object of the activity</h3>
    <p>
      There are two ways to play this activity. At the left side of the screen you can choose to
      play either the version in which you guess the rule, or the version in which you make the
      rule.
      <table class="h-center">
        <tr>
          <td>
            <img src="{{ 'img/activities/help/ShapeSorter-help-1.jpg' | relative_url }}" class="h-center"/>
          </td>
          <td>
            <img src="{{ 'img/activities/help/ShapeSorter-help-2.jpg' | relative_url }}" class="h-center"/>
          </td>
        </tr>
      </table>
    </p>
    <p>
      Both versions allow you to use a single circle, two non-overlapping circles, or two
      overlapping circles. To switch between these 3 versions, you need to click on the appropriate
      tabs:
    </p>
    <p>
      <img src="{{ 'img/activities/help/ShapeSorter-help-3.png' | relative_url }}" class="h-center"/>
    </p>
