<p>
      This game allows users to practice their point plotting skills by having them move a robot
      through a mine field to a target location. Moves are accomplished by specifying the
      coordinates of the new location. In order to win, the path must not cross a mine.
    </p>
    <p>
      <strong>Object of the Game</strong> The goal of the game is to guide the robot to the green dot. The robot moves by straight
      lines: horizontal, vertical, and diagonal. Each "step" starts from where the robot is, and
      ends at an intersection of grid lines chosen by user. In order to choose the end point of the
      next step, the user has to enter the coordinates of that point. The robot should avoid mines.
      Before making a step, it checks to see if there are any mines ahead. If there is a mine on the
      robot's path, it will explode as a result of the robot checking the path. The robot will not
      be harmed; it will not make a dangerous step. If a mine expoldes simply rethink the course you
      would like the robot to take and enter new coordinates.
    </p>
