#catalog-main {
  .category-section {
    .catalog-item.activity-catalog-item {
      .right-column {
        .activity-topics {
          color: gray;
          font-size: 10pt;
          margin-top: 15px;
        }
      }
    }
  }
}
