.activity-description-and-topics {
  p {
    font-family: sans-serif;
    font-size: 11pt;
    line-height: 130%;
    margin: 0;

    &.activity-topics {
      color: gray;
      font-size: 10pt;
      margin-top: 15px;
    }
  }
}
