%category-headings {
  background-color: #2661C3;
  color: white;
  font-size: 11pt;
  font-weight: bold;
  line-height: 150%;
  margin: 0;
  padding-left: 5px;
}

%dictionary-text {
  font-size: 11pt;
  line-height: 130%;
  margin: 0;
  margin-bottom: 15px;
  min-height: 20px;
}

%side-by-side-catalog-item {
  column-gap: 15px;
  font-size: 11pt;
  display: flex;
  padding: 5px;

  &:nth-child(odd) {
    background-color: #F3F6FF;
  }

  &:nth-child(even) {
    background-color: #F8F9FF;
  }

  &:not(:last-child) {
    border-bottom: 1px dashed gray;
  }

  p {
    margin: 0;
  }

  .left-column {
    flex-shrink: 0;
    line-height: 120%;
    width: 240px;

    &.dictionary-term {
      @extend %dictionary-text;
    }
  }

  .right-column {
    flex-grow: 1;
    line-height: 130%;

    &.dictionary-definition {
      @extend %dictionary-text;
    }
  }
}

#catalog-main {
  @extend .folder;

  padding: 5px 0;

  #subject-audience-fieldset,
  #category-filters-section,
  .category-section {
    border: 1px solid black;
    margin: 0 5px;
  }

  #page-description {
    margin-left: 5px;
  }

  #subject-audience-fieldset {
    @extend %category-headings;

    border-bottom: 0;
    font-weight: normal;
    padding: 0;
    width: 150px;
  }

  #category-filters-section {
    @extend %category-headings;
    font-weight: normal;

    a:link,
    a:visited {
      color: white;
      white-space: nowrap;
    }
  }

  .category-section {
    border-bottom: 0;

    &:not(:first-child) {
      border-top: 0;
    }

    h2 {
      @extend %category-headings;
    }

    .catalog-item {
      @extend %side-by-side-catalog-item;

      &:last-child {
        border-bottom: 1px solid black;
      }

      h3 {
        font-size: inherit;
        margin: 0;
      }

      a {
        display: inline-block;
        font-weight: bold;
        margin: 0;

        &:link,
        &:visited {
          color: #2661C3;
          text-decoration: underline;
        }

        img {
          border: 1px solid rgb(217, 217, 217);
        }
      }

      .right-column {
        .description:not(:last-child) {
          margin-bottom: 15px;
        }

        .tags {
          color: gray;
          font-size: 10pt;
        }
      }

      .single-column {
        width: initial;
      }
    }
  }

  #no-items {
    margin-left: 5px;
  }
}
