{% assign catalog-item-type = "aligned-resource" %}
{% capture where-exp %}item.{{ include.resource-align-property }} contains
  '{{ page.slug }}'{% endcapture %}
{% assign catalog-items-list = "" | split: "" %}
{% assign categories-str = "" %}
{% assign aligned-collections = "lessons,activities,discussions,worksheets"
  | split: "," %}
{% for aligned-collection in aligned-collections %}
  {% assign aligned-collection-items = site[aligned-collection]
    | where_exp: "item", where-exp %}
  {% if aligned-collection-items.size > 0 %}
    {% assign catalog-items-list = catalog-items-list
      | concat: aligned-collection-items %}
    {% assign aligned-collection-capitalized = aligned-collection | capitalize %}
    {% assign categories-str = categories-str | append: aligned-collection-capitalized
      | append: "," %}
  {% endif %}
{% endfor %}
{% assign categories-label = "resource type" %}
{% assign categories-list = categories-str | split: "," %}
{% assign filter-expression = "item.collection == category-downcase" %}
