{% assign activity = include.list-item %}
{% assign activity-href = '/activities/' | append: include.activity.short-name | relative_url %}
<div class="activity-links">
  <div>
    <a href="{{ activity-href }}"><img src="{{ 'img/activities/thumbnail/' | append: activity.short-name | append: '.gif' | relative_url }}" alt="Screenshot of {{ activity.title }} activity" width="152"/></a>
  </div>
  <div>
    <a href="{{ activity-href }}">{{ activity.title }}</a>
  </div>
</div>
<div class="activity-description-and-topics">
  <p>
    {{ activity.description }}
  </p>
  <p class="activity-topics">
    <em><strong>Related Topics:</strong>
    {{ activity.topics | join: ", " }}
    </em>
  </p>
</div>