<p>
  The following lesson is designed to give students experience creating bar graphs and reading bar
  graphs. It also introduces students to the effectiveness of different representations of data.
  This lesson provides students with an opportunity to explore bar graphs using authentic
  information. This lesson would work well towards the middle of a unit on bar graphs, before the
  students make their own but after they've had sufficient practice reading them. It will take about
  2 days (45 minutes each day) to complete this lesson. Please note the ideas for this lesson were
  provided by an Interactivate user, Brett Rycombel. Thank you Brett.
</p>
