<p>
  This lesson is designed to familiarize students to the Cartesian Coordinate System and its many
  uses in the world of mathematics. The Cartesian coordinate system was developed by the
  mathematician Descartes during an illness. As he lay in bed sick, he saw a fly buzzing around on
  the ceiling, which was made of square tiles. As he watched he realized that he could describe the
  position of the fly by the ceiling tile he was on. After this experience he developed the
  coordinate plane to make it easier to describe the position of objects.
</p>
<p>
  This lesson is best if the students work in small groups of two or three.
</p>
