<p>
  This lesson is based on several interesting problems. Each problem has a somewhat unexpected
  answer; in fact, many people have a hard time accepting experimental results for these problems,
  as the results may seem counterintuitive. This very difference in expectations and actual results
  leads to a deeper consideration of the related mathematics and to acquiring new tools for solving
  problems, namely the ideas and formulas connected with conditional probability and probability of
  simultaneous events.
</p>
