<p>
  This activity is designed to further the work of the
  <a href="{{ '/lessons/GeometricFractals' | relative_url }}">Geometric Fractals</a> lesson by showing students how the Sierpinski triangle can arise from seemingly totally unrelated
  sources. This gives the students an appreciation of the interconnections of different kinds of
  mathematics.
</p>
<p>
  This lesson is best started on paper with each student working individually. Plan on 10-15 minutes
  for individual exploration. Then allow the students to work individually or in small groups to
  explore the computer activity. Plan on an hour for the complete set of computer activities, with
  additional time for discussion.
</p>
