<p>
  This lesson is designed to get students to think about several of the concepts from fractals,
  including recursion and self similarity. The mathematical concepts of line segments, perimeter,
  area and infinity are used, and skill at pattern recognition is practiced.
</p>
<p>
  The fractals generated here all start with simple curves made from line segments. They display the
  curiosities that intrigued the mathematicians looking at infinity at the turn of the century. The
  Hilbert curves demonstrate that a seemingly 1 dimensional curve can fill a 2-d space, and the Koch
  snowflake demonstrates that a 1-d curve can be infinitely long and surround a finite area.
</p>
