<p>
  This lesson is designed to introduce students to the idea of functions composed of two operations,
  with specific attention to linear functions and their representations as rules and data tables,
  including the mathematical notions of independent and dependent variables.
</p>
<p>
  This lesson assumes that the student is already familiar with the material in the
  <a href="{{ '/lessons/IntroductionFunction' | relative_url }}">Introduction to Functions</a> Lesson. These activities can be done individually or in teams of as many as four students. Allow
  for 2-3 hours of class time for the entire lesson if all portions are done in class.
</p>
