<p>
  This lesson will challenge students to think creatively by having them design and build water
  balloon catchers from random scrap materials, while requiring them to take into consideration a
  multitude of variables including: cost, maintenance, total capacity, etc. After completing their
  water balloon catchers, students will collect data based on the performance of all catchers
  designed by the class. Students will then construct at least two bar graphs to be used in a
  commercial advocating the purchase of their group's catcher.
</p>
