<p>
  This lesson allows students to practice their arithmetic skills and check their answers using the
  <a href="{{ '/activities/Graphit' | relative_url }}">Graphit</a> activity.
  <br />
</p>
<p>
  This lesson utilizes the mathematical fact that the graph of a linear function can be developed
  from the equation y = bx or y = x + b. Students are given a list of arithmetic problems where all
  of the problems are of the same operation and the same operand (represented in the equations as
  b), while the second operand varies (represented in the equations as x). The second operand and
  the result (represented in the equations as y), are then graphed as ordered pairs. If the student
  answers the problems correctly, all ordered pairs will fall in a straight line.
</p>
