<p>
  The following discussions and activities are designed to lead the students to explore the
  <strong>Mandelbrot Set</strong>. This lesson is designed as a capstone activity for the idea of fractals started in the
  <a href="{{ '/lessons/InfinityRecursion' | relative_url }}">Infinity, Self-Similarity, and Recursion</a>,
  <a href="{{ '/lessons/GeometricFractals' | relative_url }}">Geometric Fractals</a>, and
  <a href="{{ '/lessons/FractalsAndTheChaos' | relative_url }}">Fractals and the Chaos Game</a> lessons. Students are introduced to the notion of a complex number and function iteration in
  order to motivate the discussion of Julia sets and the Mandelbrot set.
</p>
<p>
  This lesson is best implemented with students working individually. Allow the students at least 30
  minutes to explore each computer activity.
</p>
