<p>
  The following lesson is designed to introduce students to the differentiation between univariate
  and bivariate data. Students will gain experience determining what types of graphs and measures
  are appropriate for each type of data.
</p>
<p>
  This lesson is designed for students who are familiar with graphs and measures related to
  univariate data, even if they don't know the vocabulary term.
</p>
<p>
  This lesson is designed for students who are familiar with Shodor applets, particularly
  <a href="{{ '/activities/BarGraph' | relative_url }}">Bar Graph</a>,
  <a href="{{ '/activities/BoxPlot' | relative_url }}">Box Plot</a>,
  <a href="{{ '/activities/CircleGraph' | relative_url }}">Circle Graph</a>, and
  <a href="{{ '/activities/Histogram' | relative_url }}">Histogram</a>.
</p>
