<p>
  <ul>
    <li>
      Access to a browser
    </li>
    <li>
      pencil and paper
    </li>
    <li>
      Copies of supplemental materials for the activities:
      <ul>
        <li>
          <a href="{{ '/media/worksheets/88.pdf' | relative_url }}">Worksheet To Accompany the "Area" Applet</a>
        </li>
        <li>
          <a href="{{ '/media/worksheets/205.pdf' | relative_url }}">Recording Sheet To Accompany the "Area" Worksheet</a>
        </li>
      </ul>
    </li>
  </ul>
</p>
