<p>
  <ul>
    <li>
      Access to a browser
    </li>
    <li>
      Pencil and calculator
    </li>
    <li>
      Copies of supplemental materials for the activities:
      <ul>
        <li>
          <a href="{{ '/media/worksheets/458.pdf' | relative_url }}">The Fire! worksheet</a>
        </li>
        <li>
          <a href="{{ '/media/worksheets/450.pdf' | relative_url }}">The Better Fire! worksheet</a>
        </li>
        <li>
          <a href="{{ '/media/worksheets/67.pdf' | relative_url }}">The Game of Life worksheet</a>
        </li>
        <li>
          <a href="{{ '/media/worksheets/101.pdf' | relative_url }}">The Rabbits and Wolves worksheet</a>
        </li>
      </ul>
    </li>
  </ul>
</p>
