<p>
  <ul>
    <li>
      Access to a browser
    </li>
    <li>
      Pencil and paper
    </li>
    <li>
      Copies of supplemental materials for the activities:
      <ul>
        <li>
          <a href="{{ '/media/worksheets/451.pdf' | relative_url }}">Clock Arithmetic Exploration Questions</a>
        </li>
        <li>
          <a href="{{ '/media/worksheets/8.pdf' | relative_url }}">Caesar Cipher Exploration Questions</a>
        </li>
        <li>
          <a href="{{ '/media/worksheets/9.pdf' | relative_url }}">Caesar Cipher Exploration Questions II</a>
        </li>
        <li>
          <a href="{{ '/media/worksheets/10.pdf' | relative_url }}">Caesar Cipher Exploration Questions III</a>
        </li>
      </ul>
    </li>
  </ul>
</p>
