<p>
  <ul>
    <li>
      Access to a browser
    </li>
    <li>
      Pencil and paper
    </li>
    <li>
      Copies of supplemental materials for the activities:
      <ul>
        <li>
          For the
          <a href="{{ '/activities/RacingGameWithOneDie' | relative_url }}">Racing Game with One Die</a> activity:
          <ul>
            <li>
              one six-sided die
            </li>
            <li>
              <a href="{{ '/media/worksheets/102.pdf' | relative_url }}">Racing Game Worksheet</a>
            </li>
            <li>
              The Racing Game
              <a href="{{ '/media/worksheets/220.pdf' | relative_url }}">Table</a> to tally game results
            </li>
          </ul>
        </li>
        <li>
          For the
          <a href="{{ '/activities/TwoColors' | relative_url }}">Two Colors</a> game:
          <ul>
            <li>
              three identical containers (e.g., small boxes or opaque cups)
            </li>
            <li>
              six objects of two different colors (three of each color), such as marbles or poker
              chips. (The objects have to fit in the containers and have to be indistinguishable
              from each other by touch.)
            </li>
            <li>
              <a href="{{ '/media/worksheets/120.pdf' | relative_url }}">Two Colors Worksheet</a>
            </li>
            <li>
              The Two Colors
              <a href="{{ '/media/worksheets/191.pdf' | relative_url }}">Table</a> to tally the results
            </li>
          </ul>
        </li>
        <li>
          For the
          <a href="{{ '/activities/SimpleMontyHall' | relative_url }}">Monty Hall</a> activity:
          <ul>
            <li>
              Three identical index cards
            </li>
            <li>
              <a href="{{ '/media/worksheets/74.pdf' | relative_url }}">Monty Hall Worksheet</a>
            </li>
            <li>
              The
              <a href="{{ '/media/worksheets/196.pdf' | relative_url }}">Table</a> to tally the results
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</p>
