<p>
  <ul>
    <li>
      Access to a browser
    </li>
    <li>
      Pencil and Paper
    </li>
    <li>
      Copies of supplemental materials for the activities:
      <ul>
        <li>
          <a href="{{ '/media/worksheets/132.pdf' | relative_url }}">Histogram Worksheet</a>
        </li>
        <li>
          <a href="{{ '/media/worksheets/159.pdf' | relative_url }}">Scales and Impressions Worksheet</a>
        </li>
        <li>
          <a href="{{ '/media/worksheets/160.pdf' | relative_url }}">Sample problems for bar graph scales</a>
        </li>
        <li>
          <a href="{{ '/media/worksheets/162.pdf' | relative_url }}">Sample problems on bar graph class intervals</a>
        </li>
        <li>
          <a href="{{ '/media/worksheets/184.pdf' | relative_url }}">Sample Problems on Comparing Histograms and Bar Graphs</a>
        </li>
      </ul>
    </li>
  </ul>
</p>
