<p>
  <ul>
    <li>
      Access to a browser
    </li>
    <li>
      Copies of the supplemental materials:
      <ul>
        <li>
          A printed copy of the
          <a href="{{ '/media/worksheets/193.pdf' | relative_url }}">Racing Game Field</a> if they play the Racing Game with One Die without using the computer.
        </li>
        <li>
          <a href="{{ '/media/worksheets/102.pdf' | relative_url }}">Racing Game Worksheet</a>
        </li>
      </ul>
    </li>
    <li>
      The following objects or their pictures may be used in activities or to illustrate the
      discussions.
      <ol>
        <li>
          <p>
            Dice with various numbers of sides.
          </p>
          <p>
            <img src="{{ 'img/lessons/IdeasLeadProbability-lesson-1.gif' | relative_url }}" />
          </p>
        </li>
        <li>
          Spinners. Bag of lotto pieces with numbers. Lottery machine.
          <div>
            <img src="{{ 'img/lessons/IdeasLeadProbability-lesson-2.gif' | relative_url }}" />
            <img src="{{ 'img/lessons/IdeasLeadProbability-lesson-3.gif' | relative_url }}" />
            <img src="{{ 'img/lessons/IdeasLeadProbability-lesson-4.gif' | relative_url }}" />
          </div>
        </li>
      </ol>
    </li>
  </ul>
</p>
