<p>
  <ul>
    <li>
      Access to a browser
    </li>
    <li>
      Pencil and Paper
    </li>
    <li>
      Copies of supplemental materials for the activities:
      <ul>
        <li>
          <a href="{{ '/media/worksheets/116.pdf' | relative_url }}">Tortoise and hare race worksheet</a>
        </li>
        <li>
          <a href="{{ '/media/worksheets/11.pdf' | relative_url }}">Cantor's comb worksheet</a>
        </li>
        <li>
          <a href="{{ '/media/worksheets/466.pdf' | relative_url }}">Hilbert curve worksheet</a>
        </li>
        <li>
          <a href="{{ '/media/worksheets/Another_Hilbert_Curve_Exploration_Questions' | relative_url }}">Another Hilbert curve worksheet</a>
        </li>
        <li>
          <a href="{{ '/media/worksheets/63.pdf' | relative_url }}">Koch snowflake worksheet</a>
        </li>
      </ul>
    </li>
  </ul>
</p>
