<p>
  <ul>
    <li>
      Access to a browser
    </li>
    <li>
      pencil and paper
    </li>
    <li>
      <a href="{{ '/media/worksheets/13.pdf' | relative_url }}">Crazy Choices Worksheet</a>
    </li>
    <li>
      In the
      <a href="{{ '/activities/CrazyChoicesGame' | relative_url }}">Crazy Choices Game</a> if the game is simulated using different random number-generating devices, some of the
      following will be needed:
      <ul>
        <li>
          dice with various numbers of sides
        </li>
        <li>
          spinners
        </li>
        <li>
          bags of numbered lotto chips, or chips of several colors, or marbles of several colors
        </li>
        <li>
          coins
        </li>
      </ul>
    </li>
    <li>
      The
      <a href="{{ '/media/worksheets/181.pdf' | relative_url }}">Crazy Choices Game Tally Table</a> can be printed for each student or group of students to keep track of their data in the Crazy
      Choices Game
    </li>
    <li>
      The
      <a href="{{ '/discussions/EventsAndSetOperatio' | relative_url }}">Events and Sets Operations</a> discussion is best illustrated with color diagrams. Pens, pencils or crayons of 3-5 different
      colors (a set for each student or each group of students working independently) will help to
      visualize the ideas and to make problem solving more fun
    </li>
  </ul>
</p>
