<p>
  Students will need:
  <ul>
    <li>
      access to a browser
    </li>
    <li>
      pencil and paper
    </li>
    <li>
      Copies of the
      <a href="{{ '/media/worksheets/Modular_Arithmetic_Exploration_Questions' | relative_url }}">Modular Arithmetic Exploration Questions</a>
    </li>
    <li>
      Copies of the
      <a href="{{ '/media/worksheets/Working_with_Remainders_Worksheet' | relative_url }}">Working with Remainders Worksheet</a>
    </li>
    <li>
      <a href="{{ '/media/worksheets/Working_with_Remainders_Answer_Sheet' | relative_url }}">Working with Remainders Answer Sheet</a>
    </li>
  </ul>
</p>
