<p>
  Students will need:
  <ul>
    <li>
      Access to a browser
    </li>
    <li>
      Pencil and paper
    </li>
    <li>
      Access to a calculator (optional)
    </li>
    <li>
      Copies of supplemental materials for the activities:
      <ul>
        <li>
          <a href="{{ '/media/worksheets/Multiplying_Fractions_Worksheet' | relative_url }}">Multiplying Fractions Worksheet</a>
        </li>
        <li>
          <a href="{{ '/media/worksheets/188.pdf' | relative_url }}">Multiplying Mixed Numbers Worksheet</a>
        </li>
      </ul>
    </li>
  </ul>
</p>
