<p>
  <ul>
    <li>
      Access to a browser
    </li>
    <li>
      Pencil and calculator
    </li>
    <li>
      Copies of supplemental materials for the activities:
      <ul>
        <li>
          <a href="{{ '/media/worksheets/78.pdf' | relative_url }}">Coloring Multiples worksheet</a>
        </li>
        <li>
          <a href="{{ '/media/worksheets/79.pdf' | relative_url }}">Coloring Remainders worksheet</a>
        </li>
        <li>
          <a href="{{ '/media/worksheets/186.pdf' | relative_url }}">Pascal's Triangle Worksheet</a>
        </li>
      </ul>
    </li>
  </ul>
</p>
