<p>
  <ul>
    <li>
      enough stations so that each pair of students can be working at an individual station. (You
      may want to have multiples of each station because some stations take longer to complete than
      others.)
    </li>
    <li>
      2 race boards and 4 race cars
    </li>
    <li>
      8 dice
    </li>
    <li>
      2 pieces of paper numbered 1- 12
    </li>
    <li>
      10 square pieces of paper or 10 poker chips
    </li>
    <li>
      an opaque bag
    </li>
    <li>
      15 white marbles
    </li>
    <li>
      5 red marbles
    </li>
    <li>
      a spinner
    </li>
    <li>
      3 index cards (a mole drawn on the reverse of one card)
    </li>
    <li>
      2 pennies
    </li>
    <li>
      a deck of playing cards
    </li>
    <li>
      access to a browser
    </li>
    <li>
      paper
    </li>
    <li>
      pencil
    </li>
  </ul>
</p>
