<p>
  <ul>
    <li>
      Access to a browser
    </li>
    <li>
      Pencil and paper
    </li>
    <li>
      <a href="{{ '/media/worksheets/110.pdf' | relative_url }}">Spinner Worksheet</a>
    </li>
    <li>
      If desired, the Polyhedra discussion can be demonstrated with the students using:
      <ol>
        <li>
          cardboard or plastic forms of equilateral triangles, squares, and regular pentagons to
          trace on paper. If a set of pre-cut paper figures consisting of 30-40 triangles, 10-15
          squares, and 15-20 pentagons is available, then forms and scissors are unnecessary.
        </li>
        <li>
          scissors to cut the paper
        </li>
        <li>
          scotch tape to put the polyhedra together
        </li>
      </ol>
    </li>
    <li>
      The
      <a href="{{ '/activities/BasicSpinner' | relative_url }}">Spinner Game</a> and the
      <a href="{{ '/activities/AdjustableSpinner' | relative_url }}">Adjustable Spinner Game</a> require either computer access or a set of materials for building spinners for each group of
      students.
    </li>
    <li>
      The
      <a href="{{ '/discussions/FromGeometryToProbab' | relative_url }}">Angles and Expected Value Discussion: from geometry to probability</a> discussion refers to protractors for measuring angles, so each group of students should have
      a protractor.
    </li>
  </ul>
</p>
