<p>
  <ul>
    <li>
      Access to a browser
    </li>
    <li>
      pencil and paper
    </li>
    <li>
      For the
      <a href="{{ '/activities/RacingGameWithTwoDie' | relative_url }}">Racing Game with Two Dice</a> each group of students will need:
      <ol>
        <li>
          two dice
        </li>
        <li>
          chips or other small game pieces of different colors
        </li>
        <li>
          <a href="{{ '/media/worksheets/193.pdf' | relative_url }}">The Racing Game Field</a>
        </li>
        <li>
          <a href="{{ '/media/worksheets/194.pdf' | relative_url }}">The Racing Game Tally Table</a>
        </li>
        <li>
          <a href="{{ '/media/worksheets/103.pdf' | relative_url }}">The Racing Game Worksheet</a>
        </li>
      </ol>
    </li>
  </ul>
</p>
