<p>
  <ul>
    <li>
      Access to a browser
    </li>
    <li>
      Pencil and paper
    </li>
    <li>
      Copies of supplemental materials for the activities:
      <ul>
        <li>
          <a href="{{ '/media/worksheets/98.pdf' | relative_url }}">Squaring the Triangle Exploration Questions</a>
        </li>
        <li>
          <a href="{{ '/media/worksheets/99.pdf' | relative_url }}">Pythagorean Explorer Exploration Questions</a>
        </li>
        <li>
          <a href="{{ '/media/worksheets/119.pdf' | relative_url }}">Worksheet to Accompany the "Triangle Explorer" Applet</a>
        </li>
      </ul>
    </li>
  </ul>
</p>
