<p>
  <ul>
    <li>
      Access to a browser
    </li>
    <li>
      Pencil and paper
    </li>
    <li>
      Copies of the supplemental materials:
      <ul>
        <li>
          For the
          <a href="{{ '/activities/Marbles' | relative_url }}">Marble Bag</a> activity, each student/team needs:
          <ol>
            <li>
              10 to 20 marbles of varying colors
            </li>
            <li>
              A bag or some other type of container
            </li>
            <li>
              <a href="{{ '/media/worksheets/71.pdf' | relative_url }}">Marble Bag Worksheet</a>
            </li>
          </ol>
        </li>
      </ul>
    </li>
    <li>
      For the
      <a href="{{ '/activities/TwoColors' | relative_url }}">Two Colors</a> game:
      <ol>
        <li>
          three identical containers (e.g., small boxes or opaque cups)
        </li>
        <li>
          six objects of two different colors (three of each color), such as marbles or poker chips.
          The objects have to fit in the containers and have to be indistinguishable from each other
          by touch.
        </li>
        <li>
          The Two Colors
          <a href="{{ '/media/worksheets/191.pdf' | relative_url }}">Table</a> to tally the results
        </li>
        <li>
          <a href="{{ '/media/worksheets/120.pdf' | relative_url }}">Two Colors Worksheet</a>
        </li>
      </ol>
    </li>
    <li>
      All activities in the lesson are better experienced by using the software, with individual
      students or small groups of students having enough time to explore the games and find answers
      to the related questions. If the activities have to be set up physically, the above materials
      are necessary (one set of materials for each group of students that will be doing the
      activity).
    </li>
  </ul>
</p>
