<p>
  <ul>
    <li>
      Students will need access to a web browser.
    </li>
    <li>
      Students will need pencil and paper.
    </li>
    <li>
      Students will need copies of the following worksheets:
      <ul>
        <li>
          <a href="{{ '/media/worksheets/398.pdf' | relative_url }}">The Normal Distribution activity</a>
        </li>
        <li>
          <a href="{{ '/media/worksheets/69.pdf' | relative_url }}">The Skew Distribution activity</a>
        </li>
      </ul>
    </li>
    <li>
      Especially if doing the Bell Curve sections "live", the instructor should have some
      <a href="{{ '/media/worksheets/178.pdf' | relative_url }}">background on the bell curve</a> .
    </li>
  </ul>
</p>
