<p>
  <ul>
    <li>
      Access to a browser
    </li>
    <li>
      Copies of supplemental materials for the activities:
      <ul>
        <li>
          <a href="{{ '/media/worksheets/61.pdf' | relative_url }}">Function pump worksheet</a>
        </li>
        <li>
          <a href="{{ '/media/worksheets/62.pdf' | relative_url }}">Julia set worksheet</a>
        </li>
        <li>
          <a href="{{ '/media/worksheets/70.pdf' | relative_url }}">Mandelbrot set worksheet</a>
        </li>
      </ul>
    </li>
  </ul>
</p>
