<p>
  <ul>
    <li>
      Access to a browser
    </li>
    <li>
      Pencil and Paper
    </li>
    <li>
      Copies of the following supplemental materials:
      <ul>
        <li>
          <a href="{{ '/media/worksheets/13.pdf' | relative_url }}">Crazy Choices Worksheet</a>
        </li>
        <li>
          <a href="{{ '/media/worksheets/120.pdf' | relative_url }}">Two Colors Worksheet</a>
        </li>
        <li>
          <a href="{{ '/media/worksheets/74.pdf' | relative_url }}">Monty Hall Worksheet</a>
        </li>
      </ul>
    </li>
    <li>
      If the
      <a href="{{ '/activities/CrazyChoicesGame' | relative_url }}">Crazy Choices</a> game is experimented with "by hand" students will need several (at least one for each
      student, more is better) different random number-generating devices, for example some of the
      following:
      <ol>
        <li>
          dice with various numbers of sides
        </li>
        <li>
          spinners
        </li>
        <li>
          bags of numbered lotto chips, or chips of several colors, or marbles of several colors
        </li>
        <li>
          coins
        </li>
      </ol>
    </li>
    <li>
      For doing the
      <a href="{{ '/activities/TwoColors' | relative_url }}">Two Colors Game</a> by hand, students will need:
      <ol>
        <li>
          three identical containers (e.g., small boxes or opaque cups)
        </li>
        <li>
          six objects of two different colors (three of each color), such as marbles or poker chips
        </li>
        <li>
          <a href="{{ '/media/worksheets/191.pdf' | relative_url }}">Two Colors Tally Table</a> to tally the results.
        </li>
      </ol>
    </li>
    <li>
      The objects have to fit in the containers and have to be indistinguishable from each other by
      touch.
    </li>
    <li>
      For playing the
      <a href="{{ '/activities/SimpleMontyHall' | relative_url }}">Single Trials Monty Hall Game</a> without computers, students will need
      <ol>
        <li>
          three identical index cards
        </li>
        <li>
          <a href="{{ '/media/worksheets/196.pdf' | relative_url }}">Monty Hall Tally Table</a> to tally the results.
        </li>
      </ol>
    </li>
  </ul>
</p>
