<p>
  <ul>
    <li>
      An opaque bag.
    </li>
    <li>
      Objects in a variety of different shapes, sizes, textures, etc. Objects should have some
      characteristics in common, consider the following list for an example:
      <ul>
        <li>
          a large, soft, red ball
        </li>
        <li>
          a small, hard, yellow ball
        </li>
        <li>
          a large, hard, green ball
        </li>
        <li>
          a small, soft, green ball
        </li>
      </ul>
    </li>
  </ul>
</p>
