    <p>
      This activity allows the user to see the results of a fire on a virtual forest by setting
      parameters such as forest density and wind speed.
    </p>
    <p>
      A probability "die" is thrown to see if a tree should be planted for each square. Then the
      fire is set and allowed to burn -- if a tree has a neighbor on fire, it will catch on fire in
      the next time period. This is a realistic simulation of actual forest fires, with controls for
      wind speed and direction to add more realism. More sophisticated versions of this simple
      simulation have been used with much success to model fire behavior and plan forest planting
      strategies.
    </p>
    <p>
      The behavior of this activity is chaotic, since we cannot predict in advance whether a
      particular tree is burned or not, and since small changes in the set probability and the
      location of the initial burning can radically alter the final state of the forest. However,
      general patterns in the burning of the trees can be seen for particular probabilities.
    </p>
