<p>
      This activity allows the user to see the results of a fire if a forest is densely planted in a
      rectangular grid. The probability that a tree will burn is set, and the fire is started. Each
      tree has the same probability that it will burn or not, given that its neighbor is on fire.
    </p>
    <p>
      The behavior of this activity is chaotic since we cannot predict in advance whether a
      particular tree is burned or not, and small changes in the set probability, forest size, and
      the location of the initial burning can radically alter the final state of the forest.
      However, general patterns in the burning of the trees can be seen for particular
      probabilities. This applet allows the user to adjust a variety of initial parameters and look
      for patterns in the resulting fire. In particular, the "burn history" allows the user to track
      every burn until the history is cleared.
    </p>
    <p>
      This fire is somewhat unrealistic since in most fires, if a tree has a close neighbor on fire
      it will likely catch fire unless the wind changes.
    </p>
