    <p>
      This activity allows the user to experiment with conditional probability by choosing to stay
      or to switch doors. This applet also allows the user to control the number of doors to
      increase or decrease the probability of finding the right door.
    </p>
    <p>
      Conditional probability is the probability that an event will occur based on the outcome of
      the previous event. The condition in this game is that following the user's initial door
      selection, one of the other doors is opened and the user is shown that the prize is not behind
      that door. Based on the information the user just learned, he has a better chance of guessing
      the correct door.
    </p>
    <p>
      Probability began in the middle of the seventeenth century by a man named Pascal. One day a
      man proposed a question about gambling. His question was "If I play a game in which I have
      eight rolls to roll a six and I fail the first three times, how much of my bet should I get
      back?" The game involved chance just as most games do now, such as Monopoly and card games.
      Las Vegas is a city that is dominated by people that have invested in this field of
      mathematics. Today, probability has found its way into the fields of science, medicine, and
      statistics.
    </p>
