    <p>
      This activity allows two users to play a game where each player tries to connect four game
      pieces in a row before his or her opponent does. The players can choose to answer problems
      involving whole number and
      <a href="{{ '/dictionary/i' | relative_url }}">integer</a> addition, subtraction, multiplication, and division. They can also choose the difficulty
      level.
    </p>
    <p>
      When adding or subtracting integers, consider the number line. The minus sign is always a
      negation of the positive direction, whether the minus sign represents the operation of
      subtraction or the sign on the integer. For example take the addition problem 5 + -7 = -2.
      <br />
      <img src="{{ 'img/activities/learner/ArithmeticFour-learner-1.gif' | relative_url }}" />
      <br />Or take the subtraction problem 2 - -5 = 7.
      <br />
      <img src="{{ 'img/activities/learner/ArithmeticFour-learner-2.gif' | relative_url }}" />
    </p>
