<p>
      The Bar Graph applets allow the user to graphically display data frequency using a
      <a href="{{ '/dictionary/b' | relative_url }}">bar graph</a>. This particular applet allows the user to enter his/her own data as well as manipulate the
      y-axis values. The ability to manipulate the y-axis values allows the creation of potentially
      misleading graphs.
    </p>
    <p>
      Bar graphs, similarly to
      <a href="{{ '/dictionary/h' | relative_url }}">histograms</a>, are graphical data representations based on frequency. Histograms are a type of bar graph.
      The feature, which distinguishes a histogram from a bar graph, is that each bar on a histogram
      represents a range of data, where each bar on a bar graph represents a specific category. For
      example:
    </p>
    <div class="h-center">
      <img src="{{ 'img/image245.gif' | relative_url }}" />
    </div>
    <p>
      In this bar graph each bar represents a specific part of this student's day, while the y-axis
      shows the number of hours.
    </p>
    <div class="h-center">
      <img src="{{ 'img/image246.gif' | relative_url }}" />
    </div>
    <p>
      In this histogram each bar represents a 19.1 point range of SAT scores.
    </p>
