<p>
      This activity allows the user to visually experiment with the relationship between the value
      of fractions and areas within a square or a circle.
    </p>
    <p>
      After the user assigns values to two boundary fractions, the activity provides the user with a
      pair of shapes and a number line. Each shape is connected to a point on the number line
      corresponding to one of the boundary fractions. By creating a group of smaller sections within
      each shape, the user can color a portion of the shape to match the value of the fractions.
    </p>
    <p>
      When both shapes are correctly divided and colored, a third box appears. The user is asked to
      divide and color the new shape to create a new fraction that lies between the values of the
      original two. As the student colors in the third box, a marker moves to the corresponding
      value on the number line.
    </p>
    <p>
      After all three boxes are correctly colored, the student must enter the value of the fraction
      which they created. Giving the exact value of the fraction serves to reinforce the
      relationship between the area colored and the exact value of the fraction.
    </p>
    <p />
