    <p>
      This activity allows the user to run a simulation of dropping a needle on a lined sheet of
      paper and determining the probability of the needle crossing one of the lines. The remarkable
      result is that the probability is directly related to the value of Pi. By using calculus, one
      can prove (as people first discovered in the eighteenth century) that the probability of a hit
      is 2/Pi, where Pi is defined as the ratio of a circle's circumference to its diameter. To
      calculate Pi from the needle drops, the computer program finds experimental probability:
    </p>
    <p>
      Experimental Probability = (# of hits)/(total # of drops)
    </p>
    <p>
      On the other hand, we have (approximately):
    </p>
    <p>
      Theoretical Probability = 2/Pi
    </p>
    <p>
      We can use this fact to conclude that:
    </p>
    <p>
      2(total # of drops)/(# of hits)= Pi (approximately)
    </p>
