<p>
      This activity allows the user to step through the process of building Cantor's comb.
    </p>
    <p>
      The Cantor Comb is a way of visualizing the famous Cantor Set. Start with a line segment like:
    </p>
    <p>
      <div class="h-center">
        <img src="{{ 'img/image814.gif' | relative_url }}" />
      </div>
    </p>
    <p>
      Then remove the middle third:
    </p>
    <p>
      <div class="h-center">
        <img src="{{ 'img/image815.gif' | relative_url }}" />
      </div>
    </p>
    <p>
      Next, remove the middle thirds of each remaining line segment. The next stage would be:
    </p>
    <p>
      <div class="h-center">
        <img src="{{ 'img/image816.gif' | relative_url }}" />
      </div>
    </p>
    <p>
      Now repeat this process indefinitely. The Cantor comb is the stuff left after removing the
      middle thirds of the line segments "infinitely many times."
    </p>
    <p>
      Other Cantor combs can be created by removing different sized middle pieces. For example, we
      can remove the middle quarter (1/4) or the middle half (1/2) to get different Cantor combs. To
      distinguish between these we sometimes call the original version the "Cantor middle-thirds
      comb" using a similar name for the others.
    </p>
    <p>
      Georg Cantor (1845-1918) was very interested in infinite sets, especially ones with unusual
      properties. He built what is now called the Cantor set to illustrate an unusual infinite set.
      This set has only points left, no line segments - so no length. If you stop the process at any
      stage, there
      <em>are</em> line segments, very short ones. The idea is that at any stage you have length, but in the
      limit you don't. This makes the Cantor comb a very curious set.
    </p>
