    <p>
      This activity allows the user to input a time and see it displayed on the clock. The user can
      also choose to have a random time displayed and try to correctly identify it.
    </p>
    <p>
      Most clock faces have 12 hours even though there are 24 hours in a day. Reading time in 24
      hours rather than 12 is commonly known as "military time" because the US military reads time
      on a 24 hour scale rather than using "AM" and "PM" to signify before noon and before midnight.
    </p>
