    <p>
      This activity allows the user to explore experimental probabilities through simulation of a
      coin toss.
    </p>
    <p>
      There are many ways to look at the results of a probability experiment including lists, hash
      tables, counts of outcomes, ratios, percents, graphs, and more. In this activity you can view
      the results as a list, ratios and probabilities, and a table.
    </p>
    <p>
      Closely tied to experimental probability is theoretical probability. The theoretical
      probability of an event is the ratio between the number of possible outcomes if a particular
      event compared to the total number of outcomes. With any one given coin toss, if the coin is
      fair, the probability of getting a head is 1/2. This is because a head occurs once on a coin
      and there are two equally likely possibilities.
    </p>
    <p>
      A man named Pascal discovered probability in the middle of the seventeenth century. One day a
      man proposed a question about gambling. His question was "If I play a game that I have eight
      rolls to roll a six and I fail the first three times, how much of my bet should I get back?"
      The game involved chance just as most of games do now, such as Monopoly and card games. Las
      Vegas is a city that is dominated by people that have invested in this field of mathematics.
      Today, probability has found its way into the fields of science, medicine and statistics.
    </p>
