<p>
      This activity allows the user to run up to three different games of chance at once, allowing
      for comparison of experimental and theoretical probabilities.
    </p>
    <p>
      Probability began in the middle of the seventeenth century by a man named Pascal. One day a
      man proposed a question about gambling. His question was "If I play a game that I have eight
      rolls to roll a six and I fail the first three times, how much of my bet should I get back?"
      The game involved chance just as most of games do now, such as Monopoly and card games. Las
      Vegas is a city that is dominated by people that have invested in this field of mathematics.
      Today, probability has found its way into the fields of science, medicine, and statistics.
    </p>
    <p>
      This applet allows the user to experiment with multiple event probability by manipulating
      chance. It also introduces theoretical and experimental probability. As the user changes the
      number of trials they will see how much this affects the experimental probability. Theoretical
      probability is the outcome you would predict. The experimental probability is the actual
      outcome after running a given number of trials.
    </p>
