<p>
      Cross sections are the two-dimensional representations created at the intersection of a
      "slicing plane" and a three-dimensional object. The cross section is the portion of the object
      shown at slice. Cross sections have interesting properties and help us better understand
      cones, cylinders, and polyhedra. In particular, conic sections are cross sections of a cone or
      double cone and can be explored further in the
      <a href="{{ '/activities/ConicFlyer' | relative_url }}">Conic Flyer</a> applet.
    </p>
    <p>
      In this applet, you can explore cross sections of various cones, cylinders, prisms, and
      pyramids. By changing the properties of the three-dimensional object and observing the
      different cross sections, you'll discover new ways to create a variety of familiar shapes. To
      help you visualize the cross sections, they are displayed on a familiar two-dimensional graph
      to the right of the three-dimensional figure.
    </p>
    <p>
      The translation between two- and three-dimensional space is an important skill. As you play
      with this applet, be careful to understand how each graphical representation is derived from
      the three-dimensional object.
    </p>
