<p>
      This activity allows the user to practice determining the elapsed time when given a starting
      time and an ending time.
    </p>
    <p>
      Elapsed time is the time or difference between a beginning time and an ending time. Finding
      elapsed time is an important skill in everyday life. Determining elapsed time requires
      understanding how to read a clock and understanding how we measure time because we don't
      usually use our traditional decimal (base ten) system to measure time.
    </p>
    <p>
      For instance, say you want to figure out how much time you spend in school each day. If your
      school day starts at 7:45 am and your last class ends at 3:05 pm, how much time is that? It's
      a subtraction problem but you can not use the same method for subtraction that you use if you
      were just subtracting whole numbers or decimals:
      <img class="h-center" src="{{ 'img/image774.gif' | relative_url }}" />
    </p>
    <p>
      As is typical with most math, you can think about the problem many ways. Here are a couple of
      ways:
    </p>
    <p>
      <ul>
        <li>
          You can think about the problem by picturing the time on a clock and then moving the clock
          ahead hour by hour. When you can't move ahead a full hour, start moving in fifteen, five,
          or one-minute intervals and then add all the hours and minutes that go by:
          <img class="h-center" src="{{ 'img/image775.gif' | relative_url }}" />
        </li>
        <li>
          You can also think about it as a subtraction problem but you need to be careful if you
          "borrow" or "regroup" from the hour time. Remember, one hour is equal to 60 minutes so
          when you regroup, you need to add 60 to the total number of minutes, not 10 as you may be
          used to doing. Also, if you are changing from am to pm or pm to am, you should add 12
          hours to the later time. So in this problem 3:05 pm becomes 15:05:
          <img class="h-center" src="{{ 'img/image776.gif' | relative_url }}" />
        </li>
      </ul>
    </p>
