    <p>
      This activity allows the user to practice solving algebraic equations using the additive and
      multiplicative inverses.
    </p>
    <p>
      Solving an algebraic equation means finding the value of an unknown in an equation that will
      make that equation true. There are many ways to solve algebraic equations. Frequently, solving
      algebraic equations entails "isolating the variable" using relationships of equality and
      properties of real numbers such as the distributive property, the associative property, the
      commutative property, and both the
      <a href="{{ '/dictionary/m' | relative_url }}">multiplicative inverse</a> and
      <a href="{{ '/dictionary/a' | relative_url }}">additive inverse</a>. For these equations, you will use the multiplicative and additive inverses to solve for X.
    </p>
