    <p>
      This activity allows the user to visually experiment with the relationship between the values
      of equivalent fractions and areas within a square or a circle.
    </p>
    <p>
      The activity provides the user with a fraction, its equivalent representation as a shaded
      portion of a square or circle, and a number line. Also displayed are two empty squares or
      circles. The user can add and color sections to the blank shapes to create a fraction
      equivalent to the computer generated fraction.
    </p>
