<p>
      This activity allows a student to practice answering questions using
      <a href="{{ '/dictionary/e' | relative_url }}">estimation</a>. Users can choose to estimate addition, multiplication, and percentage problems.
    </p>
    <p>
      One method of estimation is to round the numbers first, then complete the operations. To
      round, think about making "easy" numbers. With larger numbers, this probably means rounding to
      hundreds, or even thousands depending on the size of the numbers. With smaller numbers,
      rounding to hundreds or tens could give you answers that are not close to the correct answers.
      If the numbers are less than one hundred apart, rounding to the nearest hundred will probably
      not be the best method. Instead, consider rounding to the nearest ten or even five.
    </p>
    <p>
      Estimation skills are crucial in day to day life. Being able to estimate well can help in
      reading maps, making economical purchases, determining how much tip to leave for a meal,
      telling a friend an accurate time where you can meet them someplace after finishing your
      chores, and many other daily tasks.
    </p>
    <p />
