<p>
      This activity allows the user to conduct probability experiments with traditional probability
      devices such as a spinner and dice. Studying random events with such devices and computer
      simulations allows you to gain familiarity with the connection between experimental and
      theoretical probability.
    </p>
    <p>
      The study of probability allows mathematicians and scientists to make predictions when the
      outcomes of events are not certain. Probability is essential to the study and prediction of
      weather patterns, developing medicines, hereditary traits, and most experiments in science.
    </p>
