<p>
      This activity allows the user to build custom line deformation fractals.
    </p>
    <p>
      Line deformation fractals are interesting examples of a recursive process. Here we start with
      a line and bend it into a series of connected line segments. One can generate regular and
      irregular fractals this way.
    </p>
    <p>
      Here is an example of a regular fractal. The line will be divided into four equal-length line
      segments and bent as:
    </p>
    <p>
      <div class="h-center">
        <img src="{{ 'img/image443.gif' | relative_url }}" />
      </div>
    </p>
    <p>
      Now the recursive process kicks in: To go to the next stage, each individual line segment is
      replaced with a scaled copy of the original deformation:
    </p>
    <p>
      <div class="h-center">
        <img src="{{ 'img/image444.gif' | relative_url }}" />
      </div>
    </p>
    <p>
      Repeat this process over and over. As the number of stages goes to infinity, a fractal is
      born. Our eyes can't differentiate really small segments, so we can usually get a good idea of
      what the fractal would look like after about 5 stages:
    </p>
    <p>
      <div class="h-center">
        <img src="{{ 'img/image445.gif' | relative_url }}" />
      </div>
    </p>
    <p>
      We can also make irregular fractals by breaking the original line into unequal line segments.
      Here's one:
    </p>
    <p>
      <div class="h-center">
        <img src="{{ 'img/image446.gif' | relative_url }}" />
      </div>
    </p>
    <p>
      One stage later:
    </p>
    <p>
      <div class="h-center">
        <img src="{{ 'img/image447.gif' | relative_url }}" />
      </div>
    </p>
    <p>
      Five stages later:
    </p>
    <p>
      <div class="h-center">
        <img src="{{ 'img/image448.gif' | relative_url }}" />
      </div>
    </p>
