<p>
      This activity allows the user to practice simplifying, converting, multiplying decimals,
      percentages and fractions.
    </p>
    <p>
      This activity is similar to Connect Four, and is designed for two players. The goal is to have
      four pieces of the same color connected either horizontally, vertically, or diagonally. One
      player uses red pieces, while the other player uses black pieces. To earn a piece, you need to
      answer a fraction-related question.
    </p>
    <p>
      Remember the numerator is the number on the top of the fraction and the denominator is the
      number on the bottom. To simplify fractions, you must factor the numerator and denominator
      completely. Then you cross out the numbers that are in both the numerator and the denominator.
      If all of the factors are canceled in the numerator, then replace it with 1 (which is a factor
      of any number). Do the same for the denominator. Here is an example:
    </p>
    <p>
      <img class="h-center" src="{{ 'img/image690.gif' | relative_url }}" />
    </p>
    <p>
      To convert fractions to decimals, just divide the numerator by the denominator. To multiply
      fractions you just multiply the numerator of the first fraction by the numerator of the second
      fraction, then divide this result by the denominator of the first fraction multiplied by the
      denominator of the second. Here is an example:
    </p>
    <p>
      <img class="h-center" src="{{ 'img/image691.gif' | relative_url }}" />
    </p>
