<p>
      This activity allows the user to visually experiment with the relationship between the value
      of fractions and areas within a square or a circle. The user is asked to both recreate given
      fractions and supply original numbers as well.
    </p>
    <p>
      The activity provides the user with two fractions, a pair of shapes, and a number line. Each
      shape is connected to a point on the number line corresponding to one of the fractions. The
      user can create the computer generated fractions by adding sections to the empty shaped and
      coloring in the appropriate portion of the shape to match the fraction.
    </p>
    <p>
      When both shapes are correctly divided and colored, a third box appears. The user is asked to
      divide and color the new shape to create a new fraction that lies between the values of the
      original two.
    </p>
    <p>
      After all three boxes are correctly colored, the student must enter the value of the fraction
      which they created. Giving the exact value of the fraction serves to reinforce the
      relationship between the area colored and the exact value of the fraction.
    </p>
    <p />
