<p>
      This activity allows the user to explore simple
      <a href="{{ '/dictionary/l' | relative_url }}">linear functions</a>; the function is determined by looking for patterns in the outputs. The functions available
      for exploration in the function machine activity have one of the following forms:
    </p>
    <p>
      <div class="h-center">
        y = x * __
        <br />
        y = x + __
        <br />
        y = x - __
        <br />
      </div>
    </p>
    <p>
      where the underline can be any integer between -10 and 10.
    </p>
    <p>
      The notion of a function is important in higher mathematics such as calculus and in areas
      which use mathematics such as physics. Any rule that assigns exactly one output to an input or
      list of inputs can be called a function.
    </p>
    <p>
      Here are a few examples:
    </p>
    <p>
      <ul>
        <li>
          Input the number of seconds after the starting gun in a race to get an output of the
          number of meters the runner has covered.
          <table class="h-center">
            <tr>
              <td>
                input
              </td>
              <td>
                3
              </td>
              <td>
                2
              </td>
              <td>
                0
              </td>
              <td>
                -4
              </td>
            </tr>
            <tr>
              <td>
                output
              </td>
              <td>
                4
              </td>
              <td>
                -1
              </td>
              <td>
                2
              </td>
              <td>
                -3
              </td>
            </tr>
          </table>
        </li>
        <li>
          y = x - 6, where x is the place holder (also called a variable) for the input and y is the
          place holder for the output.
          <br />
          The rule about only one output each time is crucial and must not be violated. For example,
          the table below cannot represent a function because 3 has two different outputs:
          <table class="h-center">
            <tr>
              <td>
                input
              </td>
              <td>
                3
              </td>
              <td>
                2
              </td>
              <td>
                0
              </td>
              <td>
                3
              </td>
            </tr>
            <tr>
              <td>
                output
              </td>
              <td>
                4
              </td>
              <td>
                -1
              </td>
              <td>
                2
              </td>
              <td>
                -3
              </td>
            </tr>
          </table>
        </li>
      </ul>
    </p>
