  <p>
    This activity allows the user to create three-dimensional solids by rotating the graphs of
    functions around either a horizontal or vertical axis. The applet then calculates the volume and
    surface area of the solid that has been created. This allows the user to practice integration,
    which is used in the formula for calculating volume and surface area of rotated solids.
  </p>
  <p>
    In the applet, the user can decide whether to rotate the solid around a vertical or horizontal
    line. If rotating around a horizontal line, the equations must be functions of x (i.e.
    f(x)=x+3). If rotating around a vertical line, the equations must be functions of y (i.e.
    f(y)=y-2). This is necessary when integrating.
  </p>
  <p>
    When revolving around an axis, there are two situations that can occur. When only one function
    is rotated around an axis, it creates a solid. Below is an example of one function rotated
    around an axis to create a solid.
  </p>
  <div class="h-center">
    <img src="{{ 'img/singFunc.png' | relative_url }}" />
    <img src="{{ 'img/singFuncRotated.png' | relative_url }}" />
  </div>
  <p>
    The other situation is when you rotate two functions around an axis. This creates a "hollowed
    out" figure because you rotate the area in between the curves around the axis. This is shown
    below.
  </p>
  <div class="h-center">
    <img src="{{ 'img/multiFunc.png' | relative_url }}" />
    <img src="{{ 'img/multiFuncRotated.png' | relative_url }}" />
  </div>
  <p>
    The activity also allows the user to restrict the bounds of the functions. This allows the user
    to consider one section of the functions in between intersections. Then, to calculate the entire
    volume, the user can combine the different sections.
  </p>

