<p>
      <p>
        This activity allows the user to step through the generation of a fractal made from
        deforming a line by bending it. The Hilbert Curve was studied by David Hilbert at the turn
        of the 20th century as an example 1-dimensional curve filling a 2-dimensional space.
      </p>
      <p>
        To build a Hilbert curve, start with a line segment 1 unit long. (Iteration 0, or the
        initiator)
      </p>
      <p>
        Replace each line segment with the following generator:
      </p>
      <div class="h-center">
        <img src="{{ 'img/image837.gif' | relative_url }}" />
      </div>
      <p>
        Notice that this replaces a line segment with 9 pieces, all 1/3 the length of the original
        segment.
      </p>
      <p>
        Repeat this process on all line segments. Iterations 0, 1, and 2 are shown below.
      </p>
      <div class="h-center">
        <img src="{{ 'img/image838.gif' | relative_url }}" />
      </div>
      <p>
        The limit of this process as the number of stages approaches infinity is a Hilbert curve.
      </p>
      <p>
        The Hilbert Curve is one of the earliest "curious curves" known to have been studied. The
        Hilbert Curve is the result of repeating a line bending step infinitely many times. Hilbert
        and Peano were interested in such curves at the end of the 19th century. Many curves of this
        type were found to be "fractal" in the 1970s.
      </p>
    </p>
