<p>
      This activity allows the user to measure angles and explore the concept of "scale" as it
      pertains to maps, images, and drawings. The scale feature allows the user to define a scale
      and then using that scale, measure distances or areas on a selected image.
    </p>
    <p>
      Understanding scale measurements requires understanding the concept of
      <a href="{{ '/dictionary/p' | relative_url }}">proportion</a>. When using a scale model or drawing, a
      <a href="{{ '/dictionary/r' | relative_url }}">ratio</a> is given such that a measurement taken from the model or drawing represents another
      measurement, presumably the "life size" measurement the model or drawing represents. This
      ratio can then be set equal to a second ratio where a second measurement is taken from the
      model or drawing in order to determine the unknown "life size" measurement.
    </p>
    <p>
      For instance, say you have a map where 1 inch represents 100 miles. If you measure 3.5 inches
      on the map then that will represent 3.5 * 100 = 350 miles.
    </p>
    <p>
      In order to determine scale area rather than scale distance, it is required to square the
      measurements because area is measured in square units. So if 1 inch represents 100 miles then
      1 square inch represents 10,000 square miles. This also implies that 3.5 square inches
      represents 3.5 * 10,000 = 35,000 square miles.
    </p>
