<p>
      This activity allows the user to pull marbles from a 'bag' in a variety of ways in order to
      explore several different concepts involving randomness and probability. The user controls the
      number and color of marbles located in the "bag". The user can also change whether the marbles
      are replaced after each draw and if the order in which the marbles are drawn matters. A table
      presents the user with a summary of the trials, and allows them to explore the difference
      between experimental and theoretical results.
    </p>
    <p>
      Probability began in the middle of the seventeenth century by a man named Pascal. One day a
      man proposed a question about gambling. His question was "If I play a game that I have eight
      rolls to roll a six and I fail the first three times, how much of my bet should I get back?"
      The game involved chance just as most of games do now, such as Monopoly and card games. Las
      Vegas is a city that is dominated by people that have invested in this field of mathematics.
      Today, probability has found its way into the fields of science, medicine, and statistics.
    </p>
