    <p>
      This applet allows the user to experiment with the normal distribution, varying the standard
      deviation.
    </p>
    <p>
      Continuous distributions such as the normal distribution and the lognormal distribution, as
      well as others like the exponential distribution which are not shown here, occur as the number
      of trials in an experiment increases toward infinity. That is to say, if you take several
      <a href="{{ '/activities/Measures' | relative_url }}">measurements</a> over and over again, for years, the
      <a href="{{ '/activities/Histogram' | relative_url }}">histogram</a> you get will start to look more and more like a smooth curve.
    </p>
    <p>
      A scientist sees normal distributions frequently. In any value where there can be measurement
      error, like a height, a weight, or a pH, you can make a histogram of the results of your
      trials. If you do enough trials, as scientists sometimes do, you will start to see a normal
      distribution. If you measure many similar things, which have differences caused by a random
      variation, those results will be in a normal distribution. Examples include the heights of
      cornstalks in a field, the levels of a chemical like iron in different people's blood, or
      standardized test scores. Also, when multiple probabilities interact (like a game where you
      roll two dice) you get a histogram resembling a normal distribution.
    </p>
