  <p>
    This activity allows the user to plot ordered pairs and parametric equations on the same
    coordinate plane. The applet is similar to
    <a href="{{ '/activities/Graphit' | relative_url }}">GraphIt</a> except you have to input the parametric representation of a function instead of the regular
    function.
  </p>
  <p>
    Parametric equations are a way to represent functions and other graphs by using separate
    equations for each coordinate. This is done to give a direction, or orientation, to a
    theoretical object traveling along the curve. Instead of there being a function where y depends
    on x, there are two equations x(t) and y(t) which both depend on t. The variable t is called the
    parameter and the two equations for x and y are called the parametric equations. The points on
    the graph have coordinates (x(t), y(t)) for some range of t.
  </p>
  <p>
    Parametric equations have the ability to present graphs that wouldn't pass the
    <a href="{{ '/discussions/FunctionsAndTheVert' | relative_url }}">vertical line test</a> for functions. Functions can easily be represented by parametric equations but not all sets of
    parametric equations can be represented by functions. The following is the graph of y=.5x^3
    represented by the parametric equations x(t)=t and y(t)=.5t^3.
    <img src="{{ 'img/parametricFunction.png' | relative_url }}" class="h-center" />
  </p>
  <p>
    To represent a function with its parametric equations, simply set x(t)=t and y(t)= the original
    function.
  </p>
  <p>
    The following is a graph of the parametric equations x(t)=sin(t) and y(t)=.5t^2. This cannot be
    represented as a function because it fails the
    <a href="{{ '/discussions/FunctionsAndTheVert' | relative_url }}">vertical line test</a>.
    <img src="{{ 'img/parametricNonfunction.png' | relative_url }}" class="h-center" />
  </p>

