<p>
      The polar coordinate system is a way to graph a point in two dimensions just like the
      Cartesian system. This system is based on a central point called the pole (the origin in the
      Cartesian system) and an axis extending in a positive direction from the pole called the polar
      axis (the x-axis in the Cartesian system). A point is defined by the ordered pair (r, theta)
      where r is the distance from the pole and theta is the angle between the polar axis and the
      line made between the point and the pole.
    </p>
    <p>
      Here's an example:
    </p>
    <p class="h-center">
      <img src="{{ 'img/PolarGraphwPtLrnr.jpg' | relative_url }}" />
    </p>
    <p>
      While traditional algebraic functions can be graphed on a polar coordinate system,
      trigonometric functions reveal particularly interesting results.
    </p>
    <p>
      Polar coordinates are used extensively in nagivation. They are also used for modeling systems
      that display radial symmetry like ground water flow, or radial force like gravitational
      fields.
    </p>
