    <p>
      This applet allows the user to simulate a race where the results are based on the roll of
      dice. The user can determine which player moves forward for a given roll, and can then
      experiment with the race by determining which player will win more often based on the rules
      that they specify. The rolling of dice is one example of probability. Probability is the
      expected value of what the outcome should be. If you run the applet a hundred times you will
      see that the probability you came up with (known as the experimental value) will be close but
      not always exactly what you would expect. In this applet we are using multiple event
      probability where the event happens more than once. We use two dice to control our outcome. To
      figure the expected probability you must multiply the probability of the events together. Each
      roll of the dice gives you a one in thirty-six chance (one-sixth times one sixth) that any
      number will appear.
    </p>
    <p>
      Probability began in the middle of the seventeenth century by a man named Pascal. One day a
      man proposed a question about gambling. His question was "If I play a game that I have eight
      rolls to roll a six and I fail the first three times, how much of my bet should I get back?"
      The game involved chance just as most games do now, such as Monopoly and card games. Las Vegas
      is a city that is dominated by people that have invested in this field of mathematics. Today,
      probability has found its way into the fields of science, medicine, and statistics.
    </p>
