<p>
      Correlation and regression are used regularly in statistical analysis. Correlation is used to
      see if a relationship exists between two variables and can be used to answer questions like
      these: Do you think there is any relationship between:
      <ul>
        <li>
          the amount of time you spend studying for a test and the grade you make?
        </li>
        <li>
          the amount of time a team spends practicing and the number of wins they have in a season?
        </li>
        <li>
          how tall you are and your weight?
        </li>
        <li>
          the type f shoes you wear and how fast you can run?
        </li>
      </ul>
    </p>
    <p>
      If a relationship is found then correlation can be used to determine how strong the
      relationship is. Once a correlation has been discovered, regression is used to find the
      equation used to relate the two variables. This equation can tell you if the two variables are
      positively or negatively related.
    </p>
