<p>
      This activity allows the user to simulate the standard Monty Hall Game.
    </p>
    <p>
      The user chooses a door, and then another door is opened to reveal a stinking pig. The player
      must then decide to stick with the original choice or change.
    </p>
    <p>
      This applet allows the user to experiment with conditional probability by choosing to stay or
      to switch doors. Conditional probability is the probability that an event will occur based on
      the outcome of the previous event. The particular "condition" is the event of opening a
      non-winning door based on which door is first picked. Based on the information the user just
      learned, he has a better chance of guessing the right door.
    </p>
    <p>
      Probability began in the middle of the seventeenth century by a man named Pascal. One day a
      man proposed a question about gambling. His question was "If I play a game that I have eight
      rolls to roll a six and I fail the first three times, how much of my bet should I get back?"
      The game involved chance just as most of games do now, such as Monopoly and card games. Las
      Vegas is a city that is dominated by people that have invested in this field of mathematics.
      Today, probability has found its way into the fields of science, medicine, and statistics.
    </p>
