<p>
      This activity allows the user to visually experiment with the relationship between the value
      of fractions and areas within a square or a circle. The activity provides the user with a
      fraction, a shape, and a number line. Each shape is connected to a point on the number line
      corresponding to the fraction of the shape colored in. The user begins with empty shapes, with
      the pointer pointing to zero. As the user colors the desired sections, the pointer moves along
      the number line corresponding to the fraction of the shape that bas been colored.
    </p>
