<p>
      This activity allows the user to visually experiment with the relationship between the value
      of fractions and areas within a square or a circle. The activity provides the user with a
      fraction, a shape, and a number line. The shape is connected to the point on the number line
      that corresponds to the fraction. The user can decide whether the empty shape is a circle or a
      square and then can create the computer generated fractions by adding sections to the empty
      shape and coloring in the appropriate portion of the shape to match the fraction.
    </p>
