<p>
      This activity allows the user to model a population of people susceptible to a disease,
      infected with the disease, and recovered from the disease. It demonstrates what happens in the
      real world when people infected with a contagious disease interact with others in their
      community.
    </p>
    <p>
      When an infected person meets a susceptible person (someone who is able to get that disease),
      there is a certain chance that the disease will spread to the susceptible person, and he or
      she will become infected. Infected people are sick for a certain number of days, and after
      that period, there is a certain chance they will recover. After that, they will be immune to
      the disease for a certain period of time, but they can become susceptible again later. The
      rules of the applet are:
      <ul>
        <li>
          Whenever an infected person is in a square next to a susceptible person, there is a
          certain probability that the susceptible person will become infected. (Note: the person
          will not become sick if an infected person is in a square diagonal to them.)
        </li>
        <li>
          After a certain number of days, the infected person has a chance, each day, to recover.
        </li>
        <li>
          Then, after another number of days, that person has a chance, each day, to become
          susceptible again.
        </li>
      </ul>
    </p>
    <p>
      Using this model, you can see how a population is affected by a contagious disease depending
      on different characteristics of the disease and population. Try experimenting with different
      characteristics of the disease like infection rate, initial population, etc. to see what
      happens to the population with different parameters. Do the results change when the parameters
      change? Are they always the same with the same parameters? What does this tell you about how
      real-world populations react to disease?
    </p>
    <p>
      This model was based on a model created in NetLogo, so if you have NetLogo, you could try
      making a more simple or more complex version on your own. NetLogo is free to download
      <link href="http://ccl.northwestern.edu/netlogo/download.shtml">here</a>. You could try making the model from scratch, or you can download a text file of the code (
      <a href="http://shodor.org/media/content/interactivate/activities/SpreadofDisease/SIRmodel_code.txt">Download File</a>). You will still have to create the buttons and slider bars manually. Or, you can download
      the entire model (
      <a href="http://shodor.org/media/content/interactivate/activities/SpreadofDisease/SIRmodel.nlogo">Download File</a>) with slider bars and buttons (but a simpler version). Try adding or subtracting your own
      parameters to the model to see how it affects the population.
    </p>
