<p>
      Stem-and-Leaf plots are used to analyze sets of data and are especially helpful when finding
      the following values:
    </p>
    <p>
      <ul>
        <li>
          Mean: the sum of all the data points divided by the number of items, also known as the
          average.
        </li>
        <li>
          Median: the number in the middle when the data set is arranged in increasing order.
        </li>
        <li>
          Mode: the number that appears most frequently in the data. If there is more than one value
          that has the highest frequency then the data has more than one mode. If every number has
          the same frequency then there is no mode.
        </li>
      </ul> [See also:
      <a href="{{ '/discussions/MeanMedianAndMode' | relative_url }}">A Discussion of Mean, Median, and Mode</a>]
    </p>
    <p>
      A Stem-and-Leaf plot is much like a histogram, displaying the number of times that an event
      within a particular range occurs. Yet, the stem-and-leaf plots reveals a little more
      information than a histogram, and it can show the exact data points. It is constructed by
      placing the first number of each data point on the left hand side of the line, and the
      remaining digits on the right-hand side on the line.
    </p>
    <p>
      If we were to make a stem-and-leaf plot of a set of grades on the last test in my math class,
      it might look something like this:
    </p>
    <p>
      <div class="h-center">
        <img src="{{ 'img/image463.GIF' | relative_url }}" />
      </div>
    </p>
    <p>
      This shows that there are 27 people in my class. One person failed the test, making a grade of
      37, and three people made D's: 66, 68, and 69. There were 6 C's: 74, 74, 75, 76, 79, and 79;
      10 B's: 82, 83, 83, 83, 85, 85, 86, 87, 87, 88; and 7 A's: 90, 91, 93, 97, 98, 99, and 100.
    </p>
    <p>
      With this chart, calculating the mean, median, and mode will be much easier!
    </p>
