    <p>
      This activity allows the user to generate a polygon that will repeat without overlapping
      across a plane. Starting from a rectangle, triangle or hexagon, the user bends the lines of
      the polygon, creating a new polygon. The user can choose several different colors to enhance
      the pattern, and can observe the different effects that colors have on tessellations.
    </p>
    <p>
      <div class="h-center">
        Starting from a simple polygon such as a triangle,
      </div>
      <div class="h-center">
        <img src="{{ 'img/activities/learner/Tessellate-learner-1.gif' | relative_url }}" />
      </div>
      <div class="h-center">
        then selecting colors for the shapes,
      </div>
      <div class="h-center">
        <img src="{{ 'img/activities/learner/Tessellate-learner-2.gif' | relative_url }}" />
      </div>
      <div class="h-center">
        the result is a plane covered with repetitions of the shape with no overlapping or gaps in
        between the shapes.
      </div>
      <div class="h-center">
        <img src="{{ 'img/activities/learner/Tessellate-learner-3.gif' | relative_url }}" />
      </div>
      <div class="h-center">
        Or starting from hexagon
      </div>
      <div class="h-center">
        <img src="{{ 'img/activities/learner/Tessellate-learner-4.gif' | relative_url }}" />
      </div>
      <div class="h-center">
        and bending the lines to form an irregular polygon
      </div>
      <div class="h-center">
        <img src="{{ 'img/activities/learner/Tessellate-learner-5.gif' | relative_url }}" />
      </div>
      <div class="h-center">
        then selecting colors for the shapes,
      </div>
      <div class="h-center">
        <img src="{{ 'img/activities/learner/Tessellate-learner-6.gif' | relative_url }}" />
      </div>
      <div class="h-center">
        renders this image:
      </div>
      <div class="h-center">
        <img src="{{ 'img/activities/learner/Tessellate-learner-7.gif' | relative_url }}" />
      </div>
    </p>
    <p>
      Tessellations occur naturally in the world, and are frequently used in designs for works of
      art and architecture. They can assist students in conceptualizing infinity, learning about the
      different types of symmetry, and making observations about how colors and shapes affect
      perception.
    </p>
