<p>
      This activity allows the user to play the chaos game with a choice of number of vertices.
    </p>
    <p>
      So why is this game interesting? What happens when we spill out a bag of marbles onto the
      floor? After they stop rolling around, we get a pattern formed by the marbles - perhaps not a
      very interesting one. If we spill the same marbles out on the same floor again, do we expect
      to get the same pattern of marbles? No. The pattern is pretty random, and we expect that. The
      chaos game was proposed by Michael Barnsley in the mid-1980s as a way to see how patterns
      <em>can</em> result from certain random events.
    </p>
    <p>
      To play the chaos game we start with a set of dots on a page -- we'll call them vertices. The
      classic game starts with three vertices numbered 1, 2, and 3, and places them at the corners
      of an equilateral triangle:
    </p>
    <p>
      <div class="h-center">
        <img src="{{ 'img/image799.gif' | relative_url }}" />
      </div>
    </p>
    <p>
      For example, suppose we chose point P below and then rolled a 1, 6, 2, 2, and 4 in that order:
    </p>
    <p>
      <div class="h-center">
        <img src="{{ 'img/image800.gif' | relative_url }}" />
      </div>
    </p>
    <p>
      We continue plotting points in this way. After five hundred points a pattern starts to appear:
    </p>
    <p>
      <div class="h-center">
        <img src="{{ 'img/image801.gif' | relative_url }}" />
      </div>
    </p>
    <p>
      Here we left off the arrows and colored the dots the same as the vertex we moved towards.
      Recognize the pattern? This is what Barnsley wanted to demonstrate: Randomness can generate a
      very precise pattern sometimes.
    </p>
