<p>
      This activity allows the user to step through the tortoise and hare race, which is based upon
      Zeno's Paradox about Achilles and the tortoise. In the paradox, Achilles gives the tortoise a
      head start of half the distance to the finish line. Then Achilles gets to the halfway mark as
      the tortoise crosses the 3/4 mark, Achilles gets to the 3/4 mark as the tortoise crosses the
      7/8 mark, and so on. Who wins??
    </p>
    <p>
      In this race the participants are a hare and a tortoise -- as in Aesop's fable -- with the
      tortoise getting a half way (50 mile) head start on the hare.
    </p>
    <p>
      Zeno of Elea was a Greek philosopher and mathematician from the 5th century BC who used
      paradoxes like this one to point out problems with the notion of infinity. The notion of
      infinity and problems with looking at a continuous world by thinking in terms of discrete
      steps were not resolved until the nineteenth century. What is hidden in this paradox is the
      fact that while Achilles is always running faster than the tortoise, they are not moving at
      constant speeds like one would imagine.
    </p>
    <p />
