<p>
      There are three sections to this activity: A Single Run panel, a Multiple Run panel, and a
      Cumulative Statistics panel.
    </p>
    <p>
      The Single Run panel allows you to play a single game of Monty Hall.
    </p>
    <ul>
      <li>
        You can change the number of doors by adjusting the scrollbar:
        <img src="{{ 'img/image624.png' | relative_url }}" class="h-center"/>
      </li>
      <li>
        <p>
          Below the scrollbar are the actual doors. To play, click on one of the doors. A hand will
          appear on the door you selected, and at least one door will open to reveal the "runner-up"
          prize:
        </p>
        <img src="{{ 'img/image625.jpg' | relative_url }}" class="h-center"/>
        <p>
          You then either click on the door you originally selected, indicating that you want to
          stay with your original choice, or click on the remaining, unopened door. If you're lucky,
          the door will open to reveal the huge cash prize:
        </p>
        <img src="{{ 'img/image626.jpg' | relative_url }}" class="h-center"/>
      </li>
      <li>
        After you have played a round, you can reset the doors by clicking on the
        <strong>Reset Doors</strong> button:
        <img src="{{ 'img/image627.png' | relative_url }}" class="h-center"/>
      </li>
      <li>
        Finally, you can choose whether or not the results of your individual runs should be added
        to the cumulative statistics panel, discussed below:
        <img src="{{ 'img/image628.png' | relative_url }}" class="h-center"/>
      </li>
    </ul>
    <p>
      The Multiple Run panel allows you to simulate playing Monty Hall with doors ranging from 3 to
      10 with up to 10,000 runs. If you would like to experiment with a larger number of doors,
      please use the
      <a href="{{ '/activities/GeneralizedMontyHall' | relative_url }}">Generalized Monty Hall</a> activity.
    </p>
    <ul>
      <li>
        You can change the number of doors and the number of trials by entering the correct values
        into the text fields:
        <img src="{{ 'img/image629.png' | relative_url }}" class="h-center"/>
      </li>
      <li>
        You can also specify your choice policy - whether you switch to the other unopened door
        after the remaining doors were opened, or if you stay with your original choice:
        <img src="{{ 'img/image630.png' | relative_url }}" class="h-center"/>
      </li>
      <li>
        When you have chosen the parameters for your experiment, you can click the
        <strong>Run Experiment</strong> button. The results of your experiment will also be displayed below the button:
        <img src="{{ 'img/image631.png' | relative_url }}" class="h-center"/>
      </li>
    </ul>
    <p>
      The Cumulative Statistics panel is used to show the overall results of your experiments with
      Monty Hall through both a table and a bar chart.
    </p>
    <p>
      <ul>
        <li>
          The table in the cumulative statistics panel shows the overall results of your
          experiments:
          <img src="{{ 'img/image632.jpg' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Below the table is a row of charts that shows the relation between wins and losses for the
          switching and staying policies:
          <img src="{{ 'img/image633.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          You can also click on the individual charts to pull up a larger, more complete bar chart:
          <img src="{{ 'img/image634.jpg' | relative_url }}" class="h-center"/>
        </li>
      </ul>
    </p>
