<p>
      <ul>
        <li>
          This activity is similar to Connect Four, and is designed for two players. The goal is to
          have four pieces of the same color connected either horizontally, vertically, or
          diagonally. One player uses red pieces, while the other player uses black pieces.
        </li>
        <li>
          <p>
            Before you start the game, you can set several options. You can choose how much time
            each player will have to answer the questions, you can choose the problem difficulty
            (Level 1, Level 2, Level 3, or Whole Numbers Only) and you can select the types of
            algebra problems you want to see. Once you have all of the settings as you want them,
            click the
            <strong>Start Game</strong> button.
          </p>
          <img src="{{ 'img/image997.gif' | relative_url }}" class="h-center"/>
          <p>
            *Note that the Whole Numbers Only questions are the same types of questions used in
            Level 1 but all numbers in the equation (as well the answer) will be positive integers.
            Most Level 1 solutions have integer answers, Level 2 problems tend to have integers in
            the problem but may have fractional solutions, and Level 3 tends to have fractions in
            the problem and in the solution.
          </p>
        </li>
        <li>
          After clicking the
          <strong>Start Game</strong> button, a new screen appears. Towards the left of the screen is a table that lists the
          types of questions selected along with the difficulty level.
          <img src="{{ 'img/image998.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To earn a piece you need to solve an algebraic equation, enter your answer into the answer
          textbox, and click the
          <strong>Answer</strong> button.
          <img src="{{ 'img/image270.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Note that for fractions you must enter your answer with a '/' symbol in between the
          numerator and denominator: as #/#. For quadratics with two solutions, enter your answer
          with a comma in between the two solutions: #,#. For quadratics with a single solution, you
          must enter the number only once for your answer.
        </li>
        <li>
          The
          <strong>timer</strong> on the right-hand side of the board shows how much time you have left to answer. Once the
          timer turns all gray, the time is up. If you chose "No Time Limit," the timer will simply
          be gray, and it will not count down.
          <img src="{{ 'img/image271.jpg' | relative_url }}" class="h-center"/>
        </li>
        <li>
          If a player answers a question correctly, the player will be able to place one of their
          pieces on the board. To place a piece, simply click on the column that you want to drop
          the piece into.
          <strong>The piece will fall into the lowest available slot in the column.</strong> If a player answers incorrectly or if time runs out, the other player will have a chance
          to answer. If neither player is correct the answer appears in a pop-up window.
          <img src="{{ 'img/image999.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          If a player -- Player Red for instance -- answers incorrectly, the other player -- Player
          Black -- will be asked to answer the question. If Black also answers incorrectly, the
          answer will be displayed in a pop-up window and the game will continue with a new question
          for Black. Note that whether or not player Black answers correctly, it will be Black's
          turn again, because Black just attempted Red's question.
        </li>
        <li>
          If you want to restart the game or change options selected on the beginning screen, you
          can do so by clicking on the
          <strong>New Game</strong> button:
          <img src="{{ 'img/image274.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The user may change the font size at any time during the game by selecting one of the
          three radio buttons located on the left side of the screen.
          <img src="{{ 'img/image1000.png' | relative_url }}" class="h-center"/>
        </li>
      </ul>
      <p>
        <strong>Scoring</strong>
      </p>
      <ul>
        <li>
          This activity will automatically record how successful you are at answering the questions.
          To view the score, press the
          <strong>Show Score</strong> button at the bottom of the activity and a pop-up window will appear with the scoreboard.
          <img src="{{ 'img/Scoreboard_Algebra_Four.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To close this pop-up window press the
          <strong>Close</strong> button or click back on the main window.
        </li>
        <li>
          To pause the scoring, press the
          <strong>Active</strong> button at the bottom of the screen and it will change to a
          <strong>Paused</strong> button. To resume scoring, press the
          <strong>Paused</strong> button.
        </li>
        <li>
          To reset the scoreboard, open the scoreboard using the
          <strong>Show Score</strong> button and then press the
          <strong>Reset</strong> button.
        </li>
      </ul>
    </p>
