<p>
      <ul>
        <li>
          Pre-made data sets may be selected from a choice menu. To alter the data, the user may
          change the data displayed in the data box below the choice menu, and hit the "Graph Data"
          button. To clear all data, the user may hit the "Clear Data" button. The choice menu, data
          box with data, and the two buttons are shown below.
          <img src="{{ 'img/image247.jpg' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The user may manually adjust the Y scale of the bar graph by dragging the vertical
          scrollbar next to the graph. The thickness of the bars may be altered by dragging the
          scrollbar on the X axis.
        </li>
        <li>
          To change the scale of the graph to a specific value, the user may enter Maximum and
          Minimum Y scale values in the Number Inputs, and click the "Set Min and Max" button, all
          shown below.
          <img src="{{ 'img/image248.jpg' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To change the color of the bars, the user may select from the Bar Color drop down choice
          menu.
        </li>
      </ul>
    </p>
