<p>
      <ul>
        <li>
          There are two modes of functioning in this activity,
          <em> Make Your Own or Random Set</em>. To switch between modes, click this button:
          <img src="{{ 'img/image249.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          In both modes, you can chose to sort either by shape or color. To sort by shape, make sure
          the shape button is pressed:
          <img src="{{ 'img/image250.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To sort by color, make sure the color button is pressed:
          <img src="{{ 'img/image251.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          In both modes you can chose to create your graph horizontally or vertically. To create a
          horizontal graph, make sure the horizontal button is pressed.
          <img src="{{ 'img/image252.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To create a vertical graph, make sure the vertical button is pressed:
          <img src="{{ 'img/image253.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          When in the
          <strong>Random Set</strong> mode, you can get a new set of shapes to sort by clicking the
          <strong>New Set</strong> button. To reset the current problem, click the
          <strong>Reset </strong> button.
        </li>
        <li>
          When in the
          <strong>Make Your Own</strong> mode, you can
          <strong>reset</strong> the board by clicking the reset button.
        </li>
        <li>
          In both modes to sort the shapes, click on a shape from above the bar graph and drag and
          drop it in the appropriate bar. The size of the bar, the tally, and the count will
          increase if the shape has been sorted properly:
          <img src="{{ 'img/image254.gif' | relative_url }}" class="h-center"/>
        </li>
      </ul>
      <p>
        The results of your actions are cataloged on the scoreboard, if you so desire. To view the
        scoreboard, click this button:
      </p>
      <p>
        <img src="{{ 'img/ShowScore.png' | relative_url }}" class="h-center"/>
      </p>
      <p>
        This will create a pop-up window that displays your number of correct shape assignments. The
        top half of the scorecard displays the results of your actions thus far on the current set
        only, while the bottom half of the scorecard displays your cumulative scores. Scores are
        divided into four categories: sorting by shape into horizontal grpahs, sorting by shape into
        vertical graphs, sorting by color into horizontal graphs, and sorting by color into vertical
        graphs. If, at any time, you wish to clear all current scores, you may do so by pressing the
        <strong>reset</strong> button.
      </p>
      <p>
        <img src="{{ 'img/Scorecard.png' | relative_url }}" class="h-center"/>
      </p>
      <p>
        To change whether or not your actions are being scored, click to toggle between these two
        buttons. While the mode is set to
        <strong>Paused</strong>, no score will be tallied, but your previous scores will remain in the scorecard unless
        separately cleared.
      </p>
      <p>
        <img src="{{ 'img/ScoreActive.png' | relative_url }}" class="h-center"/>
        <img src="{{ 'img/ScorePause.png' | relative_url }}" class="h-center"/>
      </p>
    </p>
