<p>
      <ul>
        <li>
          In this version of the Spinner, the sizes of the sections are fixed and evenly divided:
          <img src="{{ 'img/BasicSpinnerGraphOld.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To increase the number of sections by 1, click on the
          <strong>+1</strong> button next to the
          <strong>Number of sections [___]:</strong> display; to decrease the number of sections by 1, click on the
          <strong>-1</strong> button. Observe the current number of sections in the
          <strong>Number of sections [___]</strong> space. Here the number of sections is 4:
          <img src="{{ 'img/image455.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To simulate spinning the spinner, click on the
          <strong>Spin</strong> button:
          <img src="{{ 'img/image456.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To change the number of spins simulated each time, click
          <strong>Spin</strong> and type the desired number in the
          <strong>How many spins? [___]</strong> space. Here the number of spins is 1:
          <img src="{{ 'img/image457.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The program tells you which section the pointer is on (
          <strong>The pointer is on Blue/Magenta/etc.</strong>) and the number of times the spinner has been spun (
          <strong>Spins So Far:</strong>).
        </li>
        <li>
          The chart at the bottom of the program tells you the
          <strong>Experimental Probability</strong>,
          <strong>Theoretical Probability</strong>, and
          <strong>Count</strong> (the number of times the pointer has landed on that section) for each section.
          <img src="{{ 'img/BasicSpinnerScreenshot.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          By clicking on the
          <strong>Show Results Frame</strong> button the user can view an external window that displays the experimental results in the
          form of a piechart.
          <img src="{{ 'img/image459.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          You can clear out all of the experimental data and start fresh with zero spins by clicking
          on
          <strong>New Experiment</strong>.
          <img src="{{ 'img/image460.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To change the color of a section, simply click on it. A dialog will pop up that will allow
          you to choose a color from a list. Click
          <strong>Ok</strong> to complete the change
          <img src="{{ 'img/image461.gif' | relative_url }}" class="h-center"/>
        </li>
      </ul>
    </p>
