<p>
      <ul>
        <li>
          In the graphic at the top of the applet, the red line represents the needle. The current
          estimate of pi is printed in black text. If the text reads "Run More Trials" instead of
          "PI = (some number)," then there have not been enough needle drops to estimate pi, and you
          need to run more trials.
        </li>
        <li>
          To drop the needle on the sheet just once, press the
          <strong>New Pin</strong> button.
        </li>
        <li>
          The more times you drop the needle, the more accurate the estimate of pi will be. To run
          many trials at once, type the number of trials you want to run in the box labeled
          <strong>Trials =</strong>. Then press the
          <strong>Run Trials</strong> button.
        </li>
        <li>
          If you want the results from every single trial to be added together and used in
          calculating pi, check the box marked
          <strong>Keep running total</strong>. If you do not check this box, every time you click
          <strong>New Pin</strong> or
          <strong>Run Trials</strong> all the data will be reset.
        </li>
      </ul>
    </p>
