<p>
      <ul>
        <li>
          The text field at the top of the screen is where you type the text that you want to be
          encoded:
          <img src="{{ 'img/image360.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          After you have entered the text to encode, you can click the
          <strong>Convert Text</strong> button, which will display the encoded text in the text field below the button. Your task
          is to solve the cipher by guessing the multiplier and constant used to encode the message.
        </li>
        <li>
          If you would like a new cipher without solving the current one, click on the
          <strong>New Values</strong> button. This will cause a new multiplier and constant to be rolled (i.e. generated) by
          the random number generator. The message "Values have now been re-rolled..." will appear
          above the Scoring bar. Click on
          <strong>Convert Text</strong> to see the new encoded message.
        </li>
        <li>
          If you would like the spacing to remain the same when you convert the text, simply check
          the
          <strong>Retain Spaces</strong> checkbox. When this is unchecked, this cipher more closely resembles a true caesar cypher
          which is bunched into 5 character clumps with spaces only acting to confuse the message.
          <img src="{{ 'img/image361.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Below are text fields that you use to enter your "guesses" for the multiplier and the
          constant. The
          <strong> multiplier </strong> is the number that is multiplied by the number value of each letter in your text, and the
          <strong> constant </strong> is the number that is added to this product of the number value of each letter and the
          multiplier.
          <img src="{{ 'img/image362.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          After you have entered your "guesses", pressing the
          <strong>Check your answers!</strong> button will let you know which are correct and which are incorrect.
          <img src="{{ 'img/image363.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          This activity will automatically record how successful you are at answering the questions.
          To view the score, press the
          <strong>Show Score</strong> button at the bottom of the activity and a pop-up window will appear with the scoreboard.
          To close this pop-up window press the
          <strong>Close</strong> button or click back on the main window.
        </li>
        <li>
          To pause the scoring, press the
          <strong>Active</strong> button at the bottom of the screen and it will change to a
          <strong>Paused</strong> button. To resume scoring, press the
          <strong>Paused</strong> button.
        </li>
        <li>
          To reset the scoreboard, open the scoreboard using the
          <strong>Show Score</strong> button and then press the
          <strong>Reset</strong> button.
          <img src="{{ 'img/cipher.png' | relative_url }}" class="h-center"/>
        </li>
      </ul>
      <p>
        Because this activity randomly generates encoded messages, a feature called
        <strong>Seed Random</strong> has been implemented that allows multiple users using different computers to work on the
        same problem. See
        <a href="{{ '/resources/SeedRandom' | relative_url }}>Seed Random Help</a> for instructions on using this feature.
      </p>
    </p>
