<p>
      <ul>
        <li>
          The text field at the top of the screen is where you type the text that you want to be
          encoded:
          <img src="{{ 'img/image343.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          You specify both the multiplier and the constant below the text field by entering the
          appropriate numbers into the text boxes. The
          <strong>multiplier</strong> is the number that is multiplied by the number value of each letter in your text, and the
          <strong> constant </strong> is the number that is added to the product of the number value of each letter and the
          multiplier.
          <img src="{{ 'img/image344.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          After you have entered the text to encode and the multiplier and constant values, you can
          click the
          <strong>Convert Text</strong> button, which will display the encoded text in the text field below the button.
        </li>
        <li>
          If you would like the spacing to remain the same when you convert the text, simply check
          the
          <strong>Retain Spaces</strong> checkbox. When this is unchecked, this cipher more closely resembles a true Caesar cipher
          which is bunched into 5 character clumps with spaces only acting to confuse the message.
          <img src="{{ 'img/image345.png' | relative_url }}" class="h-center"/>
        </li>
      </ul>
    </p>
