<p>
      <ul>
        <li>
          The rectangular area at the top of the applet shows the fractal, which consists of a
          number of red lines.
        </li>
        <li>
          The
          <strong>Previous Step</strong> and
          <strong>Next Step</strong> buttons move you forward and backward one step in the drawing process.
          <img src="{{ 'img/image817.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          This label tells you how long each of the red lines that make up the fractal are (as a
          fraction of the total width) and what step of the fractal iteration you are on.
          <img src="{{ 'img/image818.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          In the boxes marked
          <strong>Fraction Removed</strong>, enter the fraction of each line segment that you want removed at each step. Enter the
          numerator in the first box and the denominator in the second box. 1/3 is the default.
          Press the
          <strong>Set</strong> button to restart with a new value for
          <strong>Fraction Removed</strong>.
          <img src="{{ 'img/image819.png' | relative_url }}" class="h-center"/>
        </li>
      </ul>
    </p>
