<p>
      <ul>
        <li>
          The user can choose between
          <strong> Exploration Mode </strong> and
          <strong> Guess Mode</strong> by using the
          <strong>Mode</strong> drop box located at the top of the screen.
          <img src="{{ 'img/image1106.jpg' | relative_url }}" class="h-center"/>
        </li>
        <li>
          <strong>Exploration Mode</strong> allows the user to manipulate several variables such as: number of chairs around an
          individual table, number of tables, and table arrangement. By altering each variable the
          user can observe its effect on the total number of chairs that will fit around any given
          table configuration.
        </li>
        <li>
          In
          <strong>Exploration Mode</strong>:
          <img src="{{ 'img/image1109.jpg' | relative_url }}" class="h-center"/>
          <ul>
            <li>
              The user can choose how many chairs he would like to fit at an individual table by
              clicking on the
              <strong>Table</strong> drop down box and choosing the between four and six chairs per individual table.
            </li>
            <li>
              The user can change the table arrangement between a straight line and a rectangle by
              clicking on the
              <strong>Arrangement</strong> drop down box.
            </li>
            <li>
              In the
              <strong>Straight Line</strong> arrangement the user can increase or decrease the length by clicking the
              corresponding buttons.
              <img src="{{ 'img/image1112.jpg' | relative_url }}" class="h-center"/>
            </li>
            <li>
              In the
              <strong>Rectangle</strong> arrangement the user can increase or decrease length and width by clicking the
              corresponding buttons.
              <img src="{{ 'img/image1112.jpg' | relative_url }}" class="h-center"/>
              <img src="{{ 'img/image1107.jpg' | relative_url }}" class="h-center"/>
            </li>
          </ul>
        </li>
        <li>
          <strong>Guess Mode</strong> allows the user to apply their observations made during
          <strong>Exploration Mode</strong> and calculate how many chairs will fit around different table arrangements.
        </li>
        <li>
          In
          <strong>Guess Mode</strong>:
          <img src="{{ 'img/image1161.jpg' | relative_url }}" class="h-center"/>
          <ul>
            <li>
              The user can choose how many chairs they would like to fit at an individual table by
              clicking on the
              <strong>Table</strong> drop down box and choosing the between four and six chairs per individual table.
            </li>
            <li>
              The user can change the table arrangement between a straight line and a rectangle by
              clicking on the
              <strong>Arrangement</strong> drop down box.
            </li>
            <li>
              Once the user has determined the size of the tables and the table arrangement the
              computer is to use, the computer will display a set of tables. The user is to then
              calculate how many chairs will fit around the computer generated set of tables and
              enter their answer into the guess box. The user can click the check button to see if
              their answer is correct.
              <img src="{{ 'img/image1111.jpg' | relative_url }}" class="h-center"/>
            </li>
          </ul>
        </li>
      </ul>
      <p>
        <strong>Scoring</strong>
      </p>
      <ul>
        <li>
          This activity will automatically record how successful you are at answering the questions.
          To view the score, press the
          <strong>Show Score</strong> button at the bottom of the activity and a pop-up window will appear with the scoreboard.
          To close this pop-up window press the
          <strong>Close</strong> button or click back on the main window.
        </li>
        <li>
          To pause the scoring, press the
          <strong>Active</strong> button at the bottom of the screen and it will change to a
          <strong>Paused</strong> button. To resume scoring, press the
          <strong>Paused</strong> button.
        </li>
        <li>
          To reset the scoreboard, open the scoreboard using the
          <strong>Show Score</strong> button and then press the
          <strong>Reset</strong> button.
        </li>
      </ul>
      <p>
        Because this activity randomly generates questions, a feature called
        <strong>Seed Random</strong> has been implemented that allows multiple users using different computers to work on the
        same problem. See
        <a href="{{ '/resources/SeedRandom' | relative_url }}">Seed Random Help</a> for instructions on using this feature.
      </p>
    </p>
