<p>
      The user may choose from a set of pre-made data sets about daily activity, coin tosses,
      government spending, and more. The choice menu shown below has the pre-made data sets.
    </p>
    <p>
      <img src="{{ 'img/image311.jpg' | relative_url }}" class="h-center"/>
    </p>
    <p>
      The user may change the amount, or name of a value being graphed. The data must be in the
      following format:
    </p>
    <p class="h-center">
      <strong>Value, Name</strong>
    </p>
    <p>
      for example:
    </p>
    <p class="h-center">
      <strong>7, hours of sleep</strong>
    </p>
    <p>
      The data may be edited in the data box, and the title of the data set may be changed in the
      the label "Describe your Data." Both are shown below.
    </p>
    <p>
      <img src="{{ 'img/image312.jpg' | relative_url }}" class="h-center"/>
    </p>
    <p>
      The data may be updated after being changed, or cleared from the data box by pressing the
      "Update Chart" and "Clear" button, both shown below.
    </p>
    <p>
      <img src="{{ 'img/image313.jpg' | relative_url }}" class="h-center"/>
    </p>
    <p>
      The data is displayed in two ways. First, in the circle graph, with the title of the data
      below the circle. Second, the data is displayed in text, underneath the graph, in a separate
      box. Each value, for instance (Number of hours spent sleeping in a day), has its own row. In
      that row is shown its representative color in the circle, the value, and percent of the entire
      data set. Beneath all the rows is the sum of all values.
    </p>
