<ul>
      <li>
        You can use the
        <strong>scrollbar</strong> to modify the size of the clock. The clock's size ranges from 2 to 26. In the example
        below, the current clock size is 12.
        <img class="h-center" src="{{ 'img/image786.jpg' | relative_url }}"/>
      </li>
      <li>
        <p>
          After you have set the clock to the size you want, you can enter the number of the hour of
          where you want the clock to start. This number can be anywhere between 0 and one less than
          the size of the clock. For example, if the clock size was 12, the starting time could
          range from 0 and 11. An example of entering a starting time of 0:
          <img class="h-center" src="{{ 'img/image787.jpg' | relative_url }}"/>
        </p>
        <p>
          After you enter the starting time, press on the
          <img src="{{ 'img/image788.jpg' | relative_url }}"/> button. This will move the clock hand to the number you input:
        </p>
        <p>
          <img class="h-center" src="{{ 'img/image789.jpg' | relative_url }}"/>
        </p>
        <p>
          Also, the place where you entered the starting time should turn grey and will no longer be
          editable:
        </p>
        <p>
          <img class="h-center" src="{{ 'img/image790.jpg' | relative_url }}"/>
        </p>
        <p>
          A message should then appear in the text field:
        </p>
        <p>
          <img class="h-center" src="{{ 'img/image791.jpg' | relative_url }}"/>
        </p>
        <p>
          Use the animation drop down menu to select how quickly the clock is animated. Choose from
          fast, medium, and slow, or choose "Do not animate" if you want to see the result but not
          watch the animation.
          <img class="h-center" src="{{ 'img/clockaritmetic1.png' | relative_url }}"/>
        </p>
      </li>
      <li>
        <p>
          To make the clock hand move, enter a number into the input for the elapsed time. This
          number must be between 0 and 1000. An example of entering an elapsed time of 34 hours is:
          <img class="h-center" src="{{ 'img/image792.jpg' | relative_url }}"/>
        </p>
        <p>
          To make this change on the clock, press on the
          <img src="{{ 'img/image793.jpg' | relative_url }}"/> button. The hand moves forward on the clock the number of hours that you specified. An
          example of a clock of size 12, which started on time 0 and moved 34 hours:
        </p>
        <p>
          <img class="h-center" src="{{ 'img/image794.jpg' | relative_url }}"/>
        </p>
        <p>
          Also, a message appears in the text field. It gives the start time, the calculated time
          after the clock moves the elapsed time you specified, and the number of times the hand
          passed the starting time:
        </p>
        <p>
          <img class="h-center" src="{{ 'img/image795.jpg' | relative_url }}"/>
        </p>
      </li>
      <li>
        Another option in this applet is to display the addends. This gives a list of elapsed times
        and end times. These can be viewed by clicking on the
        <img src="{{ 'img/image796.jpg' | relative_url }}"/> button. A pop-up window should appear:
        <img class="h-center" src="{{ 'img/image1039.JPG' | relative_url }}"/>
      </li>
      <li>
        The
        <img src="{{ 'img/image798.jpg' | relative_url }}"/> button will return the clock hand to the initial zero position and allows you to enter in a
        new starting time.
      </li>
    </ul>
