<p>
      * Enter in the
      <strong>Number of Tosses</strong> to simulate and click the
      <strong>Toss 'em!</strong> button.
    </p>
    <p>
      * The results of the coin toss will appear in the box at the bottom of the screen. You can
      view the results as a
      <strong>List</strong>, as a
      <strong>Table</strong>, or as
      <strong>Ratios</strong>. Simply depress the corresponding button to view the output in the particular form you want.
    </p>
    <p>
      * Click the
      <strong>Clear Results</strong> button to begin a new experiment.
    </p>
