<p>
      <ul>
        <li>
          This activity asks you to make three different types of estimations: counting, length, and
          area. In the center of the activity there are two pictures. For counting problems, the
          pictures show two groups of objects. You have to estimate whether the number of objects on
          the left is greater than or less than the number of objects on the right. For length
          problems, the pictures show two curves. Again, you have to estimate whether the length of
          the curve on the left is greater than or less than the length of the curve on the right.
          For area problems, the pictures show two shapes and the same question applies to the areas
          of the two shapes.
        </li>
        <li>
          When the problem is a length or area problem, you will be given a scale in the upper
          left-hand part of the picture. The length scale looks like this:
          <img src="{{ 'img/image708.jpg' | relative_url }}" class="h-center"/>
          <p>
            This tells you that the length of the line on the screen is equal to 2 units. You should
            use these units to estimate the length of the curve. The area scale looks like this:
          </p>
          <img src="{{ 'img/image709.jpg' | relative_url }}" class="h-center"/>
          <p>
            This tells you that the area of the square on the screen is equal to 1 square unit. You
            should use these units to estimate the area of the shape.
          </p>
        </li>
        <li>
          To answer a question, choose from the pull-down menu the phrase that best completes the
          sentence. You can choose "greater than" or "less than." Once you've selected your answer,
          click the
          <strong>Check Answer</strong> button to see if it is correct.
          <img src="{{ 'img/image716.jpg' | relative_url }}" class="h-center"/>
        </li>
        <li>
          If you need help, click the
          <strong>Hint</strong> button. This will display a grid over the picture. You can use this grid as an aid to
          your estimation.
          <img src="{{ 'img/image711.jpg' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To go to the next problem, click the
          <strong>Next Problem</strong> button:
          <img src="{{ 'img/image712.jpg' | relative_url }}" class="h-center"/>
        </li>
        <li>
          There are several settings you can control in this activity. You can set the type of
          problems you see by picking a problem from the
          <strong>Problem Type</strong> pull-down menu. If you choose "Random," the activity will give you random problems that
          may be counting, length, or area problems. If you choose any of the other three options,
          you will only get problems of that type.
          <img src="{{ 'img/image713.jpg' | relative_url }}" class="h-center"/>
        </li>
        <li>
          You can choose from two levels: level 1 and level 2.
          <img src="{{ 'img/image1046.jpg' | relative_url }}" class="h-center"/>
        </li>
        <li>
          This activity will automatically record how successful you are at answering the questions.
          To view the score, press the
          <strong>Show Score</strong> button at the bottom of the activity and a pop-up window will appear with the scoreboard.
          To close this pop-up window press the
          <strong>Close</strong> button or click back on the main window.
        </li>
        <li>
          To pause the scoring, press the
          <strong>Active</strong> button at the bottom of the screen and it will change to a
          <strong>Paused</strong> button. To resume scoring, press the
          <strong>Paused</strong> button.
        </li>
        <li>
          To reset the scoreboard, open the scoreboard using the
          <strong>Show Score</strong> button and then press the
          <strong>Reset</strong> button.
        </li>
      </ul>
      <p>
        Because this activity randomly generates questions, a feature called
        <strong>Seed Random</strong> has been implemented that allows multiple users using different computers to work on the
        same problem. See
        <a href="{{ '/resources/SeedRandom' | relative_url }}">Seed Random Help</a> for instructions on using this feature.
      </p>
    </p>
