<p>
      <ul>
        <li>
          The user may select a conic section equation by choosing from the drop down menu shown
          below.
          <img src="{{ 'img/image757.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The slider bars may be moved to change the equation of the conic section; an example of a
          slider bar is shown below.
          <img src="{{ 'img/image758.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The range and increment values of the slider bars may be changed by clicking on the
          <img src="{{ 'img/image759.gif' | relative_url }}"/> button and changing the values given in the popup window.
        </li>
        <li>
          The range of the graph's x and y values may also be changed by clicking the
          <img src="{{ 'img/image760.gif' | relative_url }}"/> button and changing the values displayed.
        </li>
        <li>
          To reset the slider bars, conic section graph, and equation to the initial values, press
          the
          <img src="{{ 'img/image761.gif' | relative_url }}"/> button.
        </li>
        <li>
          There are three types of grids:
          <strong>No Grid</strong>,
          <strong>Light Grid Lines</strong>, and
          <strong>Dark Grid Lines</strong>. To activate any of these three options, highlight the circle next to the appropriate
          option:
          <img src="{{ 'img/image314.jpg' | relative_url }}" class="h-center"/>
          <table>
            <tr>
              <td>
                <strong>No Grid</strong> graph:
              </td>
              <td>
                <strong>Light Grid Lines</strong> graph:
              </td>
              <td>
                <strong>Dark Grid Lines</strong> graph:
              </td>
            </tr>
            <tr>
              <td>
                <img class="h-center" src="{{ 'img/image541.jpg' | relative_url }}"/>
              </td>
              <td>
                <img class="h-center" src="{{ 'img/image542.jpg' | relative_url }}"/>
              </td>
              <td>
                <img class="h-center" src="{{ 'img/image543.jpg' | relative_url }}"/>
              </td>
            </tr>
          </table>
        </li>
        <li>
          <em>Zoom/Pan buttons.</em> In the upper right corner of the graph, there are three buttons with pictures of
          magnifying glasses. From top to bottom these buttons represent zoom in, zoom out, and pan,
          respectively.
          <ul>
            <li>
              <p>
                To zoom in, click the top button to depress it, then click and drag over the area of
                the graph that you wish to magnify. The images below show first the process of
                dragging a box around a desired zoom area with the mouse (left), and then the
                resulting zoomed image after the mouse button is released (right). Note that after
                the zoom-in has been performed, the zoom-in button at top right is no longer
                depressed.
              </p>
              <p>
                <img src="{{ 'img/image545.gif' | relative_url }}" class="h-center"/>
              </p>
            </li>
            <li>
              To zoom out, simply click the second of the three zoom buttons. The graph will
              automatically zoom out by doubling the min and max values of the axes.
            </li>
            <li>
              To use the pan feature, click the bottom magnifying glass button to depress it. Click
              and drag over the graph and the graph will pan around according to the movement of the
              mouse. Upon releasing the mouse, the pan button is released.
            </li>
          </ul>
        </li>
      </ul>
    </p>
