<p>
      <ul>
        <li>
          This applet lets you simulate playing up to three games of chance at once. The games are
          organized into three columns. You do not have to input values for all three games every
          time. If you do not set the probabilities for a game, the applet will ignore that game
          when it runs.
        </li>
        <li>
          Two items at the top of the applet let you describe each of three games that can be
          simulated. You can choose the
          <strong>type of game:</strong> throwing a die, picking cards from a deck, spinning a spinner, flipping a coin, or
          another game. In the text boxes below the type of game, describe
          <strong>what wins</strong>. For example, if the game is flipping a coin, what wins could be "heads."
          <img src="{{ 'img/image806.gif' | relative_url }}" class="h-center"/>
          <strong>Note: these boxes have NOTHING to do with the actual calculation! They are for you to
          record your notes about what is being simulated. In the next section, you yourself have to
          enter the correct theoretical probabilities based on your analysis.</strong>
        </li>
        <li>
          Under
          <strong>Theoretical Probabilities</strong>, you must enter the probability as a fraction of winning each game you have described.
          For instance, if the game was flipping a coin with heads winning, you would expect to win
          one time for every two tries. So you would enter "1" in the upper box (numerator) and "2"
          in the lower box (denominator). Clicking the
          <strong>Show Decimal</strong> button will show you the value you have typed in as a decimal.
          <img src="{{ 'img/image807.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To simulate playing the game, click the
          <strong>Run</strong> button. Beside the run button, you can set the number of times (up to 10,000) you want
          the game to be run. If the
          <strong>Add runs to total</strong> box is checked, these runs will be added to the previous totals. If it is unchecked,
          previous runs will be cleared.
          <img src="{{ 'img/image808.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The results of playing the game are displayed in the
          <strong>Experimental Probabilities</strong> section.
          <img src="{{ 'img/image809.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The
          <strong>Clear Experimental Probabilities</strong> button erases all the data from previous runs of the game(s).
          <img src="{{ 'img/image810.gif' | relative_url }}" class="h-center"/>
        </li>
      </ul>
    </p>
