<p>
      <ul>
        <li>
          The
          <strong>Configure Probabilities</strong> button on the top-left corner of the applet pops up a box that allows you to choose what
          probability the fire will spread in each of eight directions.
          <img src="{{ 'img/image285.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The
          <strong>resize to</strong> menu on the top center of the applet allows you to choose the size of the forest.
          <img src="{{ 'img/image286.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The
          <strong>burn speed</strong> scroll bar allows you to choose the speed at which the fire will burn.
          <img src="{{ 'img/image287.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The
          <strong>Tree Display</strong> is where you will need to click to select were the fire will start. Note: You can start
          the fire in as many places as you want by clicking on another tree. You can also deselect
          any tree by clicking on it a second time.
          <img src="{{ 'img/image290.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To start the fire click the
          <strong>Start the fire</strong> button in the lower left corner of the applet. To step thru the fire step by step click
          the
          <strong>step thru fire</strong> button in the bottom center of the applet.
          <img src="{{ 'img/image288.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The
          <strong>Re-grow Forest</strong> button revitalizes the forest after it has been burned. You must re-grow the forest after
          every fire.
        </li>
      </ul>
      <img src="{{ 'img/image289.gif' | relative_url }}" class="h-center"/>
    </p>
