<p>
      <strong>Elapsed Time Two Activity Modes</strong>
      <em>See and Guess</em>: Select the appropriate radio button for the mode you would like to use.
      <img class="h-center" src="{{ 'img/image777.gif' | relative_url }}"/>
    </p>
    <p>
      <strong>See mode</strong>: In this mode the user makes the clock read the correct ending time given by advancing the
      clock.
      <ul>
        <li>
          Increment the time on the clock by pressing the
          <strong>1 Hour</strong>,
          <strong>5 Min</strong> and
          <strong>1 Min</strong> buttons.
          <img class="h-center" src="{{ 'img/image778.gif' | relative_url }}"/>
        </li>
      </ul>
    </p>
    <p>
      <strong>Guess mode</strong>: In this mode the user must determine what time it will be once the given time has elapsed.
      Once the time is entered, the clock will advance to the time entered. If this answer is
      correct, then a "Good Job!" message is displayed. If the answer is incorrect the user will be
      told so and may try again.
      <ul>
        <li>
          Enter in your guess in the text boxes labeled
          <strong>New Time</strong>.
          <img class="h-center" src="{{ 'img/elapsed_time_4.png' | relative_url }}"/>
        </li>
      </ul>
    </p>
    <p>
      <strong>Controls Available in both modes:</strong>
      <ul>
        <li>
          When you've found the correct ending time a "Good Job!!" message will display. If you've
          gone too far, an "Oops!! Too far" message will display and you will need to press either
          the
          <strong>Reset</strong> button to try the same problem again or the
          <strong>New Time</strong> button to try a different problem.
          <img class="h-center" src="{{ 'img/image780.gif' | relative_url }}"/>
        </li>
        <li>
          The
          <strong>Difficulty</strong> drop down menu has choices of level 1, level 2, and level 3. On the level 1 setting, all
          problems will be in one-hour increments. On the level 2 setting, all problems will be in
          5-minute increments. On the level 3 setting, all problems will be in 1-minute increments.
          <img class="h-center" src="{{ 'img/image1053.jpg' | relative_url }}"/>
        </li>
        <li>
          Use the animation drop down menu to select how quickly the clock is animated. Choose from
          fast, medium, and slow, or choose "Do not animate" if you want to see the result but not
          watch the animation.
          <img class="h-center" src="{{ 'img/clockaritmetic1.png' | relative_url }}"/>
        </li>
        <li>
          Each clock at any time can be changed back and forth between a digital clock and a
          traditional clock with a face. Select the appropriate radio button under each clock for
          the display you prefer.
          <img class="h-center" src="{{ 'img/DigitalClock.png' | relative_url }}"/>
          <strong>OR</strong>
          <img class="h-center" src="{{ 'img/AnalogClock.png' | relative_url }}"/>
        </li>
      </ul>
    </p>
    <p>
      <strong>Scoring</strong>
      <ul>
        <li>
          This activity will automatically record how successful you are at answering the questions.
          To view the score, press the
          <strong>Show Score</strong> button at the bottom of the activity and a pop-up window will appear with the scoreboard.
          To close this pop-up window press the
          <strong>Close</strong> button or click back on the main window.
        </li>
        <li>
          To pause the scoring, press the
          <strong>Active</strong> button at the bottom of the screen and it will change to a
          <strong>Paused</strong> button. To resume scoring, press the
          <strong>Paused</strong> button.
        </li>
        <li>
          To reset the scoreboard, open the scoreboard using the
          <strong>Show Score</strong> button and then press the
          <strong>Reset</strong> button.
        </li>
      </ul>
    </p>
