<p>
      <ul>
        <li>
          To begin, choose the difficulty level: Level 1, Level 2, or Level 3.
          <img src="{{ 'img/equationsolver1.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          After selecting your difficulty level, an equation will appear in the Equation box.
          <img src="{{ 'img/equationsolver2.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To perform an operation on the equation, the user must first select the
          <em>property</em> to apply to the equation.
          <img src="{{ 'img/equationsolver3.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Then the user must choose an operator.
          <img src="{{ 'img/equationsolver6.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Note that multiplication and division operations can only be used with the multiplicative
          inverse and not the additive inverse. Likewise, addition and subtraction operations can
          only be used with the additive inverse property.
        </li>
        <li>
          Then the user must enter a term. This will be the value the user wishes to add, subtract,
          multiply by, or divide to both sides of the equation.
          <img src="{{ 'img/equationsolver7.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          If the user wants to add or subtract a fraction of x, the user must enter the fraction
          <em>1/4</em>, and then the variable
          <em>x</em>. This will read
          <em>1/4x</em> in the text box. The computer will interpret this as "one-fourth x".
        </li>
        <li>
          After doing all of these steps, the user can click the enter button. This will perform the
          operation on the equation.
          <img src="{{ 'img/equationsolver8.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Before solving the problem, the user can also choose to
          <em>use identity properties</em>, by checking the box at the top:
          <img src="{{ 'img/equationsolver4.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          If the user chooses to do this, the
          <em>Identity Properties</em> will be included under the property menu:
          <img src="{{ 'img/equationsolver5.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Using the Identity Properties will require the user to take an additional step to remove
          the zero in the case of addition and the one in the case of multiplication. See the
          example below:
          <img src="{{ 'img/Equation_Solver.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The user must then repeat this process with other steps until they have solved the problem
          by isolating x.
        </li>
        <li>
          If you ever want to back up and try something different, you can do so by clicking the
          <strong>Back a Step</strong> Button. Note that using this button will increase the total number of steps it takes to
          solve the equation and will affect the overall score if scoring is
          <em>active</em>.
        </li>
        <li>
          You can also start the equation again by clicking the
          <strong>Reset Problem</strong> Button. Note that resetting a problem will affect the score by counting the current
          problem as incorrect if scoring is
          <em>active</em>.
        </li>
        <li>
          If you want to restart the game, you can do so by clicking on the
          <strong>New Game</strong> button.
        </li>
      </ul>
      <strong>Scoring</strong>
      <ul>
        <li>
          This activity will automatically record how successful you are at solving the equations.
          To view the score, press the
          <strong>Show Score</strong> button at the bottom of the activity and a pop-up window will appear with the scoreboard.
          <img src="{{ 'img/EquationSolverScoreboard.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The information in this window is divided into two sections. The statistics for the
          current equation are given in the bottom half of the window, and the statistics for all
          questions together are given in the top half. To close this pop-up window press the
          <strong>Close</strong> button or click back on the main window.
        </li>
        <li>
          To pause the scoring, press the
          <strong>Active</strong> button at the bottom of the screen and it will change to a
          <strong>Paused</strong> button. To resume scoring, press the
          <strong>Paused</strong> button.
        </li>
        <li>
          To reset the scoreboard, open the scoreboard using the
          <strong>Show Score</strong> button and then press the
          <strong>Reset</strong> button.
        </li>
      </ul>
    </p>
