<p>
      <ul>
        <li>
          The
          <strong>Select A Probability</strong> choice menu on the top-left side of the applet allows you to choose a probability that an
          individual tree will burn when the fire reaches it.
          <br/>
          <img src="{{ 'img/fire_prob.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The
          <strong>Custom Probability</strong> text field on the left side of the applet allows you to enter a decimal value between
          0.00 and 1.00 or a fraction between 0 and 1 as the probability that an individual tree
          will burn when the fire reaches it.
          <br/>
          <br/>
        </li>
        <li>
          You can choose how the fire burns by clicking the button beside
          <strong>Burn Uninterrupted</strong> or
          <strong>Burn Step By Step</strong>.
          <br/>
          <img src="{{ 'img/burnpatt.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          If you choose step by step you must click on the
          <strong>Step Through Fire</strong> button and keep clicking on it until the fire burns completely.
          <img src="{{ 'img/fire.png' | relative_url }}" class="h-center"/> Note that the number of clicks for "Step Through Fire" will only determine the number of
          animation steps, not the number of iterations.
          <img src="{{ 'img/fire_interat.png' | relative_url }}" class="h-center"/> The iterations burned is the total number of iterations run before the fire ends. Each
          step where the fire spreads from some number of trees to more trees based on the
          probability of burn is an iteration.
          <br/>
          <br/>
        </li>
        <li>
          The
          <strong>Tree Display</strong> is where you will need to click to start the fire in a certain place in the forest.
          <br/>
          <img src="{{ 'img/fire_grid.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The
          <strong>Re-Grow Forest</strong> button revitalizes the forest after it has been burned.
          <br/>
          <br/>
        </li>
        <li>
          The
          <strong>Highlight Center Tree</strong> button highlights the center tree in blue, when you click it again it highlights the
          center rows, and to hide this click the button a third time.
        </li>
      </ul>
      <p>
        After you have finished with this activity you might want to check out some of the other
        fire activities to help with percents, probability, and modeling.
      </p>
    </p>
