<ul>
      <li>
        <p>
          The
          <strong>Drawing Area</strong> at the top of the applet is where the fractal is drawn.
          <img class="h-center" src="{{ 'img/image449.gif' | relative_url }}"/>
        </p>
        <p>
          By moving the red dots on the screen you can manually define how the fractal will be
          drawn. As you move the red dots the applet will show how the fractal will look. However if
          you modify the step number so it takes a while for the fractal to draw when you move the
          dots the image shown will be a simpler version of the fractal that will be drawn when you
          let go of the dot.
        </p>
      </li>
      <li>
        The
        <strong>Down One</strong> and
        <strong>Up One</strong> buttons control how many steps of the fractal the applet draws. You can also select the
        number of steps from the drop-down box between these two buttons.
        <img class="h-center" src="{{ 'img/image450.gif' | relative_url }}"/>
      </li>
      <li>
        You can choose from two types of grids: a
        <strong>Square Grid</strong> or a
        <strong>Triangular Grid</strong>. The difference between these two grid modes is that the place where you can place the red
        dots is different. On the Square Grid the location of the points that the red dots can be
        put in are aranged in a square while on the Triangle Grid they appear more like a triangle.
        Therefore the Square Grid is easier to use when drawing square-like figures while the
        Triangle Grid is preferable for Triangles.
        <img class="h-center" src="{{ 'img/image451.gif' | relative_url }}"/>
      </li>
      <li>
        From the
        <strong>Points</strong> box you define the number of red dots you want to appear on the drawing are above.
        <img class="h-center" src="{{ 'img/image452.gif' | relative_url }}"/>
      </li>
      <li>
        The
        <strong>Reset</strong> button lines up all the dots the center of the drawing area and clears the fractal you were
        working on so you can start a new fractal.
      </li>
      <li>
        This version of Snowflake is somewhat limited. You can play an
        <strong>Advanced Version</strong> by clicking the
        <strong>Go to full version</strong> button.
      </li>
    </ul>
