<p>
      Located in the middle of the applet screen is a quadrilateral.
      <img src="{{ 'img/image1164.jpg' | relative_url }}" class="h-center"/> The user can alter the shape of the quadrilateral by clicking on any corner of it and
      dragging it to the desired location.
      <img src="{{ 'img/image1165.jpg' | relative_url }}" class="h-center"/> Along the bottom of the applet is set of controls that allow the user to specify information
      about the tessellation.
    </p>
    <p>
      <ul>
        <li>
          Clicking on the
          <strong>Reset</strong> button will reset the quadrilateral to its original form.
          <img src="{{ 'img/image356.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Clicking on the
          <strong>Tessellate</strong> button will fill the drawing area with tessellated copies of the shape. Once a shape is
          tessellated, clicking on the
          <strong>Edit</strong> button will remove all of the tessellated copies and allow the user to continue editing
          the shape.
          <img src="{{ 'img/image357.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The button labeled
          <strong>Information</strong> will bring up a list of information about the shape, including its area, perimeter, and
          the Cartesian coordinates of its vertices.
          <img src="{{ 'img/image358.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The row of list boxes along the bottom allows the user to select which colors the shape
          will be drawn in when it is tessellated. Setting both of these boxes to White will draw
          the tessellation without color.
          <img src="{{ 'img/image359.GIF' | relative_url }}" class="h-center"/>
        </li>
      </ul>
    </p>
