<p>
      To graph and revolve one or two functions, first choose whether you will be revolving them
      around a vertical or non-vertical line. You may specify the axis of rotation by inputting a
      number in the boxes labeled "across y = " or "across x = ".
      <img src="{{ 'img/Revolve.png' | relative_url }}" class="h-center"/>
      <ul>
        <li>
          Then, enter the function(s) into the boxes labeled "Function 1" and "Function 2".
        </li>
      </ul>
    </p>
    <p>
      <img src="{{ 'img/Fn1.png' | relative_url }}" class="h-center"/>
    </p>
    <p>
      <ul>
        <li>
          To change the
          <em>x</em>-values over which the function is evaluated, change the values in the "from" and "to"
          boxes.
        </li>
      </ul>
    </p>
    <p>
      <img src="{{ 'img/FnRange.png' | relative_url }}" class="h-center"/>
    </p>
    <p>
      <ul>
        <li>
          When you are finished, press the "Set Functions" button to graph the function(s).
        </li>
      </ul>
    </p>
    <p>
      <img src="{{ 'img/SetFn.png' | relative_url }}" class="h-center"/>
    </p>
    <p>
      Now you can revolve the function(s) around an axis.
      <ul>
        <li>
          To change the speed of revolution, click on the drop-down menu to choose from Fast,
          Medium, and Slow.
          <img src="{{ 'img/RevSpeed.png' | relative_url }}" class="h-center"/>
          <br/>
        </li>
        <li>
          Finally, click "Revolve" to rotate the function(s) around the chosen axis.
          <img src="{{ 'img/Rev.png' | relative_url }}" class="h-center"/>
          <br/>
        </li>
        <li>
          Once the functions are revolved, you can click and drag anywhere on the graph to rotate
          the graph and see the functions in 3 dimensions. You can also click "Reset View" to return
          to the default view orientation.
        </li>
      </ul>
    </p>
    <p>
      <img src="{{ 'img/FnGraph.png' | relative_url }}" class="h-center"/>
      <img src="{{ 'img/ResView.png' | relative_url }}" class="h-center"/>
    </p>
    <p>
      <ul>
        <li>
          Once the functions are revolved, the Volume and Surface Area thereof will be displayed in
          the "Statistics" box.
        </li>
      </ul>
    </p>
    <p>
      <img src="{{ 'img/Stats.png' | relative_url }}" class="h-center"/>
    </p>
    <p>
      Once functions are revolved, you can change their color and whether they are solid or
      wireframe.
    </p>
    <p>
      <ul>
        <li>
          To switch between solid and wireframe functions, click on the "Solid" or "Wireframe" radio
          buttons at the top of the applet.
          <ul>
            <li>
              The wireframe mode displays the functions as outlines that can be seen through.
            </li>
            <li>
              The solid mode fills in these outlines with another color, rendering the functions
              more like objects so that one cannot see through them.
            </li>
          </ul>
        </li>
      </ul>
    </p>
    <p>
      <img src="{{ 'img/SolWrf.png' | relative_url }}" class="h-center"/>
    </p>
    <p>
      <ul>
        <li>
          To change the color of functions, use the dropdown menus on the right.
        </li>
      </ul>
    </p>
    <p>
      <img src="{{ 'img/FnColor.png' | relative_url }}" class="h-center"/>
    </p>
    <p>
      <ul>
        <li>
          Note that you can only set one color per function in wireframe mode, but you can set both
          a "wire" color and a "fill" color in solid mode.
        </li>
      </ul>
    </p>
    <p>
      To change the dimensions of the displayed graph, click on "Set Window". Graphed functions
      whose values go beyond 3 times the dimension of the displayed graph (the "Window") are not
      shown beyond that point. Making the window larger can allow you to see the entirety of the
      graphed function. For instance, the function x^2 will have the value of 225 at x=15, but a
      chart that only extends (with grid lines) up to 15 will not graph the function beyond the
      value of 45; setting the graph's ymax value to 80 will remedy this.
    </p>
    <p>
      <img src="{{ 'img/SetWin.png' | relative_url }}" class="h-center"/>
    </p>
    <p>
      <ul>
        <li>
          A popup box will appear to allow you to set the dimensions of the
          <em>x</em>- and
          <em>y</em>-axes.
        </li>
      </ul>
    </p>
    <p>
      If, at any point, you wish to get rid of the currently-graphed function(s), simply click on
      "Clear Graph".
    </p>
    <p>
      <img src="{{ 'img/ClrGraph.png' | relative_url }}" class="h-center"/>
    </p>
