<p>
      <ul>
        <li>
          To find out what the machine will do with a number:
          <ul>
            <li>
              Type a number into the
              <strong>X= [____]</strong> space (in our example, number 5 is typed in)
              <div class="h-center">
                <img src="{{ 'img/image570.gif' | relative_url }}"/>
              </div>
            </li>
            <li>
              Press the
              <strong>Enter</strong> button:
              <div class="h-center">
                <img src="{{ 'img/image571.gif' | relative_url }}"/>
              </div>
            </li>
            <li>
              Observe the resulting number in the
              <strong>Y= [____]</strong> window (in our example, number 7 is the result):
              <div class="h-center">
                <img src="{{ 'img/image572.gif' | relative_url }}"/>
              </div>
            </li>
            <li>
              You can input as many numbers as you need to find the rule
            </li>
          </ul>
        </li>
        <li>
          To check if you guessed the rule right, select an operation and type a number in the
          <strong>Y = X [?] [____]</strong> space, and then press the
          <strong>Check Formula</strong> button.
          <div class="h-center">
            <img src="{{ 'img/image573.gif' | relative_url }}"/>
          </div>
        </li>
        <li>
          To select an operation, click on the selection sign
          <div>
            <img src="{{ 'img/image574.gif' | relative_url }}"/>
          </div>next to the question mark. You will see three operations (and a question mark):
          <div class="h-center">
            <img src="{{ 'img/image575.gif' | relative_url }}"/>
          </div>
          <ul>
            <li>
              Click on the operation you want to select, and it will appear instead of the question
              mark (in our example,
              <strong>+</strong> is selected):
              <div class="h-center">
                <img src="{{ 'img/image576.gif' | relative_url }}"/>
              </div>
            </li>
            <li>
              Type the number that completes the rule in the space after the sign (in our example, 2
              is typed):
              <div class="h-center">
                <img src="{{ 'img/image577.gif' | relative_url }}"/>
              </div>
            </li>
            <li>
              Click on the
              <strong>Check formula</strong> button:
              <div class="h-center">
                <img src="{{ 'img/image578.gif' | relative_url }}"/>
              </div>
            </li>
            <li>
              You will see one of the two messages under the picture of the machine: either
              <strong>Correct answer!</strong> or
              <strong>Try again!</strong>
            </li>
          </ul>
        </li>
        <li>
          To set a new function machine (that is, a new rule), click once on the
          <strong>Set new function</strong> button
          <div class="h-center">
            <img src="{{ 'img/image579.gif' | relative_url }}"/>
          </div>
        </li>
        <li>
          This activity automatically keeps track of how successful you are at naming the function.
          To view your score press the
          <strong>Show Score</strong> button
          <div class="h-center">
            <img src="{{ 'img/image580.gif' | relative_url }}"/>
          </div>
          <ul>
            <li>
              To pause scoring press the
              <strong>Active</strong> button and it will turn into a
              <strong>Paused</strong> button to indicate that scoring has been paused. To resume scoring press this button
              again so it reads
              <strong>Active</strong>.
            </li>
            <li>
              Every time you press the
              <strong>Check formula</strong> button, the score panel is updated. This panel tells you the percentage of your
              guesses that were correct for the current function, and all the functions.
              <div class="h-center">
                <img src="{{ 'img/image581.gif' | relative_url }}"/>
              </div>
            </li>
            <li>
              If you want to reset the statistics, you may do so by pressing the
              <strong>Reset</strong> button inside of the scoreboard.
              <div class="h-center">
                <img src="{{ 'img/image582.gif' | relative_url }}"/>
              </div>
            </li>
          </ul>
        </li>
      </ul>
      <p>
        Because this activity randomly generates questions, a feature called
        <strong>Seed Random</strong> has been implemented that allows multiple users using different computers to work on the
        same problem. See
        <a href="{{ '/resources/SeedRandom' | relative_url }}">Seed Random Help</a> for instructions on using this feature.
      </p>
    </p>
