<p>
      <ul>
        <li>
          The area at the top of the screen is where the plot is displayed.
          <div class="h-center">
            <img src="{{ 'img/image1279.GIF' | relative_url }}"/>
          </div>
        </li>
        <li>
          <p>
            The
            <strong>Function</strong> area is for entering functions. To graph a function, type the formula of the function
            you want to graph in the space at the bottom of the applet, next to
            <strong>y(x)=</strong>. You may graph up to nine functions on the same plot. Enter one formula per line, as
            shown.
          </p>
          <div class="h-center">
            <img src="{{ 'img/image1287.GIF' | relative_url }}"/>
          </div>
          
          <p>
            Basic functions and their compositions can be typed as follows:
            <table class="h-center">
              <tr>
                <td>
                  <strong>Function</strong>
                </td>
                <td>
                  <strong>Symbol</strong>
                </td>
                <td>
                  <strong>Examples (including combinations of functions)</strong>
                </td>
              </tr>
              <tr>
                <td>
                  addition
                </td>
                <td>
                  +
                </td>
                <td>
                  <strong>x + 3 </strong> x plus three
                </td>
              </tr>
              <tr>
                <td>
                  subtraction
                </td>
                <td>
                  -
                </td>
                <td>
                  <strong>5 - x </strong> five minus x
                </td>
              </tr>
              <tr>
                <td>
                  multiplication
                </td>
                <td>
                  *
                </td>
                <td>
                  <strong>(x - 2)*x </strong> x times x minus two
                </td>
              </tr>
              <tr>
                <td>
                  division
                </td>
                <td>
                  /
                </td>
                <td>
                  <strong>3/x</strong> three divided by x
                </td>
              </tr>
              <tr>
                <td>
                  power
                </td>
                <td>
                  ^
                </td>
                <td>
                  <strong>x^3 - 1 </strong> x to the power of three minus one
                </td>
              </tr>
              <tr>
                <td>
                  power
                </td>
                <td>
                  **
                </td>
                <td>
                  <strong>x**3 - 1 </strong> x to the power of three minus one
                </td>
              </tr>
              <tr>
                <td>
                  (pi)
                </td>
                <td>
                  pi
                </td>
                <td>
                  <strong>sin(pi*x) </strong> sin of (pi) times x
                </td>
              </tr>
              <tr>
                <td>
                  square root
                </td>
                <td>
                  sqrt(...)
                </td>
                <td>
                  <strong>sqrt(x-1)</strong> square root of x minus one
                </td>
              </tr>
              <tr>
                <td>
                  nth root
                  <hr/>
                  (see
                  <sup> * </sup> below)
                  <hr/>
                </td>
                <td>
                  x^(1/n)
                </td>
                <td>
                  <strong>x^(1/3)</strong> cube root of x
                </td>
              </tr>
              <tr>
                <td>
                  absolute value
                </td>
                <td>
                  abs(...)
                </td>
                <td>
                  <strong>abs(3 - x) </strong> absolute value of three minus x
                </td>
              </tr>
              <tr>
                <td>
                  e to the power of x
                </td>
                <td>
                  exp(...)
                </td>
                <td>
                  <strong>exp(x)</strong> e to the power of x
                </td>
              </tr>
              <tr>
                <td>
                  sine
                </td>
                <td>
                  sin(...)
                </td>
                <td>
                  <strong>sin(x**2)</strong> sine of x squared
                </td>
              </tr>
              <tr>
                <td>
                  cosine
                </td>
                <td>
                  cos(...)
                </td>
                <td>
                  <strong>cos(5 - x) </strong> cosine of five minus x
                </td>
              </tr>
              <tr>
                <td>
                  tangent
                </td>
                <td>
                  tan(...)
                </td>
                <td>
                  <strong>tan(x) </strong> tangent x
                </td>
              </tr>
              <tr>
                <td>
                  arcsine
                </td>
                <td>
                  asin(...)
                </td>
                <td>
                  <strong>2*asin(x)</strong> two times arcsine x
                </td>
              </tr>
              <tr>
                <td>
                  arccosine
                </td>
                <td>
                  acos(...)
                </td>
                <td>
                  <strong>acos(x)</strong> arccosine x
                </td>
              </tr>
              <tr>
                <td>
                  arctangent
                </td>
                <td>
                  atan(...)
                </td>
                <td>
                  <strong>atan(x)</strong> arctangent of x
                </td>
              </tr>
              <tr>
                <td>
                  hyperbolic sine
                </td>
                <td>
                  sinh(...)
                </td>
                <td>
                  <strong>sinh(1 - x)</strong> hyperbolic sine of one minus x
                </td>
              </tr>
              <tr>
                <td>
                  hyperbolic cosine
                </td>
                <td>
                  cosh(...)
                </td>
                <td>
                  <strong>cosh(10/x)</strong> hyperbolic cosine of ten divided by x
                </td>
              </tr>
              <tr>
                <td>
                  hyperbolic tangent
                </td>
                <td>
                  tanh(...)
                </td>
                <td>
                  <strong>tanh(x) </strong>hyperbolic tangent of x
                </td>
              </tr>
              <tr>
                <td>
                  natural logarithm
                </td>
                <td>
                  ln(...)
                </td>
                <td>
                  <strong>ln(x) </strong> natural logarithm of x
                </td>
              </tr>
              <tr>
                <td>
                  base 10 logarithm
                </td>
                <td>
                  log(...)
                </td>
                <td>
                  <strong>log(x + 5)</strong> base ten logarithm of x plus five
                </td>
              </tr>
            </table>
          </p>
        </li>
        <li>
          The
          <strong>Data</strong> area is for entering data points. Data points should be in the form (x, y). Parentheses
          around the data point are optional. A tab or a space can separate the x and the y though
          no space is needed. A space or a carriage return is required to separate the data points
          from one another. After you input the coordinates, you must press the
          <strong>Plot/Update</strong> button to graph them.
        </li>
        <li>
          If you have trouble copying data from the applet and pasting it into an Excel spreadsheet,
          please see our
          <a href="{{ '/resources/ExcelCopyPasteHelp/' | relative_url }}">Excel Copy/Paste Help</a>.
        </li>
        <li>
          You can plot a total of
          <strong>nine</strong> functions at once. You can also plot a total of
          <strong>twelve</strong> data sets at once. Separate each function with a comma. Separate data sets by typing
          <strong>newgraph</strong> on a line by itself in the
          <strong>Data</strong> window. If you want to specify your own colors for the graphs you can replace
          <strong>newgraph</strong> with the following keywords:
          <strong>bluegraph, redgraph, greengraph, blackgraph, graygraph, magentagraph, browngraph,
          orangegraph, purplegraph, crimsongraph, darkbluegraph</strong>.
        </li>
        <li>
          You can choose from two
          <strong>plot types</strong>. "Connected" draws a line from one point to the next (before the line is drawn the points
          are sorted by their x coordinates.) "Scatter Plot" just draws the points as dots on the
          graph. These options do not affect the way functions are graphed.
          <div class="h-center">
            <img src="{{ 'img/image1280.GIF' | relative_url }}"/>
          </div>
        </li>
        <li>
          Click
          <strong>Set Window</strong> to determine how the coordinate plane will appear on your screen. A new window will open
          that allows you to change the setttings. X min and X max are the minimum and maximum
          x-values displayed on the graph. Similarly for Y min and Y max. X scale is the distance
          between vertical gridlines if
          <strong>Choose Scale Automatically</strong> is checked. Y scale is the distance between horizontal gridlines if
          <strong>Choose Scale Automatically</strong> is checked. If the
          <strong>Use Defaults</strong> box is unchecked, Graphit will choose appropriate values for you. If you uncheck that
          box, you can override Graphit's values with your own. If you wish to revert back to the
          default values, click
          <strong>Get Defaults</strong> in the Set Window box. Click
          <strong>Set</strong> to make the changes to the window parameters take effect.
          <div class="h-center">
            <img src="{{ 'img/image1281.GIF' | relative_url }}"/>
          </div>
        </li>
        <li>
          You can choose what you see on the graph. You can select to show all functions, all data,
          and/or the grid lines by checking the appropriate box or radio button in the
          <strong>Show</strong> box.
          <div class="h-center">
            <img src="{{ 'img/image1282.GIF' | relative_url }}"/>
          </div>
        </li>
        <li>
          The applet also can tell you the location of any click. Just click the mouse anywhere on
          the graph that you want to know the coordinates of and the coordinates will appear in the
          <strong>Mouse Pos.</strong> box.
          <div class="h-center">
            <img src="{{ 'img/image1283.GIF' | relative_url }}"/>
          </div>
        </li>
        <li>
          <strong>Zoom/Pan buttons.</u> In the upper right corner of the graph, there are three buttons with pictures of
          magnifying glasses. From top to bottom these buttons represent zoom in, zoom out, and pan,
          respectively.
          <ul>
            <li>
              To zoom in, click the top button to depress, then click and drag over the area of the
              graph for which you wish to zoom to. Note that after clicking and dragging over the
              selected area, the zoom in button is automatically released.
              <div class="h-center">
                <img src="{{ 'img/image834.gif' | relative_url }}"/>_
              </div>
            </li>
            <li>
              To zoom out, simply click the middle button. The graph will automatically zoom out by
              doubling the min and max values of the axes.
            </li>
            <li>
              To use the pan feature, click the bottom magnifying glass button to depress it. Click
              and drag over the graph and the graph will pan around according to the movement of the
              mouse. Upon releasing the mouse, the pan button is released.
            </li>
            <li>
              <strong>Auto Scale:</u> Checking the
              <strong>Auto Scale</strong> check box gives the smallest window possible so that all of the data points still fit
              on the coordinate plane. Note that there must be data for this feature to work.
            </li>
          </ul>
          <div class="h-center">
            <img src="{{ 'img/image1284.GIF' | relative_url }}"/>
          </div>
        </li>
      </ul>
      <a name="showtbl">
        <strong>Show Tabular Function Data:</strong>
      </a>
      <ul>
        <li>
          To view a table of values corresponding to the graphed function, click the
          <strong>Show Tabular Data</strong> button.
          <div class="h-center">
            <img src="{{ 'img/image1286.GIF' | relative_url }}"/>
          </div>
        </li>
        <li>
          The x values in the table increment equally and then give the corresponding f(x) values
          for each function plotted. You can change these data values by entering a new minimum x
          value, new maximum x value, and step size. If you enter a step that does not divide evenly
          into the range, the table will stop at the greatest multiple of the step that is less than
          the maximum. The precision field allows you to adjust the number of decimal points
          displayed.
          <div class="h-center">
            <img src="{{ 'img/image1054.JPG' | relative_url }}"/>
          </div>
        </li>
        <li>
          When the
          <strong>Plot Data</strong> button within the Show Tabular Data window is pressed, the data listed in tabular form in
          the Tabular Data window is plotted on the graph of the main screen.
          <div class="h-center">
            <img src="{{ 'img/image1055.JPG' | relative_url }}"/>
          </div>
          <div class="h-center">
            <img src="{{ 'img/image1285.GIF' | relative_url }}"/>
          </div>
        </li>
      </ul>
    </p>
