<p>
      <ul>
        <li>
          The
          <strong>Next Stage</strong> and
          <strong>Previous Stage</strong> buttons at the bottom of the applet control which stage of the fractal is being viewed.
          <img src="{{ 'img/image839.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The
          <strong>Output Box</strong> at the top of the applet lists the current stage's number of individual line segments and
          the individual segment length.
          <img src="{{ 'img/image840.gif' | relative_url }}" class="h-center"/>
        </li>
      </ul>
    </p>
