<p>
      <ul>
        <li>
          <p>
            First select the image you want to use from the drop down menu:
            <img src="{{ 'img/image480.gif' | relative_url }}" class="h-center"/>
          </p>
          <p>
            Note that if you would like to use your own non-copyrighted image, use the
            <strong>Activity Feedback</strong> located at the bottom of the page to contact us and we will coordinate uploading the
            image to the activity.
          </p>
        </li>
        <li>
          Next, select "distance" from the "measurement" menu in order to set your desired scale.
          <img src="{{ 'img/image481.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          <p>
            To set the scale, create a line with two endpoints on the image by clicking on the two
            endpoints, then click the "change scale" button.
            <img src="{{ 'img/image482.gif' | relative_url }}" class="h-center"/>
          </p>
          <p>
            <img src="{{ 'img/image483.gif' | relative_url }}" class="h-center"/>
          </p>
        </li>
        <li>
          A window will pop up after clicking on the "change scale" button asking you to define the
          selected distance. Input the quantity and unit that the selected distance represents.
          <img src="{{ 'img/image484.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          You can now select other distances on the image by creating more line segments on the
          image. Use the
          <strong>Reset</strong> button to clear any distances already selected. Otherwise, a new line segment will be
          built using the last endpoint placed.
        </li>
        <li>
          To measure
          <strong>Area</strong> select "Area" from the "measurement menu." Then create a polygon on the image by clicking
          on the verticies of where you want the polygon to lie in a clockwise or counterclockwise
          fashion. Be sure to complete the polygon by clicking on the first endpoint as the ending
          endpoint as well.
          <img src="{{ 'img/image485.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The calculated distance or area is displayed based upon the scale you set under the
          "change scale" button.
        </li>
        <li>
          To measure an angle select "Angle" from the "measurement menu" and then create an angle by
          clicking on 3 points in the image to create an angle. The angle measure will be displayed.
        </li>
      </ul>
    </p>
