<p>
      To adjust the biker's path, click and drag on each of the points B, C, D, and E. Points A and
      F are the endpoints of the ramp and, as such, cannot be moved. As you do so, note that the
      path between the points changes to match.
      <img src="{{ 'img/incline11.' | relative_url }}" class="h-center"/>
    </p>
    <p>
      To reset the ramp to its initial configuration, press the
      <strong>Reset Ramp</strong> button.
      <img src="{{ 'img/InclineResRamp.png' | relative_url }}" class="h-center"/>
    </p>
    <p>
      To adjust the velocity that the biker starts with, click and drag the
      <strong>Initial Velocity</strong> slider bar. Setting the initial velocity too low may mean that the biker doesn't have enough
      energy to get all the way up the incline. If this happens, the biker will stop when he runs
      out of energy.
    </p>
    <p>
      To sketch a prediction of the graph before running the simulation, click and drag the mouse
      across the graph.
      <img src="{{ 'img/incline00.png' | relative_url }}" class="h-center"/>
    </p>
    <p>
      Press the
      <strong>Start Animation</strong> button to begin the animation. While the animation is running, the button will toggle to say
      <strong>Pause Animation</strong>. The button can then be used to pause the animation at any point. When the animation is
      paused, the button will toggle to say
      <strong>Resume</strong>. The button can then be used to resume the animation where it was paused.
      <div class="h-center">
        <img src="{{ 'img/InclineStAni.png' | relative_url }}"/>
        <img src="{{ 'img/InclinePAni.png' | relative_url }}"/>
        <img src="{{ 'img/InclineRes.png' | relative_url }}"/>
      </div>
    </p>
    <p>
      As an alternate to running the animation automaticallly, press the
      <strong>Step Animation</strong> button in order to manually move the biker each step of the animation.
      <img src="{{ 'img/InclineStepAni.png' | relative_url }}" class="h-center"/>
    </p>
    <p>
      As the animation runs, the graph on the right will update to show the change in speed versus
      position.
      <img src="{{ 'img/InclineGraph.png' | relative_url }}" class="h-center"/> The line on the graph represents the speed of the biker as he travels along the path. Notice
      that as the biker moves up an incline, the line on the graph moves down because the biker
      loses speed. Likewise, when the biker moves down an incline, the line on the graph moves up as
      the biker's speed increases.
    </p>
    <p>
      To run another animation, press the
      <strong>Reset Animation</strong> button. This will move the biker back to the starting position, ready for another run.
      <img src="{{ 'img/InclineResAni.png' | relative_url }}" class="h-center"/>
    </p>
    <p>
      Pressing the
      <strong>Reset Animation</strong> will clear the speed vs. position graph. In order to prevent this, check the
      <strong>Trace Multiple Runs</strong> checkbox. Checking this box will cause the graph to display all subsequent runs
      simultaneously. This option is useful if you wish to compare various configurations of the
      ramp and initial velocity side by side.
      <img src="{{ 'img/InclineMultiRuns.png' | relative_url }}" class="h-center"/>
    </p>
