<p>
      <ul>
        <li>
          The area at the top of the screen is where the plot is displayed.
          <img src="{{ 'img/image1209.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The
          <strong>Relation</strong> and
          <strong>Data</strong> areas are for entering inequalities and ordered pairs, respectively. When entering an
          inequality first enter a value in the box before x and a value in the box before y. Next,
          select the inequality sign (less than, less than or equal to, equal to, greater than or
          equal to, or greater than). Lastly, enter a value in the last box. All values must be
          written as whole numbers or decimal values (not fractions). Once all of the boxes have
          values in them and the sign has been chosen, select the "Plot/Update" button and the data
          will appear on the graph. For information about entering data points, see
          <a href="{{ '/activities/SimplePlot' | relative_url }}">Simple Plot</a>.
        </li>
        <li>
          <p>
            Once you have created an inequality relation, you can choose several ways to view the
            relation. By selecting the button "standard form" you will see the inequality written as
            you typed it in. For example: 2x + 3y LESS THAN 5. By selecting the button "solve for x"
            you will see the inequality written such that the inequality is solved in terms of x.
            For example, x LESS THAN -3/2y + 5/2. By selecting the button "solve for y" you will see
            the inequality written such that the inequality is solved in terms of y. For example, y
            LESS THAN -2/3x + 5/3.
          </p>
          <p>
            <img src="{{ 'img/image1210.png' | relative_url }}" class="h-center"/>
          </p>
        </li>
        <li>
          <p>
            By selecting "Clear Relations" you can erase all values in the relations section, while
            keeping the data sets.
          </p>
          <p>
            <img src="{{ 'img/image1211.png' | relative_url }}" class="h-center"/>
          </p>
        </li>
        <li>
          <p>
            You can plot a total of four relations and infinitely many data sets at once. Separate
            data sets by typing
            <strong>newgraph</strong> or by writing each data set on a line by itself in the
            <strong>Data</strong> window. If you want to specify your own colors for the graphs you can replace
            <strong>newgraph</strong> with the following keywords:
            <strong>bluegraph, redgraph, greengraph, darkbluegraph, graygraph, magentagraph, purplegraph,
            crimsongraph</strong> and then all of the values following that keyword will turn the corresponding color.
          </p>
          <p>
            <img src="{{ 'img/image1212.png' | relative_url }}" class="h-center"/>
          </p>
        </li>
        <li>
          <p>
            You can choose from two
            <strong>plot types</strong>. "Connected" draws a line from one point to the next (before the line is drawn the
            points are sorted by their x coordinates.) "Scatter Plot" just draws the points as dots
            on the graph. These options do not affect the way relations are graphed. By selecting
            "Clear Data" you can erase all data sets, while keeping values in the functions section.
          </p>
          <p>
            <img src="{{ 'img/image1213.png' | relative_url }}" class="h-center"/>
          </p>
        </li>
        <li>
          <p>
            The
            <strong>Set Window</strong> button brings up a separate window where you can determine how the coordinate plane
            will appear on your screen. X min and X max are the minimum and maximum x-values
            displayed on the graph. Similarly for Y min and Y max. X scale is the distance between
            vertical gridlines. Y scale is the distance between horizontal gridlines. If the
            <strong>Choose Scale Automatically</strong> box is checked, the applet will choose appropriate values for you to display all your
            data. If you uncheck that box, you override the auto scale values with your own. Any
            changes you make to the window parameters will take effect once you select the
            <strong>Set</strong> button.
          </p>
          <p>
            <img src="{{ 'img/image1214.png' | relative_url }}" class="h-center"/>
          </p>
        </li>
        <li>
          <p>
            You can choose what you see on the graph. You can select to show all relations, all
            data, and/or the grid lines by checking the appropriate box or radio button in the
            <strong>Show</strong> section.
          </p>
          <p>
            <img src="{{ 'img/image1215.png' | relative_url }}" class="h-center"/>
          </p>
        </li>
        <li>
          <p>
            The applet also can tell you the location of any click. Just click the mouse anywhere on
            the graph that you want to know the coordinates of and the coordinates will appear under
            the words
            <strong>Mouse Position:</strong>
          </p>
          <p>
            <img src="{{ 'img/image1216.png' | relative_url }}" class="h-center"/>
          </p>
        </li>
      </ul>
    </p>
