<p>
      <ul>
        <li>
          The rectangular area at the top of the screen is where the Julia set is drawn. Black
          points are prisoners; colored points are escapees (color differences indicate how quickly
          they escape from the circle of radius 2).
        </li>
        <li>
          The
          <strong>Constant</strong> text box at the bottom is for the value of C for which you are interested in viewing the
          Julia set. To change the C value, either click the up/down arrows or enter a number
          directly in the text field. For best results, keep the C value under 2.
          <div class="h-center">
            <div class="h-center">
              <img src="{{ 'img/image1203.gif' | relative_url }}"/>
            </div>
          </div>
        </li>
        <li>
          Press the
          <strong>Draw</strong> button to clear the current Julia Set and draw a new one with the entered values for the
          constant. Since the Set is redrawn with each press of an up/down arrow, the only time this
          button will make a change to the graph is when numbers have been directly entered into the
          text fields (without the pressing of the arrow buttons).
          <div class="h-center">
            <img src="{{ 'img/image500.gif' | relative_url }}"/>
          </div>
        </li>
        <li>
          The
          <strong>Change Step Size</strong> button changes the amount by which the C value increases each time you click the up or
          down arrow.
          <div class="h-center">
            <img src="{{ 'img/image1204.png' | relative_url }}"/>
          </div>
        </li>
      </ul>
    </p>
