<p>
      <ul>
        <li>
          <strong>Start:</strong> This button is at the top of the applet and begins running the applet. The button becomes
          <strong>Stop</strong> once the applet begins.
        </li>
        <li>
          <strong>Stop:</strong> This button appears when the applet is running. When pressed, the cycle stops. The button
          becomes
          <strong>Start</strong> once the applet stops.
        </li>
        <li>
          <strong>Step:</strong> This button allows the user to run one cycle at a time. This is useful to help students
          understand where the births and deaths occur each time.
        </li>
        <li>
          <strong>Clear:</strong> This button clears the display grid and allows you to start a new trial.
        </li>
        <li>
          <strong>Randomize:</strong> This button selects a random percentage of people to randomly distribute throughout the
          display screen.
        </li>
        <li>
          <strong>Min Delay Between Iterations:</strong> This slider is located at the bottom of the applet display. By sliding the marker to the
          left, the time between cycles is reduced while sliding the marker to the right increases
          the time between cycles.
        </li>
        <li>
          <strong>Pattern List:</strong> This option is located in the top most menu of the applet (in some browsers on the
          Macintosh, this option appears in the browser's menu bar at the top of your screen).
          Selecting it gives you a pull down menu of small, medium, large, very large, and huge
          patterns. Under each size pattern is a list of patterns in that category. Once a pattern
          has been selected, the user can click anywhere on the display to add persons in the chosen
          pattern. Students should play with various patterns and should observe their behaviors.
        </li>
        <li>
          <strong>Game Setup:</strong> This option is also located in the top most menu of the applet (in some browsers on the
          Macintosh, this option appears in the browser's menu bar at the top of your screen). The
          pull down menu presents the user with four options:
          <ol>
            <li>
              <strong>Change Rules:</strong> This option allows you to change whether a person lives or dies and whether a new
              person is born when the original has zero through eight neighbors.
            </li>
            <li>
              <strong>Change World Size:</strong> This option allows you to change the grid size. Remember, larger grids run slower.
            </li>
            <li>
              <strong>World Wraps:</strong> By selecting world wrap, you chose for the grid to wrap around the sides. By
              deselecting this option, puts walls up on all sides (like an island.)
            </li>
            <li>
              <strong>Colorize Cells:</strong> This option allows you to chose whether you would like the red and blue colored cells
              or whether you would like just plain white. Red cells are alive and fade to blue to
              indicate death.
            </li>
          </ol>
        </li>
        <li>
          <strong>Help:</strong> The help menu also appears in the top most menu of the applet (in some browsers on the
          Macintosh, this option appears in the browser's menu bar at the top of your screen). This
          menu allows the user to open the "What", "How", and "Why" pages.
        </li>
      </ul>
    </p>
