<p>
      As an example, we use function Y = X + 2
    </p>
    <p>
      <ul>
        <li>
          To find out what the machine will do with a number:
          <ul>
            <li>
              <p>
                Type the number into the
                <strong>X= [____]</strong> space (in our example, number 5 is typed in):
              </p>
              <p>
                <img src="{{ 'img/image316.gif' | relative_url }}" class="h-center"/>
              </p>
            </li>
            <li>
              Press the
              <strong>Enter</strong> button:
              <img src="{{ 'img/image317.gif' | relative_url }}" class="h-center"/>
            </li>
            <li>
              Observe the resulting number in the Y= [____] window (in our example, number 7 is the
              result):
              <img src="{{ 'img/image318.gif' | relative_url }}" class="h-center"/>
            </li>
            <li>
              You can input as many numbers as you need to find the rule
            </li>
          </ul>
        </li>
        <li>
          To check if you guessed the rule right, type numbers in the
          <strong>Y = [___]*X + [___]</strong> spaces, and then press the
          <strong>Check formula</strong> button. You will see one of the two messages under the picture of the machine: either
          <strong>
            <span class="greenText">Correct answer!</span>
          </strong> or
          <strong>
            <span class="redText">Try again!</span>
          </strong>
        </li>
        <li>
          To set a new function machine (that is, a new rule), click once on the
          <strong>Set new function button:</strong>
          <img src="{{ 'img/image319.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          This activity automatically keeps track of how successful you are at identifying the
          function. To view your score press the
          <strong>Show Score</strong> button
          <img src="{{ 'img/image511.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To pause scoring press the
          <strong>Active</strong> button and it will turn into a
          <strong>Paused</strong> button to indicate that scoring has been paused. To resume scoring press this button
          again so it reads
          <strong>Active</strong>.
        </li>
        <li>
          Every time you press the
          <strong>Check formula</strong> button, the score panel is updated. This panel tells you the percentage of your guesses
          that were correct for the current function, and all the functions.
          <img src="{{ 'img/image512.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          If you want to reset the statistics, you may do so by pressing the
          <strong>Reset</strong> button inside of the scoreboard.
          <img src="{{ 'img/image513.gif' | relative_url }}" class="h-center"/>
        </li>
      </ul>
      <p>
        Because this activity randomly generates questions, a feature called
        <strong>Seed Random</strong> has been implemented that allows multiple users using different computers to work on the
        same problem. See
        <a href="{{ '/resources/SeedRandom' | relative_url }}">Seed Random Help</a> for instructions on using this feature.
      </p>
    </p>
