<p>
      <ul>
        <li>
          At the top left of the screen, there is a place where the user can specify how many
          marbles of each kind they wish to use. The number of marbles for each of the four colors
          must of course be an integer and less than 1000. If you put a zero as an entry, that is as
          if you are not putting any marbles of that color in the bag.
          <img src="{{ 'img/image593.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Below, you can specify how many marbles you wish to draw at one time (1,2, or 3 marbles).
          The number of marbles you draw must be less than or equal to the total number of marbles
          in your 'bag'.
          <img src="{{ 'img/image594.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The user is able to decide whether order matters, in other words, would a pick of
          red-blue-red be the same as red-red-blue? By selecting Order Does Not Matter, the table
          becomes shorter because like combinations are removed.
          <img src="{{ 'img/image595.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The user can decide whether the marbles are replaced back in the bag after they are drawn
          or whether they are simply left out.
          <img src="{{ 'img/image596.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The user can determine how many individual trials they want to calculate with each run.
          The number of trials must not be greater than 10000. By clicking
          <strong>Run Trials</strong> the trials are calculated.
          <img src="{{ 'img/image597.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          After running the trials, the data table should now include the experimental results. The
          first three columns indicate the order and color of the possible draw. The fourth column
          tells you the frequency in which that combination came up in your trials. The fifth column
          tells you the experimental percentage of the trials that came up with that combination and
          the last column tells you the theoretical percentage. You can use the scrollbar on the
          right to look through the trial data.
          <img src="{{ 'img/image598.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          After running a trial, the previously blank spot at the bottom left should now be ocupied
          by a bar chart. The bar chart indicates how many marbles of each individual color are
          drawn in total.
          <img src="{{ 'img/image599.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          By clicking on the barchart, the user can change it to a piechart which displays the same
          data. By clicking on the graph repeatedly, one can toggle between both types of graphs.
          <img src="{{ 'img/image600.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          At the bottom of the Marble Info box, the total number of accumlated trials is displayed
          along with the
          <strong>Clear Stats</strong> button which allows the user to clear the data and start fresh.
          <img src="{{ 'img/image601.gif' | relative_url }}" class="h-center"/>
        </li>
      </ul>
    </p>
