<p>
      <ul>
        <li>
          Determine the X and Y coordinates at the end point of the robot's next step. For example,
          we want the robot to go to the point highlighted by a yellow dot. The X coordinate of the
          point is -6, and the Y coordinate of the point is -7:
          <img src="{{ 'img/image745.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To command the robot to make the next step, type the X coordinate in the
          <strong>X=[___]</strong> space, and the Y coordinate in the
          <strong>Y=[___]</strong> space:
          <img src="{{ 'img/image746.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          When coordinates for the next step are prepared, click on the
          <strong>GO</strong> button to make the robot move. The movements of the robot are traced in blue as long as
          the robot does not come in contact with any mines.
          <img src="{{ 'img/image747.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          If the robot comes in contact with a mine along his journey, the movements of the robot
          are then traced in red.
          <img src="{{ 'img/image1167.jpg' | relative_url }}" class="h-center"/>
        </li>
        <li>
          <p>
            To start a new game, choose the
            <strong>Number of Mines</strong> you want on the board:
            <img src="{{ 'img/image748.gif' | relative_url }}" class="h-center"/> and click on the
            <strong>New Game</strong> button:
          </p>
          <p>
            <img src="{{ 'img/image749.gif' | relative_url }}" class="h-center"/>
          </p>
        </li>
        <li>
          <p>
            The user may control whether the robot starting and target positions are fixed or
            variable using the following control:
            <img src="{{ 'img/image1157.GIF' | relative_url }}" class="h-center"/>
          </p>
          <p>
            If this control is set to
            <em>No,</em> the robot's starting position is always (-10, -10) and the robot's target position is
            always (10, 10). If this control is set to
            <em>Yes,</em> the robot's starting and target position are placed at random positions on the screen
            as shown below:
          </p>
          <p>
            <img src="{{ 'img/image1159.GIF' | relative_url }}" class="h-center"/>
          </p>
        </li>
      </ul>
      <p>
        <strong>Scoring</strong>
      </p>
      <ul>
        <li>
          This activity will automatically record how successful you are at answering the questions.
          To view the score, press the
          <strong>Show Score</strong> button at the bottom of the activity and a pop-up window will appear with the scoreboard.
          <img src="{{ 'img/Scoreboard_Maze.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To close this pop-up window press the
          <strong>Close</strong> button or click back on the main window.
        </li>
        <li>
          To pause the scoring, press the
          <strong>Active</strong> button at the bottom of the screen and it will change to a
          <strong>Paused</strong> button. To resume scoring, press the
          <strong>Paused</strong> button.
        </li>
        <li>
          To reset the scoreboard, open the scoreboard using the
          <strong>Show Score</strong> button and then press the
          <strong>Reset</strong> button.
        </li>
      </ul>
      <p>
        Because this activity randomly generates questions, a feature called
        <strong>Seed Random</strong> has been implemented that allows multiple users using different computers to work on the
        same problem. See
        <a href="{{ '/resources/SeedRandom' | relative_url }}>Seed Random Help</a> for instructions on using this feature.
      </p>
    </p>
