<p>
      In the
      <em>Exploration </em>mode, the activity lets the user create the piles of circles and determine the number of
      colored circles in each pile. The user can then combine the piles to see the total percent
      colored.
    </p>
    <p>
      In the other modes, the activity presents a set of circles in the first pile, some colored and
      some uncolored. The activity asks the user to create a second pile of colored and uncolored
      circles to achieve a set that, when combined, has the desired percent of colored circles.
    </p>
    <p>
      Use the drop down box to select from the four modes.
    </p>
    <p>
      <img src="{{ 'img/image982.gif' | relative_url }}" class="h-center"/>
    </p>
    <p>
      The two piles are labeled
      <strong>Pile A</strong> and
      <strong>Pile B</strong>. In the
      <span class="italics">Exploration</span> mode, beneath each pile are a set of controls allowing the user to add or remove circles, and
      color or uncolor circles in that pile.
      <hr/>
      <hr/>
      <img src="{{ 'img/image1123.jpg' | relative_url }}" class="h-center"/>
    </p>
    <p>
      In all of the other modes the user can only control the circles in
      <strong>Pile B</strong>.
    </p>
    <p>
      <img src="{{ 'img/image1122.jpg' | relative_url }}" class="h-center"/>
      <em>Exploration</em> mode the user simply adds circles to each pile and colors them.
    </p>
    <p>
      In the
      <em>Unknown Percent</em> mode the user is given Pile A with uncolored and colored circles and is also given a number
      of uncolored circles in Pile B. The user is asked to color circles in Pile B such that when
      the two piles are combined the result will contain a given percent of colored circles.
    </p>
    <p>
      In the
      <em>Unknown Total</em> mode the user must create Pile B such that Pile B has a specified percent of circles colored
      as well as a specified percent of the combined total colored.
    </p>
    <p>
      In the
      <em>Unknown Pile</em> mode the user is given Pile A with uncolored and colored circles and must create Pile B by
      adding uncolored circles and then coloring them such that when the piles are combined the
      result will contain a given percent of colored circles.
    </p>
    <p>
      In all modes, to see the resulting values when the piles are combined, simply click the
      <strong>Combine</strong> button. Click
      <strong>Next Question</strong> to clear the screen and begin again.
    </p>
    <p>
      When the
      <strong>Use multiples of five</strong> check box is checked it forces the activity to choose only the total number of circles in
      pile A to have a multiple of five.
    </p>
    <p>
      <strong>Scoring</strong>
      <ul>
        <li>
          This activity will automatically record how successful you are at answering the questions.
          To view the score, press the
          <strong>Show Score</strong> button at the bottom of the activity and a pop-up window will appear with the scoreboard.
          The information in this window is divided into two sections. The statistics for the
          current question are given in the top half of the window, and the statistics for all
          questions together are given in the bottom half. To close this pop-up window press the
          <strong>Close</strong> button or click back on the main window.
        </li>
        <li>
          To pause the scoring, press the
          <strong>Active</strong> button at the bottom of the screen and it will change to a
          <strong>Paused</strong> button. To resume scoring, press the
          <strong>Paused</strong> button.
        </li>
        <li>
          To reset the scoreboard, open the scoreboard using the
          <strong>Show Score</strong> button and then press the
          <strong>Reset</strong> button.
        </li>
      </ul>
      <p>
        Because this activity randomly generates questions, a feature called
        <strong>Seed Random</strong> has been implemented that allows multiple users using different computers to work on the
        same problem. See
        <a href="{{ '/resources/SeedRandom' | relative_url }}">Seed Random Help</a> for instructions on using this feature.
      </p>
    </p>
