<p>
      <ul>
        <li>
          The
          <strong>Graph</strong> shows a normal distribution. The
          <strong>mean</strong> is indicated by a blue line and the
          <strong>standard deviation</strong> is indicated by a red line on either side of the mean. The black circles at the bottom of
          the red lines can be dragged with the mouse to change the standard deviation. The
          <strong>maximum standard deviation</strong> is 1.25. The red graphic in the upper-left corner gives the scale of the grid.
          <div>
            <img class="h-center" src="{{ 'img/image635.gif' | relative_url }}"/>
          </div>
        </li>
        <li>
          You can also set the standard deviation by typing a new value in the box marked
          <strong>New Standard Deviation</strong> and clicking the
          <strong>Set</strong> button. The current standard deviation is printed in the label just below the graph.
          <div>
            <img class="h-center" src="{{ 'img/image636.gif' | relative_url }}"/>
          </div>
        </li>
        <li>
          To draw a histogram, choose the number of trials you want from the choices in the
          pull-down menu. You can change the bin size using the scrollbar.
          <div>
            <img class="h-center" src="{{ 'img/image1178.png' | relative_url }}"/>
          </div>
        </li>
      </ul>
    </p>
