<p>
      The slider bar at the top left-hand side of the activity allows you to adjust the base value.
      The default is base 10 and the minimum is base 2 and the maximum is base 16.
    </p>
    <p>
      Opposite from the slider bar is a textbox where you can enter the base ten number you want to
      calculate in another base. You must enter a number greater than or equal to zero and the
      maximum number you can enter changes depending on the base value. The maximum value (in base
      10) is the base minus one times the base squared.
    </p>
    <p>
      Once you have entered the number, click one of the two buttons next to it that say either
      'step' or 'count'. Once you have clicked 'count', the button becomes a 'stop' button and you
      may click this to stop the calculation and animation.
    </p>
    <p>
      'Count' will begin the calculation and animation of the clocks. Use the animation drop down
      menu to select how quickly the clock is animated. Choose from fast, medium, and slow, or
      choose "Do not animate" if you want to see the result but not watch the animation.
    </p>
    <p>
      <img src="{{ 'img/clockaritmetic1.png' | relative_url }}" class="h-center"/>
    </p>
    <p>
      'Step' also begins the calculation, but allows you to see the animation step by step.
    </p>
    <p>
      The two equations below the clocks show you how the number you entered is calculated in the
      base value you specified on the left, and how it is calculated in base 10 on the right.
    </p>
    <p>
      <img src="{{ 'img/image1239.png' | relative_url }}" class="h-center"/>
    </p>
    <p>
      Each clock corresponds to a term in the left equation. The values on the clock indicate the
      possible values that each term can contribute to the answer you see in front of the base (in
      this case 343). Thus, the right most term, in this example can contribute 0, 1, 2 ,3, 4 or 5
      (it contributes 3 here) to the final answer.
    </p>
    <p>
      You can view the values on the clock in your chosen base rather than in base 10 by un-checking
      the box next to 'Number Clocks in Base 10'.
    </p>
    <p>
      If you wish to enter another value after you have already entered one, click 'Reset'.
    </p>
