<p>
      <ul>
        <li>
          A randomly selected pattern with no predetermined difficulty level will appear for the
          user to solve. The user can either solve this pattern or select a difficulty level from
          the drop down menu at the bottom right.
          <img src="{{ 'img/pattern2.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          In order to solve a pattern, the user must move the shapes from the right side of the
          board into their appropriate places in the pattern, shown on the left.
          <img src="{{ 'img/pattern1.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To move the shapes, the user must "click and drag", which means to move the mouse pointer
          over the piece, click the mouse button and keep holding down while you move the mouse
          pointer to the spot on the board where you want to place it. When it is in position,
          release the mouse.
          <br/>
        </li>
        <li>
          If the correct piece is placed, it will remain on the board. If an incorrect choice is
          made, the piece will not show on the board. When this happens, select another piece to
          place on the board, and take a second look to try to figure out the pattern.
          <br/>
        </li>
        <li>
          If you want to remove the pieces you placed and start over, click the
          <strong>reset board</strong> button.
          <img src="{{ 'img/pattern3.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          When you are finished with one pattern, click the
          <strong>next pattern</strong> button and a new one will appear on the board.
          <img src="{{ 'img/pattern4.png' | relative_url }}" class="h-center"/>
        </li>
      </ul>
    </p>
