<p>
      <ul>
        <li>
          Click above the horizontal axis to place blocks. The blocks appear in that respective
          column.
          <img src="{{ 'img/image322.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          When adding blocks pointers appear indicating the respective measure of central tendency.
          When adding blocks, the pointers move to indicate the new values for those statistics.
          <img src="{{ 'img/image323.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          By clicking the appropriate radio button below the words
          <strong>When I click:</strong>, the user can change whether the blocks are added or removed from the column. The user
          can also choose to drag a box by choosing the "drag box" radio button and click and drag
          one of the boxes. This is discussed in further detail below.
          <img src="{{ 'img/image978.gif' | relative_url }}" class="h-center"/>
          <p>
            When dragging a box to change one of the data points, click and drag the top box in a
            column for which you wish to change. The box will change from blue to red to indicate
            which box is being manipulated. Drag the box right or left and release the mouse when it
            appears in the column you want. Note the values in the text box as well as the pointers
            for mean, median, and mode also dynamically update as the box is dragged. Pictured below
            is a box before dragging and after dragging.
          </p>
          <p>
            <img src="{{ 'img/image980.png' | relative_url }}" class="h-center"/>
          </p>
        </li>
        <li>
          Increase or decrease the x axis or y axis range of values by clicking on one of the
          following buttons. Note the x axis range has a maximum range of 30 consecutive values and
          the y axis range can have a maximum of 24.
          <img src="{{ 'img/image979.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The user can change the interval of the range by altering the
          <strong>X-Range Starts At</strong> value and then clicking the
          <strong>Set</strong> button. To reset the entire program to the default values, click
          <strong>Reset</strong>.
          <img src="{{ 'img/image326.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To see the statistical information in text, click the
          <strong>Show Stats</strong> button. The statistics panel (shown below) will appear at the bottom of the applet. When
          the statistics panel is visible, the
          <strong>Show Stats</strong> button will change to the
          <strong>Hide Stats</strong>. Click that button to hide the statistics panel again.
          <img src="{{ 'img/image327.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The user can also enter data to be plotted by typing it in the text area in the middle of
          the applet. Each number should be an integer and should be separated by a comma, a space,
          or by pressing the enter key. Type the data you want to use, and then click
          <strong>Update Graph</strong> to plot your data. Click
          <strong>Clear</strong> to clear all the data from the text area.
          <img src="{{ 'img/image328.gif' | relative_url }}" class="h-center"/>
        </li>
      </ul>
    </p>
