<p>
      <ul>
        <li>
          Select the appropriate difficulty level by clicking on the level button. Once the correct
          level has been chosen, click the new triangle button to display a triangle with the
          selected difficulty level settings.
          <img src="{{ 'img/image1050.jpg' | relative_url }}" class="h-center"/>
        </li>
        <li>
          One side of the right triangle is labeled with an "X". The "X" designates which side of
          the triangle the viewer is to calculate the measure of using the Pythagorean Theorem.
          <img src="{{ 'img/image347.jpg' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Input your solution into the input box and click the "Check Answer" button.
          <img src="{{ 'img/Side_x.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To try out the Pythagorean Theorem on another triangle click the "New Triangle" button.
          <img src="{{ 'img/New_Triangle.png' | relative_url }}" class="h-center"/>
        </li>
      </ul>
      <p>
        <strong>Scoring</strong>
      </p>
      <ul>
        <li>
          This activity will automatically record how successful you are at answering the questions.
          To view the score, press the
          <strong>Show Score</strong> button at the bottom of the activity and a pop-up window will appear with the scoreboard.
          <img src="{{ 'img/Scoreboard_1type.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To close this pop-up window press the
          <strong>Close</strong> button or click back on the main window.
        </li>
        <li>
          To pause the scoring, press the
          <strong>Active</strong> button at the bottom of the screen and it will change to a
          <strong>Paused</strong> button. To resume scoring, press the
          <strong>Paused</strong> button.
        </li>
        <li>
          To reset the scoreboard, open the scoreboard using the
          <strong>Show Score</strong> button and then press the
          <strong>Reset</strong> button.
        </li>
      </ul>
      <p>
        Because this activity randomly generates questions, a feature called
        <strong>Seed Random</strong> has been implemented that allows multiple users using different computers to work on the
        same problem. See
        <a href="{{ '/resources/SeedRandom' | relative_url }}">Seed Random Help</a> for instructions on using this feature.
      </p>
    </p>
