<p>
      <ul>
        <li>
          <strong>Independent Run Panel</strong>
          <ul>
            <li>
              <p>
                Clicking the
                <strong>Roll Die</strong> button simulates rolling the dice and making a move in the game. Only the lucky
                player, as determined in the
                <strong>Configuration Panel</strong> (see below), moves each time.
              </p>
              <p>
                <img src="{{ 'img/image379.gif' | relative_url }}" class="h-center"/>
              </p>
            </li>
            <li>
              Clicking the
              <strong>Restart button</strong> starts the race over again.
              <img src="{{ 'img/image380.gif' | relative_url }}" class="h-center"/>
            </li>
            <li>
              Sliding the
              <strong>Race Segments</strong> slider bar increases or decreases the length of the race (number of steps to the
              finish line).
              <img src="{{ 'img/image381.gif' | relative_url }}" class="h-center"/>
            </li>
            <li>
              The graphic of the race track shows each players current position:
              <img src="{{ 'img/image382.gif' | relative_url }}" class="h-center"/>
            </li>
          </ul>
        </li>
        <li>
          <strong>Configuration Panel</strong>
          <ul>
            <li>
              <p>
                You can determine the "lucky player" by clicking the radio buttons to choose which
                player gets to move for each roll value. So, if you say that red moves on 1, 2, and
                3, each time one of those values is rolled on the die, the red car moves ahead one
                space.
              </p>
              <p>
                <img src="{{ 'img/image383.gif' | relative_url }}" class="h-center"/>
              </p>
            </li>
            <li>
              Notice that this panel gives you the option of collecting cumulavtive stats. If you
              choose yes, then the statistics in the multiple run panel (see below) will include
              every run that you do. If you choose no, then the statistics will only include the
              most recent race.
            </li>
          </ul>
        </li>
        <li>
          <strong>Multiple Run Panel</strong>
          <ul>
            <li>
              This panel allows you to simulate many races without having to run each one
              individually. To do this, you must enter the number of runs that you wish to complete
              and click on the
              <strong>Race!</strong> button.
            </li>
            <li>
              After you run a number of races, you will see that this panel displays the number of
              races each car has won, the percent of the races that each car has won, and a pie
              chart showing graphically the percentage of races each car has won.
            </li>
            <li>
              Use the
              <strong>Clear Stats</strong> button to remove cumulative stats and start over with the statistics collection.
            </li>
          </ul>
        </li>
      </ul>
    </p>
