<p>
      <ul>
        <li>
          This activity contains several screens. The first screen you will see is the
          <strong>Rules Screen</strong>. From this screen you can designate the player who is "lucky" for each of the 11 scores
          (2-12) possible with two dice. One player can be lucky on more than one score. You can
          also specify that no player is lucky on a given score by choosing "None" from the list.
          Note, however, that you must select at least one lucky player, or there will be
          <strong>no racers</strong>.
          <div>
            <img class="h-center" src="{{ 'img/image384.gif' | relative_url }}"/>
          </div>
        </li>
        <li>
          You can also specify what being lucky means by choosing
          <strong>Only lucky player moves</strong> or
          <strong>Everybody moves one step, lucky player two</strong> from the appropriate drop-down box. If you choose the first case, the lucky player and
          only the lucky player each turn will move one space. If you choose the second, everyone
          will move at least one space each turn, but the lucky player will move two.
          <div>
            <img class="h-center" src="{{ 'img/image385.gif' | relative_url }}"/>
          </div>
        </li>
        <li>
          In the space for
          <strong>How long do you want the race to be?</strong>, type a number between 1 and 10. This is the number of steps between the start and finish
          lines.
        </li>
        <li>
          When you have made all the changes to the rules you want, click
          <strong>Start the Race</strong>.
        </li>
        <li>
          This will take you to the
          <strong>Race Screen</strong>. You will see a graphic representing the state of the race. The example image below shows
          a five step-long race with four players. B is just two steps away from the finish line.
          <div>
            <img class="h-center" src="{{ 'img/image386.gif' | relative_url }}"/>
          </div>
        </li>
        <li>
          Click
          <strong>Roll the dice</strong> to make a move. A line at the bottom of the screen tells you the results of the last
          roll. You will see the racers move down their lanes as the game progresses. When a player
          gets to the finish line, their lane is filled with "W!" to indicate that they have won.
        </li>
        <li>
          Click
          <strong>Change Rules</strong> to go back to the
          <strong>Rules Screen</strong> and change the rules.
        </li>
        <li>
          Click
          <strong>Automatically Run</strong> to run the game many times. The computer will run the game for as many times as you
          indicate in the space next to the
          <strong>Automatically Run</strong> button, and display a
          <strong>Results Screen</strong> with statistics on how many races each player won. From this screen you can click
          <strong>Return to Race</strong> to go back to the
          <strong>Race Screen</strong> or click on
          <strong>Change Rules</strong> to go back to the
          <strong>Rules Screen</strong>.
        </li>
      </ul>
    </p>
