<p>
      <ul>
        <li>
          First, the user needs to input their data. This can be done one of two ways.
          <ol>
            <li>
              The user can type the coordinates in the data box and click the
              <strong>Update Plot</strong> button.
              <img src="{{ 'img/image1144.jpg' | relative_url }}" class="h-center"/> If you have trouble copying data from the applet and pasting it into an Excel
              spreadsheet, please see our
              <a href="{{ '/resources/ExcelCopyPasteHelp/' | relative_url }}>Excel Copy/Paste Help</a>.
              <br/>
              <br/>
            </li>
            <li>
              The user can plot points on the grid by selecting the
              <strong>Add Points</strong> button then placing the mouse over the desired location on the grid, clicking, and
              repeating this process for each data point.
              <img src="{{ 'img/image1177.png' | relative_url }}" class="h-center"/>
            </li>
          </ol>
        </li>
        <li>
          When the user has finished entering the data, they can try to create a line of best fit by
          checking the
          <strong>Fit your own line box</strong>.
          <img src="{{ 'img/image1142.jpg' | relative_url }}" class="h-center"/>
        </li>
        <li>
          A green line will appear on the grid once the
          <strong>Fit your own line</strong> box has been checked. The user can move this by checking the
          <strong>Move Fit Line</strong> button then clicking on the green circles and dragging them to the desired location.
          <img src="{{ 'img/image1176.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The user can check the accuracy of their line of best fit by checking the
          <strong>Display line of best fit</strong> box.
          <img src="{{ 'img/image1137.jpg' | relative_url }}" class="h-center"/>
        </li>
        <li>
          <strong>r</strong> is the linear correlation coefficient.
          <strong>r </strong>describes the strength of the linear relationship.
          <strong>r</strong> is a number between -1 and 1. If
          <strong>r</strong> = 0 there is no correlation between the data. If the
          <strong>r</strong> is positive, the data have a positive correlation. If the
          <strong>r</strong> is negative, the data have a negative correlation. The closer the
          <strong>r</strong> is to 1, the stronger the positive correlation. The closer the
          <strong>r</strong> is to -1, the stronger the negative correlation.
        </li>
        <li>
          Y denotes the line equation.
        </li>
        <li>
          The user can remove points by either deleting them from the data box and clicking the
          <strong>Update Plot</strong> button or by checking the
          <strong>Remove Points</strong> box and then clicking on the unwanted points on the grid.
          <img src="{{ 'img/image1138.jpg' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The user can move points by checking the
          <strong>Move Points</strong> box, then clicking on, and dragging the point they wish to move to the desired new
          location.
          <img src="{{ 'img/image1139.jpg' | relative_url }}" class="h-center"/>
        </li>
        <li>
          <strong>Zoom/Pan buttons</u>. In the upper right corner of the graph, there are three buttons with pictures of
          magnifying glasses. From top to bottom these buttons represent zoom in, zoom out, and pan,
          respectively.
          <ul>
            <li>
              To zoom in, click the top button to depress, then click and drag over the area of the
              graph for which you wish to zoom to. The images below show the preimage as the user
              drags over the area in which to zoom and the resulting zoomed image. Note that after
              clicking and dragging over the selected area, the zoom in button is automatically
              released.
              <img src="{{ 'img/image941.gif' | relative_url }}" class="h-center"/>
            </li>
            <li>
              To zoom out, simply click the middle button. The graph will automatically zoom out by
              doubling the min and max values of the axes.
            </li>
            <li>
              To use the pan feature, click the bottom magnifying glass button to depress it. Click
              and drag over the graph and the graph will pan around according to the movement of the
              mouse. Upon releasing the mouse, the pan button is released.
            </li>
            <li>
              The user can show the residuals by clicking the
              <strong> Show Residuals</strong> button.
              <img src="{{ 'img/image1140.jpg' | relative_url }}" class="h-center"/>
            </li>
            <li>
              Once the user clicks the
              <strong>Show Residuals</strong> button a residuals screen appears. In the first column of the table located at the
              top of the residuals screen are the x-coordinates of each data point. In the second
              column are the residuals from your line. And in the third column are the residuals
              from the line of best fit. Located at the bottom of the residuals screen is a
              Residuals Plot. If the
              <strong>Display line of best fit</strong> box is checked, red dots will appear on the graph. If the
              <strong>Fit your own line </strong> box is checked, green dots will appear on the graph. If both the
              <strong>Display line of best fit</strong> and
              <strong>Fit your own line </strong> are checked, both red and green dots will appear on the graph. This graph depicts the
              distance between the lines of best fit and the actual data points.
              <img src="{{ 'img/image1145.jpg' | relative_url }}" class="h-center"/>
            </li>
            <li>
              The user can reset the graph to its original state by clicking the reset button
              located at the bottom right side of the screen.
              <img src="{{ 'img/image1141.jpg' | relative_url }}" class="h-center"/>
            </li>
          </ul>
        </li>
      </ul>
    </p>
