<p>
      <ul>
        <li>
          The area at the top of the screen is where the plot is displayed.
          <img src="{{ 'img/image1300.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The text field labeled
          <strong>Data</strong> is where you input the points you want to graph. The points should be in the form (x, y).
          The parentheses are optional, the x and the y can be separated by a tab or a space and
          there must be a carriage return between each coordinate pair.
        </li>
        <li>
          You can plot up to ten
          <em>sets</em> of points. To do this, separate each set of points by the word
          <strong>newgraph</strong> on a line by itself. You may also specify the color of your graphs by using the following
          keywords in place of
          <strong>new graph</strong>:
          <strong>redgraph, bluegraph, greengraph, purplegraph, crimsongraph, magentagraph, orangegraph,
          blackgraph, cyangraph, graygraph</strong>, and
          <strong>yellowgraph</strong>. If you specify
          <strong>newgraph</strong> each time, the colors will iterate through the order listed.
          <img src="{{ 'img/image1023.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          After you input the coordinates, you must press the
          <strong>Plot/Update</strong> button to graph them.
        </li>
        <li>
          If you have trouble copying data from the applet and pasting it into an Excel spreadsheet,
          please see our
          <a href="{{ '/resources/ExcelCopyPasteHelp/' | relative_url }}>Excel Copy/Paste Help</a>.
        </li>
        <li>
          Note that if the
          <strong>Auto Scale</strong> box is checked, Scatter Plot will choose appropriate x- and y-axis values for you to view
          all data on the graph. If you uncheck that box, you can override Scatter Plot's values
          with your own. This is explained below in the
          <strong>Set Window</strong> note.
          <img src="{{ 'img/image1303.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          You can choose from two
          <strong>plot types</strong>. "Connected" draws a line from one point to the next. (Note that before the line is drawn
          the points are sorted by their x coordinates.) "Scatter Plot" just draws the points as
          dots on the graph.
          <img src="{{ 'img/image936.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          There are three radio buttons which control the gridlines on the graph. You can chose no
          grid, light grid lines, or dark grid lines by selecting the appropriate radio button.
          <img src="{{ 'img/image937.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Click the
          <strong>Set Window</strong> button to change how the graph will appear on your screen. A new browser window should
          open after you push the button and inside that new window you will be able to adjust
          values. X min and X max are the minimum and maximum x-values displayed on the graph.
          Similarly, Y min and Y max are the minimum and maximum y-values displayed on the graph.
          The X scale is the distance between vertical gridlines if
          <strong>Show Grid</strong> is checked. The Y scale is the distance between horizontal gridlines if
          <strong>Show Grid</strong> is unchecked. Any changes you make to the window parameters will take effect the next
          time you click the
          <strong>Plot/Update</strong> button. When you are finished, push the
          <strong>Set</strong> button followed by the
          <strong>Close</strong> button to set the changes and to leave the window. Also note that while the
          <strong>Choose Scale Automatically</strong> box is checked, X and Y scale text boxes are uneditable.
          <img src="{{ 'img/image1302.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The applet also can tell you the location of any click. Just click the mouse anywhere on
          the graph that you want to know the coordinates of and the coordinates will appear in the
          <strong>Mouse Position</strong> field.
          <img src="{{ 'img/image1301.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          By entering text into the
          <strong>Title=</strong> field you can change the title of your graph. After changing the title hit plot to see
          the new title at the top of your graph.
        </li>
        <li>
          By entering text into the
          <strong>Horizontal Axis =</strong> field you can change the title of your x axis.
        </li>
        <li>
          By entering text into the
          <strong>Vertical Axis =</strong> field you can change the title of your y axis.
          <img src="{{ 'img/image939.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          <em>Zoom/Pan buttons</em>. In the upper right corner of the graph, there are three buttons with pictures of
          magnifying glasses. From top to bottom these buttons represent zoom in, zoom out, and pan,
          respectively.
          <ul>
            <li>
              To zoom in, click the top button to depress, then click and drag over the area of the
              graph for which you wish to zoom to. The images below show the preimage as the user
              drags over the area in which to zoom and the resulting zoomed image. Note that after
              clicking and dragging over the selected area, the zoom in button is automatically
              released.
              <img src="{{ 'img/image941.gif' | relative_url }}" class="h-center"/>
            </li>
            <li>
              To zoom out, simply click the middle button. The graph will automatically zoom out by
              doubling the min and max values of the axes.
            </li>
            <li>
              To use the pan feature, click the bottom magnifying glass button to depress it. Click
              and drag over the graph and the graph will pan around according to the movement of the
              mouse. Upon releasing the mouse, the pan button is released.
            </li>
          </ul>
        </li>
      </ul>
    </p>
