<p>
      * There are two modes:
      <strong>Auto Draw Shape</strong> and
      <strong>Create Shape</strong>. Simply select the radio button next to the mode you want to use.
    </p>
    <p>
      * While in the
      <strong>Auto Draw Shape</strong> mode the program will randomly generate shapes to draw on the grid when you press the
      <strong>New Problem</strong> button.
    </p>
    <p>
      * While in the
      <strong>Create Shape</strong> mode you build your own shapes by clicking on the grid to add squares. These squares can be
      moved around by clicking and dragging, or you can remove them by either dragging them off the
      grid or clicking on existing stickers.
      <img src="{{ 'img/image1189.png' | relative_url }}" class="h-center"/>
    </p>
    <p>
      * While in the
      <strong>Create Shape</strong> mode you can choose to either determine the area and perimeter of the shape yourself or allow
      the program to show you the answers by checking the boxes in the
      <strong>Show Answers</strong> panel. Note that the
      <strong>Show Answers</strong> panel is unavailable for use in the
      <strong>Auto Draw Shape</strong> mode.
      <img src="{{ 'img/image954.png' | relative_url }}" class="h-center"/>
    </p>
    <p>
      * While in the
      <strong>Auto Draw Shape</strong> mode, you can choose to have the program draw only rectangular shapes by selecting the
      <strong>Only Draw Rectangular Shapes</strong> check box.
      <img src="{{ 'img/image955.png' | relative_url }}" class="h-center"/>
      <p>
        * In both modes, you can choose whether or not the grid lines are displayed. You can also
        choose to display a rectangular outline around the shape. This outline can help you in
        determining the perimeter of a shape:
      </p>
      <img src="{{ 'img/image1191.png' | relative_url }}" class="h-center"/>
      <img src="{{ 'img/image1193.png' | relative_url }}" class="h-center"/>
      <p>
        * Choose which question types you would like to appear by clicking the checkbox next to
        <strong>Perimeter</strong> and
        <strong>Area</strong>. Notice, you must select one or the other. You cannot select nothing:
      </p>
      <img src="{{ 'img/image951.png' | relative_url }}" class="h-center"/>
    </p>
    <p>
      * Click on the
      <strong>New Problem</strong> button to got to the next problem.
    </p>
    <p>
      * Determine the shape's area and / or perimeter (depending on which question types you've
      selected) and enter in those values in the corresponding text box. Click the
      <strong>Check Answer</strong> button to see if your answer is correct.
      <img src="{{ 'img/image952.png' | relative_url }}" class="h-center"/>
    </p>
    <p>
      * You can control the size of the shape using the
      <strong>Adjust Size</strong> scroll bar at the bottom of the screen:
      <img src="{{ 'img/image1190.png' | relative_url }}" class="h-center"/>
    </p>
    <p>
      * Use the
      <strong>Reset</strong> button to clear the text boxes of their values after inputting answers and complete the same
      question again.
    </p>
    <p>
      * The
      <strong>Compare Area and Perimeters</strong> button allows you to keep track of your previous correct answers in order to compare the
      corresponding areas to a given perimeter or vice versa. Clicking this button brings up a new
      window:
      <img src="{{ 'img/image956.gif' | relative_url }}" class="h-center"/> You can sort by either the area or perimeter from least to greatest. To sort by area, make
      sure the
      <strong>area</strong> checkbox is selected and to sort by
      <strong>perimeter</strong>, make sure the perimeter checkbox is selected and the click the sort button.
    </p>
    <p>
      To clear the data and keep the window open, click the clear button.
    </p>
    <p>
      <strong>Scoring</strong>
    </p>
    <ul>
      <li>
        This activity will automatically record how successful you are at answering the questions.
        To view the score, press the
        <strong>Show Score</strong> button at the bottom of the activity and a pop-up window will appear with the scoreboard.
        <img src="{{ 'img/Scoreboard_Shape_Builder.png' | relative_url }}" class="h-center"/>
      </li>
      <li>
        To close this pop-up window press the
        <strong>Close</strong> button or click back on the main window.
      </li>
      <li>
        To pause the scoring, press the
        <strong>Active</strong> button at the bottom of the screen and it will change to a
        <strong>Paused</strong> button. To resume scoring, press the
        <strong>Paused</strong> button.
      </li>
      <li>
        To reset the scoreboard, open the scoreboard using the
        <strong>Show Score</strong> button and then press the
        <strong>Reset</strong> button.
      </li>
    </ul>
