<p>
      <ul>
        <li>
          The
          <strong>Next Stage</strong> and
          <strong>Previous Stage</strong> buttons at the bottom of the activity control the stage of the fractal that is being
          viewed.
          <img src="{{ 'img/image705.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The
          <strong>Output Box</strong> at the top of the activity lists the current stage's number of triangles and the
          individual triangle side length.
          <img src="{{ 'img/image706.gif' | relative_url }}" class="h-center"/>
        </li>
      </ul>
    </p>
