<p>
      <ul>
        <li>
          Determine the X and Y coordinates at the end point of the robot's next step. For example,
          we want the robot to go to the right and up, but still avoid the mines. We could send him
          over to the point X = 10 and Y = 3.
          <img src="{{ 'img/image330.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To command the robot to make the next step, type the X coordinate in the
          <strong>X=[ ___ ]</strong> space, and the Y coordinate in the
          <strong>Y=[ ___ ]</strong> space:
          <img src="{{ 'img/image331.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          When coordinates for the next step are prepared, click on the
          <strong>GO</strong> button to make the robot move. The movements of the robot are traced in blue:
          <img src="{{ 'img/image332.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To start a new game, choose the
          <strong>Number of Mines</strong> you want on the board:
          <img src="{{ 'img/image333.gif' | relative_url }}" class="h-center"/> and click on the
          <strong>New Game</strong> button:
          <img src="{{ 'img/image334.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The user can control whether the robot starting and target positions are fixed or variable
          using the following control:
          <img src="{{ 'img/image1157.GIF' | relative_url }}" class="h-center"/>
          <p>
            If this control is set to
            <em>No,</em> the robot's starting position is always (0, 0) and the robot's target position is
            always (20, 20). If this control is set to
            <em>Yes,</em> the robot's starting and target position are placed at random positions on the screen
            as shown below:
          </p>
          <img src="{{ 'img/image1158.GIF' | relative_url }}" class="h-center"/>
        </li>
      </ul>
      <p>
        Because this activity randomly generates questions, a feature called
        <strong>Seed Random</strong> has been implemented that allows multiple users using different computers to work on the
        same problem. See
        <a href="{{ '/resources/SeedRandom' | relative_url }}">Seed Random Help</a> for instructions on using this feature.
      </p>
    </p>
