<p>
      <ul>
        <li>
          The
          <strong>Graph</strong> shows a normal distribution. The
          <strong>mean</strong> is indicated by a blue line, the
          <strong>median</strong> by a light blue line, and the
          <strong>standard deviation</strong> is indicated by a red line on either side of the mean. The black circles at the bottom of
          the red lines and the light blue line can be dragged with the mouse to change the standard
          deviation and the median. Note that the blue line will not be visible if the light blue
          line is moved to the same place. The red graphic in the upper-left corner gives the scale
          of the grid.
          <img src="{{ 'img/image583.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          You can also set the standard deviation by typing a new value in the box marked
          <strong>New Standard Deviation</strong> and clicking the
          <strong>Set</strong> button. The current standard deviation is printed in the label just below the graph. The
          median can be changed the same way, with the
          <strong>New Median</strong> box.
          <img src="{{ 'img/image584.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To draw a histogram, choose the number of trials you want from the choices in the
          pull-down menu and click the
          <strong>Create New Histogram</strong> button. You can change the bin size using the scrollbar.
          <img src="{{ 'img/image585.gif' | relative_url }}" class="h-center"/>
        </li>
      </ul>
    </p>
