<p>
      <ul>
        <li>
          There is a graph at the top of the activity. Below the graph are various slider bars.
          Moving the black slider bar left or right with the mouse permits the user to change the
          location of the point along the line.
          <img src="{{ 'img/image437.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          When the equation of the line is in slope-intercept form, the purple slider allows the
          user to manipulate the slope of the line. The green slider allows the user to manipulate
          the y-intercept of the line. Note how the function and the graph change when you
          manipulate the slope and y-intercept sliders.
          <img src="{{ 'img/image438.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          You can also view the equation in
          <strong>Standard Notation</strong> by checking the Standard Notation checkbox.
          <img src="{{ 'img/standard.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Doing so will enable a third slider bar. The purple and green sliders affect the slope of
          the line. The green and blue sliders affect the y-intercept of the line. The purple and
          blue sliders affect the x-intercept of the line. Note how the line changes when you
          manipulate these sliders compared to when the line is in slope-intercept form.
          <img src="{{ 'img/standard1.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          While in standard notation (Ax+By=C), if A=0 and B=0, the black slider bar will be
          disabled and the graph will be empty because the equation is unsolvable for all values of
          C. Given A=0, B=0, and C=0, all values of x and y satisfy the equation so there is no
          unique solution. Given A=0, B=0, and C≠0, no values of x and y satisfy the equation so
          there is no solution.
          <br/>
          <br/>
        </li>
        <li>
          While in standard notation (Ax+By=C), if B=0, A≠0, and C≠0, the black slider bar
          will be disabled, but a vertical line will still appear on the graph. Given these
          parameters, the purple and blue sliders will only affect the x-intercept of the line since
          it is vertical.
          <br/>
          <br/>
        </li>
        <li>
          The
          <strong>Link Sliders</strong> check box, when activated, allows the user to move both sliders simultaneously provided
          both sliders may be moved in the direction of the dragged slider. For example, if
          <strong>Link Sliders</strong> is checked and the purple slider is moved five units to the right, the green slider will
          also move five units to the right provided there is space for the green slider to do so.
          <img src="{{ 'img/image1051.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The
          <strong>Show Trace</strong> check box, when activated, allows the user to see the various intermediate stages as the
          line changes in response to changes in the slider bars.
          <img src="{{ 'img/image439.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          By clicking the
          <strong>Clear Trace</strong> button, the user can clear the traces that are left on the graph after using the Show
          Trace feature.
        </li>
        <li>
          The two radio buttons on the bottom of the activity control whether decimals or fractions
          are used for the numbers. For instance, if you select
          <strong>Use Decimals</strong>, one tenth will be represented as 0.1. If you select
          <strong>Use Fractions</strong>, one tenth will be represented as 1/10.
          <img src="{{ 'img/image440.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The
          <strong>Slider Settings</strong> button brings up a dialog box that allows you to set the minimum and maximum values of
          each slider bar. You can also set the step size for each slider bar. The step size
          controls the size of the increment for the values on a slider bar. For instance, if you
          set the minimum to 0, the maximum to 1, and the step to 0.1, the slider will increment the
          value of the constant at the intervals of 0, 0.1, 0.2, etc. However, if you set the step
          to 0.2, the slider will stop at 0, 0.2, 0.4, etc. The input will always be rounded to the
          nearest tenth when using decimal values.
          <img src="{{ 'img/image1049.png' | relative_url }}" class="h-center"/>
          <p>
            The number of increments must be smaller than 100. If you enter parameters such that the
            number of steps is greater than 100 then an error message appears asking you to readjust
            by setting the slider min, slider max, or step size.
          </p>
          <img src="{{ 'img/image442.png' | relative_url }}" class="h-center"/>
          <p>
            For example, suppose you are using fractions and you want a step size of 1/8 for m. The
            default min/max of -10 to 10 with a step size of 1/8 would result in 160 steps which
            would generate the Warning window. Suppose you select change min. The new Slider Setup
            would calculate an appropriate min (reduced to lowest terms) that would allow 100 steps
            of size 1/8 between the new min and the original max. The appropriate slider would be
            recalibrated and the values of m would appear as fractions reduced to lowest terms.
            <img src="{{ 'img/example.png' | relative_url }}" class="h-center"/>
            <img src="{{ 'img/example1.png' | relative_url }}" class="h-center"/>
          </p>
        </li>
        <li>
          There are three types of grids:
          <strong>No Grid</strong>,
          <strong>Light Grid Lines</strong>, and
          <strong>Dark Grid Lines</strong>. To activate any of these three options, highlight the circle next to the appropriate
          option:
          <img src="{{ 'img/image1025.gif' | relative_url }}" class="h-center"/>
          <table class="h-center">
            <tr>
              <td>
                <strong>No Grid</strong> graph:
              </td>
              <td>
                <strong>Light Grid Line</strong> graph:
              </td>
              <td>
                <strong>Dark Grid Grid Line</strong> graph:
              </td>
            </tr>
            <tr>
              <td>
                <img src="{{ 'img/image292.jpg' | relative_url }}"/>
              </td>
              <td>
                <img src="{{ 'img/image293.jpg' | relative_url }}"/>
              </td>
              <td>
                <img src="{{ 'img/image296.jpg' | relative_url }}"/>
              </td>
            </tr>
          </table>
        </li>
      </ul>
      <a name="showtbl">
        <strong>Show Tabular Function Data</strong>
      </a>
    </p>
    <p>
      <ul>
        <li>
          To view a table of values corresponding to the graphed function, click the
          <strong>Show Tabular Data</strong> button.
          <img src="{{ 'img/image555.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The x values in the table increment equally and then give the corresponding f(x) values
          for the function. You can change these data values by entering a new minimum x value, new
          maximum x value, and step size. If you enter a step that does not divide evenly into the
          range, the table will stop at the greatest multiple of the step that is less than the
          maximum. The precision field allows you to adjust the number of decimal points to print
          out values of x and f(x).
          <img src="{{ 'img/image1048.png' | relative_url }}" class="h-center"/>
        </li>
      </ul>
    </p>
