<p>
      <ul>
        <li>
          By adjusting the scrollbars the user can change the lengths of the bases of the red
          triangle:
          <img src="{{ 'img/image1022.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Observe how the triangle changes and how the squares change in area. What is the
          relationship between the squares?
          <img src="{{ 'img/image341.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The information to the left of the applet is provided to help the user form an
          understanding of the relationship of the areas of the squares and the lengths of the
          sides. The user may also make discoveries about the nature of angles in triangles.
          <img src="{{ 'img/image1021.gif' | relative_url }}" class="h-center"/>
        </li>
      </ul>
    </p>
