<p>
      <ul>
        <li>
          The user may set the time to be counted by changing the time in the top input box, and
          clicking the
          <strong>Set Time</strong> button, both shown below.
          <img src="{{ 'img/image1034.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Prior to starting the count, the user may choose whether the clock counts up or down for
          the given time by clicking the up or down button, shown below.
          <img src="{{ 'img/image469.jpg' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To start or stop the stopwatch, the user can click and release the
          <strong>Stop</strong> or
          <strong>Reset</strong> button. The
          <strong>Start</strong> button becomes the
          <strong>Stop</strong> button after the clock has been initiated. Note that the clock will start or stop when
          the button is released, not when it is first clicked.
        </li>
        <li>
          At any time during the count, the
          <strong>Record</strong> button will keep the time at which it was pressed and released during the count in the
          data box below. The data box may be cleared with the
          <strong>Clear Times</strong> button. The buttons are shown below.
          <img src="{{ 'img/image1031.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Stopwatch has an audible alarm that sounds when the clock counts down to zero.
        </li>
        <li>
          The buzzer is a second alarm that can be set by users to sound at a specific time or time
          intervals.
        </li>
        <li>
          You can enter a time in the input boxes and use the drop down list to select how the
          buzzer operates, either
          <strong>Sound Once</strong> or
          <strong>Sound at Intervals</strong>. Controls for the buzzer are shown below.
          <img src="{{ 'img/image1035.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          If
          <strong>Sound Once</strong> is selected the buzzer will sound when the timer counts to the specified time. (i.e. if
          the buzzer is set for 1 minute an audible alarm will sound when the time on the stopwatch
          reaches 1 minute.)
        </li>
        <li>
          If
          <strong>Sound at Intervals</strong> is selected the buzzer will sound at intervals of the desired time. (i.e. if the buzzer
          is set for 1 minute an audible alarm will sound 1 minute after the stopwatch has been
          started and continue to sound at one minute intervals until the timer reaches zero or the
          clock is stopped.)
        </li>
        <li>
          Once the user is satisfied with the buzzer time and options simply click the
          <strong>Set Buzzer</strong> button. This will disable the buzzer controls and change the
          <strong>Set Buzzer</strong> button to
          <strong>Buzzer On, Click to Modify</strong>.
        </li>
        <li>
          When
          <strong>Buzzer On, Click to Modify</strong> is clicked the buzzer controls are enabled and the time can be modified.
        </li>
      </ul>
    </p>
