<p>
      Find help for...
    </p>
    <table>
      <tr>
        <td>
          <a href="#rectangular">Rectangular Prism</a>
        </td>
        <td>
          <a href="#triangular">Triangular Prism</a>
        </td>
      </tr>
    </table>
    <p>
      <a name="rectangular">
        <strong>Rectangular Prism</strong>
      </a>
    </p>
    <ul>
      <li>
        To select a rectangular prism click on the drop-down box located at the bottom right side of
        the screen and choose "Rectangular Prism."
        <div>
          <img class="h-center" src="{{ 'img/SAVol1.png' | relative_url }}"/>
        </div>
      </li>
      <li>
        A check box titled
        <strong>Draw grid</strong> is located at the top left of the screen. When this box is checked, a grid will appear on
        the polyhedron. This feature may make it easier for the user to visualize the width, depth,
        and height of the polyhedron.
        <div>
          <img class="h-center" src="{{ 'img/SAVol2.png' | relative_url }}"/>
        </div>
      </li>
      <li>
        A check box titled
        <strong>Draw back faces</strong> is located at the top of the screen. When this box is checked, while looking at an outlined
        polyhedron with the
        <strong>Draw grid</strong> box unchecked, it enables the user to visualize the polyhedron as a whole.
        <div>
          <img class="h-center" src="{{ 'img/SAVol3.png' | relative_url }}"/>
        </div>
      </li>
      <li>
        The user may choose to view the polyhedron as a filled solid or as a hollow prism by
        selecting
        <strong>Filled polyhedron</strong> or
        <strong>Outlined polyhedron</strong> from the drop down box located at the top of the screen.
        <div>
          <img class="h-center" src="{{ 'img/SAVol4.png' | relative_url }}"/>
        </div>
      </li>
      <li>
        The
        <strong>Mode</strong> box located at the top right side of the screen allows the user to select
        <strong>Explore Mode</strong> or
        <strong>Compute Mode</strong>.
        <div>
          <img class="h-center" src="{{ 'img/SAVol5.png' | relative_url }}"/>
        </div>
        <ul>
          <li>
            When operating in the
            <strong>Explore Mode</strong> the computer automatically calculates and displays the surface area and volume of the
            rectangular polyhedron. This allows the user to see what effect altering width, depth,
            and height have on the surface area and volume of the polyhedron. The surface area and
            volume of the polyhedron are displayed in the corresponding boxes located in the bottom
            right corner of the page.
            <div>
              <img class="h-center" src="{{ 'img/SAVol6.png' | relative_url }}"/>
            </div>
          </li>
          <li>
            When operating in the
            <strong>Compute Mode</strong> the computer hides the surface area and volume of the rectangular polyhedron. This
            allows the user to calculate the surface area and volume of the polyhedron on their own.
            The user can have the computer check their answers by entering their answers into the
            corresponding box located at the bottom right corner of the page and clicking the
            <strong>Check Answers</strong> button. Answers are considered correct if within one-tenth of the computer calculated
            answer. If the user is unable to calculate the correct surface area and volume of the
            polyhedron on their own they may click the
            <strong>Show Answers</strong> button and the computer will display the correct answers.
            <div>
              <img class="h-center" src="{{ 'img/SAVol7.png' | relative_url }}"/>
            </div>
          </li>
        </ul>
      </li>
      <li>
        The user can change the direction they are viewing the polyhedron by pressing the
        <strong>Width by Height, Depth by Height,</strong> or
        <strong>Width by Depth</strong> buttons located in the view box.
        <div>
          <img class="h-center" src="{{ 'img/SAVol8.png' | relative_url }}"/>
        </div>
      </li>
      <li>
        The view may also be changed by placing the cursor on the polyhedron, clicking, and moving
        the cursor in the direction which the user would like the object to rotate.
      </li>
      <li>
        Both the color of the prism and the grid line color may be changed by clicking on the
        corresponding drop-down boxes located below the view box.
        <div>
          <img class="h-center" src="{{ 'img/SAVol9.png' | relative_url }}"/>
        </div>
      </li>
      <li>
        The user may increase or decrease the width, depth, or height of the polyhedron by adjusting
        the appropriate scrollbar.
        <div>
          <img class="h-center" src="{{ 'img/SAVol10.png' | relative_url }}"/>
        </div>
      </li>
    </ul>
    <p>
      <a name="triangular">
        <strong>Triangular Prism</strong>
      </a>
    </p>
    <ul>
      <li>
        To select a triangular prism click on the drop-down box located at the bottom right side of
        the screen and choose "Triangular Prism."
        <div>
          <img class="h-center" src="{{ 'img/SAVol11.png' | relative_url }}"/>
        </div>
      </li>
      <li>
        A check box titled
        <strong>Draw grid</strong> is located at the top left of the screen. When this box is checked, a grid will appear on
        the triangular polyhedron. This feature may make it easier for the user to visualize the
        width, depth, and height of the polyhedron.
        <div>
          <img class="h-center" src="{{ 'img/SAVol2.png' | relative_url }}"/>
        </div>
      </li>
      <li>
        A check box titled
        <strong>Draw back faces</strong> is located at the top of the screen. When this box is checked, while looking at an outlined
        polyhedron with the
        <strong>Draw grid</strong> box unchecked, it enagles the user to visualize the polyhedron as a whole.
        <div>
          <img class="h-center" src="{{ 'img/SAVol3.png' | relative_url }}"/>
        </div>
      </li>
      <li>
        The user may choose to view the polyhedron as a filled solid or as a hollow prism by
        selecting
        <strong>Filled polyhedron</strong> or
        <strong>Outlined polyhedron</strong> from the drop down box located at the top of the screen.
        <div>
          <img class="h-center" src="{{ 'img/SAVol4.png' | relative_url }}"/>
        </div>
      </li>
      <li>
        The
        <strong>Mode</strong> box located at the top right side of the screen allows the user to select
        <strong>Explore Mode</strong> or
        <strong>Compute Mode</strong>.
        <div>
          <img class="h-center" src="{{ 'img/SAVol5.png' | relative_url }}"/>
        </div>
        <ul>
          <li>
            When operating in the
            <strong>Explore Mode</strong> the computer automatically calculates and displays the slant height, surface area, and
            volume of the triangular prism. This allows the user to see what effect altering base
            width, base depth, and prism height has on the slant height, surface area, and volume of
            the polyhedron. The slant height, surface area, and volume of the triangular prism are
            displayed in the corresponding boxes located in the bottom right corner of the page.
            <div>
              <img class="h-center" src="{{ 'img/SAVol12.png' | relative_url }}"/>
            </div>
          </li>
          <li>
            When operating in the
            <strong>Compute Mode</strong> the computer hides the slant height, surface area, and volume of the triangular prism.
            This allows the user to calculate the slant height, surface area, and volume of the
            triangular prism on their own. The user can have the computer check their answers by
            entering their answers into the corresponding box located at the bottom right corner of
            the page and clicking the
            <strong>Check Answers</strong> button. Answers are considered correct if within one-tenth above or below the computer
            generated answer. If the user is unable to calculate the correct slant height, surface
            area, and volume of the triangular prism on their own, they may click the
            <strong>Show Answers</strong> button and the computer will display the correct answers.
            <div>
              <img class="h-center" src="{{ 'img/SAVol13.png' | relative_url }}"/>
            </div>
          </li>
        </ul>
      </li>
      <li>
        <strong>Definitions</strong>
        <ul>
          <li>
            The
            <strong>base of the triangular prism</strong> is the triangular end of the prism.
          </li>
          <li>
            The
            <strong>height of the triangular prism</strong> is the distance between the two bases.
          </li>
          <li>
            The
            <strong>width of the triangular prism</strong> is the length of the base of the triangle.
          </li>
          <li>
            The
            <strong>base depth of the triangular prism</strong> is the perpendicular distance fromt he base of the triangle to the top of the triangle.
          </li>
        </ul>
      </li>
    </ul>
    
    <ul>
      <li>
        The user can change the direction they are viewing the polyhedron by pressing the
        <strong>Width by Height, Side, Top,</strong> or
        <strong>Width by Depth</strong> buttons located in the view box.
        <div>
          <img class="h-center" src="{{ 'img/SAVol14.png' | relative_url }}"/>
        </div>
      </li>
      <li>
        The view may also be changed by placing the cursor on the polyhedron, clicking, and moving
        the cursor in the direction which the user would like the object to rotate.
      </li>
      <li>
        Both the color of the prism and the grid line color may be changed by clicking on the
        corresponding drop-down boxes located below the view box.
        <div>
          <img class="h-center" src="{{ 'img/SAVol9.png' | relative_url }}"/>
        </div>
      </li>
      <li>
        The user may increase or decrease the width, depth, or height of the polyhedron by adjusting
        the appropriate scrollbar.
        <div>
          <img class="h-center" src="{{ 'img/SAVol10.png' | relative_url }}"/>
        </div>
      </li>
    </ul>
    
    <p>
      Because this activity randomly generates questions, a feature called
      <strong>Seed Random</strong> has been implemented that allows multiple users using different computers to work on the same
      problem. See
      <a href="{{ '/resources/SeedRandom' | relative_url }}">Seed Random Help</a> for instructions on using this feature.
    </p>
