<p>
      <ul>
        <li>
          Along the bottom and right side of the applet is set of controls which allow the user to
          specify information about the tessellation.
          <ul>
            <li>
              At the bottom of the right side is a menu that allows the user to select what type of
              shape the tessellation begins with, either a triangle, square, or hexagon.
              <img src="{{ 'img/Tessellate1.png' | relative_url }}" class="h-center"/>
            </li>
            <li>
              Clicking on the
              <strong>Reset</strong> button will reset the shape to its original form.
              <img src="{{ 'img/Tessellate2.png' | relative_url }}" class="h-center"/>
            </li>
            <li>
              Clicking on the
              <strong>Tessellate</strong> button will fill the drawing area with tessellated copies of the shape.
              <img src="{{ 'img/Tessellate3.png' | relative_url }}" class="h-center"/>
            </li>
            <li>
              Once a shape is tessellated, the
              <strong>Tessellate</strong> button will toggle to show the
              <strong>Edit</strong> button. Clicking on the Edit button will remove all of the tessellated copies and
              allow the user to continue editing the shape.
              <img src="{{ 'img/Tessellate4.png' | relative_url }}" class="h-center"/>
            </li>
            <li>
              The
              <strong>Information</strong> button will bring up a list of information about the shape, including its area,
              perimeter, and the Cartesian coordinates of its vertices. As you edit the shape, this
              information will change accordingly.
              <img src="{{ 'img/Tessellate5.png' | relative_url }}" class="h-center"/>
            </li>
            <li>
              The row of list boxes along the bottom allows the user to select which colors the
              shape will be drawn in when it is tessellated. The user can choose three different
              colors for a hexagon, but only two for a triangular or rectangular tessellation.
              Setting all of these boxes to White will draw the tessellation without color.
              <img src="{{ 'img/Tessellate6.png' | relative_url }}" class="h-center"/>
            </li>
          </ul>
        </li>
        <li>
          The edit menu to the right side of the applet allow the user to change the way that the
          shape can be edited.
          <img src="{{ 'img/Tessellate7.png' | relative_url }}" class="h-center"/>
          <ul>
            <li>
              When the
              <strong>Edit Edges</strong> choice is selected, the user can click on one of the sides of the shape and drag it
              to a new position to create a new corner. Another side of the shape will be changed as
              well, so that the shape can still be tessellated.
            </li>
            <li>
              When the
              <strong>Edit Corners</strong> button is selected, the user can click on one of the corners of a shape, and drag it
              to a new position. Another corner will also be moved so that the shape can still be
              tessellated. If the user moves one of the original corners, all of the other original
              corners will be moved as well.
            </li>
          </ul>
        </li>
      </ul>
    </p>
    <p>
      <strong>
        <a href="{{ '/media/worksheets/260.pdf' | relative_url }}">Printing Tessellation Images</a>
      </strong>
    </p>
