<p>
      <ul>
        <li>
          <p>
            The
            <strong>Drawing Area</strong> at the top of the applet is where dots are plotted:
            <img src="{{ 'img/image802.gif' | relative_url }}" class="h-center"/>
          </p>
          <p>
            You can move the
            <strong>vertices</strong>, which appear as larger dots, by clicking and draging with the mouse.
          </p>
        </li>
        <li>
          Initially, no dots are plotted. To plot some dots, first select the number of dots you
          want to add from the
          <strong>drop-down box</strong>, then click the
          <strong>Add</strong> button.
          <img src="{{ 'img/image803.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The
          <strong>Clear</strong> button clears all the dots that have been drawn so far.
        </li>
        <li>
          You can choose the
          <strong>Probability</strong> that the game will move towards a certain vertex. The higher the number you type, the
          more likely the game is to choose that color. In the example below, red and yellow both
          have a probability of 1.0.
          <img src="{{ 'img/image804.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Besides the probabilities, the
          <strong>Number of Vertices</strong> also affects how the dots are plotted. You can choose the number of vertices by clicking
          the
          <strong>One More</strong> or
          <strong>One Less</strong> buttons. You can also select the number of vertices directly from the drop-down box
          between those two buttons.
          <img src="{{ 'img/image805.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          This version of the Chaos Game is somewhat limited. You can play an
          <strong>Advanced Version</strong> by clicking the
          <strong>Go to full version</strong> button.
        </li>
      </ul>
    </p>
