<p>
      <ul>
        <li>
          The rectangular area at the top of the screen is where the Mandelbrot or Julia Set is
          drawn. To
          <strong>zoom in</strong> on part of the Mandelbrot Set or Julia set, click in one corner of the area that you want
          to zoom in on. Holding down the mouse button, move the mouse to the diagonally opposite
          corner of the region you want to zoom in on. The region that you have selected will change
          colors as you move the mouse. When you have selected the zoom region, release the mouse
          button and the screen will be redrawn.
          <div class="h-center">
            <img src="{{ 'img/image589.gif' | relative_url }}"/>
          </div>
        </li>
        <li>
          If you are looking at the Mandelbrot Set and want to see the Julia Set, click on the
          checkbox that says
          <strong>Show Julia Set on click</strong>. Then click on the Mandelbrot set. The Julia Set corresponding to the point you clicked
          will be shown.
          <div class="h-center">
            <img src="{{ 'img/image590.gif' | relative_url }}"/>
          </div>
        </li>
        <li>
          If you are looking at the Julia Set and want to see the Mandelbrot Set, click on the
          checkbox that says
          <strong>Show Mandelbrot Set on click</strong>. Then click on the Julia Set to see the Mandelbrot Set again.
          <div class="h-center">
            <img src="{{ 'img/image591.gif' | relative_url }}"/>
          </div>
        </li>
        <li>
          To start over, just click the large, friendly button labeled
          <strong>Start Over</strong>. You will see the same screen that you saw when you started the applet.
          <div class="h-center">
            <img src="{{ 'img/image592.gif' | relative_url }}"/>
          </div>
        </li>
      </ul>
    </p>
