<p>
      <ul>
        <li>
          Before the race begins, the user can determine how much of a head start to give the
          tortoise by entering a percentage in the tortoise head start box and clicking set.
          <img src="{{ 'img/image1038.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The tortoise and hare move ahead according to the following algorithm:
          <br/>length of track = 100 units
          <br/>
          initial rabbit position = 0
          <br/>
          initial tortoise position = percent * 100
          <br/>
          new position of both tortoise and hare = (100-old position) * percent + old position
          <br/>
          Or they move forward the percent of the track they have left to run.
        </li>
        <li>
          The
          <strong>Next Stage</strong> and
          <strong>Previous Stage</strong> buttons at the top of the applet control which stage of the race is being viewed. The
          <strong>Zoom In</strong> and
          <strong>Zoom Out</strong> buttons at the top of the applet will allow the user to get either closer or farther from
          the tortoise and hare, allowing them to see up close who is winning.
          <img src="{{ 'img/image1129.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To restart any given race, the user can click the
          <strong>Reset</strong> button at the top of the applet.
          <img src="{{ 'img/image1130.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          As the user advances through the different stages they can view how far the tortoise and
          hare have moved by looking at the race line.
          <img src="{{ 'img/image1131.gif' | relative_url }}" class="h-center"/>
        </li>
      </ul>
    </p>
