<p>
      <ul>
        <li>
          Three boxes are shown, each of which contains two balls. One box contains two red balls,
          one box contains two green balls, and one box contains a red and a green ball (in no
          particular order). An informational label will indicate how many red and green balls have
          not yet been revealed.
          <img src="{{ 'img/image884.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Choose the box that you wish to discover the contents of and click on that box twice. If
          the first ball drawn is green, 1 will be added to the total number of times when the first
          ball was green. Also notice the informational label indicating how many red and green
          balls are still hidden is updated.
          <img src="{{ 'img/image885.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Click the same box again. When the first box you choose has been clicked on twice, 1 is
          added to the number of trials so far. If the second ball is also green, 1 will be added to
          the total number of times when both balls are green. If the first ball is red, or if both
          balls are red, 1 is added only to the number of trials so far.
          <img src="{{ 'img/image886.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To complete one trial, you must click twice on each of the other two boxes to reveal their
          contents. When you are ready to attempt a new trial, just click the
          <strong>Reshuffle Boxes</strong> Button. This button will be disabled while a trial is in progress.
          <img src="{{ 'img/image887.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To simulate more then one trial at once, type the desired number of trials in the
          <strong>Number of trials: [___]</strong> space and click the
          <strong>Run Multiple Trials</strong> button.
          <img src="{{ 'img/image888.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Each trial will be recorded in the statistics unless you choose to make a clean start. To
          reset the totals, click on the
          <strong>Reset Statistics</strong> button:
          <img src="{{ 'img/image889.gif' | relative_url }}" class="h-center"/>
        </li>
      </ul>
    </p>
