<p>
      <ul>
        <li>
          The boxes near the bottom of the applet are where you enter a
          <strong>Starting Point</strong> and a
          <strong>Constant</strong>, C, for the quadratic function
          <pre>
            f(Z) = Z^2 + C
          </pre>
          , that you want to iterate.
          <img src="{{ 'img/image490.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Whenever you change the Starting Point or Constant, press the
          <strong>Restart button</strong> to start a fresh graph with those values. Press the
          <strong>Next Step button</strong> to calculate the next iteration.
        </li>
        <li>
          <p>
            The
            <strong>Graph</strong> shows the path (also called the
            <strong>orbit</strong>) of the starting point as it is plugged into the function. The red line is the path
            from the previous point to the most recent one. If the orbit path goes outside the gray
            circle of radius 2, the starting point is guaranteed to be an escapee.
          </p>
          <p>
            <img src="{{ 'img/image491.gif' | relative_url }}" class="h-center"/>
          </p>
          <p>
            The
            <strong>List</strong> on the left is another way to look at the values of the function -- as ordered pairs.
          </p>
        </li>
      </ul>
    </p>
