<p>
      <ul>
        <li>
          First, click in the specific region where the given number or object belongs. The area you
          have chosen will be displayed in color. Below, the user has chosen the region where "prime
          number" and "even number" overlap.
          <img src="{{ 'img/image877.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          You may find an object or number that does not fit into any of the regions. You may select
          the region outside the Venn diagram and the box around the diagram will be shown in color
          to let you know that region is selected.
          <img src="{{ 'img/image878.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          When you are confident that you have clicked on the right region, click
          <strong>Check Answer</strong> to see if you are correct. If you have chosen the correct region, the program will tell
          you so. If the correct region has not been chosen, the applet will respond with
          "Incorrect". To see a new question, click
          <strong>Next</strong>.
          <img src="{{ 'img/image879.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          As you are answering questions within the applet you might decide you would like to up the
          difficulty level or continue on 'All', which gives you a variety of all difficulty levels
          from 1-3. Otherwise you can choose from level 1 which is easy, level 2 for medium, and
          level 3 for hard.
          <img src="{{ 'img/vendia_difficulty.png' | relative_url }}" class="h-center"/>
        </li>
      </ul>
      <strong>Scoring</strong>
      <ul>
        <li>
          This activity will automatically record how successful you are at answering the questions.
          To view the score, press the
          <strong>Show Score</strong> button at the bottom of the activity and a pop-up window will appear with the scoreboard.
          <img src="{{ 'img/image880.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To close this pop-up window press the
          <strong>Close</strong> button or click back on the main window.
        </li>
        <li>
          To pause the scoring, press the
          <strong>Active</strong> button at the bottom of the screen and it will change to a
          <strong>Paused</strong> button. To resume scoring, press the
          <strong>Paused</strong> button.
        </li>
        <li>
          To reset the scoreboard, open the scoreboard using the
          <strong>Show Score</strong> button and then press the
          <strong>Reset</strong> button.
        </li>
      </ul>
    </p>
