<p>
      <ul>
        <li>
          <strong>Get Points</strong>- This button creates a new set of five random points on the graph.
          <br/>
        </li>
        <li>
          <strong>Reset Board</strong>- Clears all the points on the game which allows you to place a new set of points on the
          graph.
          <br/>
        </li>
        <li>
          <strong>No Solution</strong>- When it is not possible to create of function from a set of five points click on this.
          If you have already started creating a function click on retry connecting before clicking
          on this button.
          <br/>
        </li>
        <li>
          <strong>Retry Connecting</strong>- If you did not create a function or accidently connected the wrong points you can click
          on this button to try again.
          <br/>
        </li>
      </ul>
      <strong>How to use the Applet</strong>
      <ul>
        <li>
          Click
          <strong>Get Points</strong> to get 5 points on the coordinate system.
          <br/>
        </li>
        <li>
          Try to connect the points to make a function. To connect the points, first click on the
          one that you want to make the starting point. Then, click on the second, third, fourth,
          and following points in succession so that a function is created. Note: It is not always
          possible to build a function from the given points.
          <br/>
        </li>
        <li>
          Click the
          <strong>No Solution</strong> button if you believe that the series of points cannot be connected to form a function.
          <br/>
        </li>
        <li>
          The computer will tell you if you build a curve that is not a function -- it will tell you
          that your graph does not pass the vertical line test.
          <br/>
        </li>
        <li>
          Press
          <strong>reset</strong> to roll new points
          <br/>
        </li>
      </ul>
      <strong>Scoring</strong>
      <ul>
        <li>
          This activity will automatically record how successful you are at answering the questions.
          To view the score, press the
          <strong>Show Score</strong> button at the bottom of the activity and a pop-up window will appear with the scoreboard.
          To close this pop-up window press the
          <strong>Close</strong> button or click back on the main window.
          <br/>
        </li>
        <li>
          To pause the scoring, press the
          <strong>Active</strong> button at the bottom of the screen and it will change to a
          <strong>Paused</strong> button. To resume scoring, press the
          <strong>Paused</strong> button.
          <br/>
        </li>
        <li>
          To reset the scoreboard, open the scoreboard using the
          <strong>Show Score</strong> button and then press the
          <strong>Reset</strong> button.
          <br/>
        </li>
      </ul>
    </p>
