<p>
      <ul>
        <li>
          This activity requires you to perform two steps. First, you have to enter data until you
          have enough to derive a function from the output. Then, you enter your function to see if
          it is correct.
        </li>
        <li>
          To enter the input, you type a number into the
          <strong>Input</strong> box and click the
          <strong>Enter</strong> button.
          <img src="{{ 'img/image335.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Every time you input data and click the
          <strong>Enter</strong> button, the number is used in the function, and the output is placed in the
          <strong>Output</strong> box.
          <img src="{{ 'img/image336.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Once you have found the function, you input it by selecting the operator from the
          pull-down menu...
          <img src="{{ 'img/image337.png' | relative_url }}" class="h-center"/> then enter the rest of it into the box next to the pull-down menu, and click the
          <strong>Check My Rule</strong> button.
          <img src="{{ 'img/image338.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          After you have found the function, you may get a new function by clicking the
          <strong>Get New Rule</strong> button.
          <img src="{{ 'img/image339.png' | relative_url }}" class="h-center"/>
        </li>
      </ul>
      <p>
        <strong>Scoring</strong>
      </p>
      <ul>
        <li>
          This activity will automatically record how successful you are at answering the questions.
          To view the score, press the
          <strong>Show Score</strong> button at the bottom of the activity, and a pop-up window will appear with the
          scoreboard. To close this pop-up window, press the
          <strong>Close</strong> button.
        </li>
        <li>
          To pause the scoring, press the
          <strong>. Active .</strong> button at the bottom of the screen and it will change to a
          <strong>Paused</strong> button. To resume scoring, press the
          <strong>Paused</strong> button.
        </li>
        <li>
          To reset the scoreboard, open the scoreboard using the
          <strong>Show Score</strong> button and then press the
          <strong>Reset</strong> button.
        </li>
      </ul>
      <p>
        Because this activity randomly generates questions, a feature called
        <strong>Seed Random</strong> has been implemented that allows multiple users using different computers to work on the
        same problem. See
        <a href="{{ '/resources/SeedRandom' | relative_url }}">Seed Random Help</a> for instructions on using this feature.
      </p>
    </p>
