<p>
  This applet is an expanded version of 
  <a href="{{ '/activities/Transmographer' | relative_url }}">TransmoGrapher</a> and 
  <a href="{{ '/activities/TransmographerTwo' | relative_url }}">TransmoGrapher 2</a>. It is a 3D model that allows the user to explore the world of 
  <strong>translations, reflections, and rotations</strong>. 
</p>
<p>
  This applet allows the user to translate polygons on both the x- and y-axes. The user can
  reflect the figure across any line using the equation: 
</p>
<p>
  <div class="h-center">
    y = m * x + b 
    <br />
  </div>
</p>
<p>
  where m is the slope and b is the y-intercept. For example, a polygon reflected across the
  line y = 2 * x + 1 looks like this: 
</p>
<p>
  <img src="{{ 'img/activities/learner/3DTransmographer-learner-1.png' | relative_url }}" class="h-center" />
</p>
<p>
  The user can also reflect the figure across a vertical line using the equation x = ? where the
  user fills in any integer that keeps the reflected image on the graph. An example of a polygon
  reflected over the line x = 0 is presented here: 
</p>
<p>
  <img src="{{ 'img/activities/learner/3DTransmographer-learner-2.png' | relative_url }}" class="h-center" />
</p>
<p>
  This applet is 3D because of the added revolve function, which allows the user to revolve a
  2-dimensional polygon through the z-plane around a chosen line on the x-y coordinate. Unlike
  rotating the polygon, the revolve button allows the user to see how the polygon would look if
  it were spinning around an axis in 3-dimensional space. By clicking on the graph and dragging
  it around, the user can get a much better sense of the shape of the 3-dimensional object. The
  same polygon as above reflected over the y-axis looks like this: 
</p>
<p>
  <img src="{{ 'img/activities/learner/3DTransmographer-learner-3.png' | relative_url }}" class="h-center" />
</p>
<p>
  And when revolved around the x-axis, looks like this: 
</p>
<p>
  <img src="{{ 'img/activities/learner/3DTransmographer-learner-4.png' | relative_url }}" class="h-center" />
</p>
<p>
  You can see that these images are much different. Changing the view of the axes by clicking
  and dragging gives a much better sense of their shapes: 
</p>
<p>
  <img src="{{ 'img/activities/learner/3DTransmographer-learner-5.png' | relative_url }}" class="h-center" />
</p>
<p>
  <img src="{{ 'img/activities/learner/3DTransmographer-learner-6.png' | relative_url }}" class="h-center" />
</p>
