<p>
  This applet allows the user to explore experimental and theoretical probabilities by changing
  the area of the colored regions of the circle. When a section is added it reduces the other
  sections by an equal amount in order to add the new sector. When this occurs, the probability
  that that particular color will be landed on will change.
</p>
<p>
  Theoretical probability is the probability based on the size of the sector compared to the
  whole circle. So if there are two equal size sectors you would expect it to land on one of the
  sectors one out of two spins. The experimental probability is the actual outcome after running
  an experiment a given number of trials.
</p>
<p>
  Probability began in the middle of the seventeenth century by a man named Pascal. One day a
  man proposed a question about gambling. His question was "If I play a game in which I have
  eight rolls to roll a six and I fail the first three times, how much of my bet should I get
  back?" The game involved chance just as most games do now, such as Monopoly and card games.
  Las Vegas is a city that is dominated by people that have invested in this field of
  mathematics. Today, probability has found its way into the fields of science, medicine, and
  statistics. 
</p>
