<p>
  This activity allows the user to practice solving algebraic equations. 
</p>
<p>
  Solving an algebraic equation means finding the value of an unknown value in an equation that
  makes that equation true. For equations in the Algebra Quiz activity, you will be asked to
  find solutions to single variable equations. 
</p>
<p>
  There are many ways to solve algebraic equations. Frequently, solving algebraic equations
  entails "isolating the variable" using relationships of equality and properties of real
  numbers such as the 
  <a href="{{ '/dictionary/d' | relative_url }}">distributive property</a>, the 
  <a href="{{ '/dictionary/a' | relative_url }}">associative property</a>, the 
  <a href="{{ '/dictionary/c' | relative_url }}">commutative property</a> and both 
  <a href="{{ '/dictionary/m' | relative_url }}">multiplicative inverse</a> and 
  <a href="{{ '/dictionary/a' | relative_url }}">additive inverse</a>. 
</p>
<p>
  Quadratic equations are also found in the Algebra Quiz game. An equation is considered
  "quadratic" when the variable is squared, such as x 
  <sup> 2 </sup> =25. This type of equation often has two different answers that make the equation true, such
  as this one, x can be +5 or -5. 
</p>
