<p>
  This activity allows the user to practice important angle vocabulary. Line l is parallel to
  line m. Also line r is parallel to line s. Each of the angles formed by the intersection of
  these four parallel lines can be classified as acute, obtuse, or right. 
</p>
<ul>
  <li>
    <a href="{{ '/dictionary/a' | relative_url }}">acute angle</a> - an angle whose measure is less than 90 degrees 
  </li>
  <li>
    <a href="{{ '/dictionary/o' | relative_url }}">obtuse angle</a> - an angle whose measure is greater than 90 degrees 
  </li>
  <li>
    <a href="{{ '/dictionary/r' | relative_url }}">right angle</a> - an angle whose measure is 90 degrees 
  </li>
</ul>
<p>
  Any pair of angles can be classified as adjacent, vertical, alternate-interior,
  alternate-exterior, same-side interior, same-side exterior, corresponding, or as none of the
  above. 
</p>
<ul>
  <li>
    <a href="{{ '/dictionary/a' | relative_url }}">adjacent angles</a> - two angles that share a ray, thereby being directly next to each other 
  </li>
  <li>
    <a href="{{ '/dictionary/a' | relative_url }}">alternate exterior angles</a> - angles located outside a set of parallel lines and on opposite sides of the 
    <a href="{{ '/dictionary/t' | relative_url }}">transversal</a>. 
  </li>
  <li>
    <a href="{{ '/dictionary/a' | relative_url }}">alternate interior angles</a> - angles located inside a set of parallel lines and on opposite sides of the 
    <a href="{{ '/dictionary/t' | relative_url }}">transversal</a>. 
  </li>
  <li>
    <a href="{{ '/dictionary/v' | relative_url }}">vertical angles</a> - angles that share only one point. They are on opposite sides of the 
    <a href="{{ '/dictionary/t' | relative_url }}">transversal</a>. 
  </li>
  <li>
    <a href="{{ '/dictionary/c' | relative_url }}">corresponding angles</a> - angles that are at corresponding positions to each other. They are on the same side of
    the 
    <a href="{{ '/dictionary/t' | relative_url }}">transversal</a>. 
  </li>
  <li>
    <strong>same-side interior angles</strong> - angles located inside a set of parallel lines and on the same side of the 
    <a href="{{ '/dictionary/t' | relative_url }}">transversal</a>. 
  </li>
  <li>
    <strong>same-side exterior angles</strong> - angles located outside a set of parallel lines and on the same side of the 
    <a href="{{ '/dictionary/t' | relative_url }}">transversal</a>. 
  </li>
</ul>
