    <p>
      This activity allows the user to understand the step by step generation of a Hilbert Curve
      fractal. This activity also allows the user to explore number patterns in sequences and
      geometric properties of fractals. This activity should be tried after
      <a href="{{ '/activities/HilbertCurve' | relative_url }}">A Hilbert Curve Activity</a> for comparison purposes.
    </p>
    <p>
      To build this new Hilbert curve, start with a line segment 1 unit long. (Iteration 0, or the
      initiator)
    </p>
    <p>
      Replace each line segment with the following generator:
    </p>
    <p>
      <div class="h-center">
        <img src="{{ 'img/activities/learner/AnotherHilbertCurve-learner-1.gif' | relative_url }}" />
      </div>
    </p>
    <p>
      Notice that this replaces a line segment with 8 pieces, all 1/3 the length of the original
      segment.
    </p>
    <p>
      Repeat this process on all line segments.
    </p>
