<p>
  This activity allows a student to practice his or her arithmetic with whole numbers and
  integers. The student can choose to answer problems involving whole number and 
  <a href="{{ '/dictionary/i' | relative_url }}">integer</a> addition, subtraction, multiplication, and division. The student can also choose the
  difficulty level and the amount of time available to solve each problem. 
</p>
<p>
  When adding or subtracting integers, consider the number line. The minus sign is always a
  negation of the positive direction, whether the minus sign represents the operation of
  subtraction or the sign on the integer. 
</p>
<p>
  For example take the addition problem 5 + -7 = -2. 
  <div class="center">
    <img src="{{ 'img/activities/learner/ArithmeticQuiz-learner-1.gif' | relative_url }}" />
  </div>
</p>
<p>
  Or take the subtraction problem 5 - -2 = 7. 
  <div class="center">
    <img src="{{ 'img/activities/learner/ArithmeticQuiz-learner-2.gif' | relative_url }}" />
  </div>
</p>
<p />
