<p>
  This activity allows the user to explore experimental and theoretical probabilities adding and
  removing sections of a circle. 
</p>
<p>
  When a section is added the applet divides the area of the circle into equal portions. When
  this occurs, the probability that the spinner will land on a particular color is equal to that
  of any other color because the size of the sectors are equal. 
</p>
<p>
  Theoretical probability is the probability based on the size of the sector compared to the
  whole circle. So if there are two equal size sectors you would expect it to land on one of the
  sectors one out of two spins. The experimental probability is the actual outcome after running
  an experiment a given number of trials. 
</p>
<p>
  Probability began in the middle of the seventeenth century by a man named Pascal. One day a
  man proposed a question about gambling. His question was "If I play a game that I have eight
  rolls to roll a six and I fail the first three times, how much of my bet should I get back?"
  The game involved chance just as most of games do now, such as Monopoly and card games. Las
  Vegas is a city that is dominated by people that have invested in this field of mathematics.
  Today, probability has found its way into the fields of science, medicine, and statistics. 
</p>
<br />
<font size='1'><table dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined property:  stdClass::$original in /home/aweeden/public_html/newdev/interactivate-static-admin/get-learner-pages.php5 on line <i>106</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.0013</td><td bgcolor='#eeeeec' align='right'>207256</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='/home/aweeden/public_html/newdev/interactivate-static-admin/get-learner-pages.php5' bgcolor='#eeeeec'>../get-learner-pages.php5<b>:</b>0</td></tr>
</table></font>
<br />
<font size='1'><table dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Trying to get property of non-object in /home/aweeden/public_html/newdev/interactivate-static-admin/get-learner-pages.php5 on line <i>106</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.0013</td><td bgcolor='#eeeeec' align='right'>207256</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='/home/aweeden/public_html/newdev/interactivate-static-admin/get-learner-pages.php5' bgcolor='#eeeeec'>../get-learner-pages.php5<b>:</b>0</td></tr>
</table></font>
<br />
<font size='1'><table dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined property:  stdClass::$original in /home/aweeden/public_html/newdev/interactivate-static-admin/get-learner-pages.php5 on line <i>106</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.0013</td><td bgcolor='#eeeeec' align='right'>207256</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='/home/aweeden/public_html/newdev/interactivate-static-admin/get-learner-pages.php5' bgcolor='#eeeeec'>../get-learner-pages.php5<b>:</b>0</td></tr>
</table></font>
<br />
<font size='1'><table dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Trying to get property of non-object in /home/aweeden/public_html/newdev/interactivate-static-admin/get-learner-pages.php5 on line <i>106</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.0013</td><td bgcolor='#eeeeec' align='right'>207256</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='/home/aweeden/public_html/newdev/interactivate-static-admin/get-learner-pages.php5' bgcolor='#eeeeec'>../get-learner-pages.php5<b>:</b>0</td></tr>
</table></font>
