<p>
  This activity allows the user to identify patterns for determining the number of chairs which
  can fit around different size tables. 
</p>
<p>
  Recognizing patterns and being able to describe them both verbally and mathematically are
  important mathematical skills. Algebra is simply describing patterns mathematically. 
</p>
<p>
  If you have one table that sits four people how many chairs will fit around that table? 
</p>
<p>
  <div class="center">
    <img src="{{ 'img/activities/learner/Chairs-learner-1.jpg' | relative_url }}" />
  </div>
</p>
<p>
  What if you have two? Does it matter how the tables are arranged? 
</p>
<p>
  <div class="center">
    <img src="{{ 'img/activities/learner/Chairs-learner-1.jpg' | relative_url }}" />
  </div>
</p>
<p>
  <div class="center">
    <img src="{{ 'img/activities/learner/Chairs-learner-3.jpg' | relative_url }}" />
  </div>
</p>
<p>
  The answer is yes it does matter! If you have the tables connected you can sit 2 less people
  than if they are set apart. What happens as you add a third and a fourth table? Is the pattern
  easier to see in the picture or in a table? 
</p>
<p>
  <div class="center">
    <img src="{{ 'img/activities/learner/Chairs-learner-1.jpg' | relative_url }}" />
    <img src="{{ 'img/activities/learner/Chairs-learner-3.jpg' | relative_url }}" />
    <img src="{{ 'img/activities/learner/Chairs-learner-6.jpg' | relative_url }}" />
    <img src="{{ 'img/activities/learner/Chairs-learner-7.jpg' | relative_url }}" />
  </div>
</p>
<p>
  <table class="center">
    <tr>
      <td>
        # of Tables 
      </td>
      <td>
        # of Chairs 
      </td>
    </tr>
    <tr>
      <td>
        1 
      </td>
      <td>
        4 
      </td>
    </tr>
    <tr>
      <td>
        2 
      </td>
      <td>
        6 
      </td>
    </tr>
    <tr>
      <td>
        3 
      </td>
      <td>
        8 
      </td>
    </tr>
    <tr>
      <td>
        4 
      </td>
      <td>
        10 
      </td>
    </tr>
  </table>
</p>
<p>
  This pattern can be described mathematically: 
</p>
<p>
  # of chairs = 2( # of tables) + 2 
</p>
<p>
  This is called an equation and is an integral part of higher level mathematics. 
</p>
<p>
  Identifying this pattern makes it easier to compute the number of chairs that would fit around
  a table composed of 10 four seat tables lined end to end. 
</p>
<p>
  # of chairs = 2(10)+2 
</p>
<p>
  # of chairs = 22 
</p>
