<p>
  This activity allows the user to investigate number patterns in Pascal's Triangle created by
  placement of multiples. 
</p>
<p>
  Pascal's Triangle is a triangle of numbers, each new number being the sum of the two above it.
  Here are a few rows: 
</p>
<p>
  <img src="{{ 'img/activities/learner/ColoringMultiples-learner-1.png' | relative_url }}" which="display" />
  <ul>
    <li>
      In 
      <a href="{{ '/dictionary/c' | relative_url }}">combinatorics</a> and counting, we can use these numbers whenever we need to know the number of ways we can
      choose Y things from a group of X things. 
    </li>
    <li>
      In algebra, these numbers are used to determine the coefficients on binomial raised to a
      particular power. The power is associated with the row in the triangle. The first row of
      the triangle is considered the zeroth row. For instance, 
      <pre>
 (a + b)<sup>4</sup>
  </pre>
      multiplied out in expanded form yields 
      <pre>
 a<sup>4</sup> + 4a<sup>3</sup>b + 6a<sup>2</sup>b<sup>2</sup> + 4ab<sup>3</sup> + b<sup>4</sup>
  </pre>
      Notice how the 4th line of the triangle (counting the first row as 0) is 
      <pre>
 1  4  6  4  1
  </pre>
      And notice that the coefficients in the expanded form of the binomial are also 
      <pre>
 1  4  6  4  1
  </pre>
    </li>
  </ul>
</p>
