    <p>
      This activity allows the user to explore the effects of changing the constants in the
      equations on the graphs of the conic sections including:
    </p>
    <ul>
      <li>
        circles
      </li>
      <li>
        ellipses
      </li>
      <li>
        parabolas
      </li>
      <li>
        hyperbolas
      </li>
    </ul>
    <p>
      This applet allows the user to create graphs of conic sections. Using slider bars, one can
      manipulate the function to change the constant values and view the effects of those changes.
    </p>
