<p>
  This activity allows the user to explore converting 
  <a href="{{ '/dictionary/d' | relative_url }}">decimals</a> to 
  <a href="{{ '/dictionary/f' | relative_url }}">fractions</a> and fractions to decimals. To convert a fraction to a decimal is easy; just divide the top
  number by the bottom number. The top number is called the 
  <a href="{{ '/dictionary/n' | relative_url }}">numerator</a> and the bottom number is called the 
  <a href="{{ '/dictionary/d' | relative_url }}">denominator</a>. You can do this either with a calculator or using long division. 
</p>
<p>
  Converting a terminating (non repeating) decimal to a fraction is a little harder. The first
  step is to multiply the decimal by a power of ten to move the decimal point all the way to the
  right. For example, if the decimal has three numbers behind the decimal place then you would
  multiply by a one with three zeros (1000). Now put that number over the power of 10 you
  multiplied by and reduce that fraction. Here is an example: 
</p>
<p>
  <div class="center">
    <img src="{{ 'img/activities/learner/Converter-learner-1.gif' | relative_url }}" />
  </div>
</p>
