<p>
  This activity allows the user to graph a function along with the tangent line at a particular
  point. The user can then use a scroll bar to slide the point along the curve. The derivative
  at that point is also displayed.
</p>
<p>
  Trinity College closed its doors in 1665 because of the plague and sent Sir Isaac Newton home.
  During these next few months Newton made some of his greatest contributions to the
  mathematical sciences, one of which was the discovery of calculus.
</p>
<p>
  Calculus quantifies motion and rates of change. The derivative in particular identifies the 
  <em>instantaneous</em> rate of change. Usually when we think about speed (velocity) we define it over a period of
  time such as 50 miles 
  <em>per hour</em>. A derivative defines that speed at a single point in time as opposed to over a period of
  time. Newton discovered this rate of change is simply and elegantly the slope of the line
  tangent to a function at that point!
</p>
<p>
  The Derivate! activity helps you to see how the derivative is calculated.
</p>
<p />
