<p>
  This activity allows the user to calculate the 
  <a href="{{ '/dictionary/p' | relative_url }}">probability</a> of each number (2-12) appearing when two dice are rolled. They also get practice converting
  probabilities into fractions, decimals, and percentages. Each number outcome can have more
  than one possible combination to make that number. For example the outcome of six has the
  possible combinations of 5+1, 4+2, and 3+3. Another term used in probability is 
  <a href="{{ '/dictionary/p' | relative_url }}">permutations</a>. This word refers to the arrangement of the values, for example 4+2=6 and 2+4=6. 
</p>
<p>
  Probability began in the middle of the seventeenth century by a man named Pascal. One day a
  man proposed a question about gambling. His question was "If I play a game that I have eight
  rolls to roll a six and I fail the first three times, how much of my bet should I get back?"
  The game involved chance just as most of games do now, such as Monopoly and card games. Las
  Vegas is a city that is dominated by people that have invested in this field of mathematics.
  Today, probability has found its way into the fields of science, medicine and statistics. 
</p>
