<p>
  This activity is similar to the 
  <a href="{{ '/activities/ElapsedTime' | relative_url }}">Elapsed Time Activity</a>. This activity allows the user to calculate an ending time when the beginning time and
  elapsed time are given. 
</p>
<p>
  Calculating an ending time is an important skill in everyday life. It requires understanding
  how to read a clock and understanding how we measure time because we don't usually use our
  traditional decimal (base ten) system to measure time. 
</p>
<p>
  For instance, suppose you wanted to know when you would finish your homework and would be able
  to play basketball with your friends. If you get off the bus at 3:45 every afternoon and you
  know that you usually have one and a half hours of homework, when will you be done? It's an
  addition problem but you cannot use the same method for addition that you use if you were just
  adding whole numbers or decimals: 
  <img class="center" src="{{ 'img/activities/learner/ElapsedTimeTwo-learner-1.png' | relative_url }}" />
</p>
<p>
  As is typical with most math, you can think about the problem many ways. Here are a couple of
  ways: 
  <ul>
    <li>
      You can think about it as an addition problem, but you need to be careful of your place
      value. Remember that 60 minutes is an hour, not 100 minutes: 
      <img class="center" src="{{ 'img/activities/learner/ElapsedTimeTwo-learner-2.png' | relative_url }}" />
    </li>
    <li>
      You can think about the problem by picturing the time on a clock and then moving the clock
      ahead in smaller groups. Start with the minutes, then add the hours: 
      <img class="center" src="{{ 'img/activities/learner/ElapsedTimeTwo-learner-3.png' | relative_url }}" />
    </li>
  </ul>
</p>
