    <p>
      This activity allows the user to visually experiment with the relationship between the values
      of equivalent fractions and areas within a square or a circle.
    </p>
    <p>
      The activity provides the user with a fraction, its equivalent representation as a shaded
      portion of a square or circle, and a number line. Also displayed are two empty squares or
      circles. Each shape is connected to a point on the number line corresponding to the fraction
      represented by the shape. The goal is for the user to add and color sections in the blank
      shapes to create fractions equal to the original computer generated fraction.
    </p>
