<p>
  This activity allows the user to find all of the factorizations of a given number and then
  draw the product as the area of a rectangle on a grid. Users can choose to enter in their own
  numbers and can also receive hints if they are having trouble. 
</p>
<p>
  <a href="{{ '/dictionary/f' | relative_url }}">Factors</a> are numbers that when multiplied together form a unique product. For example, 2 factors of 15
  are 3 and 5 because 3 * 5 = 15. Every number has at least 2 factors, 1 and the number since 1
  multiplied by any number is itself (though when finding the factors of 1, those two are the
  same number). 
</p>
<p>
  A number that only has two factors, one and itself, is called a 
  <a href="{{ '/dictionary/p' | relative_url }}">prime number</a>. However, some numbers have many factors. For example, the factors of 24 are 1, 2, 3, 4, 6,
  8, 12, and 24. 
</p>
