    <p>
      The purpose of this applet is for the user to practice estimation by guessing at how many
      trees, what percent of trees, or what fraction of the trees are burned down in the forest with
      each simulation. Four different sized grids are provided to practice estimating with small and
      large quantities. The user may also choose the probability of burn. Note that the probability
      of the burn does not predict exactly how many trees will burn, although there is a
      relationship.
    </p>
    <p>
      Estimation is a useful tool to get a general idea about a quantity or a size when an exact
      answer is unnecessary. Estimation is also important for doing a long calculation with a lot of
      potential for careless errors - estimating the answer can confirm or counter the calculated
      answer. Especially in higher-level math, making an error early in a calculation will often
      cause the final answer to be off by an order of magnitude (x10) or more!
    </p>
