<p>
  This activity allows the user to see the results of a fire if a forest is densely planted in a
  rectangular grid.
</p>
<p>
  The probability that a tree will burn is set, and the fire is started. For each tree the same
  probability "die" is thrown to see if that tree will burn or not, given that its neighbor is
  on fire.
</p>
<p>
  The behavior of this activity is chaotic, since we cannot predict in advance whether a
  particular tree is burned or not, and since small changes in the set probability and the
  location of the initial burning can radically alter the final state of the forest. However,
  general patterns in the burning of the trees can be seen for particular probabilities.
</p>
<p>
  This fire is somewhat unrealistic since in most fires, if a tree has a close neighbor on fire
  it will catch fire, too, unless the wind changes. 
</p>
