<p>
  This activity allows the user to generate a 
  <a href="{{ '/dictionary/q' | relative_url }}">quadrilateral</a> that will repeat without overlapping across a plane. Starting from a rectangle, the user
  moves the corners of the quadrilateral, creating a new four-sided figure. The user can choose
  several different colors to enhance the pattern, and can observe the different effects that
  colors have on 
  <a href="{{ '/dictionary/t' | relative_url }}">tessellations</a>. 
</p>
<p>
  If we start from a rectangle, 
</p>
<p>
  <div class="center">
    <img src="{{ 'img/activities/learner/FloorTiles-learner-1.GIF' | relative_url }}" />
  </div>
</p>
<p>
  then select colors for the shape, 
</p>
<p>
  <div class="center">
    <img src="{{ 'img/activities/learner/FloorTiles-learner-2.GIF' | relative_url }}" />
  </div>
</p>
<p>
  clicking on the 
  <strong>Tessellate</strong> button results in a plane covered with repetitions of the quadrilateral with no overlapping
  or gaps in between the shapes. 
</p>
<p>
  <div class="center">
    <img src="{{ 'img/activities/learner/FloorTiles-learner-3.GIF' | relative_url }}" />
  </div>
</p>
<p>
  Dragging the corners of the original rectangle to form an irregular quadrilateral 
</p>
<p>
  <div class="center">
    <img src="{{ 'img/activities/learner/FloorTiles-learner-4.GIF' | relative_url }}" />
  </div>
</p>
<p>
  and selecting colors for the shapes renders this image: 
</p>
<p>
  <div class="center">
    <img src="{{ 'img/activities/learner/FloorTiles-learner-5.GIF' | relative_url }}" />
  </div>
</p>
<p>
  Tessellations occur naturally in the world, and are frequently used in designs for works of
  art and architecture. They can assist students in conceptualizing infinity, learning about the
  different types of symmetry, and making observations about how colors and shapes affect
  perception. 
</p>
