    <p>
      This activity allows the user to enhance their skills working with fractions by first making
      fractions by cutting squares or circles into parts (this correlates with the denominator) and
      then coloring in the correct portions (this correlates to the numerator). They then place
      these fractions in order from least to greatest.
    </p>
    <p>
      Fractions are used often in mathematics and in day to day life. Any time you cut a whole into
      equal size parts you are using fractions, such as cutting a pizza or a cake, or determining
      how many questions you got correct on a test.
    </p>
    <p>
      This activity is an excellent way to learn about what fractions are and practice with them in
      order to help you understand the correlation between their representation as numerals and
      their value on the number line.
    </p>
