<p>
  This activity allows the user to calculate the fractal dimension of a series of regular
  fractals without access to a calculator. It is not necessary to understand logs to use this
  activity. Calculation of fractal dimension is based upon the fact that Dimension, Scale and
  Number of similar copies in a geometric fractal follows the formula: 
  <img class="center" src="{{ 'img/activities/learner/FractalDimensions-learner-1.gif' | relative_url }}" /> For example, the Koch Snowflake 
  <img class="center" src="{{ 'img/activities/learner/FractalDimensions-learner-2.gif' | relative_url }}" /> is built from replacing a line segment with 4 segments each one third as long as the
  original, arranged as: 
  <img class="center" src="{{ 'img/activities/learner/FractalDimensions-learner-3.gif' | relative_url }}" /> The scale factor is 3 and the number of identical copies in the replacement is 4. Hence, we
  need to find D so that 
  <img class="center" src="{{ 'img/activities/learner/FractalDimensions-learner-4.gif' | relative_url }}" /> We can use either trial and error or logarithms to get the answer. In this case the dimension
  is about 1.262. 
</p>
