    <p>
      This activity allows the user to practice simplifying, converting, and multilpying decimals,
      percentages, and fractions.
    </p>
    <p>
      Remember the numerator is the number on the top of the fraction and the denominator is the
      number on the bottom. To simplify fractions, you must factor the numerator and denominator
      completely. Then you cross out the numbers that are in both the numerator and the denominator.
      If all of the factors are cancelled in the numerator, then replace it with 1 (which is a
      factor of any number). Likewise for the denominator. Here is an example:
      <div class="h-center">
        <img src="{{ 'img/activities/learner/FractionQuiz-learner-1.gif' | relative_url }}" />
      </div>
    </p>
    <p>
      To convert fractions to decimals, just divide the numerator by the denominator. To multiply
      fractions you just multiply the numerator of the first fraction by the numerator of the second
      fraction, then divide this result by the denominator of the first fraction multiplied by the
      denominator of the second. Here is an example:
      <div class="h-center">
        <img src="{{ 'img/activities/learner/FractionQuiz-learner-2.gif' | relative_url }}" />
      </div>
    </p>
