<p>
  This activity allows the user to generate interesting, irregular fractals. 
</p>
<p>
  These fractal objects are made by starting with a polygon, such as a triangle or square --
  input by the user as number of sides -- and a fractal scale factor -- also input by the user.
  The program then draws the figure by recreating in a scaled copy of the original figure at
  each vertex with some additional embellishments. This process can be repeated for any number
  of iterations as specified by the user. 
</p>
<p>
  Regular fractals can be made from this program as well. Inputs of sides = 3 and scale factor =
  2 gives: 
</p>
<p>
  <img class="center" src="{{ 'img/activities/learner/FracturedPictures-learner-1.gif' | relative_url }}" />
</p>
<p>
  Other interesting fractals can be made by varying the inputs; here's sides = 6 and scale = 4: 
</p>
<p>
  <img class="center" src="{{ 'img/activities/learner/FracturedPictures-learner-2.gif' | relative_url }}" />
</p>
<p>
  Here's sides = 8 and scale = 3. 
</p>
<p>
  <img class="center" src="{{ 'img/activities/learner/FracturedPictures-learner-3.gif' | relative_url }}" />
</p>
