<p>
  This activity allows the user to visually experiment with the relationship between the value
  of fractions and areas within a square or a circle. The user is asked to create given
  fractions and construct original fractions.
</p>
<p>
  The activity provides the user with two fractions, a pair of shapes, and a number line. Each
  shape is connected to a point on the number line corresponding to the fraction of the shape
  colored in. The user begins with empty shapes, which he/she can divide into sections and color
  the desired portion.
</p>
<p>
  When both shapes are correctly divided and colored, a third box appears. The user is asked to
  divide and color the new shape to create a new fraction that lies between the values of the
  original two. As the student colors in the third box, a marker moves to the corresponding
  value on the number line.
</p>
<p>
  After all three boxes are correctly colored, the student must enter the value of the third
  fraction created. Giving the exact value of the fraction serves to reinforce the relationship
  between the area colored and the value of the fraction on the number line. 
</p>
<p />
