    <p>
      This activity works like a graphing calculator. After entering the function, the user can view
      a graph of the function where y = f(x). Beneath the graph are slider bars that allow the user
      to manipulate the graph by changing the values of exponents, coefficients, and constants.
    </p>
    <p>
      This activity allows the user to explore the effect of changing constants in most types of
      functions including:
      <ul>
        <li>
          linear
        </li>
        <li>
          quadratic
        </li>
        <li>
          exponential
        </li>
        <li>
          trigonometric
        </li>
      </ul>
    </p>
