    <p>
      This activity allows the user to see functions typed in as algebraic expressions graphed on
      the coordinate plane.
    </p>
    <p>
      The software graphs functions in basically the same way we would do it on paper. Axes are
      drawn, and a scale is set - based on the input in the range boxes. Next a table of x values
      between the two specified limits is generated, and then corresponding y values are calculated.
      Points are plotted; dots are connected; and the graph is displayed.
    </p>
    <p>
      So what is different? Here is the big difference in the way the software works: We would
      probably plot 5 to 10 points and use our "math intuition" to connect the points appropriately.
      The computer plots many more points (depending on the x range, somewhere around 100) and
      connects the dots. This is how graphing calculators work, too.
    </p>
    <p>
      This can lead to interesting behavior for certain functions. Polynomials like lines and
      parabolas will graph just as they should. Other functions, such as those for which x appears
      in a denominator, may have places on the graph where the computer has trouble plotting them
      correctly. This leads to the following moral:
    </p>
    <p>
      <div class="h-center">
        <strong>
          <em>
           If you see something unexpected on a graph,
            <br />
            always ask yourself if that behavior makes sense
            <br />
            mathematically before you accept it as correct.
          </em>
        </strong>
      </div>
    </p>
