<p>
  This activity allows the user to view and make their own histograms. 
</p>
<p>
  A histogram is defined as a bar graph that shows frequency data. The first step in making a
  histogram is to collect data and sort it into categories. To continue, you must label the data
  as the independent set or the dependent set. The characteristic you grouped the data by would
  be the independent variable and the frequency of that set would be the dependent variable. 
</p>
<p>
  Now you must draw a graph and label it. The horizontal axis should be labeled with the
  independent variable and the vertical axis should be labeled with the dependent variable. Each
  mark on either axis should be in equal increments, such as 2,4,6,8,etc. Now you are ready to
  plot your data. For each category find the related frequency and make horizontal marks to show
  the frequency. Now that you are done graphing you can easily look at it and see what occurs
  more often and what doesn't. 
</p>
