  <p>
This applet allows the user to make observations about the relationship between speed and
position and how both of these are affected by initial velocity and the incline on which the
biker is traveling. As the biker travels up and down an incline, speed changes proportionally to
height off of the ground. On the graph opposite, the biker's speed is displayed in relationship
to his horizontal position on the path, so his speed is defined as the dependent variable, and
his position as the independent variable. For more information on this, see the 
<a href="{{ '/discussions/IndependentDependentVariables' | relative_url }}">discussion on dependent and independent variables</a>. 
  </p>
  <p>
The user may explore these relationships by adjusting the incline of the biker's path as shown
in the picture below: 
<img src="{{ 'img/activities/learner/Incline-learner-1.png' | relative_url }}" class="h-center" />
  </p>
  <p>
The user may also adjust the biker's initial velocity. Be careful, though! A low initial
velocity and a tall incline may result in the biker's inability to travel the entire course.
This is due to insufficient energy in the system, a topic explored further in the 
<a href="{{ '/discussions/Energy' | relative_url }}">discussion on energy</a>. 
  </p> 

