<p>
  What is an inequality? 
</p>
<p>
  This activity allows the user to graph linear inequalities in 2 variables. Users can input
  inequalities in algebraic form and graph them on a coordinate plane. The user can graph up to
  four inequalities as well as many ordered pairs. This activity is an extension of the 
  <link href="http://www.shodor.org/interactivate/activities/Graphit/">Graphit</a> applet. 
</p>
<p>
  Being able to graph inequalities is important in higher mathematics such as calculus and in
  areas that use mathematics such as physics. 
</p>
<p>
  In this activity, users will input values to create linear inequalities to be graphed. Rather
  then a straight line appearing as with linear functions, however, the inequality functions
  will have an area shaded above or below either a dotted or solid line (depending on the chosen
  inequality). This happens because the x and y values are not fixed (unless the = sign is
  chosen) and therefore there are many different values that they could exist for the function. 
</p>
<p>
  Let's take a look at one example of an inequality: 2X + 2Y LESS THAN 8 
</p>
<p>
  When this inequality is graphed, a dotted diagonal line crosses the points (0, 4) and (4, 0)
  with the area to the left of the line entirely shaded. This occurs because all of the shaded
  area represents possible values for the function. Let's see how this is done and choose a
  value for X. 
</p>
<p>
  If X = 0 then what are the possible values of Y? 
</p>
<p>
  2(0) + 2(Y) LESS THAN 8 0 + 2(Y) LESS THAN 8 
</p>
<p>
  Y LESS THAN 4 
</p>
<p>
  Therefore, when X=0, all values for Y below 4 could exist and therefore all values below are
  shaded. There is a dotted line because Y cannot equal 4. While this only shows what Y can be
  if X is 0, you can also experiment with different values of X (or Y) to find other possible
  values. 
</p>
