    <p>
      This activity allows students to learn about the integral of a function and the many
      techniques that exist to approximate its value. Students have the option to choose an
      integration technique, small-number addition error, partition size and number, and range of
      integration. They can then view a graph of the function along with the value of the integral.
    </p>
    <p>
      The integral is typically used when dealing with the problem of area where the shape of the
      region is difficult to deal with. Area is very easy to calculate when you have straight edges,
      such as with rectangles and triangles. However, it is not so easy to find the area of a region
      with curved sides. To deal with this problem, we use rectangles and other polygons to
      approximate the shape of the curve. We can then find the area of these simple shapes and use
      it to approximate the area of the curved region. We get better and better approximations as we
      increase the number of polygons used.
    </p>
