<p>
  This activity allows the user to simulate a game that imitates real life.
</p>
<p>
  This simulation is based on a game invented by mathematician John Horton Conway. Conway's 
  <em>Game of Life</em> is an example of cellular automation where all cells' behavior on the grid are determined by
  a set of rules. The game board represents a community and each cell represents a community
  member. All members follow certain rules. In the game's original form, the rules are simple.
  If a community member has too many (meaning 4 or more) neighbors the member dies because of
  overcrowding. On the other hand if the member is too lonely (meaning one or less neighbors),
  it also dies. The last rule of the game is that if a community has the right environment
  (meaning exactly three neighbors) a baby community member will be born. This applet also has
  an added feature to make it easy to see the age of the community member - the color fades form
  red to blue (red being young member and blue an older member).
</p>
<p />
