<p>
  This activity allows the user to explore simple linear functions. 
</p>
<p>
  The function is determined by looking for patterns in the outputs. The functions available for
  exploration in the function machine activity have one of the following forms: 
  <pre>
    y = __ * x + __
  </pre>
  where the underlines can be any integers between -10 and 10. 
</p>
<p>
  The notion of a function is important in higher mathematics such as calculus and in areas
  which use mathematics such as physics. Any rule that assigns exactly one output to an input or
  list of inputs can be called a function. 
</p>
<p>
  Here are a few examples: 
</p>
<p>
  <ul>
    <li>
      Input the number of seconds after the starting gun in a race to get an output of the
      number of meters the runner has covered. 
      <p>
        <table class="h-center">
          <tr>
            <th colspan="5">
              <strong>Race Chart</strong>
            </th>
          </tr>
          <tr>
            <td>
              Number of Seconds (input) 
            </td>
            <td>
              1 
            </td>
            <td>
              4 
            </td>
            <td>
              7 
            </td>
            <td>
              8 
            </td>
          </tr>
          <tr>
            <td>
              Meters covered (output) 
            </td>
            <td>
              5 
            </td>
            <td>
              20 
            </td>
            <td>
              35 
            </td>
            <td>
              40 
            </td>
          </tr>
        </table>
      </p>
    </li>
    <li>
      <strong>y = x - 6</u>, where 
      <strong>x</u> is the place holder (also called a variable) for the input and 
      <strong>y</u> is the place holder for the output. 
      <p>
        <table class="h-center">
          <tr>
            <th colspan="5">
              <strong>Function y = x - 6</strong>
            </th>
          </tr>
          <tr>
            <td>
              X (input) 
            </td>
            <td>
              -3 
            </td>
            <td>
              0 
            </td>
            <td>
              7 
            </td>
            <td>
              8 
            </td>
          </tr>
          <tr>
            <td>
              Y (output) 
            </td>
            <td>
              -9 
            </td>
            <td>
              -6 
            </td>
            <td>
              1 
            </td>
            <td>
              2 
            </td>
          </tr>
        </table>
      </p>
    </li>
  </ul>
</p>
<p>
  The rule about only one output each time is crucial and must not be violated. For example, the
  table below cannot represent a function because 3 has two different outputs: 
</p>
<p>
  <table class="h-center">
    <tr>
      <th colspan="5">
        <strong>Not a Function</strong>
      </th>
    </tr>
    <tr>
      <td>
        input 
      </td>
      <td>
        3 
      </td>
      <td>
        2 
      </td>
      <td>
        0 
      </td>
      <td>
        3 
      </td>
    </tr>
    <tr>
      <td>
        output 
      </td>
      <td>
        4 
      </td>
      <td>
        -1 
      </td>
      <td>
        2 
      </td>
      <td>
        -3 
      </td>
    </tr>
  </table>
</p>
<p>
  The functions produced by this machine are special because they all graph as straight lines.
  In fact, the 
  <a href="{{ '/dictionary/s' | relative_url }}">slope</a> of the line and the 
  <a href="{{ '/dictionary/y' | relative_url }}">y-intercept</a> of the line are easy to read from the formula: 
</p>
<p class="h-center">
  <pre>
      y = (slope) * x + (y-intercept)
    </pre>
</p>
<p>
  The slope tells us the rise over the run, and the intercept tells us where the line crosses
  the vertical axis when plotted: 
</p>
<p>
  <img class="h-center" src="{{ 'img/activities/learner/LinearFunctMachine-learner-1.gif' | relative_url }}" />
</p>
<p>
  Here the red line has intercept = 7 and slope = -1/2, and the green line has intercept = -1
  and slope = 4/2. 
</p>
