<p>
  This activity allows the user to input various types of data and to request the following
  statistics for the data:
</p>
<p>
  <ul>
    <li>
      <strong>Total</strong> is the sum of the measured quantity for the items.
    </li>
    <li>
      <strong>Mean</strong> is the 
      <em>Total</em> divided by the number of items, also know as the average.
    </li>
    <li>
      <strong>Median</strong> is the number in the middle when the data is arranged in increasing order.
    </li>
    <li>
      <strong>Mode</strong> is the number that appears most frequently in the data. If there is more than one value
      that has the highest frequency then the data has more than one mode. If every number has
      the same frequency then there is no mode.
    </li>
    <li>
      <strong>Range</strong> is the difference between the largest number and the smallest number in the data.
    </li>
    <li>
      <strong>Variance</strong> describes how far the data is from the mean or, in other words, how well the mean
      represents the data. The variance is calculated by first subtracting the value of each
      item from the mean and squaring each result individually. Then, all the squared terms are
      added together and the total is divided by one less than the total number of items (or
      squared terms).
    </li>
    <li>
      <strong>Deviation</strong> is the average distance of each item from the line that best fits the data. This value is
      calculated by taking the square root of the 
      <em>Variance</em>.
    </li>
  </ul>
</p>
