<p>
  This activity helps the user understand percentages and mixture problems by working with two
  piles of colored chips. The user can work in one of four modes: Exploration, Unknown Percent,
  Unknown Total, or Unknown Pile.
</p>
<p>
  Understanding percents is a foundation for proportional reasoning. We see percents almost
  everyday: discounted pricing, tax, nutrition information to name just a few. Percents are
  another form of fractions but often easier to work with because percents are always "out of"
  100. In more mathematical terms, the denominator when converting from a percent to a fraction
  is always 100.
</p>
<p>
  When considering mixture problems, as this activity does, we first work with two sets
  separately and then consider the percent when the sets are combined. Mixture problems are
  often found in chemistry when chemicals are diluted in a solution. If the chemist needs to mix
  two solutions together, then the chemist must be able to determine the amount of chemical in
  the combined solution before mixing them or determine how much of each solution to use to
  achieve the desired concentration. 
</p>
