<p>
  This activity allows the user to learn about the 
  <a href="{{ '/dictionary/e' | relative_url }}">estimation</a> process. Students can choose to estimate the length of a line, the area of a shape, or the
  number of objects in the box. 
</p>
<p>
  When the two things you are comparing are viewed at the same scale, it is often easier to
  identify which is bigger, longer, or greater. If their scales are different, however, you can
  estimate one, then the other, and compare those amounts. 
</p>
<p>
  Estimation skills are crucial in day to day life. Being able to estimate well can help in
  reading maps, making economical purchases, determining how much tip to leave for a meal,
  telling a friend an accurate time where you can meet them someplace after finishing your
  chores, and many other daily tasks. Estimation is a useful tool to get a general idea about a
  quantity or a size when an exact answer is not necessary. 
</p>
