<p>
  The Multiple Bar Graph applets allow the user to graphically display several data frequencies
  using multiple bar graph. This particular applet allows the user to enter his/her own data as
  well as manipulate the y-axis values. The ability to manipulate the y-axis values allows the
  creation of potentially misleading graphs. 
</p>
<p>
  Bar graphs similarly to histograms are graphical data representations based on frequency.
  Histograms are a type of bar graph. The feature which distinguishes a histogram from a bar
  graph is that the each bar on a histogram represents a range of data, where each bar on a bar
  graph represents a specific category. For example: 
</p>
<p>
  <div class="center">
    <img src="{{ 'img/activities/learner/MultiBarGraph-learner-1.gif' | relative_url }}" />
  </div>
</p>
<p>
  In this bar graph each pair of bars represents a year and each bar represents either Europe or
  Asia, while the y-axis shows the population in millions. 
</p>
<p>
  References for data sets: 
  <ul>
    <li>
      <strong>Households with Computer and Internet in 2005 </strong> is from the U.S. Census Bureau, 2005. 
    </li>
    <li>
      <strong>Education Levels </strong> is from the US Census Bureau, 2009. 
    </li>
    <li>
      <strong>Starbucks and McDonalds </strong> is from Starbucks.com and McDonalds.com 
    </li>
    <li>
      <strong>Population of Europe and Asia in Hundreds of Thousands </strong> is from the United Nations Population Division, 2007. 
    </li>
  </ul>
  <br />
</p>
