<p>
  This activity allows the user to plot a set of (x,y) ordered pairs and graph a function on the
  same coordinate plane. The applet allows the manipulation of a function of the form y = f(x).
  Using slider bars one can manipulate the function to change the constant values and view the
  effects of those changes. 
</p>
<p>
  The user can explore the effect of changing constants in most types of functions including: 
</p>
<p>
  <ul>
    <li>
      linear
    </li>
    <li>
      quadratic 
    </li>
    <li>
      exponential
    </li>
    <li>
      trignometric
    </li>
  </ul>
</p>
<p>
  If an equation has the addition of a number, such as in the equation y=ax+b, then manipulating
  the number that is added on (in this case, variable 'b') will always cause the graph to move
  up and down along the y-axis. By adding a multiplier, variable 'a' in this example, the graph
  will expand and retract as the variable is manipulated. Experiment with the slider tabs and
  see if you can find any other patterns. 
</p>
<p>
  The sum of the squares of the deviations is shown to assist the user in determining how well
  the function fits the data. As a general rule of thumb, the smaller this value, the better the
  curve fits the data for that type of function. However, this value implies little about the
  goodness of fit between different functions. 
</p>
<p />
