<p>
  This activity allows the user to explore simple linear functions; the function is determined
  by looking for patterns in the outputs. Whole Number Cruncher records each input and output in
  a window. The functions available for exploration in the function machine activity have one of
  the following forms: 
</p>
<p>
  <div class="h-center">
    y = x * __ 
    <br />
    y = x + __ 
    <br />
    y = x - __ 
  </div>
</p>
<p>
  The notion of a function is important in higher mathematics such as calculus and in areas
  which use mathematics such as physics. Any rule that assigns exactly one output to an input or
  list of inputs can be called a function. 
</p>
<p>
  Here are a few examples: 
</p>
<p>
  <ul>
    <li>
      Input the number of seconds after the starting gun in a race to get an output of the
      number of meters the runner has covered. 
      <table class="h-center">
        <tr>
          <td>
            seconds 
          </td>
          <td>
            3 
          </td>
          <td>
            5 
          </td>
          <td>
            0 
          </td>
        </tr>
        <tr>
          <td>
            meters 
          </td>
          <td>
            8 
          </td>
          <td>
            10 
          </td>
          <td>
            0 
          </td>
        </tr>
      </table>
    </li>
    <li>
      <strong>y = 6*x</u>, where 
      <strong>x</u> is the place holder (also called a variable) for the input and 
      <strong>y</u> is the place holder for the output. 
      <table class="h-center">
        <tr>
          <td>
            x 
          </td>
          <td>
            3 
          </td>
          <td>
            5 
          </td>
          <td>
            0 
          </td>
        </tr>
        <tr>
          <td>
            y 
          </td>
          <td>
            18 
          </td>
          <td>
            30 
          </td>
          <td>
            0 
          </td>
        </tr>
      </table>
    </li>
  </ul>
</p>
<p>
  The rule about only one output each time is crucial and must not be violated. For example, the
  table below cannot represent a function because 3 has two different outputs: 
</p>
<p>
  <table class="h-center">
    <tr>
      <td>
        input 
      </td>
      <td>
        3 
      </td>
      <td>
        2 
      </td>
      <td>
        0 
      </td>
      <td>
        3 
      </td>
    </tr>
    <tr>
      <td>
        output 
      </td>
      <td>
        4 
      </td>
      <td>
        -1 
      </td>
      <td>
        2 
      </td>
      <td>
        -3 
      </td>
    </tr>
  </table>
</p>
<p class="h-center">
  <strong>NOT A FUNCTION</strong>
</p>
