    <p>
      <p>
        This activity allows you to convert between a number in a different base and base ten. The
        number system we are used to working in is called
        <em>base 10</em> because there are ten digits, 0 though 9. In a
        <em>base 7</em> number system, there would be 7 digits 0 through 6.
      </p>
      <p>
        In a
        <em>base 12</em> number system there would be twelve individual digits representing the values 0 through 11.
        Often, with number systems greater than ten, we start using digits from the alphabet and
        thus, 10 and 11 would be represented with A and B respectively.
      </p>
      <p>
        The ancient Mayans used base 20 as their counting system and the Sumerians used
        <em>base 60</em>. Computer scientists often have to use
        <em>base 2</em> as well as
        <em>base 16</em>. Most people today use
        <em>base 10</em>. Trying to do calculations with hours and minutes or feet and inches is also similar to
        calculating in
        <em>base 60</em> or
        <em>base 12</em>.
      </p>
    </p>
