<p>
  This activity allows two users to play a game of order of operations where each player tries
  to connect four game pieces in a row before his or her opponent does. The players can choose
  to answer problems which use addition / subtraction, multiplication / division, exponents, and
  parentheses. They can also choose the difficulty level. 
</p>
<p>
  Depending on the order in which the operations are evaluated, answers may be different. To
  avoid different answers to the same problem the 
  <em>order</em> in which the operations are evaluated must be consistent. Examine the expression 
</p>
<p>
  <sup> - </sup> 3 
  <sup> 2 </sup> - 5 * 2 
</p>
<p>
  For instance, if you square the 3 before negating it, that changes the expression to 
</p>
<p>
  <sup> - </sup> 9 - 5 * 3 
</p>
<p>
  whereas if you negate before you square then the expression is 
</p>
<p>
  9 - 5 * 3. 
</p>
<p>
  The order in which operations are evaluated has been standardized to: 
  <ol>
    <li>
      Parentheses 
    </li>
    <li>
      Exponents 
    </li>
    <li>
      Multiplication and Division (from left to right) and where negation is viewed as
      multiplication by 
      <sup> - </sup> 1 
    </li>
    <li>
      Addition and Subtraction (from left to right) 
    </li>
  </ol>
</p>
