  <p>
Gaussian curves are used frequently when calculating probabilities of random events. A special
type of Gaussian curve is the 
<a href="{{ '/activities/NormalDistribution' | relative_url }}">normal distribution</a> which is useful in probability because the area under the curve is 1. Scientists often
encounter data sets that can be represented by Gaussian curves. Whenever continuous measurements
are taken, such as the height of plants, weight of humans, or pH of a mixture, a Gaussian
distribution can usually represent the data. And as the number of data points increases, they
will look more and more like a Gaussian curve. 
<br />
<br />
In the case of weight of humans, if we take a sample of men or women of a certain height, there
will be a lot of subjects that hover around the mean weight. Then as you get further away from
that mean, you will notice fewer and fewer data points with the given weight. 
<br />
<br />
This activity allows the user to view two Gaussian curves in the same window in order to analyze
the possibility of a difference in two data sets. If the areas under the two curves occupy a
similar area then there is statistical reason to believe that they might actually have the same
mean despite a difference in the experimental mean. 
<br />
<br />
The small differences in means that are examined might be due to the difference in 
<a href="{{ '/discussions/TheoreticalVsExperimental' | relative_url }}">theoretical probability verses experimental probability</a>. When a random sample of a population is taken, it might not reflect the exact parameters of
the entire population. This applet could be used to determine the probability that a random
sample is actually indicative of its population. 
  </p> 

