    <p>
      This activity allows the user to learn to recognize several types of patterns through filling
      in the missing pieces. The patterns in this activity are made of:
      <ul>
        <li>
          shapes
        </li>
        <li>
          letters
        </li>
        <li>
          numbers
        </li>
      </ul>
    </p>
    <p>
      Patterns are found in everyday life, from nature to architecture. This activity introduces
      patterns, a concept which can be further explored in activities such as
      <a href="{{ '/activities/ColoringMultiples' | relative_url }}">Coloring Multiples in Pascal's Triangle</a> and
      <a href="{{ '/activities/SierpinskiCarpet' | relative_url }}">Sierpinski's Carpet</a>.
    </p>
