    <p>
      This activity allows the user to test his or her skill at calculating the perimeter of a
      random shape. The user is given a random shape and allowed to enter a value for the perimeter.
      The applet then informs the user whether or not the value is correct. The user may continue
      trying until he or she gets the correct answer.
      <div class="h-center">
        <strong>Information About the Units of Perimeter</strong>
      </div>
    </p>
    <p>
      Perimeter, the distance around a shape, is usually expressed with units. Perimeter is given in
      terms of the units used to measure distance, 3 feet or 6 meters, for example.
    </p>
    <p>
      There are two systems of units that are commonly used: standard and metric. Most of America
      uses the standard system while many other countries use the metric system. Converting standard
      units to metric units is done by multiplying by a proportionality constant.
    </p>
    <p>
      Here are the tables of proportionality constants for the units of length.
    </p>
    <p>
      <table class="h-center">
        <tr>
          <td>
            <table>
              <tr>
                <td>
                  <strong> Standard</strong>
                </td>
                <td>
                  <strong> to</strong>
                </td>
                <td>
                  <strong> Metric</strong>
                </td>
              </tr>
              <tr>
                <td>
                  1 ft
                </td>
                <td>
                  =
                </td>
                <td>
                  30.48 cm
                </td>
              </tr>
              <tr>
                <td>
                  1 in
                </td>
                <td>
                  =
                </td>
                <td>
                  25.4 mm
                </td>
              </tr>
              <tr>
                <td>
                  1 yd
                </td>
                <td>
                  =
                </td>
                <td>
                  0.914 m
                </td>
              </tr>
              <tr>
                <td>
                  1 mi.
                </td>
                <td>
                  =
                </td>
                <td>
                  1.606 km
                </td>
              </tr>
            </table>
          </td>
          <td>
            <table>
              <tr>
                <td>
                  <strong> Metric</strong>
                </td>
                <td>
                  <strong> to</strong>
                </td>
                <td>
                  <strong> Standard</strong>
                </td>
              </tr>
              <tr>
                <td>
                  1 km
                </td>
                <td>
                  =
                </td>
                <td>
                  0.621 mi.
                </td>
              </tr>
              <tr>
                <td>
                  1 m
                </td>
                <td>
                  =
                </td>
                <td>
                  1.094 yd
                </td>
              </tr>
              <tr>
                <td>
                  1 cm
                </td>
                <td>
                  =
                </td>
                <td>
                  0.036 ft
                </td>
              </tr>
              <tr>
                <td>
                  1 mm
                </td>
                <td>
                  =
                </td>
                <td>
                  0.039 in
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table>
              <tr>
                <td>
                  <strong> Metric</strong>
                </td>
                <td>
                  <strong> to</strong>
                </td>
                <td>
                  <strong> Metric</strong>
                </td>
              </tr>
              <tr>
                <td>
                  1 km
                </td>
                <td>
                  =
                </td>
                <td>
                  1000 m
                </td>
              </tr>
              <tr>
                <td>
                  1 m
                </td>
                <td>
                  =
                </td>
                <td>
                  100 cm
                </td>
              </tr>
              <tr>
                <td>
                  1 cm
                </td>
                <td>
                  =
                </td>
                <td>
                  10 mm
                </td>
              </tr>
            </table>
          </td>
          <td>
            <table>
              <tr>
                <td>
                  <strong> Standard</strong>
                </td>
                <td>
                  <strong> to</strong>
                </td>
                <td>
                  <strong> Standard</strong>
                </td>
              </tr>
              <tr>
                <td>
                  1 mi.
                </td>
                <td>
                  =
                </td>
                <td>
                  1760 yd
                </td>
              </tr>
              <tr>
                <td>
                  1 yd
                </td>
                <td>
                  =
                </td>
                <td>
                  3 ft
                </td>
              </tr>
              <tr>
                <td>
                  1 ft
                </td>
                <td>
                  =
                </td>
                <td>
                  12 in
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </p>
    <p>
      So, converting 8500 feet into kilometers would look like this:
    </p>
    <p>
      <img class="h-center" src="{{ 'img/activities/learner/PerimeterExplorer-learner-1.jpg' | relative_url }}" />
    </p>
