    <p>
      This applet allows the user to make pie charts.
    </p>
    <p>
      A pie chart is a graphical way to organize data. All pie charts compare parts of a whole. For
      example, a pie chart for the time you spend at school could compare the amount of time you
      spend in each class and at lunch.
    </p>
    <p>
      A pie chart uses percentages or fractions to compare the data. The whole is equal to 100%,
      which is the same as 1. So if you spend 7 hours at school and 55 minutes of that time is spent
      eating lunch then 13% of your school day is spent eating lunch. This can be figured by
      converting 7 hours to 420 minutes (you always must compare using the same unit of measure or
      your numbers are meaningless). Then solve the proportion 55 minutes / 420 minutes = ? % / 100%
      which works out to be about 13%.
    </p>
    <p>
      The next step in creating the pie chart is determining what the angle measure should be to
      represent 13%. Since there are 360 degrees in a circle, multiply 13%(0.13) by 360 to get 46.8
      degrees. See if you can make a pie chart that represents what you do in a day.
    </p>
