<p>
  This activity allows the user to experiment with mean, median, and mode by using a bar graph.
</p>
<p>
  Mean, median, and mode are all measures of center. This applet allows you to visually see what
  the difference is between them. 
  <ul>
    <li>
      Mean is the sum of a list of values, divided by the total number of values in the list.
      Most simply put, the mean is the average.
    </li>
    <li>
      Median is the smallest number such that at least half the numbers in the list are no
      greater than it. If the list has an odd number of entries, the median is the middle entry
      in the list after sorting the list into increasing order. If the list has an even number
      of entries, the median is equal to the sum of the two middle (after sorting) numbers
      divided by two. Most simply put, the median is the value in the middle.
    </li>
    <li>
      Mode is the most frequently occurring value. If there is more than one value that has the
      highest frequency the data has more than one mode. If every number has the same frequency
      then the data has no mode.
    </li>
  </ul>
</p>
