<p>
  This activity allows the user to look at graphs of functions for real life situations, and
  asks them to decide if the graph is possible (makes sense) in context.
</p>
<p>
  The main idea here is that graphs showing the relationships between two quantities, like time
  and speed for an aircraft, have certain laws that they have to follow. For example, speed
  doesn't change instantly -- if we are going 10 mph and then later we have sped up to 20 mph,
  sometime in the middle we have to be going 15 mph.
</p>
<p>
  The graphs shown here all relate two common everyday quantities. Judge which are possible in
  context and which are not. 
</p>
