<p>
  This applet allows users to study the nature of the Pythagorean Theorem. The applet provides
  the user with various types of triangles of varying difficulty. For each right triangle two
  sides are given and the right angle is labeled. The user is to calculate the measure of the
  unknown side. 
</p>
<p>
  The Pythagorean Theorem states that the hypotenuse squared is equal to the sum of the squares
  of the legs of a right triangle. 
</p>
<p>
  <img class="h-center" src="{{ 'img/activities/learner/PythagoreanExplorer-learner-1.jpg' | relative_url }}" />
</p>
<p>
  C = the hypotenuse 
</p>
<p>
  A = one leg 
</p>
<p>
  B = the other leg. 
</p>
