<p>
  This applet allows the user to simulate how nature keeps its balance. This applet shows how
  wolves and rabbits would behave in their natural setting. The general rules of this applet
  are: 
</p>
<ul>
  <li>
    Two rabbits cannot occupy the same section of grass. 
  </li>
  <li>
    Two wolves cannot occupy the same section of grass. 
  </li>
  <li>
    Each rabbit can only eat grass when he has not reached his maximum food capacity. (The
    maximum food capacity can be modified). 
  </li>
  <li>
    A wolf will not eat a rabbit if the rabbit will make him surpass his maximum food capacity.
    (The maximum food capacity can be modified). 
  </li>
  <li>
    Rabbits and wolves can only reproduce when they reach a certain age and have a sufficient
    amount of food. (The age of reproduction and amount of food required to reproduce can be
    modified). 
  </li>
  <li>
    A rabbit cannot reproduce if there is a wolf around her. 
  </li>
  <li>
    Rabbits and wolves can only move up, down, left, or right one space at a time. 
  </li>
  <li>
    Rabbits and wolves die if they get too old or if there is insufficient food. (Maximum age
    can be modified). 
  </li>
  <li>
    The grass growth rate is 1. (This growth rate can be modified). 
  </li>
</ul>
<p>
  The rules for the births and deaths of rabbits and wolves are a bit more detailed. Let's begin
  with rabbits which have the following (adjustable) default parameters: 
</p>
<ul>
  <li>
    Maximum food capacity: 45 units 
  </li>
  <li>
    Metabolism rate: 3 units/stage 
  </li>
  <li>
    Reproduction age: 10 stages 
  </li>
  <li>
    Probability of reproduction in a suitable environment: 50% 
  </li>
  <li>
    Minimum food requirement to reproduce: 40 units 
  </li>
  <li>
    Maximum age: 25 stages 
  </li>
  <li>
    A rabbit gives a food value of 10 to the wolf that eats it. 
  </li>
</ul>
<p>
  Using this information, along with the general rules, the computer will determine whether each
  rabbit will live, die, or reproduce during each stage. 
</p>
<p>
  Wolves have the following (adjustable) default parameters: 
</p>
<ul>
  <li>
    Maximum food capacity: 200 units 
  </li>
  <li>
    Metabolism rate: 2 units/stage 
  </li>
  <li>
    Reproduction age: 10 stages 
  </li>
  <li>
    Probability of reproduction in a suitable environment: 50% 
  </li>
  <li>
    Minimum food requirement to reproduce: 120 units 
  </li>
  <li>
    Maximum age: 50 stages 
  </li>
</ul>
<p>
  Using this information, along with the general rules, the computer will determine whether each
  wolf will live, die, or reproduce at each stage. 
</p>
