<p>
  This applet allows the user to simulate a race where the results are based on the roll of a
  die. The user can determine which player moves forward for a given roll, and can then
  experiment with the race by determining which player will win more often based on the rules
  that they specify. The rolling of a die is one example of 
  <a href="{{ '/dictionary/p' | relative_url }}">probability</a>. Each roll of the die gives you a one in six chance that a certain number will appear.
  Probability is just the expected value of what the outcome should be. If you run the applet a
  hundred times you will see that the probability you came up with (known as the 
  <a href="{{ '/dictionary/e' | relative_url }}">experimental probability</a>) will be close but not always exactly what you would expect (known as the 
  <a href="{{ '/dictionary/t' | relative_url }}">theoretical probability</a>). 
</p>
<p>
  Probability began in the middle of the seventeenth century by a man named Pascal. One day a
  man proposed a question about gambling. His question was "If I play a game that I have eight
  chances to roll a six and I fail the first three times, how much of my bet should I get back?"
  The game involved chance just as most games do now, such as Monopoly and card games. Las Vegas
  is a city that is dominated by people that have invested in this field of mathematics. Today,
  probability has found its way into the fields of science, medicine, and statistics. 
</p>
