<p>
  This activity allows the user to create multiple sequences by varying the following values: 
  <ul>
    <li>
      <strong>Starting Number:</strong> The first number in the sequence. 
    </li>
    <li>
      <strong>Multiplier:</strong> The number by which the preceding element of the sequence will be multiplied. 
    </li>
    <li>
      <strong>Add-on:</strong> The number that is added to the preceding number (after it has been multiplied by the
      multiplier) to obtain the next number in the sequence. 
    </li>
  </ul>
</p> 
<p>
  A given element of the sequence is obtained by multiplying the preceding number by the
  multiplier, and then adding the add-on. A graph of the resulting sequence and a list of the
  elements of the sequence are displayed in the applet. 
</p>
<p>
  For example, if our starting number is 1, our multiplier is 2 and our add-on is 3, we get the
  following numbers: 
</p>
<p>
  <div class="center">
    <img src="{{ 'img/activities/learner/Sequencer-learner-1.jpg' | relative_url }}" />
  </div>
</p>
