<p>
  This activity allows the user to explore area and perimeter by either allowing the computer to
  randomly draw a shape on a grid or allowing the user to build the shape on the grid. 
</p>
<p>
  Surprisingly just because two shapes have the same perimeter does not mean those shapes have
  the same area. The reverse is also true. Two shapes with the same area do not necessarily have
  the same perimeter. Examine the two figures below: 
  <table class="h-center">
    <tr>
      <td>
        <div class="h-center">
          <img src="{{ 'img/activities/learner/ShapeBuilder-learner-1.png' | relative_url }}" />
        </div>
      </td>
      <td>
        <div class="h-center">
          <img src="{{ 'img/activities/learner/ShapeBuilder-learner-2.png' | relative_url }}" />
        </div>
      </td>
    </tr>
    <tr>
      <td>
        Area=8, Perimeter=12 
      </td>
      <td>
        Area=9, Perimeter=12 
      </td>
    </tr>
  </table>
</p>
<p>
  Their perimeters are the same but their areas are different! The Shape Builder activity allows
  you to explore these types of measurement. 
</p>
<p>
  One thing worth observing is the fact that shapes will have the same perimeter as long as they
  have these two characteristics: 
</p>
<p>
  1 - Stay within the same rectangular boundaries: 
</p>
<p>
  <table class="h-center">
    <tr>
      <td>
        <div class="h-center">
          <img src="{{ 'img/activities/learner/ShapeBuilder-learner-3.png' | relative_url }}" />
        </div>
      </td>
      <td>
        <div class="h-center">
          <img src="{{ 'img/activities/learner/ShapeBuilder-learner-4.png' | relative_url }}" />
        </div>
      </td>
    </tr>
    <tr>
      <td>
        Area=16, Perimeter=16 
      </td>
      <td>
        Area=10, Perimeter=16 
      </td>
    </tr>
  </table>
</p>
<p>
  2 - Have no "concave" sides: 
  <table class="h-center">
    <tr>
      <td>
        <div class="h-center">
          <img src="{{ 'img/activities/learner/ShapeBuilder-learner-5.png' | relative_url }}" />
        </div>
      </td>
      <td>
        <div class="h-center">
          <img src="{{ 'img/activities/learner/ShapeBuilder-learner-6.png' | relative_url }}" />
        </div>
      </td>
    </tr>
    <tr>
      <td>
        Area=15, Perimeter=16 
      </td>
      <td>
        Area=15, Perimeter=18 (Concave side) 
      </td>
    </tr>
  </table>
</p>
<p />
