<p>
  This applet allows the user to test his or her skill at calculating the area and perimeter of
  a given figure. The user is given a random figure and allowed to enter a value for the area
  and perimeter. The applet then informs the user whether or not the values are correct. The
  user may continue guessing until the answers are correct. 
</p>
<p />
<p>
  <div class="center">
    <strong>Information About the Units of Area and Perimeter</strong>
  </div>
</p>
<p>
  Area, the space within a shape, and perimeter, the distance around a shape, are usually
  expressed with units. Perimeter is given in terms of the units used to measure distance, 3
  feet or 6 meters, for example. Area is given in square units such as 16 meters 
  <sup> 2 </sup>or 9 feet 
  <sup> 2 </sup> . 
</p>
<p>
  There are two systems of units that are commonly used: standard and metric. Most of America
  uses the standard system while many other countries use the metric system. Converting standard
  units to metric units is done by multiplying by a proportionality constant. 
</p>
<p>
  Here are the tables of proportionality constants for the units of length. 
</p>
<p>
  <table class="center">
    <tr>
      <td>
        <table>
          <tr>
            <td>
              <strong> Standard</strong>
            </td>
            <td>
              <strong> to</strong>
            </td>
            <td>
              <strong> Metric</strong>
            </td>
          </tr>
          <tr>
            <td>
              1 ft 
            </td>
            <td>
              = 
            </td>
            <td>
              30.48 cm 
            </td>
          </tr>
          <tr>
            <td>
              1 in 
            </td>
            <td>
              = 
            </td>
            <td>
              25.4 mm 
            </td>
          </tr>
          <tr>
            <td>
              1 yd 
            </td>
            <td>
              = 
            </td>
            <td>
              0.914 m 
            </td>
          </tr>
          <tr>
            <td>
              1 mi. 
            </td>
            <td>
              = 
            </td>
            <td>
              1.606 km 
            </td>
          </tr>
        </table>
      </td>
      <td>
        <table>
          <tr>
            <td>
              <strong> Metric</strong>
            </td>
            <td>
              <strong> to</strong>
            </td>
            <td>
              <strong> Standard</strong>
            </td>
          </tr>
          <tr>
            <td>
              1 km 
            </td>
            <td>
              = 
            </td>
            <td>
              0.621 mi. 
            </td>
          </tr>
          <tr>
            <td>
              1 m 
            </td>
            <td>
              = 
            </td>
            <td>
              1.094 yd 
            </td>
          </tr>
          <tr>
            <td>
              1 cm 
            </td>
            <td>
              = 
            </td>
            <td>
              0.036 ft 
            </td>
          </tr>
          <tr>
            <td>
              1 mm 
            </td>
            <td>
              = 
            </td>
            <td>
              0.039 in 
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table>
          <tr>
            <td>
              <strong> Metric</strong>
            </td>
            <td>
              <strong> to</strong>
            </td>
            <td>
              <strong> Metric</strong>
            </td>
          </tr>
          <tr>
            <td>
              1 km 
            </td>
            <td>
              = 
            </td>
            <td>
              1000 m 
            </td>
          </tr>
          <tr>
            <td>
              1 m 
            </td>
            <td>
              = 
            </td>
            <td>
              100 cm 
            </td>
          </tr>
          <tr>
            <td>
              1 cm 
            </td>
            <td>
              = 
            </td>
            <td>
              10 mm 
            </td>
          </tr>
        </table>
      </td>
      <td>
        <table>
          <tr>
            <td>
              <strong> Standard</strong>
            </td>
            <td>
              <strong> to</strong>
            </td>
            <td>
              <strong> Standard</strong>
            </td>
          </tr>
          <tr>
            <td>
              1 mi. 
            </td>
            <td>
              = 
            </td>
            <td>
              1760 yd 
            </td>
          </tr>
          <tr>
            <td>
              1 yd 
            </td>
            <td>
              = 
            </td>
            <td>
              3 ft 
            </td>
          </tr>
          <tr>
            <td>
              1 ft 
            </td>
            <td>
              = 
            </td>
            <td>
              12 in 
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</p>
<p>
  So, if we were to convert 8500 feet into kilometers, it would look like this: 
</p>
<p>
  <img class="center" src="{{ 'img/activities/learner/ShapeExplorer-learner-1.png' | relative_url }}" />
</p>
<p>
  Here are the tables of proportionality constants for the units of area. 
  <br />
  <table class="center">
    <tr>
      <td>
        <table>
          <tr>
            <td>
              <strong> Metric</strong>
            </td>
            <td>
              <strong> to</strong>
            </td>
            <td>
              <strong> Standard</strong>
            </td>
          </tr>
          <tr>
            <td>
              1 m 
              <sup> 2 </sup>
            </td>
            <td>
              = 
            </td>
            <td>
              10.464 ft 
              <sup> 2 </sup>
            </td>
          </tr>
          <tr>
            <td>
              1 km 
              <sup> 2 </sup>
            </td>
            <td>
              = 
            </td>
            <td>
              0.386 mi 
              <sup> 2 </sup>
            </td>
          </tr>
          <tr>
            <td>
              1 km 
              <sup> 2 </sup>
            </td>
            <td>
              = 
            </td>
            <td>
              247.105 acre 
            </td>
          </tr>
          <tr>
            <td>
              1 cm 
              <sup> 2 </sup>
            </td>
            <td>
              = 
            </td>
            <td>
              0.155 in 
              <sup> 2 </sup>
            </td>
          </tr>
        </table>
      </td>
      <td>
        <table>
          <tr>
            <td>
              <strong> Standard</strong>
            </td>
            <td>
              <strong> to</strong>
            </td>
            <td>
              <strong> Metric</strong>
            </td>
          </tr>
          <tr>
            <td>
              1 ft 
              <sup> 2 </sup>
            </td>
            <td>
              = 
            </td>
            <td>
              0.093 m 
              <sup> 2 </sup>
            </td>
          </tr>
          <tr>
            <td>
              1 mi 
              <sup> 2 </sup>
            </td>
            <td>
              = 
            </td>
            <td>
              2.590 km 
              <sup> 2 </sup>
            </td>
          </tr>
          <tr>
            <td>
              1 acre 
            </td>
            <td>
              = 
            </td>
            <td>
              0.0040 km 
              <sup> 2 </sup>
            </td>
          </tr>
          <tr>
            <td>
              1 in 
              <sup> 2 </sup>
            </td>
            <td>
              = 
            </td>
            <td>
              6.452 cm 
              <sup> 2 </sup>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table>
          <tr>
            <td>
              <strong> Metric</strong>
            </td>
            <td>
              <strong> to</strong>
            </td>
            <td>
              <strong> Metric</strong>
            </td>
          </tr>
          <tr>
            <td>
              1 m 
              <sup> 2 </sup>
            </td>
            <td>
              = 
            </td>
            <td>
              0.000001 km 
              <sup> 2 </sup>
            </td>
          </tr>
          <tr>
            <td>
              1 km 
              <sup> 2 </sup>
            </td>
            <td>
              = 
            </td>
            <td>
              1000000 m 
              <sup> 2 </sup>
            </td>
          </tr>
          <tr>
            <td>
              1 cm 
              <sup> 2 </sup>
            </td>
            <td>
              = 
            </td>
            <td>
              0.0001 m 
              <sup> 2 </sup>
            </td>
          </tr>
          <tr>
            <td>
              1 m 
              <sup> 2 </sup>
            </td>
            <td>
              = 
            </td>
            <td>
              10000 cm 
              <sup> 2 </sup>
            </td>
          </tr>
        </table>
      </td>
      <td>
        <table>
          <tr>
            <td>
              <strong> Standard</strong>
            </td>
            <td>
              <strong> to</strong>
            </td>
            <td>
              <strong> Standard</strong>
            </td>
          </tr>
          <tr>
            <td>
              1 ft 
              <sup> 2 </sup>
            </td>
            <td>
              = 
            </td>
            <td>
              144 in 
              <sup> 2 </sup>
            </td>
          </tr>
          <tr>
            <td>
              1 mi 
              <sup> 2 </sup>
            </td>
            <td>
              = 
            </td>
            <td>
              640 acres 
            </td>
          </tr>
          <tr>
            <td>
              1 acre 
            </td>
            <td>
              = 
            </td>
            <td>
              43560 ft 
              <sup> 2 </sup>
            </td>
          </tr>
          <tr>
            <td>
              1 in 
              <sup> 2 </sup>
            </td>
            <td>
              = 
            </td>
            <td>
              9 ft 
              <sup> 2 </sup>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table> So, if we were to convert 75 feet 
  <sup>2</sup> into meteres 
  <sup>2</sup>, it would look like this: 
  <br />
  <img class="center" src="{{ 'img/activities/learner/ShapeExplorer-learner-2.png' | relative_url }}" />
</p>
