<p>
  This activity allows the user to step through the process of building the Sierpinski's Carpet.
  
</p>
<p>
  This activity is meant to show how changing the shape but using the same idea for a generator
  in a geometric fractal can yield a predictable final product. This activity should be tried
  after the 
  <a href="{{ '/activities/SierpinskiTriangle' | relative_url }}">Sierpinski's Triangle Activity</a> for comparison purposes. 
</p>
<p>
  To build the Sierpinski's Carpet, start with a square with side length 1 unit, completely
  shaded. (Iteration 0, or the initiator) 
</p>
<p>
  Divide each square into nine equal squares and cut out the middle one. (the generator) 
</p>
<p>
  Repeat this process on all shaded squares. Stage 2 is shown below. 
</p>
<p>
  <div class="h-center">
    <img src="{{ 'img/activities/learner/SierpinskiCarpet-learner-1.gif' | relative_url }}" />
  </div>
</p>
<p>
  The limiting figure for this process is called the Sierpinski's Carpet. 
</p>
