<p>
  This activity allows the user to step through the process of building the Sierpinski's
  Triangle. 
</p>
<p>
  This activity is meant to show how changing the shape but using the same idea for a generator
  in a geometric fractal can yield a predictable final product. This activity should be tried
  along with the 
  <a href="{{ '/activities/SierpinskiCarpet' | relative_url }}">Sierpinski's Carpet Activity</a> for comparison purposes. 
</p>
<p>
  To build the Sierpinski's Triangle, start with an equilateral triangle with side length 1
  unit, completely shaded. (Iteration 1, the initiator) 
</p>
<p>
  Divide each triangle into four equal triangles by finding the midpoint of each side and
  connecting the midpoints. This generates 4 equal size triangles. Then cut out the middle one. 
</p>
<p>
  Repeat this process on all shaded triangles. Stage 3 is shown below. 
</p>
<p>
  <div class="h-center">
    <img src="{{ 'img/activities/learner/SierpinskiTriangle-learner-1.png' | relative_url }}" />
  </div>
</p>
<p>
  The limiting figure for this process is called the Sierpinski's Triangle. 
</p>
