<p>
  This activity allows the user to plot points on the coordinate plane and to read the
  coordinates of a point plotted by the computer. 
</p>
<p>
  The Cartesian coordinate system was formalized by Rene Descartes in the 17th century to help
  visualize functions via plotting function values as ordered pairs. In this system a grid of
  evenly spaced horizontal and vertical lines are drawn, a center or "origin" is chosen, and
  horizontal and vertical scales are chosen. Here's an example: 
</p>
<p>
  <div class="h-center">
    <img src="{{ 'img/activities/learner/SimpleCoordinates-learner-1.gif' | relative_url }}" />
  </div>
</p>
<p>
  Notice that the horizontal and vertical scales are different, but each one considered alone is
  evenly spaced. Also, the blue point is labeled with its 
  <em>Cartesian coordinates</em>, the horizontal and vertical movement from the origin, in that order. This is the
  mathematical convention for naming points. 
</p>
<p>
  Another name for the horizontal movement value is the 
  <em>abscissa</em>, and the vertical movement is the 
  <em>ordinate</em>. These terms are more rare now than they used to be, but you might still hear them being
  used. 
</p>
