    <p>
      This applet allows users to explore right triangles and the Pythagorean Theorem. The applet
      can also be used to explore the angle measurements of triangles.
    </p>
    <p>
      Pythagoras, to whom the theorem owes its name, was a Greek philosopher and scientist. The
      theorem that he is credited with states the square of the hypotenuse is equal to the sum of
      the squares of the other two sides.
    </p>
    <p>
      In order for the user to study the relationship involved in the Pythagorean Theorem, this
      applet draws a square against each side of the triangle. As the user adjusts the length of a
      side of the triangle, the squares adjust accordingly. Descriptive information about the length
      of each side, the measure of each angle, and the area of each square is provided on the
      applet.
    </p>
