<p>
  This activity allows the user to manipulate three-dimensional 
  <a href="{{ '/dictionary/p' | relative_url }}">polyhedra</a> to experiment with surface area and volume. 
</p>
<p>
  Figures in three dimensions have length, depth (also often called width), and height, as we
  know. These three dimensions can be used to determine the volume (space taken up by) and
  surface area (sum of the areas of all of the faces or surfaces of the object). 
</p>
<p>
  Rectangular and triangular prisms are particularly easy to work with, since their faces
  (sides) are shapes that have areas and side lengths that can easily be measured. 
</p>
<p>
  This activity uses the following dimensions for rectangular prisms: 
</p>
<p>
  <div class="center">
    <img src="{{ 'img/activities/learner/SurfaceAreaAndVolume-learner-1.png' | relative_url }}" />
  </div>
</p>
<p>
  Width - When increased the rectangular prism will expand left and right so that it is wider. 
</p>
<p>
  <div class="center">
    <img src="{{ 'img/activities/learner/SurfaceAreaAndVolume-learner-2.png' | relative_url }}" />
  </div>
</p>
<p>
  Depth - When increased the rectangular prism will expand in deepness so that it looks like it
  is more 3D. 
</p>
<p>
  <div class="center">
    <img src="{{ 'img/activities/learner/SurfaceAreaAndVolume-learner-3.png' | relative_url }}" />
  </div>
</p>
<p>
  Height - When increased the rectangular prism will expand in length up and down so that it
  will become taller. 
</p>
<p>
  <div class="center">
    <img src="{{ 'img/activities/learner/SurfaceAreaAndVolume-learner-4.png' | relative_url }}" />
  </div>
</p>
<p>
  This activity uses the following dimensions for triangular prisms: 
</p>
<p>
  <div class="center">
    <img src="{{ 'img/activities/learner/SurfaceAreaAndVolume-learner-5.png' | relative_url }}" />
  </div>
</p>
<p>
  Base Width - When increased the triangular prism's rectangular base will expand left and right
  so that it is wider. 
</p>
<p>
  <div class="center">
    <img src="{{ 'img/activities/learner/SurfaceAreaAndVolume-learner-6.png' | relative_url }}" />
  </div>
</p>
<p>
  Prism Height - When increased the rectangular sections of the triangular prism will expand in
  length so that the prism appears taller. 
</p>
<p>
  <div class="center">
    <img src="{{ 'img/activities/learner/SurfaceAreaAndVolume-learner-7.png' | relative_url }}" />
  </div>
</p>
<p>
  Base Depth - When increased the distance between the base of the triangle and the apex (peak
  of the triangle) will expand so that the triangle height increases. 
</p>
<p>
  <div class="center">
    <img src="{{ 'img/activities/learner/SurfaceAreaAndVolume-learner-8.png' | relative_url }}" />
  </div>
</p>
<p />
