<p>
  This activity allows the user to investigate the Mandelbrot set associated with functions 
  <div class="h-center">
    <pre>
      f(Z) = Z^2 + C.
    </pre>
  </div>
</p> 
<p>
  To understand the Mandelbrot set -- the world's most famous fractal -- we need to use the fact
  that Julia sets for a particular C in the function above are either fractal dust or are one
  connected piece. 
</p>
<p>
  For C=(.5,.5) we get the fractal dust Julia set: 
</p>
<p>
  <div class="h-center">
    <img src="{{ 'img/activities/learner/TheMandelbrotSet-learner-1.gif' | relative_url }}" />
  </div>
</p>
<p>
  Here's one with connected Julia set; C = (0,0). 
</p>
<p>
  <div class="h-center">
    <img src="{{ 'img/activities/learner/TheMandelbrotSet-learner-2.gif' | relative_url }}" />
  </div>
</p>
<p>
  Mandelbrot came up with the idea of plotting the Cs with connected Julia sets, and found that
  the boundary was very interesting -- and Fractal! 
</p>
<p>
  <div class="h-center">
    <img src="{{ 'img/activities/learner/TheMandelbrotSet-learner-3.gif' | relative_url }}" />
  </div>
</p>
<p>
  The black points are the Cs with connected Julia sets, and the colored points are Cs with
  fractal dust Julia sets. Mandelbrot proved that a person could tell if the Julia set would be
  fractal dust or not depending on whether the starting point (0,0) was a prisoner (connected)
  or escapee (dust). So the colors come from how quickly the starting point (0,0) orbit gets out
  of the circle of radius 2. 
</p>
