  <p>
Venn Diagrams were first developed by John Venn in the 1880's. They are useful for illustrating
the relationships between sets. Each set is illustrated by a circle. When two circles overlap,
this shows an intersection of the two sets. For more practice with one or two set Venn Diagrams,
students may use the 
<a href="{{ '/activities/ShapeSorter' | relative_url }}">Venn Diagram Shape Sorter</a>. When working with three sets, three circles are needed to illustrate all possible
relationships among the sets. John Venn and other mathematicians have presented complicated
diagrams for sets greater than three. Diagrams with one, two, or three circles are the most
common. If we want to consider how the sets of positive integers, even integers, and multiples
of 3 are related to one another, we could draw the following picture: 
<img class="h-center" src="{{ 'img/activities/learner/TripleVennDiagram-learner-1.png' | relative_url }}" which="medium" />
  </p>
  <p>
The positions of the three circles tell us information about what each set includes. The set
labeled 
<em>Even</em> is partially inside of the set of 
<em>Positive Integers</em> because 
<em>Positive Integers</em> includes some 
<em>Even</em>, such as 8 or 26; however, 
<em>Positive Integers</em> also includes many numbers that are not even, such as 13 or 9,174,823, so part of the set 
<em>Positive Integers</em> is outside the set of 
<em>Even</em>. Likewise, 
<em>Even</em> includes many numbers that are not 
<em>Positive Integers</em>, such as -4 and -192, so part of the set 
<em>Even</em> is outside of the set 
<em>Positive Integers</em>. 
  </p>
  <p>
The set labeled 
<em>Multiples of 3</em> also intersects with the set 
<em>Positive Integers</em> because 
<em>Positive Integers</em> includes many 
<em>Multiples of 3</em>, such as 9 or 27; however, 
<em>Positive Integers</em> also includes many numbers that are not 
<em>Multiples of 3</em>, such as 1 or 17, so part of the set of 
<em>Positive Integers</em> is outside of the set 
<em>Multiples of 3</em>. Likewise, there are numbers which are 
<em>Multiples of 3</em> that are not contained within the set 
<em>Positive Integers</em>, such as -6 or -87,630, so part of the set 
<em>Multiples of 3</em> is outside of the set 
<em>Positive Integers</em>. 
  </p>
  <p>
The sets labeled 
<em>Even</em> and 
<em>Multiples of 3</em> intersect because some 
<em>Even</em> are 
<em>Multiples of 3</em>, and vice versa. A number like -6 would go in the intersection between 
<em>Even</em> and 
<em>Multiples of 3</em> because it is both even and divisible by 3. 
  </p>
  <p>
All three areas intersect in the center of the diagram. This area holds all numbers that are (a)
Even, (b) Divisible by 3, and (c) Positive, such as 6 or 12. 
  </p>
  <p>
Finally, outside of all the circles lies everything else. This space technically includes the
universe and everything in it, from numbers not contained in any category (-5, -19) to imaginary
numbers (3 
<em>i</em> ) and even non-numerical sets of data (letters, song titles, etc). Anything that is not an
integer that is positive, even, and/or divisible by 3 is considered to lie outside of the Venn
Diagram. 
  </p>
  <p>
The following table gives examples of numbers that would go in each of the categories. The color
of the number corresponds to that category's color in the Venn Diagram. 
  </p>
  <p>
<img src="{{ 'img/activities/learner/TripleVennDiagram-learner-3.png' | relative_url }}" class="h-center" />
  </p> 

