<p>
  This activity allows the user to simulate pulling red and green balls out of three boxes. The
  boxes are pre-arranged so that there are two red balls in one box, two green balls in another,
  and one green and one red ball in the third. The user can shuffle the order of the boxes and
  the order of the balls in the boxes. 
</p>
<p>
  To run in single trial mode, click on one of the boxes to see if the first ball is green. If
  it is, click on the box again to see if the second ball is green also. A count will be kept of
  the results. To run in multiple trial mode, enter the number of trials desired in the box and
  click on the run multiple trials button. 
</p>
<p>
  This applet allows the user to manipulate the number of trials to experiment with dependent
  event probability (also know as conditional probability). Dependent event probability is the
  chance that an outcome will occur if the first condition is met. To figure out the probability
  of the event occurring you must consider what effect the first event has on the second. In
  this applet the condition is that the first ball must be green. You can compare the number of
  times the first ball is green and the number of times both are green to figure out the
  conditional probability. 
</p>
<p>
  Probability began in the middle of the seventeenth century by a man named Pascal. One day a
  man proposed a question about gambling. His question was "If I play a game that I have eight
  rolls to roll a six and I fail the first three times, how much of my bet should I get back?"
  The game involved chance just as most of games do now, such as Monopoly and card games. Las
  Vegas is a city that is dominated by people that have invested in this field of mathematics.
  Today, probability has found its way into the fields of science, medicine, and statistics. 
</p>
