<p>
  Venn Diagrams were first developed by John Venn in the 1880s. They are useful for illustrating
  the relationships between sets. For example if we want to represent the set of all counting
  numbers, and illustrate how even numbers and multiples of 3 are related, we could draw the
  following picture: 
</p>
<p>
  <div class="h-center">
    <img src="{{ 'img/activities/learner/VennDiagrams-learner-1.jpg' | relative_url }}" />
  </div>
</p>
<p>
  See how the circles overlap but not completely -- why? Because 6 is both even and a multiple
  of 3, but there are many numbers that are even and not multiples of 3 and vice versa. Numbers
  which are in both sets would be located in the little red sliver where the circles overlap. 
</p>
