<p>
  This activity allows the user to explore simple 
  <a href="{{ '/dictionary/l' | relative_url }}">linear functions</a> involving whole numbers; the function is determined by looking for patterns in the outputs.
  Whole Number Cruncher records each input and output in a window. The functions available for
  exploration in the function machine activity have one of the following forms: 
</p>
<p>
  <div class="center">
    <pre>
    y = x * __ 
   y = x + __
    </pre>
  </div>
</p>
<p>
  The notion of a function is important in higher mathematics such as calculus and in areas
  which use mathematics such as physics. Any rule that assigns exactly one output to an input or
  list of inputs can be called a function. 
</p>
<p>
  Here are a few examples: 
</p>
<p>
  <ul>
    <li>
      Input the number of seconds after the starting gun in a race to get an output of the
      number of meters the runner has covered. 
      <div class="center">
        <table class="center">
          <tr>
            <td>
              seconds 
            </td>
            <td>
              3 
            </td>
            <td>
              5 
            </td>
            <td>
              0 
            </td>
          </tr>
          <tr>
            <td>
              meters 
            </td>
            <td>
              8 
            </td>
            <td>
              10 
            </td>
            <td>
              0 
            </td>
          </tr>
        </table>
      </div>
    </li>
    <li>
      y = 6*x, where x is the place holder (also called a variable) for the input and y is the
      place holder for the output. 
      <div class="center">
        <table class="center">
          <tr>
            <td>
              x 
            </td>
            <td>
              3 
            </td>
            <td>
              5 
            </td>
            <td>
              0 
            </td>
          </tr>
          <tr>
            <td>
              y 
            </td>
            <td>
              18 
            </td>
            <td>
              30 
            </td>
            <td>
              0 
            </td>
          </tr>
        </table>
      </div>
    </li>
    <li>
      The rule about only one output each time is crucial and must not be violated. For example,
      the table below cannot represent a function because 3 has two different outputs: 
      <br />
      <div class="center">
        <table class="center">
          <tr>
            <td>
              input 
            </td>
            <td>
              3 
            </td>
            <td>
              2 
            </td>
            <td>
              0 
            </td>
            <td>
              3 
            </td>
          </tr>
          <tr>
            <td>
              output 
            </td>
            <td>
              4 
            </td>
            <td>
              1 
            </td>
            <td>
              2 
            </td>
            <td>
              3 
            </td>
          </tr>
        </table>
        <strong>NOT A FUNCTION</strong>
      </div>
    </li>
  </ul>
</p>
