{% assign item = include.catalog-item %}
{% assign href = item.url | relative_url %}
<div class="left-column">
  {% if include.img-url %}
  <div>
    <a href="{{ href }}"><img src="{{ img-url | relative_url }}"
      alt="Screenshot of {{ item.title }}" width="152"/></a>
  </div>
  {% endif %}
  <div>
    <a href="{{ href }}">{{ item.title }}</a>
  </div>
</div>
<div class="right-column">
  <p class="description">
    {{ item.description }}
  </p>
  {% if categories-label != "audience" %}
  {% include catalog-item-tags.html name="Audiences" list=item.audiences %}
  {% endif %}
  {% if categories-label != "subject" %}
  {% include catalog-item-tags.html name="Primary Subjects" list=item.subjects %}
  {% endif %}
  {% include catalog-item-tags.html name="Related Topics" list=item.topics %}
</div>
