---
title: Activities
---
<!DOCTYPE html>
<html>
  <head>
    {% include head.html title=page.title %}
    <link rel="stylesheet" href="{{ '/css/activities.css' | relative_url }}">
    <script src="{{ '/js/activities.js' | relative_url }}"></script>
  </head>
  <body>
    {% include header.html title=page.title %}
    <main>
      <nav id="subjects-nav" aria-label="Subjects">
        {% for subject in site.data.subjects %}
        <a href="javascript:selectSubject('{{ subject }}');"/>{{ subject }}</a>
        &nbsp;&bull;&nbsp;
        {% endfor %}
        <a class="bold" href="javascript:selectSubject('all');"/>Show All</a>
      </nav>
      {% for subject in site.data.subjects %}
      <section id="subject-section-{{ subject }}" class="subject-section">
        {% assign activities-in-subject = site.activities | where: "subjects", subject %}
        <h2>{{ subject }} ({{ activities-in-subject | size }})</h2>
        {% for activity in activities-in-subject %}
        <section class="activity-section">
          {% assign activity-href = '/activities/' | append: activity.short-name | relative_url %}
          <div class="activity-links">
            <div>
              <a href="{{ activity-href }}"><img src="{{ 'images/activities/' | append: activity.short-name | append: '.gif' | relative_url }}" alt="Screenshot of {{ activity.name }} activity" width="152"/></a>
            </div>
            <div>
              <a href="{{ activity-href }}">{{ activity.name }}</a>
            </div>
          </div>
          <div class="activity-description-and-topics">
            <p>
              {{ activity.description }}
            </p>
            <p class="activity-topics">
              <em><strong>Related Topics:</strong>
              {{ activity.topics | join: ", " }}
              </em>
            </p>
          </div>
        </section>
        {% endfor %}
      </section>
      {% endfor %}
    </main>
    {% include footer.html %}
  </body>
</html>
