<p>
  If only one computer is available for the classroom, this lesson can be rearranged in the
  following way:
  <ul>
    <li>
      The teacher may do this activity as a demonstration. Choose the version (one circle, etc.) and
      allow students to decide individually, or in groups, which object to move onto the diagram and
      where to move it.
    </li>
    <li>
      As a class, construct a box plot of the results of each algorithm. Then discuss conclusions
      they can draw from their results.
    </li>
  </ul>
</p>
