<p>
  This lesson can be rearranged in several ways if you have limited computer access:
  <ul>
    <li>
      Lead the
      <a href="{{ '/discussions/Angles' | relative_url }}">discussion about angles</a>, and then have groups of students take turns using the
      <a href="{{ '/activities/Angles' | relative_url }}">Angles</a> activity.
    </li>
    <li>
      Print out a
      <a href="{{ '/media/worksheets/Sample_Set_of_Angles' | relative_url }}">sample set of angles</a>, and have that be the one students use to complete the
      <a href="{{ '/media/worksheets/206.pdf' | relative_url }}">Angles Worksheet</a>.
    </li>
  </ul>
</p>
