<p>
  This lesson can be rearranged in several ways if there is only one available computer:
  <ul>
    <li>
      Have all students pull out a sheet of paper. Have the computer generate a set number of shapes
      and have them record on their paper the area (you record it as well). When you are done, take
      up the papers and check them. The person with the most correct answers gets a reward of some
      type and the rest of the class gets a participation grade. That way everyone tries.
    </li>
  </ul>
</p>
