<p>
  This lesson can be rearranged in several ways:
</p>
<ul>
  <li>
    Instead of having the students research their chosen items, provide the class with a list of
    things with heights already found. Have the students select 4 things from that list to compare.
    This will take less time since the research aspect will not exist.
  </li>
  <li>
    Have the students compare only things that are really large or things that are really small.
    This will provide their assignment with more structure and reduce trouble with conversions.
  </li>
</ul>
