<p>
  This lesson can be rearranged in several ways.
  <ul>
    <li>
      Omit one or the other of the computer activities to reduce the amount of time spent.
    </li>
    <li>
      Add a discussion about fractional movement on the coordinate plane.
    </li>
    <li>
      For students who aren't ready to handle negative numbers yet, replace the Coordinates activity
      with the positive numbers only alternate versions:
      <ul>
        <li>
          <a href="{{ '/activities/SimpleCoordinates' | relative_url }}">Simple Coordinates!</a>
        </li>
        <li>
          <a href="{{ '/media/worksheets/379.pdf' | relative_url }}">Coordinates worksheet</a>
        </li>
        <li>
          <a href="{{ '/activities/SimpleMazeGame' | relative_url }}">Simple Maze Game</a>
        </li>
        <li>
          <a href="{{ '/media/worksheets/18.pdf' | relative_url }}">Maze Game Worksheet</a>
        </li>
      </ul>
    </li>
  </ul>
</p>
