<p>
  This lesson can be rearranged in several ways.
  <ul>
    <li>
      Reduce the number of activities; for example, use only the
      <a href="{{ '/activities/ABetterFire' | relative_url }}">Better Fire!</a> and
      <a href="{{ '/activities/Life' | relative_url }}">Game of Life</a> activities to give the classic examples of simulations with chaotic behavior.
    </li>
    <li>
      Add the additional activity using the
      <a href="{{ '/activities/FlakeMaker' | relative_url }}">Flake Maker</a> activity with the following three starting shapes:
      <div class="h-center">
        <img src="{{ 'img/image231.gif' | relative_url }}" />
      </div>
    </li>
    <li>
      Use the results of these three generators as an analogy for how small changes in structure
      cause large changes in cell growth in biology.
    </li>
  </ul>
</p>
