<p>
 		This lesson can be rearranged in several ways if there is only one available computer:</p><p>
 		<ul><li>Have students complete paper worksheets of problems with fractions on a number line and use <a href="{{ '/activities/FractionFinder' | relative_url }}">Fraction Finder</a>  as a reward for two students at a time who have shown proficiency in solving the problems on paper.</li>
 		<li>Alternatively, select students who need additional practice to use the game. Teams of one strong student and one who needs help work well with this activity.</li></ul>
 	</p>
