<p>
  This lesson can be rearranged in several ways.
</p>
<p>
  <ul>
    <li>
      Include the
      <a href="{{ '/activities/SimpleMontyHall' | relative_url }}">Monty Hall</a> problem to further clarify conditional probability. Each student or group of students can try
      to solve the problem and explain the solution. Then they can run the experiments on computers
      or by hand (in the latter case, recording the results in the
      <a href="{{ '/media/worksheets/196.pdf' | relative_url }}">Table</a>), comparing experimental data with their solutions. Groups of students can discuss why their
      theoretical answers agree or do not agree with the data.
    </li>
    <li>
      Use the
      <a href="{{ '/discussions/ThinkAndCheck' | relative_url }}">Think and Check!</a> discussion to help students understand the explanation of the Monty Hall problem and the Two
      Colors Game.
    </li>
    <li>
      Combine this lesson with the
      <a href="{{ '/lessons/UnexpectedAnswers' | relative_url }}">Unexpected Answers</a> lesson.
    </li>
    <li>
      Or choose fewer of the activities to cover; for example, use only the
      <a href="{{ '/activities/RacingGameWithOneDie' | relative_url }}">Racing Game with One Die</a> and the
      <a href="{{ '/discussions/ConditionalProb' | relative_url }}">Conditional Probability</a> discussion and make the focus conditional probability only. Use the
      <a href="{{ '/discussions/ProbabilityOfSimulta' | relative_url }}">Probability of Simultaneous Events</a> discussion somewhere else in the Probability unit.
    </li>
    <li>
      Have students come up with their own version of the
      <a href="{{ '/activities/TwoColors' | relative_url }}">Two Colors</a> game, and present their game and probability results to the class.
    </li>
  </ul>
</p>
