<p>
  If only one computer is available for the classroom, this lesson can be rearranged in the
  following way:
  <ul>
    <li>
      Project the
      <a href="{{ '/activities/RabbitsAndWolves' | relative_url }}">Rabbits and Wolves applet</a> for the whole class to see.
    </li>
    <li>
      Have students work in pairs to complete the
      <a href="{{ '/media/worksheets/Emerging_Patterns_Worksheet' | relative_url }}">worksheet</a> as you run the simulation for the whole class to observe.
    </li>
    <li>
      Be sure to have the students observe multiple trials of the simulation in order to draw
      accurate conclusions.
    </li>
  </ul>
</p>
