<p>
  This lesson can be rearranged in the following ways:
</p>
<p>
  <ul>
    <li>
      Have students first attempt to estimate burn percentage without algorithms, and then introduce
      the Divide-and-Conquer, Block Sampling, and Subset-Whole methods of estimation.
    </li>
    <li>
      Give students examples of various real-life situations (such as election results, road
      lengths, grains of sand, etc) where estimation might be used, and ask students to identify
      which type of estimation and what degree of accuracy is needed in each situation.
    </li>
  </ul>
</p>
