<p>
 		This lesson can be rearranged in several ways if there is only one available computer:
 		<ul>
 		<li>This lesson can be rearranged in several ways if there is only one available computer: Have students complete paper worksheets that ask them to find the factors of certain numbers and use <a href="{{ '/activities/Factorize' | relative_url }}">Factorize</a>  as a reward for two students at a time who have shown proficiency in solving the problems on paper.</li>
 		<li>Alternatively, select students who need additional practice to use the game. Teams of one strong student and one who needs help work well with this activity.</li>
 		</ul>
 	</p>
