<p>
  This lesson can be rearranged in the following way:
  <ul>
    <li>
      Have the students do their own simulation:
      <ul>
        <li>
          Pair students and give each pair a die and a piece of grid paper. Have them outline two 5
          x 5 grids and draw an X in the center square.
        </li>
        <li>
          Tell the students they will be doing a paper simulation similar to the simulation that you
          showed on the computer. This time though they will only use a 5 x 5 grid to work (as
          opposed to a 17 x 17 grid) and they should use a probability of 50%.
        </li>
        <li>
          Demonstrate on the board or overhead how the paper simulation should work by drawing a 5 x
          5 grid with an X in the center. You may wish to discuss how you could use the die to
          simulate a 50% probability of burn.
        </li>
        <li>
          Place a small dot in the square above the X denoting this is the square you are testing to
          see if it catches or not. Roll the die to determine if it catches. If it does, mark it
          through with an X and if it does not, erase the dot. Repeat the other squares beside the
          X. Work through the entire example on the board making sure all students understand how
          the simulation works.
        </li>
        <li>
          Calculate the percent of the forest burned.
        </li>
        <li>
          Be sure to point out that it is only the trees above, below, left and right of a burning
          tree they should test.
        </li>
        <li>
          When students are finished, list the results of each trial on the board.
        </li>
      </ul>
    </li>
    <li>
      Demonstrate how this is the same as the applet by having one student demonstrate the applet
      for the rest of the class. If you run multiple experiments, you can have multiple students
      demonstrate.
    </li>
    <li>
      Use this to gather data as a class, then use the discussion questions to close the lesson.
    </li>
  </ul>
</p>
