<p>
  		This lesson can be rearranged in several ways.
  		<ul>
  		<li>Have students draw out a graph as a hypothesis to predict the behavior of the overall system.</li>
  		<li>For a more advanced lesson, have students study the variance at each tested probability. Which probability yields the largest variance? For probabilities with high variance is the mean a good expression of the data? Help the students express these highly variable values as uncertainty i.e. 40% +/- 30%.</li>
  		<li>How does the resulting graph change if the location where the fire is started changes?</li>
  		</ul>
  	</p>
