<p>
  		<ul>
  		<li>For the more advanced students you may want to have the students challenge each other by setting the boundary fractions using the <a href="{{ '/activities/BoundFractionFinder' | relative_url }}">Bounded Fraction Finder</a>  applet.</li>
  		<li>For the students who may not be able to answer the questions provided by the <a href="{{ '/activities/FractionFinder' | relative_url }}">Fraction Finder</a> applet you may want to have them use the Bounded Fraction Finder applet, so that the lower end students can set their own bounding fractions. For example: 1/4 and 3/4.</li>
  		<li>You may want to extend this lesson over several days in order to slow its pace.</li>
  		</ul>
  	</p>
