<p>
  This lesson can be rearranged in several ways if there is only one available computer:
</p>
<p>
  <ul>
    <li>
      Have students complete paper worksheets of problems with fractions and use
      <a href="{{ '/activities/FractionFour' | relative_url }}">Fraction Four</a> as a reward for two students at a time who have showed proficiency in solving the problems on
      paper.
    </li>
    <li>
      Alternatively, select students who need additional practice to use the game. Teams of one
      strong student and one who needs help work well with this activity so that the more advanced
      student can help the other student with difficult problems.
    </li>
  </ul>
</p>
