<p>
  This lesson can be rearranged in several ways.
</p>
<p>
  <ul>
    <li>
      Combine just the triangle version of these activities with those in the
      <a href="{{ '/lessons/GeometricFractals' | relative_url }}">Geometric Fractals</a> lesson to give a simple introduction to the Sierpinski triangle and fractals.
    </li>
    <li>
      Combine the triangle version of this activity with the
      <a href="{{ '/lessons/GeometricFractals' | relative_url }}">Geometric Fractals</a> and
      <a href="{{ '/lessons/PascalTriangle' | relative_url }}">Pascal's Triangle</a> lessons to give a comprehensive introduction to the Sierpinski triangle by examining three
      separate ways in which this figure can be generated.
    </li>
    <li>
      If connected to the internet, use the enhanced version of the software,
      <link href="http://www.shodor.org/MASTER/fractal/software/Sierpinski.html">Sierpinski Gasket Maker</a> , to explore generalizations to the Sierpinski shapes in which the user can specify both a
      movement probability and a rotation.
    </li>
  </ul>
</p>
