<p>
  This lesson can be rearranged in several ways if there is only one available computer:
</p>
<p>
  <ul>
    <li>
      You can model all the parts of the lesson for the students, asking them to complete the data
      table with you as a class.
    </li>
    <li>
      Model the
      <a href="{{ '/media/worksheets/172.pdf' | relative_url }}">connect the dots</a> activity to the whole class on the computer using the Tessellate activity, a screen capture
      utility and a drawing program, but then distribute the
      <a href="{{ '/media/worksheets/177.pdf' | relative_url }}">Tessellations on Paper Worksheet</a> to each student to complete individually.
    </li>
  </ul>
</p>
