<p>
  This lesson can be rearranged in several ways.
  <ul>
    <li>
      Replace all Graph Sketcher activities with graphing calculator activities. Note: Depending on
      the graphing calculator, you might have to spend some additional time discussing setting the
      window ranges.
    </li>
    <li>
      Replace all Graph Sketcher activities with Simple Plot activities.
      <a href="{{ '/activities/SimplePlot' | relative_url }}">Simple Plot</a> is a point plotting activity, which requires that the students create tables of values for
      the functions before plotting.
    </li>
    <li>
      Limit investigations to functions with one operation as in the
      <a href="{{ '/lessons/IntroductionFunction' | relative_url }}">Function Machine</a> lesson and/or to linear functions as in the
      <a href="{{ '/lessons/IntroLinearFunction' | relative_url }}">Linear Functions</a> lesson .
    </li>
  </ul>
</p>
