<p>
  This lesson can be rearranged in several ways.
  <ul>
    <li>
      Instead of initiating class discussions, have the students read the discussions independently,
      and then see how well they understood by having them complete the sample problems worksheets
      that accompany each discussion.
    </li>
    <li>
      For further investigation into the representation of data, and to practice working with
      fractions and decimals, students can work with
      <a href="{{ '/media/worksheets/180.pdf' | relative_url }}">Sample Problems on Data Abuse</a>.
    </li>
  </ul>
</p>
