<p>
  This lesson can be rearranged in several ways.
  <ul>
    <li>
      If computers are not available, after describing the game as it is in
      <a href="{{ '/activities/RacingGameWithOneDie' | relative_url }}">The Racing Game with One Die</a> students can use dice or spinners and a printed copy of
      <a href="{{ '/media/worksheets/193.pdf' | relative_url }}">The Racing Game Field</a> to record their moves.
    </li>
    <li>
      To go into more depth, use the
      <a href="{{ '/activities/RacingGameWithOneDie' | relative_url }}">The Racing Game with One Die</a> activity to show that multiple steps increase whatever advantage a player has of winning, and
      then lead a discussion about the
      <a href="{{ '/discussions/ProbabilityOfSimulta' | relative_url }}">Probability of simultaneous events</a> to reinforce the idea.
    </li>
    <li>
      If not used earlier, use the
      <a href="{{ '/discussions/ProbabilityVsStatis' | relative_url }}">Probability vs. Statistics</a> discussion to demonstrate the difference between these two concepts.
    </li>
    <li>
      Combine this lesson with the
      <a href="{{ '/lessons/IntroProbability' | relative_url }}">Introduction to the Concept of Probability</a> lesson to give students an understanding of outcomes, events, and set operations along with
      the concepts of randomness and fair choice that are part of this lesson.
    </li>
  </ul>
</p>
