<p>
  This lesson can be rearranged in several ways.
</p>
<p>
  <ul>
    <li>
      This lesson can be extended to include not only impossible graphs, but also non-function
      graphs (those that do not pass the vertical line test).
    </li>
    <li>
      This lesson can be extended to include having each team of students discuss a situation in
      which the impossible graph could be possible. This is a good place to discuss how time is not
      the only possible independent variable.
    </li>
  </ul>
</p>
