<p>
  This lesson can be rearranged in several ways.
</p>
<p>
  <ul>
    <li>
      Choose fewer of the activities to cover; for example, covering Cantor's comb, the Hilbert
      curve and the Koch snowflake still allows for discussion of infinity, self-similarity and
      recursion.
    </li>
    <li>
      Have different groups of students do different activities and give group presentations.
    </li>
    <li>
      Leave out one or more of the concept discussions and focus on pattern recognition and
      fractions.
    </li>
    <li>
      Have the students draw several steps of each of the activities by hand before trying the
      computerized version. Graph paper and rulers would be needed for this. Plan on an additional
      10-15 minutes per activity.
    </li>
    <li>
      Combine this lesson with the
      <a href="{{ '/lessons/GeometricFractals' | relative_url }}">Geometric Fractals</a> lesson, to give the students a well rounded picture of regular fractals, including a formal
      definition.
    </li>
    <li>
      If connected to the internet, use the enhanced version of the software,
      <a href="http://www.shodor.org/MASTER/fractal/software/Snowflake.html">Snowflake</a>, to explore line deformation fractals more fully.
    </li>
  </ul>
</p>
