<p>
  Groups of students may take turns creating a quadrilateral and proving that it has the
  characteristics necessary to define that shape.
  <ul>
    <li>
      Assign each group a different quadrilateral. Let the groups take turns using the computer to
      create the quadrilateral and take note of the information.
    </li>
    <li>
      When each group has finished, allow the groups an opportunity to teach the class what they
      found and how they proved that the necessary characteristics were present.
    </li>
  </ul>The class may work together as a whole to create the quadrilaterals suggested on the worksheet.
  <ul>
    <li>
      Students may direct the instructor's movements and suggest calculations that need to be done
      before the class.
    </li>
    <li>
      <strong>OR</strong> Students may take turns using the demonstration computer to modify the quadrilateral. The
      whole class can make the necessary calculations and then check them with a partner.
    </li>
  </ul>
</p>
