<p>
  This lesson can be rearranged in several ways.
  <ul>
    <li>
      Combine this lesson with the
      <a href="{{ '/lessons/IdeasLeadProbability' | relative_url }}">Ideas that Lead to Probability</a> lesson to give students an understanding of randomness and fair choice along with the
      concepts introduced here in one single lesson
    </li>
    <li>
      Have the students first try playing the
      <a href="{{ '/activities/CrazyChoicesGame' | relative_url }}">Crazy Choices Game</a> using random number generators and recording their data on the
      <a href="{{ '/media/worksheets/181.pdf' | relative_url }}">Crazy Choices Game Tally Table</a> and then show them how quickly the computer can run the experiments for them. Point out how
      the more times the game is run, the closer the results get to the theoretical probability
    </li>
    <li>
      Encourage the students to use colored pencils or pens to illustrate the solutions to the
      <a href="{{ '/media/worksheets/183.pdf' | relative_url }}">Sample Problems on Set Operations</a>
    </li>
    <li>
      If not used earlier, use the
      <a href="{{ '/discussions/ProbabilityVsStatis' | relative_url }}">Probability vs. Statistics</a> discussion to demonstrate the difference between these two concepts.
    </li>
  </ul>
</p>
