<p>
  <ul>
    <li>
      Omit the information on more complicated functions, discussing only functions of the form y =
      mx + b.
    </li>
    <li>
      Add a "name that function" contest (modeled on name that tune) in which teams of students
      compete to figure out the function. Here is a set of possible rules for such a game:
      <ul>
        <li>
          Show two input/output pairs to both teams - two students on a team works very well.
        </li>
        <li>
          Have each team state how many more pairs they think that they would need to see to "name
          that function." The team who claims the fewest needed pairs goes first.
        </li>
        <li>
          If a team guesses wrong the other team gets to try, after seeing one more pair. Teams
          alternate turns until one guesses correctly.
        </li>
      </ul>
    </li>
    <li>
      Introduce more complicated non-linear functions by allowing exponentiation (whole numbers to
      start) and division by x.
    </li>
  </ul>
</p>
