<p>
  This lesson can be rearranged in several ways.
  <ul>
    <li>
      Do only one activity -- the flake maker makes more interesting fractal pictures.
    </li>
    <li>
      Add the additional task of trying to build an image that looks like an actual object with
      flake maker. Some suggestions: mountain ranges, ocean waves, flowers, animals.
    </li>
    <li>
      Have a contest in which the students are asked to find the most interesting image, with a
      panel of teachers or the entire class being the judge. (Have the students print out their
      images so that a display can be set up.)
    </li>
    <li>
      If connected to the internet, use the enhanced version of the software,
      <a href="http://shodor.org/master/fractal/software/Snowflake.html">Snowflake</a>, to explore line deformation fractals more fully.
    </li>
  </ul>
</p>
