<p>
  This lesson can be rearranged in several ways if there is only one available computer:
</p>
<p>
  <ul>
    <li>
      As this is an introductory lesson, students do not need to use computers. However, if there is
      time, groups of students could read the
      <a href="{{ '/discussions/LinesRaysLineSegment' | relative_url }}">discussion</a> before beginning the line drawing activity. This would give more time during one class period
      for students to complete the hands-on part of the lesson.
    </li>
  </ul>
</p>
