<p>
  This lesson can be rearranged in several ways.
  <ul>
    <li>
      omit the discussion of the correlation coefficient
    </li>
    <li>
      omit the scatter plot worksheet
    </li>
    <li>
      As a class, before splitting them into groups, have the students plot specific points on the
      <a href="{{ '/activities/Regression' | relative_url }}">Regression</a> activity and have each of them draw the line of best fit that they imagine. Then, have them
      select the
      <em> true line of best fit</em> and see who had the closest estimation.
    </li>
  </ul>
</p>
