<p>
  This lesson can be rearranged in several ways.
  <ul>
    <li>
      You may choose to allow students to work in cooperative groups to make predictions about the
      effects of multiplying two particular numbers together and then check them as a class.
    </li>
    <li>
      If only one computer is available, students can graph the "input" and "output" by hand to
      discover the pattern. Students who need additional help can use The Sequencer to help them
      visualize the pattern.
    </li>
  </ul>
</p>
