<p>
  This lesson can be modified if there is only one available computer:
  <ul>
    <li>
      Walk through the three discussions --
      <a href="{{ '/discussions/WhatAreMultiples' | relative_url }}">Multiples and Integer Multiplication</a>,
      <a href="{{ '/discussions/WhatAreRemainders' | relative_url }}"> Remainders and Euclidean division</a>, and / or
      <a href="{{ '/discussions/PascalTriangle' | relative_url }}">Pascal's Triangle</a>.
    </li>
    <li>
      Have the students try coloring by hand, using copies of the
      <a href="{{ '/media/worksheets/186.pdf' | relative_url }}">paper version</a> of Pascal's triangle.
    </li>
    <li>
      Use the computer activities --
      <a href="{{ '/activities/ColoringMultiples' | relative_url }}">Coloring Multiples</a> and
      <a href="{{ '/activities/ColoringRemainder' | relative_url }}">Coloring Remainders</a> -- in demo mode to have the students check their answers. For example, students could be
      called to the front to check their colorings by bringing their sheet to the demo computer and
      entering their coloring.
    </li>
  </ul>
</p>
