<p>
  <ul>
    <li>
      If there is only one computer available have all students pull out a sheet of graph paper and
      give them each of the 5 areas. See how many different shapes they can generate at the given
      areas on their papers. Collect different ideas on the board for the conclusion.
    </li>
    <li>
      You may wish to use one or more of the data collection tools in the conclusion of the lesson:
      <a href="{{ '/activities/BoxPlot' | relative_url }}">Boxplot</a> or
      <a href="{{ '/activities/SimplePlot' | relative_url }}">Simple plot</a> to graph the data. (Be sure to read the "how" pages on each of these activities for
      instructions on plotting more than one data set for each of the set areas.)
    </li>
  </ul>
</p>
