<p>
  If time is a constraint, this lesson can be truncated by removing the exploration part of the
  activity.
  <ul>
    <li>
      Start the lesson the same way, by having the students sketch one graph by hand and check it on
      the computer.
    </li>
    <li>
      Then introduce the other types of graphs they can attain with trigonometric functions, i.e.
      cardioids and limacons, as well as the equations that will give them these graphs.
    </li>
    <li>
      Then hold up the graphs that you have prepared and have the class come up with a possible
      equation for each graph.
    </li>
    <li>
      Make them defend why they chose either sine or cosine and the values of their constants.
    </li>
  </ul>
</p>
