<p>
  This lesson can be rearranged in several ways.
  <ul>
    <li>
      For practice using internet search engines, students, individually or in groups, can read the
      discussion about
      <a href="{{ '/discussions/InternetSearchAndSet' | relative_url }}">Internet Search and Set Operations</a>.
    </li>
    <li>
      For an introduction to the difference between probability and statistics, students can read
      the
      <a href="{{ '/discussions/ProbabilityVsStatis' | relative_url }}">Probaility vs. Statistics</a> discussion.
    </li>
  </ul>
</p>
