<p>
  This lesson can be rearranged in several ways.
  <ul>
    <li>
      Have students construct spinners out of several different materials, and then compare the
      results they obtain. Which materials or designs produce spinners that produce more truly
      "random" results? Compare the results of many spins with these spinners with the
      computer-generated results from the
      <a href="{{ '/activities/BasicSpinner' | relative_url }}">Spinner Game</a> and the
      <a href="{{ '/activities/AdjustableSpinner' | relative_url }}">Adjustable Spinner Game</a> to show students the advantage of using a computer model to produce accurate results.
    </li>
    <li>
      Use
      <a href="{{ '/activities/Buffon' | relative_url }}">Buffon's Needle</a> as an additional example of the connection between probability and geometry.
    </li>
    <li>
      Have groups of students read the two discussions in this lesson and prepare presentations for
      their classmates that explain the content of the discussions.
    </li>
  </ul>
</p>
