<p>
  This lesson can be rearranged in several ways.
  <ul>
    <li>
      Use the text in the
      <a href="{{ '/discussions/TablesAndCombinatori' | relative_url }}">Tables and Combinatorics</a> discussion to prepare for a "live" discussion that can take place while students are using
      the
      <a href="{{ '/activities/DiceTable' | relative_url }}">Dice Table</a> activity.
    </li>
    <li>
      Have students read the
      <a href="{{ '/discussions/Divisibility' | relative_url }}">divisibility</a> discussion independently, or use the text to prepare for a "live" discussion.
    </li>
  </ul>
</p>
