<p>
  If only one computer is available, this lesson can be rearranged in the following ways:
  <ul>
    <li>
      Have students construct spinners with different sized sections out of several different
      materials, and then compare the results they obtain. Which materials or designs produce
      spinners that produce more truly "random" results? Compare the results of many spins with
      these spinners with the computer-generated results from the
      <a href="{{ '/activities/BasicSpinner' | relative_url }}">Spinner Game</a> and the
      <a href="{{ '/activities/AdjustableSpinner' | relative_url }}">Adjustable Spinner Game</a> to show students the advantage of using a computer model to produce accurate results.
    </li>
    <li>
      Give extra time with the applets for students who are having trouble understanding.
    </li>
  </ul>
</p>
