<p>
  This lesson can be rearranged in several ways:
  <ul>
    <li>
      Leave out all references to logarithms, using only trial and error for finding the fractal
      dimensions. This reduces the required time significantly.
    </li>
    <li>
      Add an additional discussion session: Build a class list of all the fractals whose dimensions
      have been calculated in order by size of dimension, and have students use the pictures as
      evidence for why this ordering makes sense visually.
    </li>
  </ul>
</p>
