<p>
  This lesson can be rearranged in several ways if there is only one available computer:
  <ul>
    <li>
      Write the Pythagorean Theorem on the board, and have students take out a piece of paper. Using
      the
      <a href="{{ '/activities/PythagoreanExplorer' | relative_url }}">Pythagorean Explorer</a> applet, have students write down the measurements of four or five triangles, and then give
      them time to find the length of the missing angle. When you are done, take up the papers and
      check them.
    </li>
    <li>
      Have students work in groups of two or three to practice using the Pythagorean Theorem to find
      areas of triangles in the medium and hard levels of the
      <a href="{{ '/activities/TriangleExplorer' | relative_url }}">Triangle Explorer</a>. If students need a hint, show them how to divide a triangle into two triangles with right
      angles, then find the area of each triangle to get the whole area.
    </li>
  </ul>
</p>
