<p>
  This lesson can be rearranged in several ways if only one computer is available for the classroom:
</p>
<ul>
  <li>
    The teacher may do this activity as a demonstration, using only one computer.
  </li>
  <li>
    While demonstrating, the teacher can engage students by asking individuals or groups where each
    shape belongs.
  </li>
  <li>
    After students are familiar with how to use Venn diagrams, have students work in groups or
    independently to answer the questions on the
    <a href="{{ '/media/worksheets/Worksheet_for_Sets_and_the_Venn_Diagram_Beginner' | relative_url }}">worksheet</a>.
  </li>
</ul>
