<p>
  This lesson can be rearranged in several ways if only one computer is available for the classroom:
  <ul>
    <li>
      The teacher may do this activity as a demonstration.
      <ul>
        <li>
          As each new Venn diagram is displayed, allow the students an opportunity to decide
          individually, or in groups, the solution to the question.
        </li>
        <li>
          After an appropriate time, try an answer from a group or individual and discuss why the
          answer was or was not correct.
        </li>
      </ul>
    </li>
  </ul>
</p>
