<p>
  This lesson can be rearranged in the following ways:
  <ul>
    <li>
      Students with less experience solving equations may benefit from a teacher-presented algorithm
      for solving equations as a base for their own algorithms
    </li>
    <li>
      To combine this lesson with statistics, have each group tally the number of steps it took them
      compared with the optimum number of steps in order to numerically compare the efficacy of
      various algorithms
    </li>
  </ul>
</p>
