<p>
  This lesson can be rearranged in several ways.
  <ul>
    <li>
      If time is available, teach the students helpful searching strategies and have them complete
      an additional statistics-related activity such as comparing prices and features of a certain
      consumer product and presenting the relevant statistics in a variety of forms (lists, graphs,
      tables).
    </li>
    <li>
      To shorten the lesson, the teacher can select consumer-related information from the Internet
      and have students stay focused solely on that information.
    </li>
  </ul>
</p>
