<p>
  This lesson can be rearranged in several ways. Here is an example of a shorter version:
  <ul>
    <li>
      The lesson can begin by introducing the
      <a href="{{ '/activities/Tessellate' | relative_url }}">Tessellation applet</a> to introduce students to the idea of tessellations and how they developed.
    </li>
    <li>
      <a href="{{ '/discussions/SymmetryInTessellati' | relative_url }}">Discuss</a> the types of symmetry present in tessellations.
    </li>
    <li>
      Have the students build tessellations and identify the types of symmetry present. Give them a
      table to record the basic shape used to tile and the types of symmetry present in the basic
      unit and in the tessellated pattern.
    </li>
  </ul>
</p>
