<p>
  <ul>
    <li>
      Look at the normal distribution without discussing the bell curve controversy. This saves time
      and avoids controversial material.
    </li>
    <li>
      Relate the histograms produced by the normal and skew distributions to the idea of finding
      area under a curve by counting the rectangles that fit under it (simple graphical numerical
      integration). Use the grid and the scale on the normal distribution to find the area under the
      normal curve. (It should be close to 1).
    </li>
  </ul>
</p>
