<p>
  This lesson can be enhanced in several ways. However, cutting out any of the discussions or
  activities would limit the student's understanding of the ideas behind the Mandelbrot set.
  <ul>
    <li>
      Add the additional task of trying to find an image that looks like an actual object.
    </li>
    <li>
      Have a contest in which the students are asked to find the most interesting image, with a
      panel of teachers or the entire class being the judge. (Have the students print out their
      images so that a display can be set up.)
    </li>
    <li>
      If connected to the internet, use the enhanced version of the software,
      <a href="http://www.shodor.org/master/fractal/software/mandy">The Fractal Microscope</a>, to explore the Mandelbrot set more fully.
    </li>
  </ul>
</p>
