<p>
  This lesson can be rearranged in several ways.
</p>
<p>
  <ul>
    <li>
      If class time is limited, choose only one of the activities and have students use the computer
      version only, which will give fast results while demonstrating the concepts of conditional
      probability thoroughly.
    </li>
    <li>
      If more time is available, have the students try out the activities using dice, spinners, red
      and green chips, index cards, etc. to understand what the computer is simulating, and how
      quickly the trials can be run on the computer.
    </li>
    <li>
      Combine this lesson with
      <a href="{{ '/lessons/ConditionalProb' | relative_url }}">Conditional probability and probability of simultaneous events</a>, which deals with conditional probability in more depth.
    </li>
  </ul>
</p>
