<p>
  If space in the classroom is limited, the lesson can be organized in either of the following ways:
  <ul>
    <li>
      Draw two large interconnecting circles on the board. Have students write the names of the
      objects into the circles according to the class's classification system.
    </li>
    <li>
      Draw two large interconnecting circles on the board. Use pictures of the objects with magnets
      on the backs of the pictures to classify the objects. Tape could also be used, if you don't
      have magnets.
    </li>
  </ul>
</p>
