<p>
		This lesson can be rearranged in several ways if there is only one available computer:
		<ul>
		<li>
		Use the computer to model the tessellations, and have the class complete the worksheet together with you.</li> <li> Print out the information from the <a href="{{ '/discussions/ColorTessellations' | relative_url }}">color</a> and <a href="{{ '/discussions/OpticalIllusions' | relative_url }}">optical illusions</a> discussions. Let groups of two or three students complete the worksheet using the computer while you present the other information to the remaining students, and rotate through groups of students. A Fine Arts teacher may be able to contribute color wheels and additional materials about warm and cool colors. </li>
		</ul>
	</p>
