<p>
  The lesson can be arranged in several ways based on computer availability:
</p>
<ul>
  <li>
    The class could work together to complete the chart on the first page of the worksheet by asking
    the teacher or a student to manipulate the applet while all students record.
  </li>
  <li>
    While in
    <strong>Compute</strong> mode, students could direct another student or the teacher to manipulate the measurements of
    the prism and then all students can record their guess for the volume on their paper or an
    individual whiteboard. One student answer can be checked in the applet.
  </li>
