---
description: "View a list of over 100 interactive activities. Activities explore many areas of mathematics and may be used to view and analyze data for scientific application."
jump-to-index: 0
main-img-map-coords: "39,98,65,99,72,105,106,106,107,115,78,119,65,143,37,143,25,122"
name: "activities"
permalink: "/activities"
title: "Activities"
---
<!DOCTYPE html>
<html>
  <head>
    {% include head.html title=page.title %}
    <script src="{{ '/js/selectSubject.js' | relative_url }}"></script>
  </head>
  <body>
    {% include header.html title=page.title %}
    <main id="activities-main">
      <section id="subjects-section">
        <nav id="subjects-nav" aria-label="Subjects">
          {% for subject in site.data.subjects %}
          <a href="javascript:selectSubject('{{ subject }}');"/>{{ subject }}</a>
          &nbsp;&bull;&nbsp;
          {% endfor %}
          <a class="bold" href="javascript:selectSubject('all');"/>Show All</a>
        </nav>
        {% for subject in site.data.subjects %}
        <section id="subject-section-{{ subject }}" class="subject-section">
          {% assign activities-in-subject = site.activities | where: "subjects", subject %}
          <h2>{{ subject }} ({{ activities-in-subject | size }})</h2>
          {% for activity in activities-in-subject %}
          <section class="activity-section">
            {% assign activity-href = '/activities/' | append: activity.short-name | relative_url %}
            <div class="activity-links">
              <div>
                <a href="{{ activity-href }}"><img src="{{ 'img/activities/thumbnail/' | append: activity.short-name | append: '.gif' | relative_url }}" alt="Screenshot of {{ activity.title }} activity" width="152"/></a>
              </div>
              <div>
                <a href="{{ activity-href }}">{{ activity.title }}</a>
              </div>
            </div>
            <div class="activity-description-and-topics">
              <p>
                {{ activity.description }}
              </p>
              <p class="activity-topics">
                <em><strong>Related Topics:</strong>
                {{ activity.topics | join: ", " }}
                </em>
              </p>
            </div>
          </section>
          {% endfor %}
        </section>
        {% endfor %}
      </section>
    </main>
    {% include footer.html %}
  </body>
</html>
