---
layout: default
---
<main id="activity-main">
  <nav id="tabs-nav" aria-label="Learner, Activity, Help, and Instructor tabs">
    <div id="tabs">
      {% include activity-tab.html name="learner" %}<!--
   -->{% include activity-tab.html name="activity" selected=true %}<!--
   -->{% include activity-tab.html name="help" %}<!--
   -->{% include activity-tab.html name="instructor" %}
    </div>
    <div id="right-of-tabs"></div>
  </nav>
  <section id="learner-section" class="tab-section">
    <div>
      <h2 id="what-is">What is {{ page.title }}?</h2>
      {% include activity-learner-sections/{{ page.slug }}.html %}
      <h2 id="related-resources">Related Resources</h2>
      <ul>
        {% include related-resource-links.html
          related-resources=page.related-activities
          url-prefix="/activities/" collection=site.activities
          text="Activity" %}
        {% include related-resource-links.html
          related-resources=page.related-discussions
          url-prefix="/discussions/" collection=site.discussions
          text="Discussion about" %}
        {% include related-resource-links.html
          related-resources=page.related-worksheets
          url-prefix="/media/worksheets/" collection=site.worksheets
          text="Worksheet" %}
      </ul>
    </div>
  </section>
  <section id="activity-section" class="tab-section">
    <noscript>
      <div id="noscript-message">
        Your web browser must have JavaScript enabled
        in order for this application to display correctly.
      </div>
    </noscript>
    <div id="appletContent">
    </div>
    <script src="{{ 'js/activities/copyrightYear.js' | relative_url }}"></script>
    {% capture activity-dir %}js/activities/{{ page.slug }}{% endcapture %}
    {% capture parameters-js-url %}{{ activity-dir }}/{{ page.slug }}.parameters.js{% endcapture %}
    <script src="{{ parameters-js-url | relative_url }}"></script>
    {% capture nocache-js-url %}{{ activity-dir }}/{{ page.gwt-dir }}/{{ page.gwt-dir }}.nocache.js{% endcapture %}
    <script src="{{ nocache-js-url | relative_url }}"></script>
  </section>
  <section id="help-section" class="tab-section">
    <div>
      {% unless page.has-no-help-section-description %}
        <section id="help-description-section">
          <h2>How Do I Use This Activity?</h2>
          {% include activity-help-descriptions/{{ page.slug }}.html %}
        </section>
      {% endunless %}
      <section id="help-controls-section">
        <h2>Controls and Output</h2>
        {% include activity-help-controls/{{ page.slug }}.html %}
      </section>
    </div>
  </section>
  <section id="instructor-section" class="tab-section">
    <div>
      <section id="instructor-description-section">
        <h2>Description</h2>
        {% include activity-instructor-descriptions/{{ page.slug }}.html %}
      </section>
      <section id="instructor-placements-section">
        <h2>Place in Mathematics Curriculum</h2>
        <p>
          This activity can be used to:
        </p>
        {% assign list = site.data.activity-instructor-placements[page.slug] %}
        {% include activity-instructor-section-list-with-links.html list=list %}
      </section>
      {% include alignment-sections/standards-alignment-section.html %}
      {% include alignment-sections/textbook-alignment-section.html %}
    </div>
  </section>
</main>
