---
---
<!DOCTYPE html>
<html>
  <head>
    {% include head.html title=page.title %}
    <link rel="stylesheet" href="{{ 'css/activity.css' | relative_url }}"/>
  </head>
  <body>
    {% include header.html title=page.title %}
    <main>
      <nav id="tabs-nav" aria-label="Learner, Activity, Help, and Instructor tabs">
        <div id="tabs">
          <a href="javascript:selectTab('learner');"><img src="{{ 'images/activity/learner.gif' | relative_url }}"/></a><!--
       --><a href="javascript:selectTab('activity');"><img src="{{ 'images/activity/activity-selected.gif' | relative_url }}"/></a><!--
       --><a href="javascript:selectTab('help');"><img src="{{ 'images/activity/help.gif' | relative_url }}"/></a><!--
       --><a href="javascript:selectTab('instructor');"><img src="{{ 'images/activity/instructor.gif' | relative_url }}"/></a>
        </div>
        <div id="right-of-tabs"></div>
      </nav>
      <section id="activity-section" class="tab-section">
        <noscript>
          <div id="noscript-message">
            Your web browser must have JavaScript enabled
            in order for this application to display correctly.
          </div>
        </noscript>
        <div id="appletContent">
        </div>
        <script src="{{ 'js/activities/copyrightYear.js' | relative_url }}"></script>
        <script src="{{ 'js/activities/' | append: page.short-name | append: '/' | append: page.short-name | append: '.parameters.js' | relative_url }}"></script>
        <script src="{{ 'js/activities/' | append: page.short-name | append: '/' | append: page.gwt-dir | append: '/' | append: page.gwt-dir | append: '.nocache.js' | relative_url }}"></script>
      </section>
    </main>
    {% include footer.html %}
  </body>
</html>
