---
layout: "default"
---
{% if page.catalog-type %}
  {% assign catalog-type = page.catalog-type %}
{% else %}
  {% capture catalog-type %}{{ page.slug }}{% endcapture %}
{% endif %}
{% include catalog-vars/{{ catalog-type }}.html %}
<main id="catalog-main">
  {% if page.page-description %}
  <p id="page-description">
    {% include page-descriptions/{{ catalog-type }}.html %}
  </p>
  {% endif %}
  {% if page.subject-audience-sorter %}
  <fieldset id="subject-audience-fieldset">
    {% include subject-audience-radio-button.html id="subject"
      categories-label=categories-label %}
    {% include subject-audience-radio-button.html id="audience"
      categories-label=categories-label %}
  </fieldset>
  {% endif %}
  {% if categories-list.size > 1 %}
  <nav aria-label="Filter by {{ categories-label }}">
    {% for category in categories-list %}
    <a href="javascript:selectCatalogCategory('{{ category | replace: ' ', '_'
      | downcase }}');"/>{{ category }}</a>
    &nbsp;&bull;&nbsp;
    {% endfor %}
    <a class="bold"
      href="javascript:selectCatalogCategory('all');"/>Show All</a>
  </nav>
  {% endif %}
  {% assign no-items = true %}
  {% for category in categories-list %}
  <section id="category-section-{{ category | replace: ' ', '_' | downcase }}"
    class="category-section">
    {% assign category-downcase = category | downcase %}
    {% assign category-items-list = catalog-items-list
      | where_exp: "item", filter-expression %}
    {% if category-items-list.size > 0 %}
      {% assign no-items = false %}
    {% endif %}
    <h2>{{ category }} ({{ category-items-list | size }})</h2>
    {% for catalog-item in category-items-list %}
    <section class="catalog-item {{ catalog-item-type }}-catalog-item">
      {% include catalog-items/{{ catalog-item-type }}.html
        catalog-item=catalog-item %}
    </section>
    {% endfor %}
    {% if no-items %}
    <section class="catalog-item">
      <p>No items</p>
    </section>
    {% endif %}
  </section>
  {% endfor %}
</main>
