---
---
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <script src="{{ '/js/selectCatalogCategory.js' | relative_url }}"></script>
  </head>
  <body>
    {% include header.html %}
    <main id="catalog-main">
      {% if page.catalog-vars-include-file %}
        {% assign catalog-vars-include-file = page.catalog-vars-include-file %}
      {% else %}
        {% assign catalog-vars-include-file = 'catalog-vars/'
          | append: page.title | lowercase | append: '-catalog-vars.html' %}
      {% endif %}
      {% include {{ catalog-vars-include-file }} %}
      <!-- Fieldset will go here -->
      <nav aria-label="Filter by {{ categories-label }}">
        {% for category in categories-list %}
        <a href="javascript:selectCatalogCategory('{{ category | replace: ' ', '_' }}');"/>{{ category }}</a>
        &nbsp;&bull;&nbsp;
        {% endfor %}
        <a class="bold" href="javascript:selectCatalogCategory('all');"/>Show All</a>
      </nav>
      {% for category in categories-list %}
      <section id="category-section-{{ category | replace: ' ', '_' | lowercase }}" class="category-section">
        {% assign category-items = catalog-items-list | where_exp: "item", filter-expression %}
        <h2>{{ category }} ({{ category-items | size }})</h2>
        {% for catalog-item in category-items %}
        <section class="catalog-item">
          {% include catalog-items/{{ catalog-item-name }}-catalog-item.html catalog-item=catalog-item %}
        </section>
        {% endfor %}
      </section>
      {% endfor %}
    </main>
    {% include footer.html %}
  </body>
</html>
