---
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Interactivate: {{ page.title }}</title>
    <link rel="icon" type="image/ico" href="{{ 'favicon.ico' | relative_url }}">
    <link rel="stylesheet" href="{{ 'css/main.css' | relative_url }}">
    <script src="{{ 'js/main.js' | relative_url }}"></script>
  </head>
  <body>
    <header>
      <nav id="logo-bar" aria-label="Site navigation">
        <a id="header-logo" href="{{ site.baseurl }}"><img
          src="{{ 'img/header-logo.gif' | relative_url }}"
          alt="Logo for Interactivate: a shadow of a person typing on a laptop on whose screen is a blue tetrahedron and in front of whom is an open textbook. Next to the person is the word Interactivate in which the prefix Inter is bold and the suffix activate is italic"/></a>
        <div id="jump-to-container">
          <select class="v-center" onchange="jumpTo(event);">
            <option disabled selected>Jump To:</option>
            {% for catalog in site.main-catalogs %}
            <option data-catalog="{{ catalog.url
              | relative_url }}">{{ catalog.title }}</option>
            {% endfor %}
          </select>
        </div>
        <div id="browse-link-container">
          <a id="browse-link" class="v-center"
            href="{{ 'browse' | relative_url }}">Browse</a>
        </div>
        <script async
          src="https://cse.google.com/cse.js?cx=9bc190f387578d67a"></script>
        <div id="search-box" class="gcse-search"></div>
      </nav>
      {% unless page.hide-h1 %}
        <h1>{{ page.title }}</h1>
      {% endunless %}
      <nav id="breadcrumb" aria-label="Breadcrumbs">
        <p>
          <a href="{{ site.shodor-url }}">Shodor</a> ▸
          <a href="{{ site.baseurl }}">Interactivate</a> ▸
          {% if page.collection and page.collection != "main-catalogs" %}
            {% assign catalog-page = site.main-catalogs
              | where: "slug", page.collection | first %}
            {% if catalog-page %}
              <a href="{{ catalog-page.url
                | relative_url }}">{{ catalog-page.title }}</a> ▸
            {% endif %}
          {% endif %}
          {% if page.has-additional-breadcrumbs %}
            {% include additional-breadcrumbs/{{ page.collection }}.html %}
            {% for additional-breadcrumb in additional-breadcrumbs %}
              <a href="{{ additional-breadcrumb.url
                | relative_url }}">{{ additional-breadcrumb.title }}</a> ▸
            {% endfor %}
          {% endif %}
          {{ page.title }}
        </p>
      </nav>
    </header>
    {{ content }}
    <footer>
      <span id="footer-copyright">
        &copy; 1994&ndash;{{ "now" | date: "%Y" }}
        <a href="{{ site.shodor-url }}">Shodor</a>
      </span>
      <a href="{{ '/feedback' | relative_url }}">Website Feedback</a>
      <img id="footer-logos" class="v-center"
          src="{{ 'img/footer-logos.gif' | relative_url }}"
          alt="Logo with text: A resource from CSERD, a pathway portal of NSDL"
          usemap="#nsdl-logo"/>
      <map name="nsdl-logo">
        <area shape="rect" coords="392,2,493,28"
          href="https://nsdl.oercommons.org/" alt="NSDL logo" target="_blank">
      </map>
    </footer>
  </body>
</html>
