---
layout: "default"
---
<main id="lesson-main" class="folder-main">
  <div>
    <section id="abstract-section">
      <h2>Abstract</h2>
      {% include lesson-abstracts/{{ page.slug }}.html %}
    </section>
    <section id="objectives-section">
      <h2>Objectives</h2>
      <p>Upon completion of this lesson, students will:</p>
      <ul>
        {% for objective in page.objectives %}
        <li>{{ objective }}</li>
        {% endfor %}
      </ul>
    </section>
    {% include alignment-sections/standards-alignment-section.html %}
    {% include alignment-sections/textbook-alignment-section.html %}
    {% if page.student-prerequisites %}
      <section id="student-prerequisites-section">
        <h2>Student Prerequisites</h2>
        <ul>
          {% for student-prerequisite in page.student-prerequisites %}
            <li>
              <em>{{ student-prerequisite.category }}</em>:
              Students must be able to:
              <ul>
                {% for prereq in student-prerequisite.prereqs %}
                  <li>{{ prereq }}</li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}
    <section id="teacher-preparation-section">
      <h2>Teacher Preparation</h2>
      {% include lesson-teacher-preparations/{{ page.slug }}.html %}
    </section>
    <section id="key-terms-section" class="alignment-section">
      <h2>Key Terms</h2>
      <section class="level-1-section">
        {% for key-term in page.key-terms %}
          <section class="dictionary-item-section">
            {% assign dictionary-item = site.data.dictionary-items
              | where: "term", key-term | first
            %}
            {% include catalog-items/dictionary-item.html
              catalog-item=dictionary-item
            %}
          </section>
        {% endfor %}
      </section>
    </section>
    <section id="lesson-outline-section">
      <h2>Lesson Outline</h2>
      <ol>
        {% include lesson-outlines/{{ page.slug }}.html %}
      </ol>
    </section>
    {% if page.alternate-outline %}
      <section id="alternate-outline-section">
        <h2>Alternate Outline</h2>
        {% include lesson-alternate-outlines/{{ page.slug }}.html %}
      </section>
    {% endif %}
    {% if page.suggested-follow-up %}
      <section id="suggested-follow-up-section">
        <h2>Suggested Follow-Up</h2>
        {% include lesson-suggested-follow-ups/{{ page.slug }}.html %}
      </section>
    {% endif %}
  </div>
</main>
