---
---
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <script src="{{ '/js/selectCategoryItem.js' | relative_url }}"></script>
  </head>
  <body>
    {% include header.html title=page.title %}
    <main id="list-page-main">
      {% for category in page.categories %}
        {% assign list-items = site[page.name] %}
        {% assign category-items = site.data[category] %}
        {% include list-page-category-section.html
          category-items=category-items
          category-label=category
          item-name=page.item-name
          list-items=list-items
        %}
      {% endfor %}
    </main>
    {% include footer.html %}
  </body>
</html>
