<p>
      <ul>
        <li>
          <strong>General Information:</strong>
          <ul>
            <li>
              Each vertex of the polygon is colored a different color to help you see the
              orientation of the polygon. Whenever you perform a translation, reflection, or
              rotation the polygon is redrawn in its new position and orientation, and a "ghost"
              polygon is drawn in gray in the previous position. This will help you remember where
              the polygon was before the transformation. You can also manipulate the perspective of
              the graph by dragging the graph with your mouse. The graph is limited to what can be
              seen on the grid [(-15, -15) to (15, 15)]; polygons that would be beyond the bounds
              are not allowed nor are transformations that would make them go beyond the bounds.
            </li>
          </ul>
        </li>
        <li>
          <strong>Creating a New Polygon:</strong>
          <ul>
            <li>
              To create a new polygon, use the panel next to the coordinate plane titled "New
              Polygon." Enter the number of vertices (between 3 and 12) you want the new polygon to
              have in the box labeled "How many vertices?" and click the Go! button.
              <img src="{{ 'img/image514.jpg' | relative_url }}" class="h-center"/>
            </li>
            <li>
              You will then see a new panel containing two columns of text boxes: one for x
              coordinates and one for y coordinates.
              <img src="{{ 'img/image515.jpg' | relative_url }}" class="h-center"/>
            </li>
            <li>
              Enter the coordinates of each vertex. All coordinates must be integers and be between
              (-15, -15) and (15, 15). When you are done, preview the shape in the coordinate plane
              by clicking on the
              <img src="{{ 'img/image516.jpg' | relative_url }}"/> button. If you want to change the number of vertices, click on the
              <img src="{{ 'img/image517.jpg' | relative_url }}"/> button. This new polygon will be drawn on the coordinate plane:
              <img src="{{ 'img/image518.jpg' | relative_url }}" class="h-center"/>
            </li>
            <li>
              If you are not satisfied with this shape and wish to return to the orginal shape,
              press the Cancel button.
              <img src="{{ 'img/image519.jpg' | relative_url }}" class="h-center"/>
            </li>
          </ul>
        </li>
        <li>
          <strong>Translate Controls:</strong>
          <ul>
            <li>
              In the appropriate spaces, type the number of units you want to translate the shape on
              the X-axis and on the Y-axis. The panel is under the coordinate plane and it looks
              like:
              <img src="{{ 'img/image520.jpg' | relative_url }}" class="h-center"/>
            </li>
            <li>
              Both of these numbers must be integers. Then click the
              <img src="{{ 'img/image521.jpg' | relative_url }}"/> button to translate the polygon. If the translation is within the bounds of the grid,
              it will appear on the coordinate plane like:
              <img src="{{ 'img/image522.jpg' | relative_url }}" class="h-center"/>
            </li>
          </ul>
        </li>
        <li>
          <strong>Reflect Controls:</strong>
          <ul>
            <li>
              To reflect across a non-vertical line, click the circle beside the words "across y = "
              and then enter the slope and y-intercept of the line you want to reflect across (both
              of these numbers must be integers). This is located below the coordinate plane. For
              instance, the following example will cause a reflection across y = 2x + 5 when you
              click the
              <img src="{{ 'img/image523.jpg' | relative_url }}"/> button:
              <img src="{{ 'img/image1166.gif' | relative_url }}" class="h-center"/>
            </li>
            <li>
              The graph of this reflection is:
              <img src="{{ 'img/image524.jpg' | relative_url }}" class="h-center"/>
            </li>
            <li>
              To reflect across a vertical line, click the circle beside the words "across x = " and
              enter the x-coordinate of the line you want to reflect across (this number must be an
              integer). Again, this is located under the coordinate plane. For instance, the
              following example will cause a reflection across x = 3 when you click the
              <img src="{{ 'img/image523.jpg' | relative_url }}"/> button:
              <img src="{{ 'img/image525.jpg' | relative_url }}" class="h-center"/>
            </li>
            <li>
              The graph of this reflection is:
              <img src="{{ 'img/image526.jpg' | relative_url }}" class="h-center"/>
            </li>
            <li>
              Only reflections that will fit completely within the bounds of the grid will be
              displayed. If an overextending reflection is requested, a pop-up box will explain
              this.
            </li>
          </ul>
        </li>
        <li>
          <strong>Revolve Controls:</strong>
          <ul>
            <li>
              These controls work similarly to the reflect ones. To revolve the object across a
              non-vertical line, click the circle beside the words "across y = " and then enter the
              slope and y-intercept of the line you want to revolve across (both of these numbers
              must be integers). For instance, clicking the "Revolve" button will cause the object
              to revolve around the chosen line, say, y = 2x+5, as in the following graph:
              <img src="{{ 'img/3DTrans.jpg' | relative_url }}" class="h-center"/>
            </li>
            <li>
              The revolved graph can be displayed as a solid or a wireframe; the toggle for this is
              located above the graph:
              <img src="{{ 'img/SolidORWireframe.png' | relative_url }}"/> This toggle is only available for choosing once the revolve button has been clicked.
            </li>
          </ul>
        </li>
        <li>
          <strong>Rotate Controls:</strong>
          <ul>
            <li>
              Enter the number of degrees (an integer) for a rotation of the polygon in the
              appropriate box. Then, below that, enter the coordinates of the center of rotation.
              The x and y values must be integers. Then click the button
              <img src="{{ 'img/image527.jpg' | relative_url }}"/> to do the rotation. The panel looks like:
              <img src="{{ 'img/image528.jpg' | relative_url }}" class="h-center"/>
            </li>
            <li>
              The graph of this rotation is:
              <img src="{{ 'img/image529.jpg' | relative_url }}" class="h-center"/>
            </li>
            <li>
              Only rotations that will fit completely within the bounds of the grid will be
              displayed. If an overextending rotation is requested, a pop-up box will explain this.
            </li>
          </ul>
        </li>
        <li>
          <strong>Manipulating the view:</strong>
          <ul>
            <li>
              By clicking and dragging the graph, you can change your view of it. Your perspective
              is not limited to any particular axis. To return to the default view, click the
              <img src="{{ 'img/Screen_Shot_2012-11-28_at_11_11_17_AM.png' | relative_url }}"/> button. This button is not clickable if you are at the default view.
            </li>
          </ul>
        </li>
      </ul>
    </p>
