<p>
      <strong>Running the Applet:</strong>
      <ul>
        <li>
          The probability choice menu on the top-left side of the applet allows you to choose a
          probability that an individual tree will burn when an adjacent tree is on fire.
          <img src="{{ 'img/advancedFire1.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          If you select Custom Probability, you must use the text field to enter a decimal value
          between 0.00 and 1.00 or a fraction between 0 and 1 as the probability that an individual
          tree will burn when an adjacent tree is on fire.
          <img src="{{ 'img/advancedFire2.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Located directly below the probability choice menu, the
          <strong>Select A Forest Size</strong> drop down menu gives you the option of choosing the size of the forest. The forest can be
          one of four sizes tiny (10x10), small (16x16), medium (26x26) or large (34x34).
          <img src="{{ 'img/advancedFire3.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Each forest size can then be adjusted to use
          <strong>First Quadrant Numbering</strong> or
          <strong>Four Quadrant Numbering</strong>. If you choose First Quadrant Numbering the scale range will be positive, if you use the
          four quadrant numbering the scale will range from negative to positive with the middle
          point at (0,0).
          <img src="{{ 'img/advancedFire4.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          You can choose how the fire burns by clicking the button beside
          <strong>Burn Uninterrupted</strong> or
          <strong>Burn Step By Step</strong>.
          <img src="{{ 'img/advancedFire5.png' | relative_url }}" class="h-center"/> If you choose step by step, you must click on the
          <strong>Step Through Fire</strong> button after you start the burn and keep clicking on it until the fire burns completely.
          <img src="{{ 'img/advancedFire6.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          In order to start the fire, you must click a tree in the forest grid. The fire will then
          begin at that tree and spread throughout the forest according to the initial parameters
          that you set.
          <img src="{{ 'img/advancedFire7.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          After burning the forest, you must click the
          <strong>Re-grow Forest</strong> button before starting another fire.
          <img src="{{ 'img/advancedFire8.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The
          <strong>Highlight Center Tree</strong> button highlights the center tree in blue, when you click it again it highlights the
          center row and column, and a third click hides all highlighting.
          <img src="{{ 'img/advancedFire9.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To see the history of all burns, click the
          <strong>Show Burn History</strong> button.
          <img src="{{ 'img/advancedFire12.png' | relative_url }}" class="h-center"/> The
          <strong>Show Burn History</strong> button opens a new window with the initial settings (Forest Size, Quadrant Mode, Initial
          Coordinates, and Probability of Burn) as well as the characteristics of the resulting fire
          (Percent Burned and Iterations Burned). The percent burned is the percentage of trees
          burned at the completion of the fire as a percentage of the total number of trees in the
          forest. The iterations burned is the total number of iterations run before the fire ends.
          Each step where the fire spreads from some number of trees to more trees based on the
          probability of burn is an iteration.
          <img src="{{ 'img/advancedFire10.' | relative_url }}" which="display" class="h-center"/> *Note that the "steps" seen when you "step through the fire" are animation steps and not
          necessarily iterations.
          <br/>
          <br/>
        </li>
        <li>
          You may clear the history at any point by clicking the
          <strong>Clear Burn History</strong> button.
          <img src="{{ 'img/advancedFire11.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          In order to copy the data, click and drag the mouse over the data you wish to copy. Then
          press the control or command key and the letter "c" key at the same time. Using your
          preferred modeling program (e.g., Microsoft Excel), you may now paste the data.
        </li>
      </ul>
    </p>
