<p>
      <ul>
        <li>
          To select your data set use the drop box.
          <img src="{{ 'img/image1017.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Once you have selected the category of data, you can click "Show Statistics" to show the
          number of data points in the set (N), the median, upper quartile(Q3), lower quartile(Q1),
          minimum, and maximum.
          <img src="{{ 'img/BoxPlotHelp2.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          You can check or uncheck the "Uncover Outliers" box to determine whether the graph
          displays outliers separately from the whiskers. Extreme outliers will be displayed in
          black, while other outliers will be displayed in the same color as the box.
          <img src="{{ 'img/BoxPlotHelp.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To change the data set, input new values into the text box at the bottom of the applet. To
          enter all new data, click the clear button. You can also change the description of the
          data set using the text box directly above the box for the data. When you enter new data,
          you can follow it with a comma and a category description and the box plot will be able to
          sort the data by those categories.
          <img src="{{ 'img/boxplot3.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          After you enter the data, you must click the "Update Box Plot" button.
        </li>
        <li>
          This applet also allows for data to be graphed by category or altogether. Use the radio
          buttons "Graph All Data" and "Graph By Category" to control this.
          <img src="{{ 'img/image1019.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          You also have the option of using the median in the quartile range.
          <img src="{{ 'img/boxplot4.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          You can control the horizontal scale by selecting the "Set Horizontal Scale" button.
          <img src="{{ 'img/boxplot5.png' | relative_url }}" class="h-center"/>
          <ul>
            <li>
              This will open a pop-up window where you can adjust horizontal scale settings.
              Selecting "Get Defaults" will set the x-min and x-max to -10 and 10 respectively.
            </li>
            <li>
              Adjusting the scale will uncheck the "Auto Scale" button. If you wish to go back to
              the original scale, you may check this button again.
            </li>
          </ul>
        </li>
      </ul>
    </p>
