<p>
      <strong>Clock Wise Modes: Random or Regular</strong>
    </p>
    <p>
      <strong>Regular</strong>
    </p>
    <ul>
      <li>
        Click on the "Regular" button to enter regular mode. In this mode you enter the time you
        want to be displayed on the clock. Click on "Show Time" to make the hands move to display
        the time you entered.
      </li>
    </ul>
    <p>
      <strong>Random</strong>
    </p>
    <ul>
      <li>
        Click on the "Random" button to enter the random mode. In this mode the clock will display a
        random time and then you are to enter the time displayed. Click on the button labeled "Push
        for new time" and a random new time on the clock will be displayed. When the hands stop
        moving determine the time displayed on the clock and enter the time in the appropriate
        boxes. The hour should go in the box on the left and the minutes should go in the box on the
        right. Then click on the button labeled Try Your Guess to determine whether your answer is
        correct. Under the button a message will display whether you are right or if you need to try
        again.
      </li>
      <li>
        <p>
          The
          <strong>Keep Score</strong> button is located at the bottom of the activity. Clicking this button will display a
          pop-up window which then begins recording how successful you are at answering the
          questions. Note that the
          <strong>Keep Score</strong> button will only keep track of your score
          <strong>after</strong> it has been clicked.
        </p>
        <p>
          While this window is active and keeping track of your score, the label on the button will
          say
          <strong>Show Score</strong>. To keep the window active, either click on the
          <strong>Back to Applet</strong> button or click back in the main window (on mac OSX, Internet Explorer you need to click
          on the title bar of the main window or the Back to Applet button).
          <img src="{{ 'img/image785.gif' | relative_url }}" class="h-center"/>
        </p>
      </li>
    </ul>
    <p>
      Use the animation drop down menu to select how quickly the clock is animated. Choose from
      fast, medium, and slow, or choose "Do not animate" if you want to see the result but not watch
      the animation.
      <img src="{{ 'img/clockHelp.png' | relative_url }}" class="h-center"/>
    </p>
    <p>
      Because this activity randomly generates questions, a feature called
      <strong>Seed Random</strong> has been implemented that allows multiple users using different computers to work on the same
      problem. See
      <a href="{{ '/resources/SeedRandom' | relative_url }}>Seed Random Help</a> for instructions on using this feature.
    </p>
