<p>
      <ul>
        <li>
          On the left side of the activity is a text field where you can enter a fraction. After you
          press enter, the decimal equivalent will be displayed below the text field:
          <img src="{{ 'img/image754.jpg' | relative_url }}" class="h-center"/>
        </li>
        <li>
          On the right side of the activity is a text field where you can enter a decimal. After you
          press enter, the decimal equivalent will be displayed below the text field:
          <img src="{{ 'img/image755.jpg' | relative_url }}" class="h-center"/>
        </li>
        <li>
          You can specify if your decimal has repeating digits. Check the checkbox beside the words
          "The last" and enter the number of digits that repeat. Then type your decimal number in
          the box and press enter. For instacnce, suppose you wanted to convert .011111111..... to a
          fraction. You would check the checkbox and type "1" as the number of digits that repeat.
          Then you would type .01 in the decimal entry box and press enter.
          <img src="{{ 'img/image756.jpg' | relative_url }}" class="h-center"/>
        </li>
      </ul>
    </p>
