<p>
      Find out how to...
    </p>
    <p>
      <table class="h-center">
        <tr>
          <td class="h-center">
            <a href="#grid">Add Grid Lines</a>
          </td>
          <td class="h-center">
            <a href="#setWindow">Change X min/max and Y min/max</a>
          </td>
          <td class="h-center">
            <a href="#functions">Graph Functions</a>
          </td>
          <td class="h-center">
            <a href="#showtbl">Show Tabular Function Data</a>
          </td>
          <td class="h-center">
            <a href="#asymptotes">Show Asymptotes</a>
          </td>
        </tr>
        <tr>
          <td class="h-center">
            <a href="#data">Plot Data</a>
          </td>
          <td class="h-center">
            <a href="#showTrace">Trace Function</a>
          </td>
          <td class="h-center">
            <a href="#sliders">Sliders</a>
          </td>
          <td class="h-center">
            <a href="#deviations">Examine Data Deviations</a>
          </td>
        </tr>
      </table>
    </p>
    <p>
      The area in the center of the screen is where the plot is displayed.
    </p>
    <p>
      <img class="h-center" src="{{ 'img/image539.jpg' | relative_url }}"/>
    </p>
    <p>
      <strong>
        <a name="grid">Grid Lines</a>
      </strong>
    </p>
    <p>
      <ul>
        <li>
          There are three types of grids:
          <strong>No Grid, Light Grid Lines</strong>, and
          <strong>Dark Grid Lines</strong>. To activate any of these three options, highlight the circle next to the appropriate
          option:
        </li>
      </ul>
      <img class="h-center" src="{{ 'img/image540.jpg' | relative_url }}"/>
    </p>
    <p>
      <table>
        <tr>
          <td>
            <strong>No Grid</strong> graph:
          </td>
          <td>
            <strong>Light Grid Lines</strong> graph:
          </td>
          <td>
            <strong>Dark Grid Lines</strong> graph:
          </td>
        </tr>
        <tr>
          <td>
            <img class="h-center" src="{{ 'img/image541.jpg' | relative_url }}"/>
          </td>
          <td>
            <img class="h-center" src="{{ 'img/image542.jpg' | relative_url }}"/>
          </td>
          <td>
            <img class="h-center" src="{{ 'img/image543.jpg' | relative_url }}"/>
          </td>
        </tr>
      </table>
      <strong>
        <a name="setWindow">Change Scales</a>
      </strong>
    </p>
    <p>
      The Interactivate graphing activities allow three ways to alter the range on the axes.
    </p>
    <p>
      <ol>
        <li>
          <em>Setting exact values for axis mins/maxes:</em> You may set the graph boundaries by clicking the
          <strong>Set Window</strong> button and entering new values for the x max, x min, y max, or y min. Then click the
          <strong>Set</strong> button to set the boundaries. To return the values to their defaults, you click the
          <strong>Get Defaults</strong> button and then click the
          <strong>Set</strong> button again. If you do not want to change the window settings you may click
          <strong>Cancel</strong>.
          <img class="h-center" src="{{ 'img/image544.jpg' | relative_url }}"/>
        </li>
        <li>
          <em>Zoom/Pan buttons.</em> In the upper right corner of the graph, there are three buttons with pictures of
          magnifying glasses. From top to bottom these buttons represent zoom in, zoom out, and pan,
          respectively.
          <ul>
            <li>
              To zoom in, click the top button to depress it, then click and drag over the area of
              the graph that you wish to magnify. The images below show first the process of
              dragging a box around a desired zoom area with the mouse (left), and then the
              resulting zoomed image after the mouse button is released (right). Note that after the
              zoom-in has been performed, the zoom-in button at top right is no longer depressed.
              <img class="h-center" src="{{ 'img/image545.gif' | relative_url }}"/>
              <img class="h-center" src="{{ 'img/image546.gif' | relative_url }}"/>
            </li>
            <li>
              To zoom out, simply click the second of the three zoom buttons. The graph will
              automatically zoom out by doubling the min and max values of the axes.
            </li>
            <li>
              To use the pan feature, click the bottom magnifying glass button to depress it. Click
              and drag over the graph and the graph will pan around according to the movement of the
              mouse. Upon releasing the mouse, the pan button is released.
            </li>
          </ul>
        </li>
        <li>
          <em>Auto Scales:</em> Checking the
          <strong>Auto Scale</strong> check box gives you the smallest window possible so that all of the data points still fit
          on the coordinate plane. Note that there must be data for this feature to work.
          <img class="h-center" src="{{ 'img/image547.jpg' | relative_url }}"/>
        </li>
      </ol>
      <strong>
        <a name="showTrace">Trace Function</a>
      </strong>
    </p>
    <p>
      <ul>
        <li>
          Checking the
          <strong>Show Trace</strong> box will cause old graph lines to remain visible (in a lighter color) as you change the
          function by moving the sliders. To remove the trace, click the
          <strong>clear trace</strong> button. To stop the tracing, uncheck the
          <strong>Show Trace</strong> check box.
          <img class="h-center" src="{{ 'img/image548.jpg' | relative_url }}"/>
        </li>
        <li>
          When
          <strong>Show Trace</strong> is checked, you will be unable to
          <strong>Plot Data, Show Squares, Auto Scale, Show Vertical Asymptotes</strong>, use the pan/zoom features, or change the darkness of the grids. When any of these
          options are checked, you will be unable to
          <strong>Show Trace</strong>.
        </li>
      </ul>
      <strong>
        <a name="asymptotes">Show Asymptotes</a>
      </strong>
      <ul>
        <li>
          You may see the vertical asymptotes of a graph (if there are any) by checking the
          <strong>Show Vertical Asymptotes</strong> check box. For example, the tangent graph with this option selected looks like:
          <p>
            <img class="h-center" src="{{ 'img/image549.jpg' | relative_url }}"/>
          </p>
          <p>
            * Note that due to the programming technique used to detect asymptotes, this program
            will only detect those asymptotes that go from a large positive y value to a large
            negative y value at the discontinuity. f(x)=log(x) is an example of a vertical asymptote
            Data Flyer will not detect.
          </p>
        </li>
      </ul>
      <strong>
        <a name="data">Plot Data</a>
      </strong>
      <p>
        <ul>
          <li>
            The
            <strong>Data</strong> area is for entering data as ordered pairs. You enter the ordered pairs by separating
            the x and y of the ordered pair with a comma, a space, or a tab, and putting each
            ordered pair on a separate line. Most browsers will allow you to cut and paste data from
            two columns of a spreadsheet application or html table.
            <img class="h-center" src="{{ 'img/image550.jpg' | relative_url }}"/>
          </li>
          <li>
            After entering the data, plot it by pressing the
            <strong>Plot Data</strong> button.
            <img class="h-center" src="{{ 'img/image551.jpg' | relative_url }}"/>
          </li>
          <li>
            You may clear the data by clicking the
            <strong>Clear Data</strong> button.
            <img class="h-center" src="{{ 'img/image552.jpg' | relative_url }}"/>
          </li>
          <li>
            If you have trouble copying data from the applet and pasting it into an Excel
            spreadsheet, please see our
            <a href="{{ '/resources/ExcelCopyPasteHelp/' | relative_url }}>Excel Copy/Paste Help</a>.
          </li>
        </ul>
      </p>
      <p>
        <strong>
          <a name="functions">Graph Functions</a>
        </strong>
      </p>
      <ul>
        <li>
          Data Flyer allows you to enter an algebraic function in the box labeled
          <strong>f(x)=</strong>. For information on the syntax of entering functions and numbers with scientific
          notation, see
          <a href="{{ '/resources/functionhelp/' | relative_url }}">Interactivate Functions Help</a>.
        </li>
        <li>
          Note that numerical values entered should be accurately calculated from 10
          <sup> -8 </sup> to 10
          <sup> 8 </sup> . Numbers larger or smaller than these values produce unreliable results. If you enter a
          number with a magnitude smaller than 10^-6 or larger than 10^6 it will automatically be
          converted to scientific notation.
        </li>
        <li>
          Enter the function you want to graph in the box marked
          <strong>f(x)=</strong>. Any constant or coefficient you wish to manipulate must be entered as a number. For
          instance, if you wish to experiment with the linear function f(x) = x + 8 and wish to
          manipulate the coefficient of x it is necessary to type the equation as f(x) = 1*x + 8 so
          the computer recognizes the multiplier as a parameter. Likewise if you want to experiment
          with the sine function f(x) = sin(x) and be able to manipulate the parameters such as the
          y-intercept, phase, frequency, and amplitude, it is necessary to type 1*sin(1*x+0)+0. (Try
          typing in both and clicking the set function button so you can see the difference.)
          <img class="h-center" src="{{ 'img/image553.gif' | relative_url }}"/>
        </li>
        <li>
          Once you have set the function you may enter a different function by clicking the
          <strong>Change Function</strong> button, entering the new function and clicking the
          <strong>Set Function</strong> button again.
          <img class="h-center" src="{{ 'img/image554.jpg' | relative_url }}"/>
        </li>
      </ul>
      <strong>
        <a name="showtbl">Show Tabular Function Data</a>
      </strong>
    </p>
    <p>
      <ul>
        <li>
          To view a table of values corresponding to the graphed function, click the
          <strong> Show Tabular Data </strong> button.
          <img class="h-center" src="{{ 'img/image555.gif' | relative_url }}"/>
        </li>
        <li>
          The x values in the table increment equally and then give the corresponding f(x) values
          for the function. You can change these data values by entering a new minimum x value, new
          maximum x value, and step size. If you enter a step that does not divide evenly into the
          range, the table will stop at the greatest multiple of the step that is less than the
          maximum. The precision field allows you to adjust the number of decimal points to print
          out values of x and f(x).
          <img class="h-center" src="{{ 'img/image1044.JPG' | relative_url }}"/>
        </li>
      </ul>
      <strong>
        <a name="sliders">Sliders</a>
      </strong>
    </p>
    <p>
      <ul>
        <li>
          You may set the sliders back to the original values that they had when the the function
          was entered by clicking the
          <strong>Reset Sliders</strong> button.
          <img class="h-center" src="{{ 'img/image557.jpg' | relative_url }}"/>
        </li>
        <li>
          The
          <strong>Slider Limits</strong> button brings up a dialog box that allows you to set the minimum and maximum values of
          each slider bar. You can also set the step size for each slider bar. The step size
          determines how precisely you can control the value of the constant. For instance, if you
          set the minimum to 0, the maximum to 1, and the step to 0.1, moving the slider will step
          the constant from 0 to 0.1 to 0.2, and so on. However, if you set the step to 0.2, the
          slider will step the constant to 0, 0.2, 0.4, etc.
          <img class="h-center" src="{{ 'img/image1045.JPG' | relative_url }}"/>
        </li>
        <li>
          The number of increments must be smaller than 100. If you enter parameters such that the
          number of increments is greater than 100 then an error message appears asking you to
          readjust by changing the slider min, slider max, or step size.
          <img class="h-center" src="{{ 'img/image559.gif' | relative_url }}"/>
        </li>
        <li>
          Checking the
          <strong>Exponents Change</strong> box before clicking
          <strong>Set Function</strong> will allow you, after the function is graphed, to use slider bars to adjust the values of
          any exponents.
          <img class="h-center" src="{{ 'img/image560.jpg' | relative_url }}"/>
        </li>
      </ul>
      <strong>
        <a name="deviations">Examine Data Deviations</a>
      </strong>
    </p>
    <p>
      <ul>
        <li>
          The sum of squares of deviations is shown at the top of the applet. The closer this number
          is to zero the more accurate your function is in relation to your data. You may see a data
          table of these deviations by clicking the
          <strong>Show Deviations</strong> button.
          <img class="h-center" src="{{ 'img/image561.jpg' | relative_url }}"/>
        </li>
        <li>
          Checking the
          <strong>Show Squares</strong> check box draws squares from the data points to the function on the coordinate plane. The
          length of each side of the square is equal to the vertical distance from the coordinate to
          the function value at the x-value of the coordinate.
          <img class="h-center" src="{{ 'img/image562.jpg' | relative_url }}"/>
        </li>
        <li>
          Decreasing the sum of the squares of the deviations between the points and the function
          (think of decreasing the sum of the areas of the squares shown above) produces a better
          "fit" of the function to the data. Experiment by moving the sliders from side to side
          until you find a value that you think minimizes the sum of squares of deviations:
          <img class="h-center" src="{{ 'img/image563.jpg' | relative_url }}"/>
        </li>
      </ul>
    </p>
