<p>
      <ul>
        <li>
          Derivate allows you to enter an algebraic function in the box below the graph. For
          information on the syntax of entering functions and numbers with scientific notation, see
          <a href="{{ '/resources/functionhelp/' | relative_url }}">Interactivate Functions Help</a>.
        </li>
        <li>
          Enter the function you want to graph in the box and click the
          <strong>Set Function</strong> button.
          <div class="h-center">
            <img src="{{ 'img/image1027.gif' | relative_url }}"/>
          </div>
        </li>
        <li>
          The area in the center of the screen is where the plot is displayed.
          <div class="h-center">
            <img src="{{ 'img/image1030.gif' | relative_url }}"/>
          </div>
        </li>
        <li>
          Once the function is graphed the blue slider controls the x-value of the point on the
          graph and subsequently the line tangent to the graph at that point. The
          <strong>Set Step Size</strong> input box and button changes the amount by which the slider increments. The minimum and
          maximum step size are determined by the minimum and maximum x values for the window. You
          can also set the x-value of the movable point by using the
          <strong>Set X-Value</strong> input box and button.
          <div class="h-center">
            <img src="{{ 'img/image1028.gif' | relative_url }}"/>
          </div>
        </li>
        <li>
          Moving the slider moves the point along the graph and subsequently displays the line
          tangent to the function at that point.
          <div class="h-center">
            <img src="{{ 'img/image946.gif' | relative_url }}"/>
          </div>
        </li>
      </ul>
      <p>
        Grid Lines
      </p>
      <ul>
        <li>
          There are three types of grids:
          <strong>No Grid, Light Grid Lines</strong>, and
          <strong>Dark Grid Lines</strong>. To activate any of these three options, highlight the circle next to the appropriate
          option:
          <div class="h-center">
            <img src="{{ 'img/image540.jpg' | relative_url }}"/>
          </div>
        </li>
        <li>
          <div class="h-center">
            <table>
              <tr>
                <td>
                  <strong>No Grid</strong> graph:
                </td>
                <td>
                  <strong>Light Grid Lines</strong> graph:
                </td>
                <td>
                  <strong>Dark Grid Lines</strong> graph:
                </td>
              </tr>
              <tr>
                <td>
                  <div class="h-center">
                    <img src="{{ 'img/image541.jpg' | relative_url }}"/>
                  </div>
                </td>
                <td>
                  <div class="h-center">
                    <img src="{{ 'img/image542.jpg' | relative_url }}"/>
                  </div>
                </td>
                <td>
                  <div class="h-center">
                    <img src="{{ 'img/image543.jpg' | relative_url }}"/>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </li>
      </ul>
    </p>
    <p>
      Change Scales
    </p>
    <p>
      This Interactivate graphing activity allows two ways to alter the range on the axes.
    </p>
    <p>
      <ol>
        <li>
          <em>Setting exact values for axis mins/maxes:</em> You may set the graph boundaries by clicking the
          <strong>Set Window</strong> button and entering new values for the x max, x min, y max, or y min. Then click the
          <strong>Set</strong> button to set the boundaries. To return the values to their defaults, you click the
          <strong>Get Defaults</strong> button and then click the
          <strong>Set</strong> button again. If you do not want to change the window settings you may click
          <strong>Cancel</strong>.
          <div class="h-center">
            <img src="{{ 'img/image544.jpg' | relative_url }}"/>
          </div>
        </li>
        <li>
          <em>Zoom/Pan buttons.</em> In the upper right corner of the graph, there are three buttons with pictures of
          magnifying glasses. From top to bottom these buttons represent zoom in, zoom out, and pan,
          respectively.
        </li>
        <li>
          <ul>
            <li>
              To zoom in, click the top button to select it, then click and drag over the area of
              the graph that you wish to magnify. The images below show first the process of
              dragging a box around a desired zoom area with the mouse (left), and then the
              resulting zoomed image after the mouse button is released (right). Note that after the
              zoom-in has been performed, the zoom-in button at top right is no longer selected.
              <div class="h-center">
                <img src="{{ 'img/image545.gif' | relative_url }}"/>
                <img src="{{ 'img/image546.gif' | relative_url }}"/>
              </div>
            </li>
            <li>
              To zoom out, simply click the second of the three zoom buttons. The graph will
              automatically zoom out by doubling the min and max values of the axes.
            </li>
            <li>
              To use the pan feature, click the bottom magnifying glass button to select it. Click
              and drag over the graph and the graph will pan around according to the movement of the
              mouse. Upon releasing the mouse, the pan button is released.
            </li>
          </ul>
        </li>
      </ol>
      <p>
        Displaying Data
      </p>
      <ul>
        <li>
          To view a table of values corresponding to the graphed function, click the
          <strong>Show Tabular Data</strong> button.
          <div class="h-center">
            <img src="{{ 'img/image555.gif' | relative_url }}"/>
          </div>
        </li>
        <li>
          The x values in the table increment equally and then give the corresponding f(x) values
          for the function plotted. You can change these data values by entering a new minimum x
          value, new maximum x value, and step size. If you enter a step that does not divide evenly
          into the range, the table will stop at the greatest multiple of the step that is less than
          the maximum. The precision field allows you to adjust the number of decimal points
          displayed.
          <div class="h-center">
            <img src="{{ 'img/image1098.gif' | relative_url }}"/>
          </div>
        </li>
        <li>
          The applet also displays the function, tangent line, and derivative and updates them as
          you move the slider bar. This can be viewed below the graph.
          <div class="h-center">
            <img src="{{ 'img/image1160.gif' | relative_url }}"/>
          </div>
        </li>
      </ul>
    </p>
