<p>
      <ul>
        <li>
          To assign a winning sum
          <strong>(Score)</strong> to a player, select the player's name next to the score by clicking on the selection
          sign:
          <img src="{{ 'img/image727.gif' | relative_url }}"/> next to that score, and then on the player's name; in the list that will appear. In our
          example, Player A wins if the score is 2 or 4, Player E wins if the sum is 6, and Player F
          wins if the sum is 9 or 12. Nobody wins if the dice produce the rest of the possible sums:
          <img src="{{ 'img/image728.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The winning combinations of dice numbers for each player is shown in a table. For example,
          Player E (whose winning sum we set to be 6) wins for five different combinations of
          numbers on the green and red dice (Green 1 Red 5; Green 2 Red 4; Green 3 Red 3; Green 4
          Red 2; and Green 5 Red 1):
          <img src="{{ 'img/image729.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To study a particular player in detail, choose this player in the
          <strong>Select a player [____]</strong>
          <span>
            <img src="{{ 'img/image727.gif' | relative_url }}"/>
          </span> menu by clicking on the selection sign:
          <img src="{{ 'img/image727.gif' | relative_url }}"/>, and then on the player's name in the list that will appear. In our example, Player A is
          selected:
          <img src="{{ 'img/image730.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To check the probability of winning for the selected player, use any of the four
          expressions of the probability, as follows.
        </li>
        <li>
          To check the probability by outcomes, type the numbers of outcomes for the player in the
          <strong>Q#1: The player wins in [____] out of [____] outcomes</strong> spaces. In our example, Player A wins in 4 out of 36 outcomes:
          <img src="{{ 'img/image731.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Then click on the
          <strong>check #1</strong> button to have the software verify your answer:x
          <img src="{{ 'img/image732.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To check the probability by fractions, type the numerator and the denominator of the
          probability of the player winning in the
          <strong>Q#2: The probability to win as a simple fraction is [____] / [____]</strong> spaces. For Player A, the probability of winning is 1/9:
          <img src="{{ 'img/image733.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Then click on the
          <strong>check #2</strong> button to have the software verify your answer:
          <img src="{{ 'img/image734.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To check the probability by decimals, type the probability of the player winning in the
          decimal form (rounded to four digits after the decimal point) in the
          <strong>Q#3: The same probability in decimal form rounded to four places is [____]</strong> space. For Player A, the probability of winning is .1111:
          <img src="{{ 'img/image735.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Then click on the
          <strong>check #3</strong> button to have the software verify your answer:
          <img src="{{ 'img/image736.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To check the probability by percents, type the probability of the player winning in
          percents (rounded to two decimal places) in the
          <strong>Q#4: The same probability in percents rounded to two decimal places is [____]</strong> space. For Player A, the probability of winning is 11.11%:
          <img src="{{ 'img/image737.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Then click on the
          <strong>check #4</strong> button to have the software verify your answer:
          <img src="{{ 'img/image738.gif' | relative_url }}" class="h-center"/>
        </li>
      </ul>
    </p>
