<p>
      <ul>
        <li>
          You can choose from two different types of fraction diagrams in the
          <strong>Choose Shape</strong> pull-down menu: square or circle. If you change shapes in the middle of a problem, all
          your work to that point will be lost.
          <img class="h-center" src="{{ 'img/image640.jpg' | relative_url }}"/>
        </li>
        <li>
          Below is an example of the square fraction diagram. You can change the number of columns
          by using the
          <strong>-Col</strong> button to remove columns and the
          <strong>+Col</strong> button to add columns. You can change the number of rows by using the
          <strong>+Row</strong> and
          <strong>-Row</strong> buttons. To color a section in the diagram, click the section. You can un-color a section
          by clicking it again.
          <img class="h-center" src="{{ 'img/image641.jpg' | relative_url }}"/>
        </li>
        <li>
          Below is an example of the circular fraction diagram. You can change the number of
          sections by using the
          <strong>+Sec</strong> button to add sections and the
          <strong>-Sec</strong> button to remove sections. To color a section in the diagram, click the section. You can
          un-color a section by clicking it again.
          <img class="h-center" src="{{ 'img/image642.jpg' | relative_url }}"/>
        </li>
        <li>
          You can choose to create one or two equivalent fractions by selecting "one" or "two" from
          the
          <strong>Number of Fractions</strong> drop down menu.
        </li>
        <li>
          For each equivalent fraction, you should make the colored part of the diagram equal to the
          given fraction. Then click the
          <strong>Check</strong> button for each diagram to check your answer. If the diagram is correct, the word
          "Correct" will be printed on top of the diagram; if it isn't correct, the word "Incorrect"
          will be printed instead. If your answer is incorrect, you can try again. If you repeat the
          given fraction or a fraction you've already made with the same numerator and denominator
          the word "Repeat" will be printed.
        </li>
        <li>
          At any time during the activity, you can click the
          <strong>Start Over</strong> button or the
          <strong>Next Question </strong> button. The
          <strong>Start Over</strong> button will restart the current question from the very beginning. The
          <strong>Next Question</strong> button will set up a new question.
          <img class="h-center" src="{{ 'img/image644.jpg' | relative_url }}"/>
        </li>
        <li>
          This activity will automatically record how successful you are at answering the questions.
          To view the score, press the
          <strong>Show Score</strong> button at the bottom of the activity and a pop-up window will appear with the scoreboard.
          To close this pop-up window press the
          <strong>Close</strong> button or click back on the main window.
        </li>
        <li>
          To pause the scoring, press the
          <strong>Active</strong> button at the bottom of the screen and it will change to a
          <strong>Paused</strong> button. To resume scoring, press the
          <strong>Paused</strong> button.
        </li>
        <li>
          To reset the scoreboard, open the scoreboard using the
          <strong>Show Score</strong> button and then press the
          <strong>Reset</strong> button.
        </li>
      </ul>
    </p>
