<p>
      Begin by choosing to use a preset spinner, make your own spinner, or use dice.
    </p>
    <p>
      <strong>Preset Spinners</strong>
    </p>
    <ul>
      <li>
        Click on the
        <strong>New Spinner</strong> button to choose the type of preset spinner you would like to use.
      </li>
      <li>
        Set the number of spins to either 1, 5, or 10.
      </li>
      <li>
        Click the
        <strong>Spin</strong> button to spin the spinner. Your data will be collected in the window to the right of the
        spinner.
      </li>
      <li>
        Press the
        <strong>Clear Tally</strong> button to erase your data and begin again.
      </li>
    </ul>
    <p>
      <strong>Make Your Own Spinner</strong>
    </p>
    <ul>
      <li>
        The maximum number of slices is 12 similar to a clock.
      </li>
      <li>
        The spinner starts out with 4 slices, one of each color.
      </li>
      <li>
        The black handles located at 12, 6 and 9 o'clock can be used to increase or decrease the
        size of a slice by clicking and dragging with the mouse.
      </li>
      <li>
        The black handles cannot be used to completely remove a slice, only shrink it to its
        smallest size of 1/12 of the whole pie.
      </li>
      <li>
        The white handle cannot be moved. It represents the first piece or starting point of the
        pie.
      </li>
      <li>
        The
        <strong>+</strong> and
        <strong>-</strong> buttons on the lower right-hand side can be used to add or remove a slice of a particular
        color.
      </li>
      <li>
        New slices are added at the 4 o'clock position, one sector clockwise from the white handle.
      </li>
      <li>
        The size of a new slice will always be 1/12 of the whole pie.
      </li>
      <li>
        A black handle will appear to represent the new slice. This handle can be used to adjust
        it's size.
      </li>
      <li>
        When pressing the
        <strong>-</strong> button to remove a slice, the first slice of the selected color clockwise from 3 o'clock is
        removed.
      </li>
      <li>
        Removing a slice will cause the adjacent clockwise slice to enlarge, taking up the empty
        space.
      </li>
      <li>
        Set the number of spins, then click the
        <strong>Spin</strong> button.
      </li>
    </ul>
    <p>
      <strong>Dice</strong>
    </p>
    <ul>
      <li>
        You can click the
        <strong>New Dice</strong> button to select from a set of preset dice, or you can click the
        <strong>Make Dice</strong> button to create your own six-sided dice.
      </li>
      <li>
        When selecting from the preset list or making your own dice your selection will be applied
        to both dice, meaning both dice will always be identical.
      </li>
      <li>
        Set the number of rolls, then click the
        <strong>Roll Dice</strong> button.
      </li>
    </ul>
