<p>
      <ul>
        <li>
          A number between 0 and 50 is randomly selected. The user can either determine the factors
          of that number, randomly select another number by using the
          <strong>Get New # </strong>button, or specify a number by inputting a number next to the
          <strong>UseThis #</strong> button and then clicking the button.
          <img class="h-center" src="{{ 'img/image699.gif' | relative_url }}"/>
        </li>
        <li>
          Choose whether or not you wish the applet to use the commutative property by either
          clicking on the "Show Commutative property" or "Do not show Commutative property" bubble.
          <img class="h-center" src="{{ 'img/image700.gif' | relative_url }}"/>
        </li>
        <li>
          If you choose "Do not show Commutative property" then you do not need to enter the
          expression b x a if you've entered a x b.
        </li>
        <li>
          If you choose "Show Commutative property" then you need to enter both forms of the
          expression: a x b and b x a.
        </li>
        <li>
          <p>
            Click and drag across the grid to color a rectangle with the dimensions of a
            factorization whose area (i.e. product) is equal to the number shown. The resulting
            rectangle must have the same area as the product of the factors.
            <img class="h-center" src="{{ 'img/image701.gif' | relative_url }}"/>
          </p>
          <p>
            Note: If you chose "Show commutative property", when drawing the rectangle with the
            dimensions of the factors, imagine the grid as if it were the first quadrant of the
            coordinate plane and your factors as your x-axis and y-axis movements. For example: 4 *
            1 would be displayed as 4 over and 1 up. 4 is your x-axis movement and 1 is your y-axis
            movement. Your drawing will be counted as 1 * 4 otherwise!
          </p>
          <p>
            <img class="h-center" src="{{ 'img/image702.gif' | relative_url }}"/>
          </p>
        </li>
        <li>
          After you have drawn the appropriate sized rectangle, click the
          <strong>enter</strong> button to see if the rectangle is correct.
        </li>
      </ul>
      <p>
        <strong>Scoring</strong>
      </p>
      <ul>
        <li>
          This activity will automatically record how successful you are at answering the questions.
          To view the score, press the
          <strong>Show Score</strong> button at the bottom of the activity and a pop-up window will appear with the scoreboard.
          <img class="h-center" src="{{ 'img/FactorizeTwo.png' | relative_url }}"/> To close this pop-up window press the
          <strong>Close</strong> button or click back on the main window.
        </li>
        <li>
          To pause the scoring, press the
          <strong>Active</strong> button at the bottom of the screen and it will change to a
          <strong>Paused</strong> button. To resume scoring, press the
          <strong>Paused</strong> button.
        </li>
        <li>
          To reset the scoreboard, open the scoreboard using the
          <strong>Show Score</strong> button and then press the
          <strong>Reset</strong> button.
        </li>
      </ul>
    </p>
