<p>
      Clicking on any of the trees in the forest will begin the fire simulation. The user will then
      be able to watch the fire spread through the forest, based on the parameters selected. The
      user may adjust these parameters in the boxes to the left of the forest.
    </p>
    <p>
      The
      <strong>Probability</strong> box is located at the top left of the activity and allows the student to select the
      probability that an individual tree will burn when the fire reaches it. At each timestep, a
      tree on fire has a specified probability of spreading the fire to one of its immediate
      neighbors: left, up, right, and down.
      <img src="{{ 'img/assessmentFire.png' | relative_url }}" class="h-center"/>
    </p>
    <p>
      Beneath this, the
      <strong>Control the burn</strong> box contains settings that allow the user to customize the burn.
      <ul>
        <li>
          The
          <strong>Forest size</strong> drop down menu allows the user to select how many trees will be in the forest. The tiny
          forest is 10x10, the small forest is 15x15, the medium forest is 25x25 and the large
          forest is 35x35.
        </li>
        <li>
          You can choose how the fire burns by clicking the button beside
          <strong>Burn Uninterrupted</strong> or
          <strong>Burn Step By Step</strong>.
          <br/>
          <img src="{{ 'img/assessmentFire1.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          If you choose step by step you must click on the
          <strong>Step Through Fire</strong> button and keep clicking on it until the fire burns completely.
          <img src="{{ 'img/assessmentFire2.png' | relative_url }}" class="h-center"/>
        </li>
      </ul>
    </p>
    <p>
      In the
      <strong>Guess the burn</strong> box, users can modify how they will estimate the trees that were burned.
      <ul>
        <li>
          The user can use the drop down menu to select whether the estimate must be "close",
          "really close", or "almost perfect".
          <br/>
          <br/>
        </li>
        <li>
          The user can also choose to estimate the number, fraction, or percentage of trees burned.
          <br/>
          <br/>
        </li>
        <li>
          Once the fire simulation has been run, the user can enter the estimate into the text input
          box and press
          <strong>Submit</strong>.
          <img src="{{ 'img/AssessFire2.png' | relative_url }}" class="h-center"/> The computer will then score the answer. If the answer is correct, a congratulatory
          message will appear below. If the answer is incorrect, the user will be able to try again.
        </li>
      </ul>
    </p>
    <p>
      To estimate another scenario, the user must select the
      <strong>Re-grow Forest</strong> button.
    </p>
    <p>
      <strong>Scoring</strong>
      <ul>
        <li>
          This activity will automatically record how successful you are at answering the questions.
          To view the score, press the
          <strong>Show Score</strong> button at the bottom of the activity and a pop-up window will appear with the scoreboard.
          <img src="{{ 'img/assessmentFire3.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To close this pop-up window press the
          <strong>Close</strong> button or click back on the main window.
          <br/>
          <br/>
        </li>
        <li>
          To pause the scoring, press the
          <strong>Active</strong> button at the bottom of the screen and it will change to a
          <strong>Paused</strong> button. To resume scoring, press the
          <strong>Resume</strong> button.
          <br/>
          <br/>
        </li>
        <li>
          To reset the scoreboard, open the scoreboard using the
          <strong>Show Score</strong> button and then press the
          <strong>Reset</strong> button.
          <br/>
          <br/>
        </li>
      </ul>
    </p>
