<p>
      <ul>
        <li>
          The
          <strong>graph</strong> shows the values of the results of the normal distribution. The black curve on the graph
          shows the expected result of the trials, with a
          <strong>mean</strong> of zero represented by the blue line. The black circles at the bottom of the red lines
          show the
          <strong>standard deviation</strong>. The purple curve on the graph shows the
          <strong>fitted normal distribution</strong> of the trials, which is usually similar to the expected distribution.
        </li>
        <li>
          To change the standard deviation, click and drag any of the black circles. Dragging them
          closer together decreases the standard deviation, while dragging them apart increases the
          standard deviation. The maximum standard deviation is 1.250, while the minimum is 0.410.
        </li>
      </ul>
    </p>
    <p>
      <img src="{{ 'img/Graph.png' | relative_url }}" class="h-center"/>
    </p>
    <p>
      <ul>
        <li>
          In the boxes below the graph, information is displayed about the
          <strong>Original Gaussian</strong> and
          <strong>Fitted Gaussian</strong>. The
          <strong>amplitude</strong> of the distribution is the highest point on the graph. The
          <strong>mean</strong> is the average of all of the trial results. The
          <strong>standard deviation</strong> measures the variability of the trial results. Typically, all three of these measures
          will be relatively similar between the original and fitted Gaussians.
        </li>
      </ul>
    </p>
    <p>
      <img src="{{ 'img/Gaussian.png' | relative_url }}" class="h-center"/>
    </p>
    <p>
      <ul>
        <li>
          You can also change the gridlines displayed on the graph in the
          <strong>Show</strong> box. These gridlines can help you to determine the exact height of each bar on the graph.
        </li>
      </ul>
    </p>
    <p>
      <img src="{{ 'img/GridLines.png' | relative_url }}" class="h-center"/>
    </p>
    <p>
      <ul>
        <li>
          To draw a
          <strong>histogram</strong>, choose the number of trials you want from the choices in the pull-down menu. You can
          change the bin size using the scrollbar. A new histogram will be generated automatically
          as you change the settings, but if you wish to generate another histogram without changing
          settings, you can press "Create new Histogram with".
        </li>
      </ul>
    </p>
    <p>
      <img src="{{ 'img/Histogram.png' | relative_url }}" class="h-center"/>
    </p>
