<p>
      <ul>
        <li>
          The
          <strong>Number of Sides</strong> input specifies the number of sides of the base regular polygon. 3 is a triangle, 4 is a
          square, and so on. Any value from 3 to 100 is acceptable.
          <img src="{{ 'img/image684.jpg' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The
          <strong>Scale Factor</strong> input specifies the scale for reducing the size of the polygon in each iteration.
          <img src="{{ 'img/image685.jpg' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The
          <strong>Depth of Fractal</strong> input specifies the number of iterations to be drawn.
          <img src="{{ 'img/image686.jpg' | relative_url }}" class="h-center"/>
          <p>
            Note that the depth of fractal is dependent on the computing power of the fractal. Thus,
            high numbers might overwhelm your computer and cause it to freeze. Generally, a depth of
            7 or 8 will be your computational limit.
          </p>
        </li>
        <li>
          <p>
            The
            <strong>Length of Each Side</strong> input specifies the length of each side of the base polygon in screen pixels.
            <img src="{{ 'img/image687.jpg' | relative_url }}" class="h-center"/>
          </p>
          <p>
            To fit the entire figure into the window, use these guidelines:
            <table class="h-center">
              <tr>
                <td>
                  Sides =
                </td>
                <td>
                  3 to 10
                </td>
                <td>
                  10 to 50
                </td>
                <td>
                  50 to 100
                </td>
              </tr>
              <tr>
                <td>
                  Length =
                </td>
                <td>
                  100
                </td>
                <td>
                  20
                </td>
                <td>
                  10
                </td>
              </tr>
            </table> Then change the length of the side up and down to zoom in and out on the middle of
              the figure.
          </p>
        </li>
        <li>
          <p>
            Once you have input the number of sides, the length of each side, the scale factor, and
            the depth of the fractal, use the Create Fractal! button to draw the fractal.
            <img src="{{ 'img/image688.jpg' | relative_url }}" class="h-center"/>
          </p>
        </li>
      </ul>
    </p>
