<p>
      This activity requires you to build two or more fractions and then order them from smallest to
      largest.
      <ul>
        <li>
          First, select whether you wish to work with circles or squares. Next, change the number of
          shapes you wish to sort.
          <img class="h-center" src="{{ 'img/image645.gif' | relative_url }}"/>
        </li>
        <li>
          You may use the "New" button at any time to start over with a new set of fractions.
        </li>
        <li>
          Use the Sec+ and Sec- buttons above the circles to divide your shape into sections. If you
          are using squares, then use the Row-, Row+, and Col-, Col+ buttons to create sections.
          <img class="h-center" src="{{ 'img/image646.gif' | relative_url }}"/> These sections represent the denominator of the fraction. Once you have the correct
          number of sections, click in the appropriate number of those sections to represent the
          numerator of the fraction.
        </li>
        <li>
          When you believe you have correctly represented the fraction, click on the "Check" button
          above the circle to see if you are right.
          <img class="h-center" src="{{ 'img/image647.gif' | relative_url }}"/>
        </li>
        <li>
          If either of your shapes are incorrect, try again. If they are both correct, then place
          them in the empty boxes, ordered from lowest to highest. To do this, click in the gray box
          below the shape and drag the image into the box.
          <img class="h-center" src="{{ 'img/image648.gif' | relative_url }}"/>
        </li>
        <li>
          Once you believe you have the fractions properly ordered, press the "Check" button to see
          if you are right.
          <img class="h-center" src="{{ 'img/image649.gif' | relative_url }}"/>
        </li>
        <li>
          This activity will automatically record how successful you are at answering the questions.
          To view the score, press the
          <strong>Show Score</strong> button at the bottom of the activity and a pop-up window will appear with the scoreboard.
          The information in this window is divided into two sections. The statistics for the
          current question are given in the top half of the window, and the statistics for all
          questions together are given in the bottom half. To close this pop-up window press the
          <strong>Close</strong> button or click back on the main window.
        </li>
        <li>
          To pause the scoring, press the
          <strong>Active</strong> button at the bottom of the screen and it will change to a
          <strong>Paused</strong> button. To resume scoring, press the
          <strong>Paused</strong> button.
        </li>
        <li>
          To reset the scoreboard, open the scoreboard using the
          <strong>Show Score</strong> button and then press the
          <strong>Reset</strong> button.
        </li>
      </ul>
    </p>
