<ul>
      <li>
        The
        <strong>Next Fractal</strong> and
        <strong>Previous Fractal</strong> buttons on the left side of the applet control which fractal generator is being viewed.
        <img class="h-center" src="{{ 'img/image773.gif' | relative_url }}"/>
        <img class="h-center" src="{{ 'img/image767.gif' | relative_url }}"/>
      </li>
      <li>
        The
        <strong>Enter Scale Factor</strong> textfield on the right side of the applet allows you to type in your "guess" for the scale
        factor for the line deformation you are currently viewing.
        <img class="h-center" src="{{ 'img/image768.gif' | relative_url }}"/>
      </li>
      <li>
        The
        <strong>Enter Number Of Copies</strong> textfield on the right side of the applet allows you to type in your "guess" for the number
        of copies made from the line deformation you are currently viewing.
        <img class="h-center" src="{{ 'img/image769.gif' | relative_url }}"/>
      </li>
      <li>
        The
        <strong>Calculate Fractal Dimension</strong> button on the right side of the applet will check your guesses from the above textfields.
        <img class="h-center" src="{{ 'img/image770.gif' | relative_url }}"/>
      </li>
      <li>
        The
        <strong>Result Box</strong> below the Calculate Fractal Dimension button will display the result after you have pressed
        the Calculate Fractal Dimension button.
        <img class="h-center" src="{{ 'img/image771.gif' | relative_url }}"/>
      </li>
      <li>
        The
        <strong>See a deeper level of this fractal!</strong> button on the bottom right side of the applet will become active immediately after you have
        correctly guessed the scale factor and number of copies for the line deformation you are
        currently viewing. It allows you to view increasing levels of the line deformation as
        applied to a straight line.
        <img class="h-center" src="{{ 'img/image772.gif' | relative_url }}"/>
      </li>
    </ul>
    <p>
      <strong>Scoring</strong>
    </p>
    <ul>
      <li>
        This activity will automatically record how successful you are at answering the questions.
        To view the score, press the
        <strong>Show Score</strong> button at the bottom of the activity and a pop-up window will appear with the scoreboard.
        To close this pop-up window press the
        <strong>Close</strong> button or click back on the main window.
      </li>
      <li>
        To pause the scoring, press the
        <strong>Active</strong> button at the bottom of the screen and it will change to a
        <strong>Paused</strong> button. To resume scoring, press the
        <strong>Paused</strong> button.
      </li>
      <li>
        To reset the scoreboard, open the scoreboard using the
        <strong>Show Score</strong> button and then press the
        <strong>Reset</strong> button.
      </li>
    </ul>
