<p>
      Find out how to...
    </p>
    <p>
      <table>
        <tr>
          <td class="h-center">
            <a href="#grid">Add Grid Lines</a>
          </td>
          <td class="h-center">
            <a href="#setWindow">Change X min/max and Y min/max</a>
          </td>
          <td class="h-center">
            <a href="#functions">Graph Functions</a>
          </td>
          <td class="h-center">
            <a href="#showtbl">Show Tabular Function Data</a>
          </td>
        </tr>
        <tr>
          <td class="h-center">
            <a href="#asymptotes">Show Asymptotes</a>
          </td>
          <td class="h-center">
            <a href="#showTrace">Trace Function</a>
          </td>
          <td class="h-center">
            <a href="#sliders">Sliders</a>
          </td>
        </tr>
      </table>
    </p>
    <p>
      The area in the center of the screen is where the plot is displayed.
    </p>
    <p>
      <img class="h-center" src="{{ 'img/image291.jpg' | relative_url }}"/>
    </p>
    <p>
      <strong>
        <a name="grid">Grid Lines</a>
      </strong>
    </p>
    <p>
      <ul>
        <li>
          There are three types of grids:
          <strong>No Grid</strong>,
          <strong>Light Grid Lines</strong>, and
          <strong>Dark Grid Lines</strong>. To activate any of these three options, highlight the circle next to the appropriate
          option:
          <img class="h-center" src="{{ 'img/image314.jpg' | relative_url }}"/>
          <div class="h-center">
            <table>
              <tr>
                <td>
                  <strong>No Grid</strong> graph:
                </td>
                <td>
                  <strong>Light Grid Line</strong> graph:
                </td>
                <td>
                  <strong>Dark Grid Grid Line</strong> graph:
                </td>
              </tr>
              <tr>
                <td>
                  <img class="h-center" src="{{ 'img/image292.jpg' | relative_url }}"/>
                </td>
                <td>
                  <img class="h-center" src="{{ 'img/image293.jpg' | relative_url }}"/>
                </td>
                <td>
                  <img class="h-center" src="{{ 'img/image296.jpg' | relative_url }}"/>
                </td>
              </tr>
            </table>
          </div>
        </li>
      </ul>
      <strong>
        <a name="setWindow">Change Scales</a>
      </strong>
    </p>
    <ol>
      <li>
        <p>
          <strong>Setting exact values for axis mins/maxes:</u> You may set the graph boundaries by clicking the
          <strong>Set Window</strong> button and entering new values for the x max, x min, y max, or y min. Then click the
          <strong>Set</strong> button to set the boundaries. To return the values to their defaults, you click the
          <strong>Get Defaults</strong> button and then click the Set button again. If you do not want to change the window
          settings you may click
          <strong>Cancel</strong>.
        </p>
        <p>
          <img class="h-center" src="{{ 'img/image295.jpg' | relative_url }}"/>
        </p>
      </li>
      <li>
        <strong>Zoom/Pan buttons:</u> In the upper right corner of the graph, there are three buttons with pictures of magnifying
        glasses. From top to bottom these buttons represent zoom in, zoom out, and pan,
        respectively.
        <ul>
          <li>
            To zoom in, click the top button to depress it, then click and drag over the area of the
            graph that you wish to magnify. The images below show first the process of dragging a
            box around a desired zoom area with the mouse (left), and then the resulting zoomed
            image after the mouse button is released (right). Note that after the zoom-in has been
            performed, the zoom-in button at top right is no longer depressed.
            <img class="h-center" src="{{ 'img/image297.gif' | relative_url }}"/>
            <img class="h-center" src="{{ 'img/image298.gif' | relative_url }}"/>
          </li>
          <li>
            To zoom out, simply click the second of the three zoom buttons. The graph will
            automatically zoom out by doubling the min and max values of the axes.
          </li>
          <li>
            To use the pan feature, click the bottom magnifying glass button to depress it. Click
            and drag over the graph and the graph will pan around according to the movement of the
            mouse. Upon releasing the mouse, the pan button is released.
          </li>
        </ul>
      </li>
    </ol>
    <p>
      <strong>
        <a name="showTrace">Trace Function</a>
      </strong>
    </p>
    <ul>
      <li>
        Checking the
        <strong>Show Trace</strong> button will cause old graph lines to remain visible (in a lighter color) as you change the
        function by moving the sliders. To remove all the old lines, click the
        <strong>Clear Trace</strong> button. To stop tracing, uncheck the
        <strong>Show Trace</strong> check box.
        <img class="h-center" src="{{ 'img/image299.jpg' | relative_url }}"/>
      </li>
      <li>
        When
        <strong>Show Trace</strong> is checked, you will be unable to
        <span class="bold">Plot Data, Show Squares, Auto Scale, Show Vertical Asymptotes,</span> use the pan/zoom features, or change the darkness of the grids. When any of these options
        are checked, you will be unable to
        <strong>Show Trace</strong>.
      </li>
    </ul>
    <p>
      <strong>
        <a name="asymptotes">Show Asymptotes</a>
      </strong>
    </p>
    <ul>
      <li>
        You may see the vertical asymptotes of a graph (if there are any) by checking the
        <strong>Show Vertical Asymptotes</strong> check box. For example, the tangent graph with this option selected looks like:
        <img class="h-center" src="{{ 'img/image300.jpg' | relative_url }}"/>
      </li>
    </ul>
    <p>
      <strong>* Note that due to the programming technique used to detect asymptotes, this program will only
      detect those asymptotes that go from a large positive y value to a large negative y value at
      the discontinuity. f(x)=log(x) is an example of a vertical asymptote Data Flyer will not
      detect.</u>
    </p>
    <p>
      <strong>
        <a name="functions">Graph Functions</a>
      </strong>
      <ul>
        <li>
          Function Flyer allows you to enter an algebraic function in the box labeled
          <strong>f(x)=</strong> . For information on the syntax of entering functions and numbers with scientific
          notation, see
          <a href="{{ '/resources/functionhelp/' | relative_url }}">Interactivate Functions Help</a>.
        </li>
        <li>
          Note that numerical values entered should be accurately calculated from 10
          <sup> -8 </sup> to 10
          <sup> 8 </sup> . Numbers larger or smaller than these values produce unreliable results. If you enter a
          number with a magnitude smaller than 10^-6 or larger than 10^6 it will automatically be
          converted to scientific notation.
        </li>
        <li>
          Enter the function you want to graph in the box marked
          <strong>f(x)=</strong>. Any constant or coefficient you wish to manipulate must be entered as a number. For
          instance, if you wish to experiment with the linear function f(x) = x + 8 and wish to
          manipulate the coefficient of x it is necessary to type the equation as f(x) = 1*x + 8 so
          the computer recognizes the multiplier as a parameter. Likewise if you want to experiment
          with the sine function f(x) = sin(x) and be able to manipulate the parameters such as the
          y-intercept, phase, frequency, and amplitude, it is necessary to type 1*sin(1*x+0)+0. (Try
          typing in both and clicking the set function button so you can see the difference.)
          <img class="h-center" src="{{ 'img/image301.gif' | relative_url }}"/>
        </li>
        <li>
          <p>
            Once you have set the function you may enter a different function by clicking the Change
            Function button, entering the new function, and clicking the Set Function button again.
            <img class="h-center" src="{{ 'img/image302.jpg' | relative_url }}"/>
          </p>
        </li>
      </ul>
      <strong>
        <a name="showtbl">Show Tabular Function Data</a>
      </strong>
    </p>
    <p>
      <ul>
        <li>
          To view a table of values corresponding to the graphed function, click the
          <span class="bold">Show Tablular Data</span> button.
          <img class="h-center" src="{{ 'img/image320.gif' | relative_url }}"/>
        </li>
        <li>
          The x values in the table increment equally and then give the corresponding f(x) values
          for the function. You can change these data values by entering a new minimum x value, new
          maximum x value, and step size. If you enter a step that does not divide evenly into the
          range, the table will stop at the greatest multiple of the step that is less than the
          maximum. The precision field allows you to adjust the number of decimal places to print
          out the values of x and f(x).
          <img class="h-center" src="{{ 'img/image1044.JPG' | relative_url }}"/>
        </li>
      </ul>
      <strong>
        <a name="sliders">Sliders</a>
      </strong>
    </p>
    <p>
      <ul>
        <li>
          You may set the sliders back to the original values that they had when the the function
          was entered by clicking the
          <strong>Reset Sliders</strong> button.
          <img class="h-center" src="{{ 'img/image304.jpg' | relative_url }}"/>
        </li>
        <li>
          The
          <strong>Slider Limits</strong> button brings up a dialog box that allows you to set the minimum and maximum values of
          each slider bar. You can also set the step size for each slider bar. The step size
          determines how precisely you can control the value of the constant. For instance, if you
          set the minimum to 0, the maximum to 1, and the step to 0.1, moving the slider will step
          the constant from 0 to 0.1 to 0.2, and so on. However, if you set the step to 0.2, the
          slider will step the constant to 0, 0.2, 0.4, etc.
          <img class="h-center" src="{{ 'img/image1045.JPG' | relative_url }}"/>
        </li>
        <li>
          The number of increments must be smaller than 100. If you enter parameters such that the
          number of increments is greater than 100, then an error message appears asking you to
          re-adjust by changing the slider min, slider max, or step size.
          <img class="h-center" src="{{ 'img/image306.gif' | relative_url }}"/>
        </li>
        <li>
          Checking the
          <strong>Exponents Change</strong> box before clicking
          <strong>Set Function</strong> will allow you, after the function is graphed, to use slider bars to adjust the values of
          any exponents.
          <img class="h-center" src="{{ 'img/image321.jpg' | relative_url }}"/>
        </li>
      </ul>
    </p>
