<p>
      <ul>
        <li>
          To select the number of doors, type the desired number in the
          <strong>Number of Doors = [___]</strong> space. Here the number of doors is 3:
          <img src="{{ 'img/image610.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To select the number of games simulated, type the desired number in the
          <strong>Number of Trials = [___]</strong> space. Here the number of trials is 1000:
          <img src="{{ 'img/image611.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To select whether the player switches the doors or stays with the original choice, click
          on the selection sign:
          <div>
            <img src="{{ 'img/image612.gif' | relative_url }}"/>
          </div>
          <strong>Stay</strong>
          <div>
            <img src="{{ 'img/image612.gif' | relative_url }}"/>
          </div>
          <strong>Stay</strong> or
          <strong>Switch</strong>. Here Stay is selected:
          <img src="{{ 'img/image613.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To run the simulation, click on the
          <strong>Run Simulation</strong> button:
          <img src="{{ 'img/image614.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Observe the total number of prizes the player obtained in all the games in
          <strong>The number of prizes: [___]</strong> space. Here the number of prizes is 316:
          <img src="{{ 'img/image615.gif' | relative_url }}" class="h-center"/>
        </li>
      </ul>
    </p>
