<p>
      <ul>
        <li>
          Type the coordinates of the grid line intersection where you want to place the house in
          the
          <strong>X=[___]</strong> and
          <strong>Y=[___]</strong> spaces (here X=10 and Y=-5):
          <img src="{{ 'img/image739.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Click on the
          <strong>Plot</strong> button to draw the house:
          <img src="{{ 'img/image740.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Click on the
          <strong>New Point</strong> button to obtain a house with a new address:
          <img src="{{ 'img/image741.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Determine X and Y coordinates of the house. Here X=10 and Y=-5:
          <img src="{{ 'img/image742.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To have the software check your coordinates:
          <ul>
            <li>
              type the coordinates in the
              <strong>X=[___]</strong> and
              <strong>Y=[___]</strong> spaces:
              <img src="{{ 'img/image743.gif' | relative_url }}" class="h-center"/>
            </li>
            <li>
              click on the
              <strong>Check</strong> button:
              <img src="{{ 'img/image744.gif' | relative_url }}" class="h-center"/>
            </li>
          </ul>
        </li>
        <li>
          Click on the
          <strong>New Point</strong> button to obtain a house with a new address:
          <img src="{{ 'img/image739.gif' | relative_url }}" class="h-center"/>
        </li>
      </ul>
      <p>
        <strong>Scoring</strong>
      </p>
      <ul>
        <li>
          This activity will automatically record how successful you are at answering the questions.
          To view the score, press the
          <strong>Show Score</strong> button at the bottom of the activity and a pop-up window will appear with the scoreboard.
          To close this pop-up window press the
          <strong>Close</strong> button or click back on the main window.
        </li>
        <li>
          To pause the scoring, press the
          <strong>Active</strong> button at the bottom of the screen and it will change to a
          <strong>Paused</strong> button. To resume scoring, press the
          <strong>Paused</strong> button.
        </li>
        <li>
          To reset the scoreboard, open the scoreboard using the
          <strong>Show Score</strong> button and then press the
          <strong>Reset</strong> button.
        </li>
      </ul>
      <p>
        Because this activity randomly generates questions, a feature called
        <strong>Seed Random</strong> has been implemented that allows multiple users using different computers to work on the
        same problem. See
        <a href="{{ '/resources/SeedRandom' | relative_url }}>Seed Random Help</a> for instructions on using this feature.
      </p>
    </p>
