<p>
      <ul>
        <li>
          Type the formula of the function you want to graph in the space at the bottom of the
          applet, next to
          <strong>y(x)=</strong>.
        </li>
        <li>
          Basic functions and their compositions can be typed as follows:
          <table>
            <tr>
              <td>
                <strong>Function</strong>
              </td>
              <td>
                <strong>Symbol</strong>
              </td>
              <td>
                <strong>Examples (including combinations of functions)</strong>
              </td>
            </tr>
            <tr>
              <td>
                addition
              </td>
              <td>
                +
              </td>
              <td>
                <strong>x + 3 </strong> x plus three
              </td>
            </tr>
            <tr>
              <td>
                subtraction
              </td>
              <td>
                -
              </td>
              <td>
                <strong>5 - x </strong> five minus x
              </td>
            </tr>
            <tr>
              <td>
                multiplication
              </td>
              <td>
                *
              </td>
              <td>
                <strong>(x - 2)*x </strong> x times x minus two
              </td>
            </tr>
            <tr>
              <td>
                division
              </td>
              <td>
                /
              </td>
              <td>
                <strong>3/x</strong> three divided by x
              </td>
            </tr>
            <tr>
              <td>
                power
              </td>
              <td>
                ^
              </td>
              <td>
                <strong>x^3 - 1 </strong> x to the power of three minus one
              </td>
            </tr>
            <tr>
              <td>
                power
              </td>
              <td>
                **
              </td>
              <td>
                <strong>x**3 - 1 </strong> x to the power of three minus one
              </td>
            </tr>
            <tr>
              <td>
                (pi)
              </td>
              <td>
                pi
              </td>
              <td>
                <strong>sin(pi*x) </strong> sin of (pi) times x
              </td>
            </tr>
            <tr>
              <td>
                square root
              </td>
              <td>
                sqrt(...)
              </td>
              <td>
                <strong>sqrt(x-1)</strong> square root of x minus one
              </td>
            </tr>
            <tr>
              <td>
                nth root (see
                <sup>*</sup> below)
              </td>
              <td>
                x^(1/n)
              </td>
              <td>
                <strong>x^(1/3)</strong> cube root of x
              </td>
            </tr>
            <tr>
              <td>
                absolute value
              </td>
              <td>
                abs(...)
              </td>
              <td>
                <strong>abs(3 - x) </strong> absolute value of three minus x
              </td>
            </tr>
            <tr>
              <td>
                e to the power of x
              </td>
              <td>
                exp(...)
              </td>
              <td>
                <strong>exp(x)</strong> e to the power of x
              </td>
            </tr>
            <tr>
              <td>
                sine
              </td>
              <td>
                sin(...)
              </td>
              <td>
                <strong>sin(x**2)</strong> sine of x squared
              </td>
            </tr>
            <tr>
              <td>
                cosine
              </td>
              <td>
                cos(...)
              </td>
              <td>
                <strong>cos(5 - x) </strong> cosine of five minus x
              </td>
            </tr>
            <tr>
              <td>
                tangent
              </td>
              <td>
                tan(...)
              </td>
              <td>
                <strong>tan(x) </strong> tangent x
              </td>
            </tr>
            <tr>
              <td>
                arcsine
              </td>
              <td>
                asin(...)
              </td>
              <td>
                <strong>2*asin(x)</strong> two times arcsine x
              </td>
            </tr>
            <tr>
              <td>
                arccosine
              </td>
              <td>
                acos(...)
              </td>
              <td>
                <strong>acos(x)</strong> arccosine x
              </td>
            </tr>
            <tr>
              <td>
                arctangent
              </td>
              <td>
                atan(...)
              </td>
              <td>
                <strong>atan(x)</strong> arctangent of x
              </td>
            </tr>
            <tr>
              <td>
                hyperbolic sine
              </td>
              <td>
                sinh(...)
              </td>
              <td>
                <strong>sinh(1 - x)</strong> hyperbolic sine of one minus x
              </td>
            </tr>
            <tr>
              <td>
                hyperbolic cosine
              </td>
              <td>
                cosh(...)
              </td>
              <td>
                <strong>cosh(10/x)</strong> hyperbolic cosine of ten divided by x
              </td>
            </tr>
            <tr>
              <td>
                hyperbolic tangent
              </td>
              <td>
                tanh(...)
              </td>
              <td>
                <strong>tanh(x) </strong>hyperbolic tangent of x
              </td>
            </tr>
            <tr>
              <td>
                natural logarithm
              </td>
              <td>
                ln(...)
              </td>
              <td>
                <strong>ln(x) </strong> natural logarithm of x
              </td>
            </tr>
            <tr>
              <td>
                base 10 logarithm
              </td>
              <td>
                log(...)
              </td>
              <td>
                <strong>log(x + 5)</strong> base ten logarithm of x plus five
              </td>
            </tr>
          </table> * When x is less than zero, the exponent must be written as a whole number or in
            fraction form, not a decimal. For instance, if you want to graph the fifth root of
            negative numbers, you must write x^(1/5),
          <em>not</em> x^(0.2).
        </li>
        <li>
          Click
          <strong>Graph</strong> to graph the function.
        </li>
        <li>
          To plot more than one function on the same graph, separate the functions with commas. You
          may plot up to ten functions.
        </li>
        <li>
          Click
          <strong>Set Window</strong> to determine how the coordinate plane will appear on your screen. A new window will open
          that allows you to change the setttings. X min and X max are the minimum and maximum
          x-values displayed on the graph. Similarly for Y min and Y max. X scale is the distance
          between vertical gridlines if
          <strong>Choose Scale Automatically</strong> is checked. Y scale is the distance between horizontal gridlines if
          <strong>Choose Scale Automatically</strong> is checked. If the
          <strong>Use Defaults</strong> box is unchecked, Graphit will choose appropriate values for you. If you uncheck that
          box, you can override Graphit\'s values with your own. If you wish to revert back to the
          default values, click
          <strong>Get Defaults</strong> in the Set Window box. Click
          <strong>Set</strong> to make the changes to the window parameters take effect.
          <img src="{{ 'img/image1281.GIF' | relative_url }}" class="h-center"/>
        </li>
        <li>
          There are three radio buttons that allow you to display no grid lines, light grid lines or
          dark grid lines. Select the radio button next to the type of grid line you would like to
          view. Check the box next to
          <strong>Hide Grid</strong> to hide grid lines. Grid lines are drawn on the x-axis at intervals of x-scale and on the
          y-axis at intervals of y-scale.
          <img src="{{ 'img/image1288.GIF' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To find a position on the graph you can click with the mouse. The (x,y) pair where you
          clicked will appear in the
          <strong>Mouse Position</strong> box.
          <img src="{{ 'img/image1283.GIF' | relative_url }}" class="h-center"/>
        </li>
        <li>
          <strong>Zoom/Pan buttons</u>. In the upper right corner of the graph, there are three buttons with pictures of
          magnifying glasses. From top to bottom these buttons represent zoom in, zoom out, and pan,
          respectively.
        </li>
        <li>
          To zoom in, click the top button to depress, then click and drag over the area of the
          graph for which you wish to zoom to. Note that after clicking and dragging over the
          selected area, the zoom in button is automatically released.
          <img src="{{ 'img/image427.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To zoom out, simply click the middle button. The graph will automatically zoom out by
          doubling the min and max values of the axes.
        </li>
        <li>
          To use the pan feature, click the bottom magnifying glass button to depress it. Click and
          drag over the graph and the graph will pan around according to the movement of the mouse.
          Upon releasing the mouse, the pan button is released.
        </li>
        <li>
          <strong>Auto Scale</u>: Checking the
          <strong>Auto Scale</strong> check box gives the smallest window possible so that all of the data points still fit on
          the coordinate plane. Note that there must be data for this feature to work.
          <img src="{{ 'img/image1284.GIF' | relative_url }}" class="h-center"/>
        </li>
        <li>
          <a name="showtbl">
            <strong>Show Tabular Function Data</strong>
          </a>
        </li>
      </ul>
      <ul>
        <li>
          To view a table of values corresponding to the graphed function, click the
          <strong>Show Tabular Data</strong> button.
          <img src="{{ 'img/image1286.GIF' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The x values in the table increment equally and then give the corresponding f(x) values
          for each function plotted. You can change these data values by entering a new minimum x
          value, new maximum x value, and step size. If you enter a step that does not divide evenly
          into the range, the table will stop at the greatest multiple of the step that is less than
          the maximum. The precision field allows you to adjust the number of decimal points
          displayed.
          <img src="{{ 'img/image1054.JPG' | relative_url }}" class="h-center"/>
        </li>
        <li>
          When the
          <strong>Plot Data</strong> button within the Show Tabular Data window is pressed, the data listed in tabular form in
          the Tabular Data window is plotted on the graph of the main screen.
          <img src="{{ 'img/image1055.JPG' | relative_url }}" class="h-center"/>
        </li>
      </ul>
    </p>
