<p>
      <ul>
        <li>
          You can choose the data to be graphed from a list of existing data sets by choosing from
          the drop down menu, or you can choose "My Data" and enter your own data in the text box at
          the bottom of the applet.
          <img src="{{ 'img/histogram1.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The histogram will look something like the image below. The height of each bar corresponds
          to the number of data points in the interval represented by that bar. The scrollbar below
          the histogram allows you to change the interval size. A label below the scrollbar displays
          the current interval size. You can also change the interval size manually by inputting a
          number into the
          <strong>Interval Size</strong> and clicking on the
          <strong>Update Interval</strong> button.
          <img src="{{ 'img/histogram2.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          You can change the values displayed on the vertical axis by setting the
          <strong>Minimum value of Y-axis</strong> and
          <strong>Maximum value of Y-axis</strong>. Click the
          <strong>Update Y-axis</strong> button to make the changes to these values take effect.
          <br/>
          <br/>
        </li>
        <li>
          As you change the interval size, the values displayed as
          <strong>Min Frequency</strong> and
          <strong>Max Frequency</strong> may change also. If the minimum value of the Y-axis is set so that it is less than the
          Min Frequency value, any interval in which the height of the bar is smaller than the
          minimum value of the Y-axis will appear to be empty.
          <br/>
          <br/>
        </li>
        <li>
          Just above the text box, the number of data points will be displayed as
          <strong>N</strong>. Next to that will be the
          <strong>Mean</strong> and
          <strong>Standard Deviation</strong> of the data. You can set the minimum value of the horizontal axis in the text box labeled
          <strong>Minimum value of X-axis</strong>. After entering the desired value, press the
          <strong>Set X Min</strong> button to update the graph.
        </li>
        <li>
          <p>
            The following data sets can be used with the histogram activity:
            <ul>
              <li>
                <a href="{{ '/media/worksheets/493.doc' | relative_url }}">Atomic Weight of Silver</a>
              </li>
              <li>
                <a href="{{ '/media/worksheets/494.doc' | relative_url }}">Density of the Earth</a>
              </li>
              <li>
                <a href="{{ '/media/worksheets/491.doc' | relative_url }}">Digits of Pi</a>
              </li>
              <li>
                <a href="{{ '/media/worksheets/492.doc' | relative_url }}">Old Faithful</a>
              </li>
            </ul>
          </p>
        </li>
        <li>
          If you select "My Data" from the list beside
          <strong>Select a data set</strong>, you must input the data you want to use at the bottom of the applet. Beside the words
          <strong>Title</strong> you may write a description of your data that will appear below the graph. The data you
          want to graph should go in the
          <strong>data input box</strong> beneath the words "Enter data, 1# per line". Numbers in this text box should be one per
          line. Click
          <strong>Clear</strong> to clear out the
          <strong>data input box</strong> and click the
          <strong>Update Data</strong> button to have the histogram reflect changes in the data entered into the data text box.
          <img src="{{ 'img/histogram4.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Pressing the
          <strong>Show Frequency Table</strong> button shows a frequency table of the number of hits for each interval within the
          histogram.
          <img src="{{ 'img/histogram5.png' | relative_url }}" class="h-center"/> This window will automatically close if the interval size changes and must be reopened
          when the new interval size is established.
          <img src="{{ 'img/histogram6.png' | relative_url }}" class="h-center"/>
        </li>
      </ul>
    </p>
