<p>
      The area at the bottom of the screen is where the plot is displayed:
      <div class="h-center">
        <img src="{{ 'img/image1088.gif' | relative_url }}"/>
      </div>
      <strong>Entering Data:</strong>
      <ul>
        <li>
          Function: The user can enter a function in the text box next to the "f (x) = ".
          <div class="h-center">
            <img src="{{ 'img/image1089.gif' | relative_url }}"/>
          </div>
        </li>
        <li>
          Integration Range: The user can enter the range in which they want to integrate over. This
          can be done in the text boxes next to the text "Integrate from x = " and "to x".
          <div class="h-center">
            <img src="{{ 'img/image1091.gif' | relative_url }}"/>
          </div>
        </li>
        <li>
          Partitions: The user can change the number of partitions used in calculating the integral.
          This can be done by either clicking the arrows (which updates graphically automatically)
          or entering a value manually (which requires pressing the Set button). The size of each
          partition depends upon the upper and lower limits of the integral; the size is calculated
          and displayed after pressing the arrows or the Set button.
          <div class="h-center">
            <img src="{{ 'img/image1199.gif' | relative_url }}"/>
          </div>
        </li>
        <li>
          Integration Technique: The user must also choose which technique to use in calculating the
          integral. The user can experiment with all the different methods and compare accuracies.
          <div class="h-center">
            <img src="{{ 'img/image1096.gif' | relative_url }}"/>
          </div>
        </li>
      </ul>
      <strong>Tabular Data</strong>
      <ul>
        <li>
          To view a table of values corresponding to the graphed function, click the
          <strong>Show Tabular Data</strong> button.
          <div class="h-center">
            <img src="{{ 'img/image1092.gif' | relative_url }}"/>
          </div>
        </li>
        <li>
          The x values in the table increment equally and then give the corresponding f(x) values
          for the function. You can change these data values by entering a new minimum or maximum x
          value, step size, or precision. If you enter a step size that does not divide evenly into
          the range, the table will stop at the greatest multiple of the step that is less than the
          maximum.
          <div class="h-center">
            <img src="{{ 'img/image1093.gif' | relative_url }}"/>
          </div>
        </li>
      </ul>
      <strong>Zoom/Pan buttons</strong>
      <ul>
        <li>
          In the upper right corner of the graph, there are three buttons with pictures of
          magnifying glasses. From top to bottom these buttons represent zoom in, zoom out, and pan,
          respectively.
        </li>
        <li>
          To zoom in, click the top button to depress it, then click and drag over the area of the
          graph that you wish to magnify. The images below show first the process of dragging a box
          around a desired zoom area with the mouse (left), and then the resulting zoomed image
          after the mouse button is released (right). Note that after the zoom-in has been
          performed, the zoom-in button at top right is no longer depressed.
          <div class="h-center">
            <img src="{{ 'img/image545.gif' | relative_url }}"/>
            <img src="{{ 'img/image546.gif' | relative_url }}"/>
          </div>
        </li>
        <li>
          To zoom out, simply click the middle button. The graph will automatically zoom out by
          doubling the min and max values of the axes.
        </li>
        <li>
          To use the pan feature, click the bottom magnifying glass button to depress it. Click and
          drag over the graph and the graph will pan around according to the movement of the mouse.
          Upon releasing the mouse, the pan button is released.
        </li>
      </ul>
      <strong>Grid Lines</strong>
      <p>
        <ul>
          <li>
            <p>
              There are three types of grids:
              <strong>No Grid, Light Grid Lines</strong>, and
              <strong>Dark Grid Lines</strong>. To activate any of these three options, highlight the circle next to the appropriate
              option:
              <div class="h-center">
                <img src="{{ 'img/image540.jpg' | relative_url }}"/>
              </div>
            </p>
            <p>
              <div class="h-center">
                <table>
                  <tr>
                    <td>
                      <strong>No Grid</strong> graph:
                    </td>
                    <td>
                      <strong>Light Grid Lines</strong> graph:
                    </td>
                    <td>
                      <strong>Dark Grid Lines</strong> graph:
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="h-center">
                        <img src="{{ 'img/image541.jpg' | relative_url }}"/>
                      </div>
                    </td>
                    <td>
                      <div class="h-center">
                        <img src="{{ 'img/image542.jpg' | relative_url }}"/>
                      </div>
                    </td>
                    <td>
                      <div class="h-center">
                        <img src="{{ 'img/image543.jpg' | relative_url }}"/>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </p>
          </li>
        </ul>
      </p>
      <strong>Output</strong>
      <p>
        <ul>
          <li>
            To calculate the integral the user must click on the
            <strong>Integrate!</strong> button. The graph will then update with all your data, and the value of the integral
            will be displayed.
            <div class="h-center">
              <img src="{{ 'img/image1097.gif' | relative_url }}"/>
            </div>
          </li>
        </ul>
      </p>
    </p>
