<p>
      <ul>
        <li>
          The
          <strong>Start</strong> button on the right side of the applet begins applying the rules to the grid. The button
          becomes the
          <strong>Stop</strong> button after it has been pressed.
          <img src="{{ 'img/image530.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The
          <strong>Stop</strong> button appears when the applet is applying the rules to the grid. When pressed, the cycle
          stops. The button becomes the
          <strong>Start</strong> button after it has been pressed.
          <img src="{{ 'img/image531.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The
          <strong>Step</strong> button causes the game to advance by one turn ONLY.
          <img src="{{ 'img/image532.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The
          <strong>Clear</strong> button resets the entire grid to an empty population.
          <img src="{{ 'img/image533.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The
          <strong>Random</strong> button pops up a window that allows you to enter a decimal value between 0.00 and 1.00 to
          specify the percentage in which the grid is filled.
          <img src="{{ 'img/image534.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The
          <strong>Rules</strong> button pops up a window that shows the current rules for the simulation, and allows you
          to modify them.
          <img src="{{ 'img/image535.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The
          <strong>Stats</strong> button pops up a window that graphically displays population statistics for the grid over
          the past 250 iterations.
          <img src="{{ 'img/image536.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The
          <strong>Pointer Selection</strong> choice is below the
          <strong>Random</strong> button, and it allows you to specify what pattern is applied to the grid when you click
          on it. The default is a single pixel.
          <img src="{{ 'img/image538.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The
          <strong>Boundary Selection</strong> choice is below the
          <strong>Pointer Selection</strong> choice, and it specifies whether the grid will wrap around the sides (toroid), or if it
          has walls up on all sides (island).
          <img src="{{ 'img/image537.gif' | relative_url }}" class="h-center"/>
        </li>
      </ul>
    </p>
