<p>
      <ul>
        <li>
          On the first screen you must begin by entering information about the data that has been
          collected.
          <ul>
            <li>
              In the first entry blank, enter the name of the species (or object) that you observed.
              You may have studied plants, cats, classmates, or school desks. Please enter this name
              in the singular form: plant, cat, desk, etc.
            </li>
            <li>
              You will then be required to enter the characteristic of the specimens that you
              measured. This is the aspect of the species that you observed such as height, sleep,
              age, or weight.
            </li>
            <li>
              In the last entry blank, you must supply the units of measurement that were used, such
              as feet, inches, hours, years, months, pounds, or kilograms.
            </li>
          </ul>
        </li>
        <li>
          <p>
            After you have entered your information in the three spaces, click the
            <strong>Proceed</strong> button to continue.
          </p>
          <p>
            <img src="{{ 'img/image602.GIF' | relative_url }}" class="h-center"/>
          </p>
        </li>
        <li>
          On the second screen:
          <ul>
            <li>
              You will be asked to set the number of specimens that you observed. You may include
              1-20 objects. If you choose less than 10 objects, the scrollbars on the next screen
              will disappear. If you choose more than 20 objects, the total will automatically
              change to 20 objects.
              <img src="{{ 'img/image603.GIF' | relative_url }}" class="h-center"/>
            </li>
            <li>
              You must also enter a range of values within which your measurements fall. This range
              should be in terms of the units that you entered on the first screen.
              <img src="{{ 'img/image604.GIF' | relative_url }}" class="h-center"/>
            </li>
            <li>
              <p>
                Before leaving this page you may choose the statistical information that you would
                like the program to calculate for you. You may choose more than one by clicking on
                the box to the left of each option. You must choose at least one option to proceed.
              </p>
              <p>
                Please note that a checkmark may not appear in the box on your screen as shown here,
                but you should be able to observe which options have been chosen.
              </p>
              <p>
                <img src="{{ 'img/image605.GIF' | relative_url }}" class="h-center"/>
              </p>
            </li>
          </ul>
        </li>
        <li>
          <p>
            To proceed to the next screen, click the
            <strong>Proceed</strong> button at the bottom of the screen.
          </p>
          <p>
            <img src="{{ 'img/image606.GIF' | relative_url }}" class="h-center"/>
          </p>
        </li>
        <li>
          On the third screen you can enter the measurement for each specimen that you observed
          using the scroll bars or the input fields. Note that you can only use values within the
          range that you specified previously. If you have more than 10 objects and the scroll bars
          are not visible, simply tab between the input fields to enter your information.
          <img src="{{ 'img/image607.GIF' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Below the adjustment area you may observe the statistical information you requested.
          Notice the calculations change as you adjust your data.
          <img src="{{ 'img/image608.GIF' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To start over or enter a new data set, click on the
          <strong>Get New Outputs </strong> button at the bottom of this screen.
          <img src="{{ 'img/image609.GIF' | relative_url }}" class="h-center"/>
        </li>
      </ul>
    </p>
