<p>
      The user may choose from a set of pre-made data sets about daily activity, coin tosses,
      government spending, and more. The choice menu shown below has the pre-made data sets.
    </p>
    <p>
      <div>
        <img class="h-center" src="{{ 'img/DropDownScreenShot.png' | relative_url }}"/>
      </div>
    </p>
    <p>
      The user may change the amount, or name of a value being graphed. The data must be in the
      following format:
    </p>
    <div class="h-center">
      <p>
        <strong>Value 1, Value 2, Name</strong>
      </p>
    </div>
    <p>
      for example:
    </p>
    <div class="h-center">
      <p>
        <strong>0.676, 2.393, 1975</strong>
      </p>
    </div>
    <p>
      The data may be edited in the data box shown below.
    </p>
    <p>
      <div>
        <img class="h-center" src="{{ 'img/DataBoxScreenShot.png' | relative_url }}"/>
      </div>
    </p>
    <p>
      The data may be updated after being changed, or cleared from the data box by pressing the
      "Update Chart" and "Clear" button, both shown below.
      <div>
        <img class="h-center" src="{{ 'img/image930.jpg' | relative_url }}"/>
      </div>
    </p>
    <p>
      <ul>
        <li>
          The user may manually adjust the Y scale of the bar graph by dragging the vertical
          scrollbar next to the graph. The thickness of the bars may be altered by dragging the
          scrollbar on the X axis.
        </li>
        <li>
          To change the scale of the graph to a specific value, the user may enter Maximum and
          Minimum Y scale values in the Number Inputs, and click the "Set Min and Max" button, all
          shown below.
          <div>
            <img class="h-center" src="{{ 'img/MultiBarGraphMinMax.png' | relative_url }}"/>
          </div>
        </li>
        <li>
          To change the color of the bars, the user may select a color from the Bar Color drop down
          choice menu.
        </li>
        <li>
          Pre-made data sets may be selected from a choice menu. To alter the data, the user may
          change the data displayed in the data box below the choice menu, and hit the "Graph Data"
          button. To clear all data, the user may hit the "Clear Data" button. The choice menu, data
          box with data, and the two buttons are shown below.
          <div>
            <img class="h-center" src="{{ 'img/ChooseSetScreenShot.png' | relative_url }}"/>
          </div>
        </li>
      </ul>
    </p>
