<p>
      <ul>
        <li>
          On lines where two colors meet is a small black dot on the edge of the circle. If you
          click on the black dot and drag you will change the size of the two sections that meet on
          that line.
          <img src="{{ 'img/image307.jpg' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The size of the sections can also be changed by using the scroll bars or the text boxes
          beside each color. Remember that the text boxes have to add up to 100%.
          <img src="{{ 'img/image308.jpg' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To view your changes click on the "update chart" button.
          <img src="{{ 'img/image309.jpg' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To change the number of section in the circle click on the "+1" or "-1" button.
          <img src="{{ 'img/image310.jpg' | relative_url }}" class="h-center"/>
        </li>
      </ul>
    </p>
