<p>
      <ul>
        <li>
          The
          <strong>Start Simulation</strong> button on the top-left of the applet begins animating the interactions between the
          different elements (rabbits, wolves, and the grass) of the grid. It becomes the
          <strong>Pause Simulation</u> button when pressed. There is also a
          <strong>Step Simulation</strong> button in the top-center of the applet that allows you to see the simulation step by
          step.
          <img src="{{ 'img/Start.png' | relative_url }}" class="h-center"/>
          <img src="{{ 'img/Step.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The
          <strong>Pause Simulation</strong> button allows you to pause the simulation and look at the current state of the grid. It
          becomes the
          <strong>Resume Simulation</u> button when pressed.
          <img src="{{ 'img/Pause.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The
          <strong>Resume Simulation</strong> button allows you to resume the simulation after it has been paused. It becomes the
          <strong>Pause Simulation</u> button when pressed.
          <img src="{{ 'img/Resume.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The
          <strong>Reset Simulation</strong> button sets up a new simulation based on the current parameters.
          <img src="{{ 'img/Reset.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The
          <strong>Forest Size</strong> menu allows you to select the size of the forest.
          <img src="{{ 'img/Size.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The
          <strong>Speed</strong> scroll bar allows you to speed up and slow down the rate at which the applet displays the
          simulation.
          <img src="{{ 'img/Speed.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The
          <strong>Forest Border</strong> menu allows you to choose between toroid and island. Toroid allows the rabbits to move
          off the screen on one edge and wind up on the opposite edge of the forest. Island does not
          allow them to move this way.
          <img src="{{ 'img/Border.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The
          <strong>View Population Graph</strong> button opens a window that displays a graph of the numbers of rabbits, wolves, and grass
          per iteration.
          <img src="{{ 'img/PopGraph.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          In the Population Graph window there is the
          <strong>Display Tabular Data</strong> button that allows you to see the percentage of the area filled by rabbits, wolves, and
          grass for the last 250 iterations.
          <img src="{{ 'img/Table.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The
          <strong>View Cumulative Stats</strong> button allows you to view the population statistics for the current stage of the
          simulation.
          <img src="{{ 'img/ViewStats.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The
          <strong>View/Modify Parameters</strong> button opens a window that allows you to modify various settings of the simulation, such
          as reproduction rates and maximum lifespans.
          <img src="{{ 'img/Parameters.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The
          <strong>View Simulation Key</strong> button opens a window that displays a legend for the grid.
          <img src="{{ 'img/SimKey.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The
          <strong>Seed Random Number Generator</strong> button opens a window that allows you to set a two-character random seed, which will
          determine the initial placement of the rabbits and wolves. This will allow you to conduct
          a series of experiments where the initial parameters are controlled. Since rabbits and
          wolves move, reproduce, and die based on set probability, each simulation will have
          different results, even if none of the parameters are changed.
          <img src="{{ 'img/Seed.png' | relative_url }}" class="h-center"/> Note that once the seed has been set, the only way to go back to random placement is to
          reload the page using your browser's refresh button.
        </li>
      </ul>
    </p>
