<p>
      For the Equations Page:
    </p>
    <p>
      <ul>
        <li>
          The user may enter up to three equations on this page. The equations are referred to as
          "Relations."
        </li>
        <li>
          Each equation has its own variable. There is a default letter and initial value for each
          variable. If the user wishes to change the letter, he or she may enter a letter into the
          text box just following the
          <strong>Set Variable</strong> button. The user may also change the initial value of the variable by typing in a number
          next to the u
          <sub>
            0
          </sub>
          =. Then the user should click the
          <strong>Set Variable</strong> button to change the letter throughout the relation.
          <div>
            <img class="h-center" src="{{ 'img/image1277.GIF' | relative_url }}"/>
          </div>
          <p>
            Notice that to make a valid recursive equation, the same letter must be used in the
            equation. So if the variable is the letter a, the equation should remain consistent like
            in the following example:
          </p>
          <ul>
            <li>
              <p>
                The user must enter in an equation. This is done in the text box next to the symbols
                <strong>
                 u
                  <sub>
                    n
                  </sub>=
                </strong>
                <sub>
                  n
                </sub>) depend on the last value of the variable (u
                <sub>
                  n-1
                </sub>
                ).
              </p>
              <div>
                <img class="h-center" src="{{ 'img/image1278.GIF' | relative_url }}"/>
              </div>
            </li>
          </ul>
        </li>
        <li>
          To achieve subscripted text, the user simply types the dependant variable then n-1. The
          activity is programmed to subscript the n-1. Once the relation includes a string in the
          form u
          <sub>
            n-1
          </sub>(or another dependent varaible determined by the user) it becomes a valid recursive
          equation.
        </li>
        <li>
          When the
          <strong>Clear Equation</strong> button is clicked, both the equation typed into the text box and the equation appearing
          in the text field are cleared.
          <div>
            <img class="h-center" src="{{ 'img/image922.jpg' | relative_url }}"/>
          </div>
        </li>
        <li>
          Once the user is satisfied with the variables and equations for each relation, he or she
          may click the
          <strong>Graph it!</strong> button at the top of the page to see the graphs of the equations.
        </li>
      </ul>
      <div>
        <img class="h-center" src="{{ 'img/image923.jpg' | relative_url }}"/>
      </div>
    </p>
    <p>
      For the Graphs Page:
    </p>
    <p>
      <ul>
        <li>
          <p>
            To view all the data points at once click the
            <strong>Show Data</strong> button. Then a chart appears in a separate window listing each data point in a chart.
          </p>
          <p>
            <div>
              <img class="h-center" src="{{ 'img/image926.jpg' | relative_url }}"/>
            </div>
          </p>
          <p>
            <div>
              <img class="h-center" src="{{ 'img/image1061.JPG' | relative_url }}"/>
            </div>
          </p>
        </li>
        <li>
          <p>
            To navigate the graph use the slider bars on the bottom and left side of the graph.
            Click on the central rectangle and drag across. For the slider bar on the bottom drag
            left and right, for the one on the left side drag up and down. Notice that both slider
            bars move and they attach to the point closest to the slider bar. The value that appears
            on the screen is that of the point to which the slider bar is currently attached.
          </p>
          <p>
            <div>
              <img class="h-center" src="{{ 'img/image925.jpg' | relative_url }}"/>
            </div>
          </p>
        </li>
        <li>
          <p>
            The user can switch between equations so that they can view their values one at a time.
            They can do this by using the drop down menu located below the graph.
          </p>
          <p>
            <div>
              <img class="h-center" src="{{ 'img/image1148.gif' | relative_url }}"/>
            </div>
          </p>
        </li>
        <li>
          The user can also change how they want the graph displayed. If you check the
          <strong>Connect data points</strong> check box the points will be connected by a line. The default connects the points so that
          you can better view the shape of the graph. If you check the
          <strong>Fit graph size to data points</strong> check box the graph will resize to fit all the data points.
          <div>
            <img class="h-center" src="{{ 'img/image1149.gif' | relative_url }}"/>
          </div>
        </li>
        <li>
          There are three types of grids:
          <strong>No Grid</strong>,
          <strong>Light Grid Lines</strong>, and
          <strong>Dark Grid Lines</strong>. To activate any of these three options, highlight the circle next to the appropriate
          option:
          <div>
            <img class="h-center" src="{{ 'img/image314.jpg' | relative_url }}"/>
          </div>
          <p>
            <div>
              <table class="h-center">
                <tr>
                  <td>
                    <strong>No Grid</strong> graph:
                  </td>
                  <td>
                    <strong>Light Grid Line</strong> graph:
                  </td>
                  <td>
                    <strong>Dark Grid Grid Line</strong> graph:
                  </td>
                </tr>
                <tr>
                  <td>
                    <div>
                      <img class="h-center" src="{{ 'img/image292.jpg' | relative_url }}"/>
                    </div>
                  </td>
                  <td>
                    <div>
                      <img class="h-center" src="{{ 'img/image293.jpg' | relative_url }}"/>
                    </div>
                  </td>
                  <td>
                    <div>
                      <img class="h-center" src="{{ 'img/image296.jpg' | relative_url }}"/>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </p>
        </li>
        <li>
          There are two ways to alter the range on the axes.
          <ol>
            <li>
              <em>Setting exact values for axis mins/maxes:</em> You may set the graph boundaries by clicking the
              <strong>Preferences</strong> button and entering new values for the x max, x min, y max, y min, or iterations.
              Then click the
              <strong>Set Window</strong> button to set the boundaries. To return the values to their defaults, you click the
              <strong>Get Defaults</strong> button and then click the Set button again. If you do not want to change the window
              settings you may click
              <strong>Cancel</strong>.
              <div>
                <img class="h-center" src="{{ 'img/image1150.gif' | relative_url }}"/>
              </div>
            </li>
            <li>
              <em>Zoom/Pan buttons:</em> In the upper right corner of the graph, there are three buttons with pictures of
              magnifying glasses. From top to bottom these buttons represent zoom in, zoom out, and
              pan, respectively.
              <ul>
                <li>
                  To zoom in, click the top button to depress it, then click and drag over the area
                  of the graph that you wish to magnify. The images below show first the process of
                  dragging a box around a desired zoom area with the mouse (left), and then the
                  resulting zoomed image after the mouse button is released (right). Note that after
                  the zoom-in has been performed, the zoom-in button at top right is no longer
                  depressed.
                  <div>
                    <img class="h-center" src="{{ 'img/image1151.gif' | relative_url }}"/>_
                    <img class="h-center" src="{{ 'img/image1152.gif' | relative_url }}"/>
                  </div>
                </li>
                <li>
                  To zoom out, simply click the second of the three zoom buttons. The graph will
                  automatically zoom out by doubling the min and max values of the axes.
                </li>
                <li>
                  To use the pan feature, click the bottom magnifying glass button to depress it.
                  Click and drag over the graph and the graph will pan around according to the
                  movement of the mouse. Upon releasing the mouse, the pan button is released.
                </li>
              </ul>
            </li>
          </ol>
        </li>
        <li>
          The user can also go back and change the recursive equations at any time by clicking on
          the
          <strong>Back</strong> button.
          <div>
            <img class="h-center" src="{{ 'img/image1153.gif' | relative_url }}"/>
          </div>
        </li>
      </ul>
    </p>
