<p>
      <ul>
        <li>
          First, enter a starting number, a multiplier, and an add-on into the appropriate boxes on
          the applet. This applet allows the user to enter integers, decimals, and fractions.
          <img src="{{ 'img/image414.GIF' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Next, click on the button labeled
          <strong>Calculate Sequence.</strong>
          <img src="{{ 'img/image1024.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Below the
          <strong>Calculate Sequence</strong> button you will see a graph displaying the resulting sequence as well as a box containing
          the elements of the sequence.
          <img src="{{ 'img/image416.GIF' | relative_url }}" class="h-center"/>
        </li>
        <li>
          You may change the initial values at any time and see the resulting sequence by clicking
          <strong>Calculate Sequence</strong>.
        </li>
      </ul>
    </p>
