<p>
      <ul>
        <li>
          Enter the area and perimeter of the current shape into the appropriate input box and click
          the check button.
          <img src="{{ 'img/image675.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          A message will appear beside each input box letting the user know whether or not the
          answers are correct.
        </li>
        <li>
          To get a different shape to practice with, click the
          <strong>Draw New Shape</strong> button.
          <img src="{{ 'img/image676.jpg' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To draw only rectangles, be sure the
          <strong>Only Draw Rectangular Shapes</strong> box is checked.
          <img src="{{ 'img/image677.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To practice on shapes that are bigger or smaller, drag the bar on the
          <strong>Adjust Size</strong> scroll bar.
          <img src="{{ 'img/image678.jpg' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The
          <strong>Compare Area and Perimeters</strong> button allows you to keep track of your previous correct answers in order to compare the
          corresponding areas to a given perimeter or vice versa. Clicking this button brings up a
          new window:
          <img src="{{ 'img/image679.gif' | relative_url }}" class="h-center"/>
          <p>
            You can sort by either the area or perimeter from least to greatest. To sort by area,
            make sure the
            <strong>area</strong> check box is selected and to sort by perimeter, make sure the
            <strong>perimeter</strong> checkbox is selected and then click the
            <strong>sort</strong> button.
          </p>
          <p>
            In order to return to the activity, simply click back in the main window (though if you
            are using Internet Explorer on OSX for Mac you will need to click on the title bar of
            the main window to return to the activity). To clear the data, click the
            <strong>clear</strong> button.
          </p>
        </li>
        <li>
          The
          <img src="{{ 'img/image988.png' | relative_url }}"/> button draws a red rectangular box around the figure on the grid. This can serve as a
          hint in determining the figure's perimeter. Note that once the button is clicked it
          toggles to read
          <img src="{{ 'img/image987.png' | relative_url }}"/>.
          <img src="{{ 'img/image986.png' | relative_url }}" class="h-center"/>
        </li>
      </ul>
      <p>
        <strong>Scoring</strong>
      </p>
      <ul>
        <li>
          This activity will automatically record how successful you are at answering the questions.
          To view the score, press the
          <strong>Show Score</strong> button at the bottom of the activity and a pop-up window will appear with the scoreboard.
          <img src="{{ 'img/Scoreboard_Shape_Builder.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To close this pop-up window press the
          <strong>Close</strong> button or click back on the main window.
        </li>
        <li>
          To pause the scoring, press the
          <strong>Active</strong> button at the bottom of the screen and it will change to a
          <strong>Paused</strong> button. To resume scoring, press the
          <strong>Paused</strong> button.
        </li>
        <li>
          To reset the scoreboard, open the scoreboard using the
          <strong>Show Score</strong> button and then press the
          <strong>Reset</strong> button.
        </li>
      </ul>
      <p>
        Because this activity randomly generates questions, a feature called
        <strong>Seed Random</strong> has been implemented that allows multiple users using different computers to work on the
        same problem. See
        <a href="{{ '/resources/SeedRandom' | relative_url }}>Seed Random Help</a> for instructions on using this feature.
      </p>
    </p>
