<p>
      <strong>Guessing the Rule</strong>
    </p>
    <p>
      In this mode, the program creates a rule for you and you must guess the rule. To get into this
      mode, you need to press on the circles with the question mark over them:
    </p>
    <p>
      <img src="{{ 'img/image857.jpg' | relative_url }}" class="h-center"/>
    </p>
    <p>
      <ul>
        <li>
          Begin by attempting to click and drag different colored shapes into the circle(s). Try to
          guess the rule for the circle(s) based on which shapes and colors the circle(s) accepts or
          rejects.
        </li>
        <li>
          When you believe you know the rule for the circle(s), make your guess in the appropriate
          menu and then click on the
          <img src="{{ 'img/image875.jpg' | relative_url }}"/> button.
        </li>
        <li>
          <p>
            If you have only one circle, you will see something that looks like this:
          </p>
          <p>
            <img src="{{ 'img/image858.jpg' | relative_url }}" class="h-center"/>
          </p>
          <p>
            You can scroll down and choose your guess for the rule of the circle. You can choose
            between several shapes, colors, and sizes:
          </p>
          <p>
            <img src="{{ 'img/image876.jpg' | relative_url }}" class="h-center"/>
          </p>
        </li>
        <li>
          <p>
            If you have two circles, either overlapping or non-overlapping, you will see something
            that looks like this:
          </p>
          <p>
            <img src="{{ 'img/image859.jpg' | relative_url }}" class="h-center"/>
          </p>
          <p>
            You can guess what the first circle is by scrolling down the list:
          </p>
          <p>
            <img src="{{ 'img/image860.jpg' | relative_url }}" class="h-center"/>
          </p>
          <p>
            The second circle is done just as the first.
          </p>
        </li>
        <li>
          Here is an example of the first circle having large shapes and the second circle having
          small shapes:
          <img src="{{ 'img/image861.jpg' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Before you click on the
          <img src="{{ 'img/image875.jpg' | relative_url }}"/> button, there is a display that says:
          <img src="{{ 'img/image873.jpg' | relative_url }}" class="h-center"/>
        </li>
        <li>
          If you guess the wrong rule, you will see a display that looks like:
          <img src="{{ 'img/image874.jpg' | relative_url }}" class="h-center"/>
        </li>
        <li>
          If you have the correct guess, you will see:
          <img src="{{ 'img/image862.jpg' | relative_url }}" class="h-center"/>
        </li>
        <li>
          If you want to guess a new rule, you click on the
          <img src="{{ 'img/image863.jpg' | relative_url }}"/> button.
        </li>
        <li>
          If you want to put all of the shapes in the diagram back into the original list of shapes,
          you press on the
          <img src="{{ 'img/image864.jpg' | relative_url }}"/> button. This does not give you a new rule to guess.
        </li>
      </ul>
      <strong>Making the Rule</strong>
    </p>
    <p>
      In this mode, you set the rule for the circle(s) and then you must place the shapes in the
      appropriate place. To get into this mode, you need to press on the 2 circles without the
      question mark:
    </p>
    <p>
      <img src="{{ 'img/image865.jpg' | relative_url }}" class="h-center"/>
    </p>
    <p>
      <ul>
        <li>
          Use the pull down menus to set the rule for each circle.
        </li>
        <li>
          If there is just one circle, you will see this:
          <img src="{{ 'img/image866.jpg' | relative_url }}" class="h-center"/>
        </li>
        <li>
          <p>
            You can choose between any of the shape, color, and size rules. In this example, all of
            the shapes in circle 1 will be red:
            <img src="{{ 'img/image867.jpg' | relative_url }}" class="h-center"/>
          </p>
          <p>
            Once you have chosen some rule for circle 1, it will automatically go into effect, as
            you see the option for scrolling disappear. There is no need to press on any other
            button.
          </p>
        </li>
        <li>
          If there are two circles, you will see:
          <img src="{{ 'img/image868.jpg' | relative_url }}" class="h-center"/>
        </li>
        <li>
          You can choose any of the characteristics for the first circle. In the example, the rule
          for circle 1 is that all of the shapes must be triangles.
          <img src="{{ 'img/image869.jpg' | relative_url }}" class="h-center"/>
        </li>
        <li>
          For the second circle, only some of the characteristics are available. For example, when
          you have 2 non-overlapping circles, if one circle has big shapes, the only possible
          characteristic for the other circle would be small shapes. In the example below, the
          second circle overlaps with the first, and it contains red shapes:
          <img src="{{ 'img/image870.jpg' | relative_url }}" class="h-center"/>
        </li>
        <li>
          <p>
            Next, you must drag each of the shapes to their appropriate place in the Venn Diagram.
            The Venn Diagram for just one circle with red shapes inside it is:
          </p>
          <p>
            <img src="{{ 'img/image871.jpg' | relative_url }}" class="h-center"/>
          </p>
          <p>
            The Venn diagram for the 2 non-overlapping circles with the first circle containing big
            shapes and the second circle containing small shapes is:
          </p>
          <p>
            <img src="{{ 'img/image861.jpg' | relative_url }}" class="h-center"/>
          </p>
          <p>
            The Venn diagram for 2 overlapping circles with the first circle containing the circle
            shapes, the second circle containing blue shapes and the middle section containing blue
            circles:
          </p>
          <p>
            <img src="{{ 'img/image872.jpg' | relative_url }}" class="h-center"/>
          </p>
        </li>
      </ul>
      <p>
        <strong>Scoring:</strong>
      </p>
      <ul>
        <li>
          <p>
            This activity will automatically record how successful you are at placing shapes in the
            venn diagram and guessing the rules of the venn diagram. To view the score, press the
            <strong>Show Score</strong> button at the bottom of the activity and a pop-up window will appear with the
            scoreboard.
          </p>
          <p>
            <img src="{{ 'img/shapeSort.png' | relative_url }}" class="h-center"/>
          </p>
          <p>
            To close this pop-up window press the
            <strong>Close</strong> button or click back on the main window.
          </p>
        </li>
        <li>
          To pause the scoring, press the
          <strong>Active</strong> button at the bottom of the screen and it will change to a
          <strong>Paused</strong> button. To resume scoring, press the
          <strong>Paused</strong> button.
        </li>
        <li>
          To reset the scoreboard, open the scoreboard using the Show Score button and then press
          the
          <strong>Reset</strong> button.
        </li>
      </ul>
    </p>
