<p>
      <ul>
        <li>
          The
          <strong>Next Stage</strong> and
          <strong>Previous Stage</strong> buttons at the bottom of the applet control which stage of the fractal that is being
          viewed.
          <img src="{{ 'img/image812.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The
          <strong>Output Box</strong> at the top of the applet lists the current stage's number of squares and the individual
          square side length.
          <img src="{{ 'img/image813.gif' | relative_url }}" class="h-center"/>
        </li>
      </ul>
    </p>
