<p>
      <ul>
        <li>
          Observe three closed doors at the beginning of each round of the game:
          <img src="{{ 'img/image616.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Click on a door you want to pick. The selection sign will appear on the door you picked.
          Here the door on the left is selected:
          <img src="{{ 'img/image617.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Then one of the other two doors will open to reveal a pig.
          <img src="{{ 'img/image618.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Click on one of the remaining two doors to find out whether there is the grand prize or a
          pig behind it.
          <img src="{{ 'img/image619.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Click on the
          <strong>Let's do it again</strong> button to start a new game:
          <img src="{{ 'img/image620.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Observe the data for the games when you stayed with the original door:
          <img src="{{ 'img/image621.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Then observe the data for the games when you switched:
          <img src="{{ 'img/image622.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Click on the
          <strong>Reset stats</strong> button to reset all the data to zeros:
          <img src="{{ 'img/image623.gif' | relative_url }}" class="h-center"/>
        </li>
      </ul>
    </p>
