<p>
      This activity requires you to create a diagram of the fraction by dividing a square or circle
      into equal parts and coloring in the appropriate areas.
      <ul>
        <li>
          You can choose from two different types of fraction diagrams in the Choose Shape pull-down
          menu: square or circle. If you change shapes in the middle of a problem, all your work to
          that point will be lost.
          <img src="{{ 'img/image1262.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Below is an example of the square fraction diagram. You can change the number of columns
          by using the -Col button to remove columns and the +Col button to add columns. You can
          change the number of rows by using the +Row and -Row buttons. To color a section in the
          diagram, click the section. You can un-color a section by clicking it again.
          <img src="{{ 'img/image1260.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          Below is an example of the circular fraction diagram. You can change the number of
          sections by using the +Sec button to add sections and the -Sec button to remove sections.
          To color a section in the diagram, click the section. You can un-color a section by
          clicking it again.
          <img src="{{ 'img/image1261.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          For each fraction, you should make the colored part of the diagram equal to the
          corresponding fraction on the number line. Then click the Check button for each diagram to
          check your answer. If the diagram is correct, the word "Correct" will be printed on top of
          the diagram; if it isn't correct, the word "Incorrect" will be printed instead. If your
          answer is incorrect, you can try again.
        </li>
        <li>
          At any time during the activity, you can click the Start Over button or the Next Question
          button. The Start Over button will restart the current question from the very beginning.
          The Next Question button will set up for a new question with new boundary fractions.
          <img src="{{ 'img/image1263.png' | relative_url }}" class="h-center"/>
        </li>
      </ul>
      <strong>Scoring</strong>
      <ul>
        <li>
          This activity will automatically record how successful you are at answering the questions.
          To view the score, press the
          <strong>Show Score</strong> button at the bottom of the activity and a pop-up window will appear with the scoreboard.
          To close this pop-up window press the
          <strong>Close</strong> button or click back on the main window.
        </li>
        <li>
          To pause the scoring, press the
          <strong>Active</strong> button at the bottom of the screen and it will change to a
          <strong>Paused</strong> button. To resume scoring, press the
          <strong>Paused</strong> button.
        </li>
        <li>
          To reset the scoreboard, open the scoreboard using the
          <strong>Show Score</strong> button and then press the
          <strong>Reset</strong> button.
        </li>
      </ul>
    </p>
