<p>
      <ul>
        <li>
          The user can draw a new triangle, square, or parallelogram on the coordinate plane by
          clicking the
          <strong> New Triangle, New Square, and New parallelogram </strong>buttons respectively.
          <img src="{{ 'img/image501.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          <strong>Translate Controls: </strong>Clicking and entering a number in the text box beside the phrase
          <strong>units on the X axis </strong>will let the applet know how many units to translate the figure on the X axis. Likewise,
          clicking and entering a number in the text box beside the phrase
          <strong>units on the Y axis </strong>will let the applet know how many units to translate the figure on the Y axis. Then
          clicking on the
          <strong>translate </strong>button will translate the figure.
          <img src="{{ 'img/image502.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          <p>
            <strong>Reflect Controls: </strong>Clicking and entering a number in the text box beside the phrase
            <strong>across the X </strong>= will let the applet know what vertical line that you want to reflect the figure about.
            Likewise, clicking and entering a number in the text box beside the phrase
            <strong>across Y </strong>= will let the applet know what horizontal line that you want to reflect the figure
            about. Then clicking on the
            <strong>reflect </strong>button will reflect the figure.
          </p>
          <p>
            <strong>Note: </strong>By default, the reflection is set to the line X=0, which is equivalent to the
            <strong>Y-axis </strong>and the line Y=0, which is equivalent to the
            <strong>X-axis.</strong>
          </p>
          <p>
            <img src="{{ 'img/image509.gif' | relative_url }}" class="h-center"/>
          </p>
        </li>
        <li>
          <strong>Rotate Controls: </strong>Clicking and entering a number in the text box beside the phrase
          <strong>degrees </strong>will let the applet know how many degrees of rotation you want to use. Then clicking on
          the
          <strong>rotate button</strong> will rotate the figure.
          <img src="{{ 'img/image510.gif' | relative_url }}" class="h-center"/>
        </li>
        <li>
          The user may choose to show the position of the original shape by checking the
          <strong>Show Original Polygon</strong> check box. When this box is checked the position of the initial polygon is outlined in
          blue.
        </li>
        <li>
          The user may also choose to show the positioning of the last polygon displayed on the
          screen by checking the
          <strong>Show Pre-image</strong> check box. When this box is checked a grey outline is shown at the position where the
          shape was located prior to the last transformation, reflection, or rotation.
        </li>
      </ul>
    </p>
