<p>
      The object of this activity is to improve the user's understanding of the area of a triangle
      and to improve the skills needed for calculating this area. The user may use any appropriate
      method for finding the area of a triangle, and once the area is entered, the applet will
      respond with "Correct," or "Incorrect. Try Again."
    </p>
    <p>
      There is more than one way, of course, to find the area of a triangle. If the user is unsure
      how to approach the problem, clicking the
      <strong>Give Hint</strong> button may prove to be helpful.
    </p>
    <p>
      <img src="{{ 'img/image890.GIF' | relative_url }}" class="h-center"/>
    </p>
    <p>
      The hint button draws additional lines which may allow the user to visualize the problem in a
      different way.
    </p>
    <p>
      <img src="{{ 'img/image891.gif' | relative_url }}" class="h-center"/>
    </p>
    <p>
      The user can then input the calculated area into the box and check the answer by clicking the
      <strong>Check Answer</strong> button.
    </p>
    <p>
      <img src="{{ 'img/image892.GIF' | relative_url }}" class="h-center"/>
    </p>
    <p>
      The program will then tell the user if their answer is correct or incorrect. If the answer is
      incorrect, redo the calculations to check for errors or try a different method for finding the
      area.
    </p>
    <p>
      When the user has found the correct area of a given triangle, a new triangle may be obtained
      by clicking on the
      <strong>New Traingle</strong> button.
    </p>
    <p>
      <img src="{{ 'img/image893.GIF' | relative_url }}" class="h-center"/>
    </p>
    <p>
      As the user becomes more skilled at calculating the area of a triangle, more difficult
      problems can be obtained using the pull-down menu at the top of the applet. Users may choose
      from level 1, level 2, or level 3 problems.
    </p>
    <p>
      <img src="{{ 'img/image1052.jpg' | relative_url }}" class="h-center"/>
      <p>
        <strong>Scoring</strong>
      </p>
      <ul>
        <li>
          This activity will automatically record how successful you are at answering the questions.
          To view the score, press the
          <strong>Show Score</strong> button at the bottom of the activity and a pop-up window will appear with the scoreboard.
          <img src="{{ 'img/Scoreboard_1type.png' | relative_url }}" class="h-center"/>
        </li>
        <li>
          To close this pop-up window press the
          <strong>Close</strong> button or click back on the main window.
        </li>
        <li>
          To pause the scoring, press the
          <strong>Active</strong> button at the bottom of the screen and it will change to a
          <strong>Paused</strong> button. To resume scoring, press the
          <strong>Paused</strong> button.
        </li>
        <li>
          To reset the scoreboard, open the scoreboard using the
          <strong>Show Score</strong> button and then press the
          <strong>Reset</strong> button.
        </li>
      </ul>
    </p>
