<p>
  This applet is an expanded version of
  <a href="{{ '/activities/Transmographer' | relative_url }}">TransmoGrapher</a> and
  <a href="{{ '/activities/TransmographerTwo' | relative_url }}">TransmoGrapher2</a>. It is a 3D model that allows the user to explore the world of
  <strong>transformation, reflections, and rotations</strong>.
</p>
<p>
  This applet allows the user to translate polygons on both the x and y-axes. The user can reflect
  the figure across any line using the equation:
</p>
<p>
  <div class="h-center">
    y = m * x + b
    <br />
  </div>
</p>
<p>
  where m is the slope and b is the y-intercept. The user can also reflect the figure across a
  vertical line using the equation x = ? where the user fills in any integer that keeps the
  reflected image on the graph.
</p>
<p>
  This applet also allows the user to rotate the polygon around any point in the plane or any given
  number of degrees. When wishing to view the graph in 3D, simply click on the graph and drag it to
  any view you would like.
</p>
<p>
  This activity would work well in groups of 2 or 3 so the users can better understand the concepts
  before progressing to work on them on their own.
</p>
