<p>
  This activity allows the user to see the results of a fire if a forest is densely planted in a
  rectangular grid with variations in probability and forest size. The students can adjust a variety
  of settings that affect how the forest burns. The "burn history" that is recorded for students is
  an excellent data set that can be analyzed for patterns. To do this, students can copy the data
  and paste it into another tool (e.g., Microsoft Excel) to create graphs and interpret the data.
</p>
<p>
  This activity is an excellent example for a lesson in scientific experimentation because it
  motivates students to discover what makes a good experiment. This activity would work well in
  mixed ability groups for about thirty to forty minutes with the
  <a href="{{ '/media/worksheets/Advanced_Fire_Exploration_Questions' | relative_url }}">Advanced Fire Worksheet</a> or fifteen to twenty minutes without.
</p>
