
  <p>
    This activity allows the user to play a game with solving equations where each player tries to
    connect four game pieces in a row before his or her opponent does. The players can choose to
    solve linear equations involving various properties of equality as well as solve quadratic
    equations in standard form. They can also choose the difficulty level and the number of players.
    This activity would work well in groups of 2 for about 25-30 minutes if you use the
    <a href="{{ '/media/worksheets/4.pdf' | relative_url }}">exploration questions</a> and 15-20 minutes otherwise.
  </p>
  <p />

