
  <p>
    This activity allows the user to practice solving algebra problems in both linear and quadratic
    forms. The student can choose to solve linear equations involving various properties of equality
    as well as solving quadratic equations in standard form. They can also choose the difficulty
    level and amount of time given to solve each problem. This activity would work well in groups of
    2 for about 25-30 minutes if you use the
    <a href="{{ '/media/worksheets/246.pdf' | relative_url }}">exploration questions</a> and 15-20 minutes otherwise.
  </p>

