<p>
  This activity allows students to play a generalized version of connect four, gaining the chance to
  place a piece on the board by answering arithmetic questions. The object of the game is to place
  four game pieces in a row before your opponent does. The players can choose to answer problems
  involving whole number and
  <a href="{{ '/dictionary/i' | relative_url }}">integer</a> addition, subtraction, multiplication, and division. They can also choose the difficulty level
  and the time limit for each question. This activity would work well in groups of 2 for about 25-30
  minutes if you use the
  <a href="{{ '/media/worksheets/Arithmetic_Four_Exploration_Questions' | relative_url }}">exploration questions</a> and 15-20 minutes otherwise.
</p>
