<p>
  This activity allows the user to explore different cross sections of various cones, cylinders,
  prisms, and pyramids. Cross sections can be difficult for students to understand, given that the
  concept requires that students switch between three-dimensional shapes and two-dimensional
  representations of those shapes. While this applet was designed to help students create and
  visualize cross sections of different solids, some students may also benefit from hands-on
  activities where they can physically slice open various solids before attempting more abstract
  explorations such as this applet.
</p>
<p>
  This activity would work well in groups of two to four for about twenty-five to thirty minutes if
  you use the
  <a href="{{ '/media/worksheets/Cross_Section_Flyer_Exploration_Questions' | relative_url }}">exploration questions</a> and five minutes per function type otherwise.
</p>
