<p>
  <p>
    This activity allows the user to practice solving algebraic equations using the additive inverse
    and multiplicative inverse properties. As the user solves the problem, the activity tracks each
    step, noting the property that was used. This activity would work well in groups of two for
    about 40 minutes if you use the
    <a href="{{ '/media/worksheets/EquationSolverExplorationQuestions' | relative_url }}">exploration questions</a> and 20-25 minutes otherwise.
  </p>
</p>
<p />
