
  <p>
    <p>
      This activity allows a student to practice answering questions with
      <a href="{{ '/dictionary/e' | relative_url }}">estimation</a>. Users can choose to estimate addition, multiplication, and
      <a href="{{ '/dictionary/p' | relative_url }}">percentage</a> problems. This activity would work well with students working individually for about 25-30
      minutes if you use the
      <a href="{{ '/media/worksheets/236.pdf' | relative_url }}">exploration questions</a> and 15-20 minutes otherwise.
    </p>
  </p>

