
  <p>
    <p>
      This activity allows the user to practice fractions and get a better understanding of them.
      They get a chance to work with two different aspects of fractions: making them and putting
      them in order from least to greatest.
    </p>
    <p>
      This activity would work well in small groups of one or two people. for about 15-20 minutes if
      you use the
      <a href="{{ '/media/worksheets/50.pdf' | relative_url }}">exploration questions</a> and 10-15 minutes otherwise.
    </p>
  </p>
  <p />

