
  <p>
    <p>
      This activity allows the user to explore simple linear functions; the function is determined
      by looking for patterns in the outputs. The functions available for exploration in the
      function machine activity have one of the following forms:
    </p>
    <p>
      <div class="h-center">
        y = x * __
        <br />
        y = x + __
        <br />
        y = x - __
        <br />
      </div>
    </p>
    <p>
      where the underline can be any integer between -10 and 10. This activity would work well in
      same ability groups of two to four for about forty to forty-five minutes if you use the
      <a href="{{ '/media/worksheets/32.pdf' | relative_url }}">exploration questions</a> and twenty to twenty-five minutes otherwise.
    </p>
  </p>

