<p>
  This applet is an expanded version of
  <a href="{{ '/activities/3DTransmographer' | relative_url }}">3D Transmographer</a>. This 3-dimensional model allows users to explore functions and their revolution around an axis.
  Once one or two functions have been rotated around an axis, the applet calculates the surface area
  and volume for the resulting solid. By clicking and dragging on the graph, users can change the
  vantage point from which they view the graph in order to better understand the functions, the
  revolution, and the resulting solid.
</p>
