<p>
  <p>
    This activity allows the user to simulate the Monty Hall Game with up to 100 doors in which the
    user chooses a door, and then all but one door is opened to reveal a stinking pig. The player
    must then decide to stick with the original choice or change. This activity would work well in
    groups of two to four for about twenty to twenty-five minutes if you use the
    <a href="{{ '/media/worksheets/73.pdf' | relative_url }}">exploration questions</a> and five minutes otherwise.
  </p>
</p>
