
  <p>
    <p>
      This activity allows the user to plot ordered pairs and algebraic functions on the same
      coordinate plane. It combines the capabilities of
      <a href="{{ '/activities/SimplePlot' | relative_url }}">Simple Plot</a> and
      <a href="{{ '/activities/GraphSketcher' | relative_url }}">Graph Sketcher</a>. This activity would work well in groups of two to four for about forty-five minutes if you
      use the
      <a href="{{ '/media/worksheets/371.pdf' | relative_url }}">exploration questions</a> and twenty minutes otherwise.
    </p>
  </p>

