<p>
  This activity demonstrates the relationship between dependent and independent variables by
  allowing students to explore a real life example. After adjusting the biker's path and the initial
  velocity, the user can analyze the resulting speed vs. position graph.
</p>
<p>
  This activity includes physics concepts, algebraic thinking, and computational modeling, making it
  an ideal cross-content, real-world example. Students are able to practice at reading and
  interpreting graphs while also learning about other concepts.
</p>
<p>
  This activity would work well in mixed ability groups of up to four students for about twenty-five
  to thirty minutes if you use the
  <a href="{{ '/media/worksheets/Incline_Exploration_Questions' | relative_url }}">exploration questions</a>, or about ten to fifteen minutes otherwise.
</p>
