<p>
  The multiple regression applet is designed to allow the user to plot one dependent variable
  against four independent variables in an attempt to find a good indicator of the dependent
  variable. The applet automatically calculates the best-fit line for each dimension of data and its
  corresponding r-value. But for the user adjusted best-fit line, only the sum of squares of
  deviations is displayed. This is especially important in a case where one of the dimensions has a
  correlation of zero. Although you can change the slope and y-intercept of the green best-fit line
  to reduce the sum of squares, you are not changing the ability of that dimension to predict the
  dependent variable. Thus, changing the best-fit line to reduce the sum of squares can't possibly
  increase that dimension's lack of influence on the other dimensions.
</p>
<p>
  This activity would be good for individuals or small groups for about twenty to twenty-five
  minutes when used with the
  <a href="{{ '/media/worksheets/Multiple_Linear_Regression_Exploration_Questions' | relative_url }}">exploration questions</a>.
</p>
