<p>
  The Overlapping Gaussian applet is designed to allow the user to shift the parameters on two
  Gaussian curves and then determine whether a difference in the data sets represented by the curves
  is likely to exist or not. This activity measures the area under the Gaussian curves, which is a
  tool used to calculate probabilities in normally distributed data.
</p>
<p>
  This activity would work well for individuals or in groups of two to three for about twenty-five
  to thirty-five minutes if you use the
  <a href="{{ '/media/worksheets/Overlapping_Gaussians_Exploration_Questions' | relative_url }}">exploration questions</a>.
</p>
