<p>
  This activity allows the user to explore simple linear functions; the function is determined by
  looking for patterns in the outputs. The function is always a simple line of the following form:
</p>
<p />
<p>
  <br />
  y = m*x + b
  <br />
  <br />
  where m, the
  <em>slope</em>, and b, the
  <em>y-intercept</em>, can be any integer between 0 and 10. This activity would work well in same ability groups of two
  to three for about forty-five minutes if you use the
  <a href="{{ '/media/worksheets/426.pdf' | relative_url }}">exploration questions</a> and ten to fifteen minutes otherwise.
</p>
