<p>
  This activity allows the user to simulate a race game similar to
  <a href="{{ '/activities/RacingGameWithOneDie' | relative_url }}">The Racing Game with One Die</a> except that the movement is determined by throwing two dice, making the expected outcome more
  complicated. This activity would work well in mixed ability groups of two or three for about
  twenty minutes if you use the
  <a href="{{ '/media/worksheets/103.pdf' | relative_url }}">exploration questions</a> and ten to fifteen minutes otherwise.
</p>
