
  <p>
    This applet allows the user to input a series of (x,y) ordered pairs and plot them either as a
    connected function or unconnected data points. Parameters such as minimum and maximum x value,
    minimum and maximum y value, and x- and y-scale can be set by the user or determined by the
    applet. This activity would work well in groups of two to four for about forty-five minutes if
    you use the
    <a href="{{ '/media/worksheets/361.pdf' | relative_url }}">exploration questions</a> and twenty minutes otherwise.
  </p>

