<p>
  <p>
    This activity allows the user to simulate the standard Monty Hall Game. The user chooses a door,
    and then another door is opened to reveal a stinking pig. The player must then decide to stick
    with the original choice or change. This activity would work well in mixed ability groups of two
    to three for about fifteen to twenty minutes if you use the
    <a href="{{ '/media/worksheets/74.pdf' | relative_url }}">exploration questions</a> and five to ten minutes otherwise.
  </p>
</p>
