<p>
  This activity allows the user to model a population of people susceptible to a disease, infected
  with the disease, and recovered from the disease. It demonstrates what happens in the real world
  when people infected with a contagious disease interact with others in their community. This
  activity would work well in groups of two to four for about thirty minutes if you use the
  <a href="{{ '/media/worksheets/Spread_Of_Disease_Exploration_Questions' | relative_url }}">exploration questions</a> and ten to fifteen minutes otherwise.
</p>
