<p>
  <p>
    This activity allows the user to run a stopwatch on the computer screen. The stopwatch can
    either count from 0 up, or count down from a time specified by the user. While the stop watch is
    running, the user can press the record button to have the computer enter the current time in a
    list. The list can be used as a tool to collect data for experiments. This activity would work
    well in groups of 5-10 for 10-15 minutes if you use the
    <a href="{{ '/media/worksheets/114.pdf' | relative_url }}">exploration questions</a>. It is meant to be used with other activites or resources.
  </p>
</p>
