<p>
  This activity allows the user to experiment with translation, reflection and rotation in the
  Cartesian coordinate plane. This activity would work well in mixed ability groups of two or four
  for about forty-five minutes if you use the
  <a href="{{ '/media/worksheets/428.pdf' | relative_url }}">exploration questions</a> or the
  <a href="{{ '/media/worksheets/363.pdf' | relative_url }}">worksheet</a> and fifteen to twenty minutes otherwise. If you wish to use both supplements, this activity will
  take approximately sixty minutes.
</p>
