%category-headings {
  background-color: #2661C3;
  color: white;
  font-size: 11pt;
  font-weight: bold;
  line-height: 150%;
  margin: 0;
  padding-left: 5px;
}

#catalog-main {
  @extend .folder;

  padding: 5px 0;

  #subject-audience-fieldset,
  nav,
  .category-section {
    border: 1px solid black;
    margin: 0 5px;
  }

  #subject-audience-fieldset {
    @extend %category-headings;

    border-bottom: 0;
    font-weight: normal;
    padding: 0;
    width: 150px;
  }

  nav {
    @extend %category-headings;

    border-bottom: 0;
    font-weight: normal;

    a:link,
    a:visited {
      color: white;
    }
  }

  .category-section {
    border-bottom: 0;

    h2 {
      @extend %category-headings;
    }

    .catalog-item {
      column-gap: 15px;
      display: flex;
      padding: 5px;

      &:nth-child(odd) {
        background-color: #F3F6FF;
      }

      &:nth-child(even) {
        background-color: #F8F9FF;
      }

      &:not(:last-child) {
        border-bottom: 1px dashed gray;
      }

      &:last-child {
        border-bottom: 1px solid black;
      }

      a {
        display: inline-block;
        font-family: sans-serif;
        font-size: 11pt;
        font-weight: bold;
        line-height: 120%;
        margin: 0;

        &:link,
        &:visited {
          color: #2661C3;
          text-decoration: underline;
        }

        img {
          border: 1px solid rgb(217, 217, 217);
        }
      }

      .left-column {
        flex-shrink: 0;
        width: 240px;
      }

      .right-column {
        flex-grow: 1;
      }
    }
  }
}
