footer {
  background-color: #1F7248;
  color: white;
  padding: 10px;
  position: relative;

  #footer-copyright {
    margin-right: 15px;
  }

  a:visited,
  a:link {
    color: white;
    text-decoration: underline;
  }

  #footer-logos {
    right: 5px;
  }
}
