header {
  background: url('#{$img-dir-url}/header-bg.gif');
  border-left: 1px solid gray;
  border-right: 1px solid gray;

  #logo-bar {
    display: flex;
    height: 54px;

    #header-logo {
      flex: 3;
      height: 54px;
    }

    .v-center {
      left: 50%;
      transform: translate(-50%, -50%);
    }

    #jump-to-container,
    #browse-link-container {
      flex: 1;
      position: relative;
    }

    #browse-link {
      background-color: white;
      border: 1px solid gray;
      color: black;
      font-size: 10pt;
      padding: 2px 5px;
      text-decoration: none;
    }

    #search-box {
      flex: 3;

      .gsc-control-cse {
        background-color: transparent;
        border: 0;
        padding: 0;

        td.gsc-input {
          background-color: transparent;
          border: 0;
          padding-right: 0;
          padding-top: 12px;

          .gsc-input-box {
            background-color: transparent;
            border: 0;

            .gsib_b {
              padding: 0;
            }
          }
        }

        td.gsc-search-button {
          background-color: transparent;
          border: 0;

          button.gsc-search-button {
            cursor: pointer;
          }
        }
      }
    }
  }

  h1 {
    background-color: white;
    font-family: georgia, serif;
    font-size: 20pt;
    font-weight: normal;
    margin: 0;
    padding: 2px;
    padding-left: 10px;
  }

  #breadcrumb {
    background-color: white;
    color: gray;
    font-family: helvetica, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-top: 2px;

    p {
      margin: 0;

      a:visited,
      a:link {
        color: gray;
        text-decoration: underline;
      }
    }
  }
}
