header {
  background: url('#{$img-dir-url}/header-bg.gif');
  border-left: 1px solid gray;
  border-right: 1px solid gray;

  #logo-bar {
    display: flex;
    height: 54px;

    #header-logo {
      flex: 5;
      height: 54px;
    }

    #jump-to-container,
    #browse-link-container {
      flex: 1;
      position: relative;
    }

    #browse-link {
      background-color: white;
      border: 1px solid gray;
      color: black;
      font-size: 10pt;
      padding: 2px 5px;
      text-decoration: none;
    }
  }

  h1 {
    background-color: white;
    font-family: georgia, serif;
    font-size: 20pt;
    font-weight: normal;
    margin: 0;
    padding: 2px;
    padding-left: 10px;
  }

  #breadcrumb {
    background-color: white;
    color: gray;
    font-family: helvetica, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-top: 2px;

    p {
      margin: 0;

      a:visited,
      a:link {
        color: gray;
        text-decoration: underline;
      }
    }
  }
}
